-publisher-multicanal--2Wd6G-thyUSn4WXgPNk0.json
{"updatedAt":"2026-02-07T00:20:20.232Z","createdAt":"2026-02-06T18:17:02.888Z","id":"-2Wd6G-thyUSn4WXgPNk0","name":"[AGENT-3]-Clip Enhancer/ Publisher Multicanal","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"facbe80a-94c4-43ad-bb0f-480f40d45b70","name":"schedule-trigger-15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5008,720]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  vp.id,\n  vp.plataforma,\n  vp.canal_id,\n  vp.video_id,\n  vp.url_video,\n  vp.titulo_original,\n  vp.duracao_segundos,\n  vp.nicho,\n  cd.nome_canal,\n  cd.tom_de_voz,\n  cd.nicho_alvo\nFROM videos_pendentes vp\nLEFT JOIN canais_descobertos cd ON cd.canal_id = vp.canal_id\nWHERE vp.status = 'pendente'\nORDER BY vp.id ASC\nLIMIT 5;","options":{}},"id":"39a9a300-528e-4577-9f75-bdab69abea54","name":"fetch-pending-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4784,720],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"b49a9b23-0398-47c7-ba8e-85af96c3c6b4","name":"if-has-pending-videos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4560,720]},{"parameters":{"options":{}},"id":"69fc5cc2-5714-4aad-8c31-c2958f7699a8","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4336,624]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'em_processamento'\nWHERE id = {{ $json.id }}\n  AND status = 'pendente';","options":{}},"id":"60a4eee2-992a-4e87-8203-9fe614a4674a","name":"mark-video-processing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4112,512],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"method":"POST","url":"https://api.opus.pro/v1/clip","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"videoUrl\": \"{{ $('loop-by-video').item.json.url_video }}\",\n  \"clipCount\": 5,\n  \"minDuration\": 30,\n  \"maxDuration\": 90,\n  \"language\": \"pt\",\n  \"aspectRatio\": \"9:16\",\n  \"captionStyle\": \"dynamic\",\n  \"webhook\": \"{{ $env.WEBHOOK_OPUSCLIP_CALLBACK }}\"\n}","options":{"timeout":300000}},"id":"f844c28f-a172-4fdd-bf26-daace795ccec","name":"call-opusclip-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3888,512],"notes":"Videos under 30 minutes"},{"parameters":{"jsCode":"const input = $json;\nconst videoData = $('loop-by-video').item.json;\n\nlet clips = [];\nlet engineUsada = '';\n\nif (input.clips && Array.isArray(input.clips)) {\n  if (input.clips[0]?.downloadUrl || input.clips[0]?.url) {\n    engineUsada = 'opusclip';\n    clips = input.clips.map((clip, idx) => ({\n      clip_url: clip.downloadUrl || clip.url || '',\n      transcricao: clip.transcript || '',\n      titulo_sugerido: clip.title || `Clip ${idx + 1}`,\n      duracao: clip.duration || 0,\n      score: clip.score || clip.viralScore || 0\n    }));\n  } else {\n    engineUsada = 'dumme';\n    clips = input.clips.map((clip, idx) => ({\n      clip_url: clip.video_url || clip.url || '',\n      transcricao: clip.transcription || '',\n      titulo_sugerido: clip.suggested_title || `Clip ${idx + 1}`,\n      duracao: clip.duration_seconds || 0,\n      score: clip.engagement_score || 0\n    }));\n  }\n} else if (input.results && Array.isArray(input.results)) {\n  engineUsada = 'dumme';\n  clips = input.results.map((clip, idx) => ({\n    clip_url: clip.video_url || clip.url || '',\n    transcricao: clip.transcription || '',\n    titulo_sugerido: clip.suggested_title || `Clip ${idx + 1}`,\n    duracao: clip.duration_seconds || 0,\n    score: clip.engagement_score || 0\n  }));\n}\n\nif (clips.length === 0) {\n  return [{ json: { has_clips: false } }];\n}\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nreturn clips.map(clip => ({\n  json: {\n    has_clips: true,\n    clip_url: clip.clip_url,\n    transcricao: clip.transcricao,\n    titulo_sugerido: sanitize(clip.titulo_sugerido),\n    duracao: clip.duracao,\n    score: clip.score,\n    engine_usada: engineUsada,\n    video_origem_id: videoData.id,\n    video_id: videoData.video_id,\n    canal_id: videoData.canal_id,\n    nome_canal: sanitize(videoData.nome_canal || 'Canal'),\n    tom_de_voz: videoData.tom_de_voz || 'informativo e engajante',\n    nicho: videoData.nicho || videoData.nicho_alvo || 'geral',\n    titulo_original: sanitize(videoData.titulo_original || '')\n  }\n}));"},"id":"fec4e41c-2980-4589-8096-0ee32377b733","name":"normalize-clip-output","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3664,512]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"clips-returned","leftValue":"={{ $json.has_clips }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cb16c847-af70-4b85-88b0-fc684a6b6b2d","name":"if-has-clips","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3440,512]},{"parameters":{"options":{}},"id":"0beea902-31c9-42fe-9493-bdee9cd05a3f","name":"loop-by-clip","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3216,416]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"Você é um especialista em otimização de conteúdo para redes sociais, especialmente Shorts, Reels e TikTok.\n\nSeu trabalho é criar títulos virais, descrições envolventes e hashtags estratégicas.\n\nRegras OBRIGATÓRIAS:\n- Títulos: máximo 60 caracteres, usar gatilhos emocionais, números quando apropriado\n- Descrição: máximo 150 caracteres, incluir CTA sutil\n- Hashtags: 8-12 hashtags relevantes, mix de alto volume e nicho\n- Thumbnail: sugerir texto impactante (máximo 4 palavras)\n- Gancho: frase de hook para os primeiros 3 segundos\n\nAdapte o tom de voz conforme indicado.\nRetorne APENAS JSON válido.","role":"system"},{"content":"=Crie conteúdo otimizado para este clip:\n\n**Vídeo Original:** {{ $json.titulo_original }}\n**Canal:** {{ $json.nome_canal }}\n**Nicho:** {{ $json.nicho }}\n**Tom de Voz:** {{ $json.tom_de_voz }}\n**Título Sugerido pela Engine:** {{ $json.titulo_sugerido }}\n**Transcrição do Clip:** {{ $json.transcricao || 'Não disponível' }}\n\nRetorne JSON:\n{\n  \"titulo_final\": \"máx 60 chars\",\n  \"descricao_base\": \"máx 150 chars com CTA\",\n  \"hashtags\": [\"#tag1\", \"#tag2\", ...],\n  \"sugestao_thumbnail\": \"máx 4 palavras\",\n  \"gancho_abertura\": \"frase hook 3 segundos\"\n}"}]},"jsonOutput":true,"options":{"maxTokens":500,"temperature":0.5}},"id":"2af4d0fc-e3f5-48d2-9737-de3b21a4decd","name":"ai-enhance-clip","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2992,384],"credentials":{"openAiApi":{"id":"xsMPzANnar8Qjeyr","name":"[CRED0]PEDRO"}}},{"parameters":{"jsCode":"const clipData = $('loop-by-clip').item.json;\nconst aiRaw = $input.first().json;\n\nlet enhanced = {\n  titulo_final: clipData.titulo_sugerido || 'Sem título',\n  descricao_base: 'Confira este conteúdo!',\n  hashtags: ['#shorts', '#viral', '#fy'],\n  sugestao_thumbnail: 'IMPERDÍVEL',\n  gancho_abertura: ''\n};\n\ntry {\n  let parsed = null;\n  if (aiRaw.text) {\n    parsed = JSON.parse(aiRaw.text.replace(/```json\\n?|```\\n?/g, '').trim());\n  } else if (aiRaw.output) {\n    parsed = typeof aiRaw.output === 'string' ? JSON.parse(aiRaw.output) : aiRaw.output;\n  } else if (aiRaw.message?.content) {\n    parsed = JSON.parse(aiRaw.message.content);\n  } else if (aiRaw.titulo_final) {\n    parsed = aiRaw;\n  }\n  if (parsed) enhanced = { ...enhanced, ...parsed };\n} catch (e) {}\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nlet titulo = enhanced.titulo_final || '';\nif (titulo.length > 60) titulo = titulo.substring(0, 57) + '...';\n\nconst hashtagsArr = Array.isArray(enhanced.hashtags) ? enhanced.hashtags : ['#shorts'];\n\nreturn [{\n  json: {\n    ...clipData,\n    titulo_final: sanitize(titulo),\n    descricao_base: sanitize(enhanced.descricao_base),\n    hashtags: hashtagsArr,\n    sugestao_thumbnail: sanitize(enhanced.sugestao_thumbnail),\n    gancho_abertura: sanitize(enhanced.gancho_abertura || ''),\n    titulo_length: titulo.length,\n    hashtag_count: hashtagsArr.length\n  }\n}];"},"id":"8cf644d2-e78b-4d20-a728-9867f7d406d4","name":"parse-ai-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2640,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"title-not-empty","leftValue":"={{ $json.titulo_final }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}},{"id":"title-max-60-chars","leftValue":"={{ $json.titulo_length }}","rightValue":60,"operator":{"type":"number","operation":"lte"}},{"id":"min-3-hashtags","leftValue":"={{ $json.hashtag_count }}","rightValue":3,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"91b7439f-d969-49d0-ba9a-b53c7d29a53b","name":"if-valid-ai-content","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-2416,384]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  la.palavra_chave,\n  la.descricao_curta,\n  la.url,\n  la.tipo\nFROM links_afiliados la\nWHERE la.ativo = true\n  AND (\n    la.nicho IS NULL \n    OR la.nicho = '{{ $json.nicho }}'\n  )\nLIMIT 3;","options":{}},"id":"2e30bf4e-2c06-4d74-ab31-43436fc9c58f","name":"fetch-affiliate-links","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2192,288],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const clipData = $('if-valid-ai-content').item.json;\nconst links = $input.all();\n\nlet blocoMonetizacao = '';\n\nif (links && links.length > 0 && links[0].json.url) {\n  blocoMonetizacao = '\\n\\n---';\n  for (const link of links) {\n    const l = link.json;\n    if (!l.url) continue;\n    const emoji = l.tipo === 'amazon' ? '📚' : \n                  l.tipo === 'hotmart' ? '🎓' : \n                  l.tipo === 'produto_proprio' ? '🚀' : '🔗';\n    blocoMonetizacao += `\\n${emoji} ${l.descricao_curta}: ${l.url}`;\n  }\n}\n\nconst hashtagsStr = clipData.hashtags\n  .map(h => h.startsWith('#') ? h : `#${h}`)\n  .join(' ');\n\nconst descricaoFinal = `${clipData.descricao_base}${blocoMonetizacao}\\n\\n${hashtagsStr}`;\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    ...clipData,\n    descricao_final: sanitize(descricaoFinal),\n    hashtags_str: sanitize(hashtagsStr),\n    links_incluidos: links.filter(l => l.json.url).length\n  }\n}];"},"id":"e628bbe5-7216-4092-ae7b-d2707f0097ba","name":"build-final-description","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,288]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clips_gerados (\n  video_origem_id,\n  engine_usada,\n  arquivo_clip_url,\n  transcricao_clip,\n  titulo_sugerido_engine,\n  titulo_final,\n  descricao_final,\n  hashtags,\n  sugestao_thumbnail,\n  gancho_abertura,\n  status_publicacao\n) VALUES (\n  {{ $json.video_origem_id }},\n  '{{ $json.engine_usada }}',\n  '{{ $json.clip_url }}',\n  '{{ $json.transcricao }}',\n  '{{ $json.titulo_sugerido }}',\n  '{{ $json.titulo_final }}',\n  '{{ $json.descricao_final }}',\n  '{{ $json.hashtags_str }}',\n  '{{ $json.sugestao_thumbnail }}',\n  '{{ $json.gancho_abertura }}',\n  'pronto_para_publicar'\n) RETURNING id;","options":{}},"id":"5effb8fb-6bd9-4187-aeac-a1b3a221b675","name":"save-clip-to-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1744,288],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COALESCE(publicar_youtube, true) AS publicar_youtube,\n  COALESCE(publicar_tiktok, false) AS publicar_tiktok,\n  COALESCE(publicar_instagram, false) AS publicar_instagram,\n  COALESCE(publicar_facebook, false) AS publicar_facebook\nFROM config_publicacao_canais\nWHERE canal_id = '{{ $('loop-by-clip').item.json.canal_id }}'\nLIMIT 1;","options":{}},"id":"b3a93513-0a99-4895-a5d5-b8a783869572","name":"fetch-publish-config","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1520,288],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const clipId = $('save-clip-to-db').item.json.id;\nconst clipData = $('build-final-description').item.json;\nconst configRaw = $json;\n\nconst config = {\n  publicar_youtube: configRaw.publicar_youtube ?? true,\n  publicar_tiktok: configRaw.publicar_tiktok ?? false,\n  publicar_instagram: configRaw.publicar_instagram ?? false,\n  publicar_facebook: configRaw.publicar_facebook ?? false\n};\n\nconst plataformas = [];\nconst platforms = [\n  { key: 'publicar_youtube', name: 'youtube' },\n  { key: 'publicar_tiktok', name: 'tiktok' },\n  { key: 'publicar_instagram', name: 'instagram' },\n  { key: 'publicar_facebook', name: 'facebook' }\n];\n\nfor (const p of platforms) {\n  if (config[p.key]) {\n    plataformas.push({\n      plataforma: p.name,\n      clip_id: clipId,\n      clip_url: clipData.clip_url,\n      titulo: clipData.titulo_final,\n      descricao: clipData.descricao_final\n    });\n  }\n}\n\nif (plataformas.length === 0) {\n  plataformas.push({\n    plataforma: 'youtube',\n    clip_id: clipId,\n    clip_url: clipData.clip_url,\n    titulo: clipData.titulo_final,\n    descricao: clipData.descricao_final\n  });\n}\n\nreturn plataformas.map(p => ({ json: p }));"},"id":"1c192176-74f7-4443-bbd4-c825d1484fbd","name":"prepare-publish-items","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,288]},{"parameters":{"options":{}},"id":"d987cc53-d035-4480-b782-7e8ce745c726","name":"loop-by-platform","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1072,464]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.plataforma }}","rightValue":"youtube","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"YouTube"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.plataforma }}","rightValue":"tiktok","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"TikTok"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.plataforma }}","rightValue":"instagram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.plataforma }}","rightValue":"facebook","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Facebook"}]},"options":{}},"id":"f76f9aeb-1c18-4e09-8f01-be0ae4b749a8","name":"switch-platform","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-848,256]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,status"},{"name":"uploadType","value":"resumable"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"snippet\": {\n    \"title\": \"{{ $json.titulo }}\",\n    \"description\": \"{{ $json.descricao }}\",\n    \"categoryId\": \"22\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"selfDeclaredMadeForKids\": false\n  }\n}","options":{"timeout":120000}},"id":"9e8363aa-4133-4229-9ef9-f6a189309ae7","name":"upload-youtube-shorts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,0],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"method":"POST","url":"https://open.tiktokapis.com/v2/post/publish/video/init/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"post_info\": {\n    \"title\": \"{{ $json.titulo }}\",\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": \"{{ $json.clip_url }}\"\n  }\n}","options":{"timeout":120000}},"id":"f924f3e4-56a6-4c09-9422-6e2aaf82dae5","name":"upload-tiktok","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,192]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $env.INSTAGRAM_BUSINESS_ID }}/media","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"media_type\": \"REELS\",\n  \"video_url\": \"{{ $json.clip_url }}\",\n  \"caption\": \"{{ $json.titulo }}\\n\\n{{ $json.descricao }}\"\n}","options":{"timeout":120000}},"id":"65932b44-e229-4d19-b4eb-976c7cc67785","name":"upload-instagram-reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,384]},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v18.0/{{ $env.FACEBOOK_PAGE_ID }}/videos","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"file_url\": \"{{ $json.clip_url }}\",\n  \"title\": \"{{ $json.titulo }}\",\n  \"description\": \"{{ $json.descricao }}\"\n}","options":{"timeout":120000}},"id":"12cff287-fcda-45c0-bc1e-10744fa58b64","name":"upload-facebook-reels","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-624,576]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO publicacoes (\n  clip_id,\n  plataforma,\n  id_publicacao_plataforma,\n  url_publicacao,\n  status,\n  data_publicacao\n) VALUES (\n  {{ $('loop-by-platform').item.json.clip_id }},\n  '{{ $('loop-by-platform').item.json.plataforma }}',\n  '{{ $json.id || $json.publish_id || $json.creation_id || ''pending'' }}',\n  '{{ $json.url || '''' }}',\n  'publicado',\n  NOW()\n);","options":{}},"id":"aa46dde8-9635-4658-8e06-f4d107b85685","name":"register-publication","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-400,288],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE clips_gerados \nSET status_publicacao = 'publicado'\nWHERE id = {{ $('loop-by-platform').item.json.clip_id }};","options":{}},"id":"810bd4ba-56ee-4ced-8e6a-db71b3ab94cc","name":"update-clip-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-176,416],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'concluido'\nWHERE id = {{ $('loop-by-video').item.json.id }};","options":{}},"id":"e7bffa03-f83c-4b80-bb22-f47c5bf9806c","name":"mark-video-complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2928,192],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'erro'\nWHERE id = {{ $('loop-by-video').item.json.id }};","options":{}},"id":"9c5ac777-e47d-4626-92fc-dd6286f1325e","name":"mark-video-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3216,752],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{},"id":"09c4aa63-7a8a-4de0-ba51-a91dad2bc75d","name":"no-pending-videos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4336,816]},{"parameters":{},"id":"7e2f618c-4aa7-46ab-b585-eb67d2947678","name":"skip-invalid-clip","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2192,480]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) FILTER (WHERE status = 'concluido') AS videos_done,\n  COUNT(*) FILTER (WHERE status = 'erro') AS videos_error,\n  COUNT(*) FILTER (WHERE status = 'pendente') AS videos_remaining\nFROM videos_pendentes\nWHERE created_at >= NOW() - INTERVAL '1 day';","options":{}},"id":"d170a1fd-e2e5-4b45-9a21-ae6a16217bd7","name":"fetch-pipeline-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4112,320],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}}],"connections":{"schedule-trigger-15min":{"main":[[{"node":"fetch-pending-videos","type":"main","index":0}]]},"fetch-pending-videos":{"main":[[{"node":"if-has-pending-videos","type":"main","index":0}]]},"if-has-pending-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}],[{"node":"no-pending-videos","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"fetch-pipeline-summary","type":"main","index":0}],[{"node":"mark-video-processing","type":"main","index":0}]]},"mark-video-processing":{"main":[[{"node":"call-opusclip-api","type":"main","index":0}]]},"call-opusclip-api":{"main":[[{"node":"normalize-clip-output","type":"main","index":0}]]},"normalize-clip-output":{"main":[[{"node":"if-has-clips","type":"main","index":0}]]},"if-has-clips":{"main":[[{"node":"loop-by-clip","type":"main","index":0}],[{"node":"mark-video-error","type":"main","index":0}]]},"loop-by-clip":{"main":[[{"node":"mark-video-complete","type":"main","index":0}],[{"node":"ai-enhance-clip","type":"main","index":0}]]},"ai-enhance-clip":{"main":[[{"node":"parse-ai-response","type":"main","index":0}]]},"parse-ai-response":{"main":[[{"node":"if-valid-ai-content","type":"main","index":0}]]},"if-valid-ai-content":{"main":[[{"node":"fetch-affiliate-links","type":"main","index":0}],[{"node":"skip-invalid-clip","type":"main","index":0}]]},"fetch-affiliate-links":{"main":[[{"node":"build-final-description","type":"main","index":0}]]},"build-final-description":{"main":[[{"node":"save-clip-to-db","type":"main","index":0}]]},"save-clip-to-db":{"main":[[{"node":"fetch-publish-config","type":"main","index":0}]]},"fetch-publish-config":{"main":[[{"node":"prepare-publish-items","type":"main","index":0}]]},"prepare-publish-items":{"main":[[{"node":"loop-by-platform","type":"main","index":0}]]},"loop-by-platform":{"main":[[{"node":"loop-by-clip","type":"main","index":0}],[{"node":"switch-platform","type":"main","index":0}]]},"switch-platform":{"main":[[{"node":"upload-youtube-shorts","type":"main","index":0}],[{"node":"upload-tiktok","type":"main","index":0}],[{"node":"upload-instagram-reels","type":"main","index":0}],[{"node":"upload-facebook-reels","type":"main","index":0}]]},"upload-youtube-shorts":{"main":[[{"node":"register-publication","type":"main","index":0}]]},"upload-tiktok":{"main":[[{"node":"register-publication","type":"main","index":0}]]},"upload-instagram-reels":{"main":[[{"node":"register-publication","type":"main","index":0}]]},"upload-facebook-reels":{"main":[[{"node":"register-publication","type":"main","index":0}]]},"register-publication":{"main":[[{"node":"update-clip-published","type":"main","index":0}]]},"update-clip-published":{"main":[[{"node":"loop-by-platform","type":"main","index":0}]]},"mark-video-complete":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"mark-video-error":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"skip-invalid-clip":{"main":[[{"node":"loop-by-clip","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59b7c46b-a46e-4a1e-aff8-8abda672a902","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-06T18:17:02.888Z","createdAt":"2026-02-06T18:17:02.888Z","role":"workflow:owner","workflowId":"-2Wd6G-thyUSn4WXgPNk0","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}