[agent-4]-clip-enhancer-publisher-iN1yCxWRElHd8ykb2a9Lk.json
{"updatedAt":"2026-03-17T23:58:58.091Z","createdAt":"2026-02-09T23:18:28.496Z","id":"iN1yCxWRElHd8ykb2a9Lk","name":"[AGENT-4]-Clip-Enhancer-Publisher","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"8263b860-d74e-48c6-b9df-e510607d4f80","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-24752,2992],"id":"e57c5e08-e5aa-4c23-a608-c0b050763349","name":"Webhook","webhookId":"8263b860-d74e-48c6-b9df-e510607d4f80"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-error-code","leftValue":"={{ !$json.body || Number($json.body.code || 0) !== 2000 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"ae59dc18-749e-4ab2-ac22-0dd15fa9217d","name":"if-vizard-callback-error","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-24528,2992]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Vizard callback error ' || COALESCE('{{ $json.body.code }}','') || ': ' || COALESCE('{{ $json.body.errMsg ?? $json.body.message ?? \"payload inválido\" }}','payload inválido'),\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $json.body.projectId ?? \"\" }}';","options":{}},"id":"a467a8a8-8b2f-45f6-a326-f3568edfe066","name":"mark-error-from-callback","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-24304,3064],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clips","leftValue":"={{ Array.isArray($json.videos) && $json.videos.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"8b77a04b-d4c8-4cd9-ab16-919837be724b","name":"if-has-clips","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-24080,2872]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Webhook Vizard sem clips para projectId {{ $json.projectId }}',\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $json.projectId }}';","options":{}},"id":"0681d5f3-7139-42fb-9f43-3ca659951460","name":"mark-no-clips-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-23856,2896],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-23856,2704],"id":"3ce88071-85a6-45ea-82c4-904205a13ba9","name":"split-clips"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  vp.id,\n  vp.plataforma,\n  vp.canal_id,\n  vp.video_id,\n  vp.url_video,\n  vp.titulo_original,\n  vp.duracao_segundos,\n  vp.nicho,\n  vp.vizard_project_id,\n  cd.nome_canal,\n  cd.tom_de_voz,\n  cd.nicho_alvo\nFROM videos_pendentes vp\nLEFT JOIN canais_descobertos cd ON cd.canal_id = vp.canal_id AND cd.plataforma = vp.plataforma\nWHERE vp.vizard_project_id = '{{ $('normalize-webhook-payload').item.json.projectId }}'\nLIMIT 1;","options":{}},"id":"290cd0cf-c257-4413-b2ce-c999d21d2605","name":"lookup-video-by-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-23632,2704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Mescla dados do clip Vizard com metadados do vídeo origem\nconst clip = $('split-clips').item.json;\nconst video = $input.first().json;\n\nif (!video.id) {\n  // Vídeo não encontrado no banco - pula este clip\n  return [];\n}\n\nreturn [{ json: {\n  // Metadados do vídeo origem\n  video_origem_id:   video.id,\n  canal_id:          video.canal_id,\n  nicho:             video.nicho || video.nicho_alvo || '',\n  nome_canal:        video.nome_canal || '',\n  tom_de_voz:        video.tom_de_voz || 'informativo',\n  titulo_original:   video.titulo_original || '',\n  vizard_project_id: video.vizard_project_id,\n\n  // Dados do clip Vizard\n  vizard_video_id:   Number(clip.videoId) || null,\n  clip_url:          clip.videoUrl || '',\n  titulo_sugerido:   clip.title || '',\n  transcricao:       clip.transcript || '',\n  duracao:           Math.round((Number(clip.videoMsDuration) || 0) / 1000),\n  score:             Number(clip.viralScore) || 0,\n  viral_reason:      clip.viralReason || ''\n} }];"},"id":"5e65268c-69ea-4951-8628-51cf297e4b20","name":"merge-clip-video-data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-23408,2704]},{"parameters":{"options":{}},"id":"ea81d6c0-3fd0-40f5-8843-0f05d91c1618","name":"loop-by-clip","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-23184,2704]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"Você é especialista em otimização de conteúdo para Shorts, Reels e TikTok.\n\nRegras OBRIGATÓRIAS:\n- título: máximo 60 caracteres, use gatilhos emocionais ou números\n- descrição: máximo 150 caracteres com CTA sutil\n- hashtags: 8 a 12 tags, mix de alto volume e nicho\n- thumbnail: texto de até 4 palavras impactantes\n- gancho: frase de hook para os primeiros 3 segundos\n- keywords: exatamente 5 palavras-chave centrais do conteúdo\n\nAdapte tudo ao tom de voz indicado.\nRetorne APENAS JSON válido, sem markdown, sem backticks.","role":"assistant"},{"content":"=Crie conteúdo otimizado para este clip:\n\n**Título Original:** {{ $json.titulo_original }}\n**Título Sugerido Vizard:** {{ $json.titulo_sugerido }}\n**Canal:** {{ $json.nome_canal }}\n**Nicho:** {{ $json.nicho }}\n**Tom de Voz:** {{ $json.tom_de_voz }}\n**Score de Viralidade:** {{ $json.score }}/100\n**Motivo de Viralidade:** {{ $json.viral_reason }}\n**Transcrição:** {{ $json.transcricao || 'Não disponível' }}\n\nRetorne exatamente este JSON:\n{\n  \"titulo_final\": \"máx 60 chars\",\n  \"descricao_base\": \"máx 150 chars com CTA\",\n  \"hashtags\": [\"#tag1\", \"#tag2\"],\n  \"sugestao_thumbnail\": \"máx 4 palavras\",\n  \"gancho_abertura\": \"frase hook 3 segundos\",\n  \"keywords\": [\"kw1\", \"kw2\", \"kw3\", \"kw4\", \"kw5\"]\n}"}]},"options":{"temperature":0.5}},"id":"243f429e-166b-4d4e-a915-345cbf91a080","name":"ai-enhance-clip","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[-22960,2800],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"// Combina parse de título/descrição/hashtags E keywords em um único nó\nconst clipData = $('loop-by-clip').item.json;\nconst aiRaw = $input.first().json;\n\nlet enhanced = {\n  titulo_final:       clipData.titulo_sugerido || clipData.titulo_original || 'Sem título',\n  descricao_base:     'Confira este conteúdo!',\n  hashtags:           ['#shorts', '#viral', '#fy'],\n  sugestao_thumbnail: 'IMPERDÍVEL',\n  gancho_abertura:    '',\n  keywords:           []\n};\n\ntry {\n  let text = '';\n  if (typeof aiRaw.content === 'string' && aiRaw.content.trim())    text = aiRaw.content;\n  else if (typeof aiRaw.text === 'string' && aiRaw.text.trim())     text = aiRaw.text;\n  else if (typeof aiRaw.output === 'string' && aiRaw.output.trim()) text = aiRaw.output;\n  else if (aiRaw.message?.content)                                   text = aiRaw.message.content;\n\n  text = text.replace(/```json\\s*|```/g, '').trim();\n\n  let parsed = null;\n  if (text.startsWith('{')) {\n    parsed = JSON.parse(text);\n  } else {\n    const i = text.indexOf('{');\n    const j = text.lastIndexOf('}');\n    if (i !== -1 && j > i) parsed = JSON.parse(text.slice(i, j + 1));\n  }\n\n  if (parsed) enhanced = { ...enhanced, ...parsed };\n} catch (e) { /* usa fallback */ }\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nlet titulo = String(enhanced.titulo_final || '');\nif (titulo.length > 60) titulo = titulo.substring(0, 57) + '...';\n\nconst hashtagsArr = Array.isArray(enhanced.hashtags)\n  ? enhanced.hashtags.map(h => h.startsWith('#') ? h : `#${h}`)\n  : ['#shorts'];\n\nlet keywords = Array.isArray(enhanced.keywords)\n  ? enhanced.keywords.map(k => String(k).toLowerCase().trim()).filter(Boolean)\n  : [];\n\nif (keywords.length === 0) {\n  const base = [clipData.nicho || ''];\n  const titleWords = titulo.split(/\\s+/).map(w => w.toLowerCase()).filter(w => w.length > 4);\n  keywords = [...base, ...titleWords.slice(0, 4)].filter(Boolean);\n}\n\nconst keywordsSql = keywords.map(k => sanitize(k)).join(\"','\");\n\nreturn [{\n  json: {\n    ...clipData,\n    titulo_final:       sanitize(titulo),\n    descricao_base:     sanitize(String(enhanced.descricao_base || '')),\n    hashtags:           hashtagsArr,\n    sugestao_thumbnail: sanitize(String(enhanced.sugestao_thumbnail || '')),\n    gancho_abertura:    sanitize(String(enhanced.gancho_abertura || '')),\n    extracted_keywords: keywords,\n    keywords_sql:       keywordsSql\n  }\n}];"},"id":"427428f0-e031-428f-921e-8716d26ccba6","name":"parse-ai-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-22608,2800]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COALESCE(cm.estrategia_padrao, 'incluir 1 link relevante') AS estrategia,\n  COALESCE(cm.link_captacao_leads, '') AS link_leads\nFROM config_monetizacao cm\nWHERE cm.canal_id = '{{ $json.canal_id }}'\nLIMIT 1;","options":{}},"id":"8a2ff37d-431c-4d27-b3a3-e847e2d4cdfd","name":"fetch-monetization-config","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22384,2800],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  la.palavra_chave,\n  la.descricao_curta,\n  la.url,\n  la.tipo\nFROM links_afiliados la\nWHERE la.ativo = true\n  AND (\n    la.nicho IS NULL\n    OR la.nicho = '{{ $('parse-ai-response').item.json.nicho }}'\n    OR la.palavra_chave IN ('{{ $('parse-ai-response').item.json.keywords_sql }}')\n  )\nORDER BY \n  CASE WHEN la.palavra_chave IN ('{{ $('parse-ai-response').item.json.keywords_sql }}') THEN 0 ELSE 1 END\nLIMIT 3;","options":{}},"id":"2f491a1e-0671-401a-861d-c23eb6f6649c","name":"fetch-affiliate-links","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22160,2800],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const clipData = $('parse-ai-response').item.json;\nconst links = $('fetch-affiliate-links').all();\nconst monetConfig = $('fetch-monetization-config').item?.json || {};\n\nlet blocoMonetizacao = '';\n\nconst linksValidos = links.filter(l => l.json && l.json.url);\nif (linksValidos.length > 0) {\n  blocoMonetizacao = '\\n\\n---';\n  for (const link of linksValidos) {\n    const l = link.json;\n    const emoji = l.tipo === 'amazon'          ? '📚'\n                : l.tipo === 'hotmart'         ? '🎓'\n                : l.tipo === 'produto_proprio' ? '🚀'\n                : '🔗';\n    blocoMonetizacao += `\\n${emoji} ${l.descricao_curta}: ${l.url}`;\n  }\n}\n\nif (monetConfig.link_leads) {\n  blocoMonetizacao += `\\n\\n📩 Acesse conteúdo exclusivo: ${monetConfig.link_leads}`;\n}\n\nconst hashtagsStr = (clipData.hashtags || [])\n  .map(h => h.startsWith('#') ? h : `#${h}`)\n  .join(' ');\n\nconst descricaoFinal = `${clipData.descricao_base}${blocoMonetizacao}\\n\\n${hashtagsStr}`;\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    ...clipData,\n    descricao_final: sanitize(descricaoFinal),\n    hashtags_str:    sanitize(hashtagsStr),\n    links_incluidos: linksValidos.length\n  }\n}];"},"id":"3052b675-46fc-47a8-b858-e401c18b162d","name":"build-final-description","type":"n8n-nodes-base.code","typeVersion":2,"position":[-21936,2800]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clips_gerados (\n  video_origem_id,\n  vizard_video_id,\n  engine_usada,\n  arquivo_clip_url,\n  transcricao_clip,\n  titulo_sugerido_engine,\n  titulo_final,\n  gancho_abertura,\n  descricao_base,\n  descricao_final,\n  hashtags,\n  sugestao_thumbnail,\n  duracao_clip,\n  score_clip,\n  status_publicacao,\n  nicho,\n  canal_id,\n  status\n)\nSELECT\n  '{{ String($json.video_origem_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}',\n  'vizard',\n  '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.transcricao || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.titulo_sugerido || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.titulo_final || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.gancho_abertura || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.descricao_base || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.descricao_final || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.hashtags_str || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.sugestao_thumbnail || '').replace(/'/g, \"''\") }}',\n  {{ Number($json.duracao || 0) }},\n  {{ Number($json.score || 0) }},\n  'pronto_para_publicar',\n  '{{ String($json.nicho || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.canal_id || '').replace(/'/g, \"''\") }}',\n  'pronto_para_publicar'\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM clips_gerados cg\n  WHERE (\n      '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}' <> ''\n      AND cg.arquivo_clip_url = '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}'\n    )\n    OR (\n      '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}' <> ''\n      AND cg.vizard_video_id = '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}'\n    )\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-21712,2872],"id":"72187bdf-33c2-476e-a0f0-e88eb661029a","name":"save-clip-to-db","credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'concluido',\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $('normalize-webhook-payload').item.json.projectId }}';","options":{}},"id":"a3ac6f08-5378-44a7-9251-104b97aa1824","name":"mark-video-complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22896,2608],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const body = $json.body || {};\nconst projectId = body.projectId || null;\nconst code = Number(body.code || 0);\nconst videos = Array.isArray(body.videos) ? body.videos : [];\n\nreturn [{\n  json: {\n    code,\n    projectId,\n    projectName: body.projectName || '',\n    creditsUsed: body.creditsUsed ?? null,\n    videos\n  }\n}];"},"id":"1816a012-3104-464d-9fed-a903cc7aa2ff","name":"normalize-webhook-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-24304,2872]}],"connections":{"Webhook":{"main":[[{"node":"if-vizard-callback-error","type":"main","index":0}]]},"if-vizard-callback-error":{"main":[[{"node":"mark-error-from-callback","type":"main","index":0}],[{"node":"normalize-webhook-payload","type":"main","index":0}]]},"if-has-clips":{"main":[[{"node":"split-clips","type":"main","index":0}],[{"node":"mark-no-clips-error","type":"main","index":0}]]},"split-clips":{"main":[[{"node":"lookup-video-by-project","type":"main","index":0}]]},"lookup-video-by-project":{"main":[[{"node":"merge-clip-video-data","type":"main","index":0}]]},"merge-clip-video-data":{"main":[[{"node":"loop-by-clip","type":"main","index":0}]]},"loop-by-clip":{"main":[[{"node":"mark-video-complete","type":"main","index":0}],[{"node":"ai-enhance-clip","type":"main","index":0}]]},"ai-enhance-clip":{"main":[[{"node":"parse-ai-response","type":"main","index":0}]]},"parse-ai-response":{"main":[[{"node":"fetch-monetization-config","type":"main","index":0}]]},"fetch-monetization-config":{"main":[[{"node":"fetch-affiliate-links","type":"main","index":0}]]},"fetch-affiliate-links":{"main":[[{"node":"build-final-description","type":"main","index":0}]]},"build-final-description":{"main":[[{"node":"save-clip-to-db","type":"main","index":0}]]},"save-clip-to-db":{"main":[[{"node":"loop-by-clip","type":"main","index":0}]]},"normalize-webhook-payload":{"main":[[{"node":"if-has-clips","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:schedule-trigger-5min":{"recurrenceRules":[]},"node:schedule-trigger-5min1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.racc.intentus.digital","user-agent":"AHC/2.1","content-length":"1586","accept":"*/*","content-type":"application/json;charset=utf-8","x-forwarded-for":"18.144.110.166","x-forwarded-host":"webhook.racc.intentus.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"95edd0f70c1d","x-real-ip":"18.144.110.166","accept-encoding":"gzip"},"params":{},"query":{},"body":{"code":2000,"videos":[{"viralScore":"8","relatedTopic":"[\"Fama\",\"Impacto\",\"Privacidade\",\"Cobrança\",\"Sucesso\"]","transcript":"Se eu pudesse escolher, manter o impacto que eu causo hoje, mas sendo menos famoso ou até um anônimo, eu faria isso. \n\n\nSério? Eu faria isso. Porque a cobrança é muito dolorosa, cara. A cobrança é muito dolorosa, né? Mas só se eu pudesse manter o meu resultado. Porque quando eu decidi essa vida, eu tava ciente do que iria acontecer comigo, de que eu iria abrir mão de uma grande parte da minha privacidade, mas por outro lado eu iria poder atingir esse resultado e esse impacto que eu atingi. \n\n\nPorrada. ","videoUrl":"https://cdn-video.vizard.ai/vizard/video/export/20260224/37522862-49e5a4ee456a4930a001ee3a003b5223.mp4?Expires=1772568970&Signature=gkgbEToNxTwZX2WQ2Zf6y9pHm6xjb13E~N-pVSQ7M9E5kQA9MtDZ32~542t-aTrKWKHZ-kM6I8mEyZg49yE7m9KVC2UqdR7T~23nJ4KhbkEdppD22eoNXcQunZkCvwPA1udvtEfA5o4HJTHnndIgnLQ9Rkg1JMCWMMoWy0ETY~ceLHkR07sWw4QKpjqB7uQgayhQ-WLaRm29eT8jQLmi2l8qNSLWTlRn-YAn2~pG6WtJdflqxGfi9Wz2iSkABdbHESKIMqFLeOG0iOzrbQiHOwPhCqagRBkSUvG8G9q~Q1~di5pzWWwyvOWSrFHTLEG7ZIwAS6XDB9nFKmnfG2zP-g__&Key-Pair-Id=K1STSG6HQYFY8F","clipEditorUrl":"https://vizard.ai/editor?id=158624520&type=clip","videoMsDuration":30066,"videoId":37522862,"title":"Eu troco fama por manter meu impacto?","viralReason":"A confissão sincera sobre o alto custo da fama (privacidade e pressão) gera identificação imediata com o público que valoriza impacto sobre holofotes."}],"projectName":"open-api-1771964063739","projectId":28511453,"creditsUsed":1},"webhookUrl":"https://webhook.racc.intentus.digital/webhook/8263b860-d74e-48c6-b9df-e510607d4f80","executionMode":"production"}}]},"versionId":"ac080fd6-9745-4c76-a8d7-9ac12a3dac8f","activeVersionId":"ac080fd6-9745-4c76-a8d7-9ac12a3dac8f","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T23:18:28.496Z","createdAt":"2026-02-09T23:18:28.496Z","role":"workflow:owner","workflowId":"iN1yCxWRElHd8ykb2a9Lk","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T23:58:59.708Z","createdAt":"2026-03-17T23:58:58.095Z","versionId":"ac080fd6-9745-4c76-a8d7-9ac12a3dac8f","workflowId":"iN1yCxWRElHd8ykb2a9Lk","nodes":[{"parameters":{"httpMethod":"POST","path":"8263b860-d74e-48c6-b9df-e510607d4f80","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-24752,2992],"id":"e57c5e08-e5aa-4c23-a608-c0b050763349","name":"Webhook","webhookId":"8263b860-d74e-48c6-b9df-e510607d4f80"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-error-code","leftValue":"={{ !$json.body || Number($json.body.code || 0) !== 2000 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"ae59dc18-749e-4ab2-ac22-0dd15fa9217d","name":"if-vizard-callback-error","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-24528,2992]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Vizard callback error ' || COALESCE('{{ $json.body.code }}','') || ': ' || COALESCE('{{ $json.body.errMsg ?? $json.body.message ?? \"payload inválido\" }}','payload inválido'),\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $json.body.projectId ?? \"\" }}';","options":{}},"id":"a467a8a8-8b2f-45f6-a326-f3568edfe066","name":"mark-error-from-callback","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-24304,3064],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clips","leftValue":"={{ Array.isArray($json.videos) && $json.videos.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"8b77a04b-d4c8-4cd9-ab16-919837be724b","name":"if-has-clips","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-24080,2872]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Webhook Vizard sem clips para projectId {{ $json.projectId }}',\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $json.projectId }}';","options":{}},"id":"0681d5f3-7139-42fb-9f43-3ca659951460","name":"mark-no-clips-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-23856,2896],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"fieldToSplitOut":"videos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-23856,2704],"id":"3ce88071-85a6-45ea-82c4-904205a13ba9","name":"split-clips"},{"parameters":{"operation":"executeQuery","query":"SELECT \n  vp.id,\n  vp.plataforma,\n  vp.canal_id,\n  vp.video_id,\n  vp.url_video,\n  vp.titulo_original,\n  vp.duracao_segundos,\n  vp.nicho,\n  vp.vizard_project_id,\n  cd.nome_canal,\n  cd.tom_de_voz,\n  cd.nicho_alvo\nFROM videos_pendentes vp\nLEFT JOIN canais_descobertos cd ON cd.canal_id = vp.canal_id AND cd.plataforma = vp.plataforma\nWHERE vp.vizard_project_id = '{{ $('normalize-webhook-payload').item.json.projectId }}'\nLIMIT 1;","options":{}},"id":"290cd0cf-c257-4413-b2ce-c999d21d2605","name":"lookup-video-by-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-23632,2704],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Mescla dados do clip Vizard com metadados do vídeo origem\nconst clip = $('split-clips').item.json;\nconst video = $input.first().json;\n\nif (!video.id) {\n  // Vídeo não encontrado no banco - pula este clip\n  return [];\n}\n\nreturn [{ json: {\n  // Metadados do vídeo origem\n  video_origem_id:   video.id,\n  canal_id:          video.canal_id,\n  nicho:             video.nicho || video.nicho_alvo || '',\n  nome_canal:        video.nome_canal || '',\n  tom_de_voz:        video.tom_de_voz || 'informativo',\n  titulo_original:   video.titulo_original || '',\n  vizard_project_id: video.vizard_project_id,\n\n  // Dados do clip Vizard\n  vizard_video_id:   Number(clip.videoId) || null,\n  clip_url:          clip.videoUrl || '',\n  titulo_sugerido:   clip.title || '',\n  transcricao:       clip.transcript || '',\n  duracao:           Math.round((Number(clip.videoMsDuration) || 0) / 1000),\n  score:             Number(clip.viralScore) || 0,\n  viral_reason:      clip.viralReason || ''\n} }];"},"id":"5e65268c-69ea-4951-8628-51cf297e4b20","name":"merge-clip-video-data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-23408,2704]},{"parameters":{"options":{}},"id":"ea81d6c0-3fd0-40f5-8843-0f05d91c1618","name":"loop-by-clip","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-23184,2704]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"Você é especialista em otimização de conteúdo para Shorts, Reels e TikTok.\n\nRegras OBRIGATÓRIAS:\n- título: máximo 60 caracteres, use gatilhos emocionais ou números\n- descrição: máximo 150 caracteres com CTA sutil\n- hashtags: 8 a 12 tags, mix de alto volume e nicho\n- thumbnail: texto de até 4 palavras impactantes\n- gancho: frase de hook para os primeiros 3 segundos\n- keywords: exatamente 5 palavras-chave centrais do conteúdo\n\nAdapte tudo ao tom de voz indicado.\nRetorne APENAS JSON válido, sem markdown, sem backticks.","role":"assistant"},{"content":"=Crie conteúdo otimizado para este clip:\n\n**Título Original:** {{ $json.titulo_original }}\n**Título Sugerido Vizard:** {{ $json.titulo_sugerido }}\n**Canal:** {{ $json.nome_canal }}\n**Nicho:** {{ $json.nicho }}\n**Tom de Voz:** {{ $json.tom_de_voz }}\n**Score de Viralidade:** {{ $json.score }}/100\n**Motivo de Viralidade:** {{ $json.viral_reason }}\n**Transcrição:** {{ $json.transcricao || 'Não disponível' }}\n\nRetorne exatamente este JSON:\n{\n  \"titulo_final\": \"máx 60 chars\",\n  \"descricao_base\": \"máx 150 chars com CTA\",\n  \"hashtags\": [\"#tag1\", \"#tag2\"],\n  \"sugestao_thumbnail\": \"máx 4 palavras\",\n  \"gancho_abertura\": \"frase hook 3 segundos\",\n  \"keywords\": [\"kw1\", \"kw2\", \"kw3\", \"kw4\", \"kw5\"]\n}"}]},"options":{"temperature":0.5}},"id":"243f429e-166b-4d4e-a915-345cbf91a080","name":"ai-enhance-clip","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[-22960,2800],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"// Combina parse de título/descrição/hashtags E keywords em um único nó\nconst clipData = $('loop-by-clip').item.json;\nconst aiRaw = $input.first().json;\n\nlet enhanced = {\n  titulo_final:       clipData.titulo_sugerido || clipData.titulo_original || 'Sem título',\n  descricao_base:     'Confira este conteúdo!',\n  hashtags:           ['#shorts', '#viral', '#fy'],\n  sugestao_thumbnail: 'IMPERDÍVEL',\n  gancho_abertura:    '',\n  keywords:           []\n};\n\ntry {\n  let text = '';\n  if (typeof aiRaw.content === 'string' && aiRaw.content.trim())    text = aiRaw.content;\n  else if (typeof aiRaw.text === 'string' && aiRaw.text.trim())     text = aiRaw.text;\n  else if (typeof aiRaw.output === 'string' && aiRaw.output.trim()) text = aiRaw.output;\n  else if (aiRaw.message?.content)                                   text = aiRaw.message.content;\n\n  text = text.replace(/```json\\s*|```/g, '').trim();\n\n  let parsed = null;\n  if (text.startsWith('{')) {\n    parsed = JSON.parse(text);\n  } else {\n    const i = text.indexOf('{');\n    const j = text.lastIndexOf('}');\n    if (i !== -1 && j > i) parsed = JSON.parse(text.slice(i, j + 1));\n  }\n\n  if (parsed) enhanced = { ...enhanced, ...parsed };\n} catch (e) { /* usa fallback */ }\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nlet titulo = String(enhanced.titulo_final || '');\nif (titulo.length > 60) titulo = titulo.substring(0, 57) + '...';\n\nconst hashtagsArr = Array.isArray(enhanced.hashtags)\n  ? enhanced.hashtags.map(h => h.startsWith('#') ? h : `#${h}`)\n  : ['#shorts'];\n\nlet keywords = Array.isArray(enhanced.keywords)\n  ? enhanced.keywords.map(k => String(k).toLowerCase().trim()).filter(Boolean)\n  : [];\n\nif (keywords.length === 0) {\n  const base = [clipData.nicho || ''];\n  const titleWords = titulo.split(/\\s+/).map(w => w.toLowerCase()).filter(w => w.length > 4);\n  keywords = [...base, ...titleWords.slice(0, 4)].filter(Boolean);\n}\n\nconst keywordsSql = keywords.map(k => sanitize(k)).join(\"','\");\n\nreturn [{\n  json: {\n    ...clipData,\n    titulo_final:       sanitize(titulo),\n    descricao_base:     sanitize(String(enhanced.descricao_base || '')),\n    hashtags:           hashtagsArr,\n    sugestao_thumbnail: sanitize(String(enhanced.sugestao_thumbnail || '')),\n    gancho_abertura:    sanitize(String(enhanced.gancho_abertura || '')),\n    extracted_keywords: keywords,\n    keywords_sql:       keywordsSql\n  }\n}];"},"id":"427428f0-e031-428f-921e-8716d26ccba6","name":"parse-ai-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-22608,2800]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COALESCE(cm.estrategia_padrao, 'incluir 1 link relevante') AS estrategia,\n  COALESCE(cm.link_captacao_leads, '') AS link_leads\nFROM config_monetizacao cm\nWHERE cm.canal_id = '{{ $json.canal_id }}'\nLIMIT 1;","options":{}},"id":"8a2ff37d-431c-4d27-b3a3-e847e2d4cdfd","name":"fetch-monetization-config","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22384,2800],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  la.palavra_chave,\n  la.descricao_curta,\n  la.url,\n  la.tipo\nFROM links_afiliados la\nWHERE la.ativo = true\n  AND (\n    la.nicho IS NULL\n    OR la.nicho = '{{ $('parse-ai-response').item.json.nicho }}'\n    OR la.palavra_chave IN ('{{ $('parse-ai-response').item.json.keywords_sql }}')\n  )\nORDER BY \n  CASE WHEN la.palavra_chave IN ('{{ $('parse-ai-response').item.json.keywords_sql }}') THEN 0 ELSE 1 END\nLIMIT 3;","options":{}},"id":"2f491a1e-0671-401a-861d-c23eb6f6649c","name":"fetch-affiliate-links","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22160,2800],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const clipData = $('parse-ai-response').item.json;\nconst links = $('fetch-affiliate-links').all();\nconst monetConfig = $('fetch-monetization-config').item?.json || {};\n\nlet blocoMonetizacao = '';\n\nconst linksValidos = links.filter(l => l.json && l.json.url);\nif (linksValidos.length > 0) {\n  blocoMonetizacao = '\\n\\n---';\n  for (const link of linksValidos) {\n    const l = link.json;\n    const emoji = l.tipo === 'amazon'          ? '📚'\n                : l.tipo === 'hotmart'         ? '🎓'\n                : l.tipo === 'produto_proprio' ? '🚀'\n                : '🔗';\n    blocoMonetizacao += `\\n${emoji} ${l.descricao_curta}: ${l.url}`;\n  }\n}\n\nif (monetConfig.link_leads) {\n  blocoMonetizacao += `\\n\\n📩 Acesse conteúdo exclusivo: ${monetConfig.link_leads}`;\n}\n\nconst hashtagsStr = (clipData.hashtags || [])\n  .map(h => h.startsWith('#') ? h : `#${h}`)\n  .join(' ');\n\nconst descricaoFinal = `${clipData.descricao_base}${blocoMonetizacao}\\n\\n${hashtagsStr}`;\n\nconst sanitize = (s) => String(s || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    ...clipData,\n    descricao_final: sanitize(descricaoFinal),\n    hashtags_str:    sanitize(hashtagsStr),\n    links_incluidos: linksValidos.length\n  }\n}];"},"id":"3052b675-46fc-47a8-b858-e401c18b162d","name":"build-final-description","type":"n8n-nodes-base.code","typeVersion":2,"position":[-21936,2800]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO clips_gerados (\n  video_origem_id,\n  vizard_video_id,\n  engine_usada,\n  arquivo_clip_url,\n  transcricao_clip,\n  titulo_sugerido_engine,\n  titulo_final,\n  gancho_abertura,\n  descricao_base,\n  descricao_final,\n  hashtags,\n  sugestao_thumbnail,\n  duracao_clip,\n  score_clip,\n  status_publicacao,\n  nicho,\n  canal_id,\n  status\n)\nSELECT\n  '{{ String($json.video_origem_id || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}',\n  'vizard',\n  '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.transcricao || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.titulo_sugerido || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.titulo_final || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.gancho_abertura || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.descricao_base || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.descricao_final || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.hashtags_str || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.sugestao_thumbnail || '').replace(/'/g, \"''\") }}',\n  {{ Number($json.duracao || 0) }},\n  {{ Number($json.score || 0) }},\n  'pronto_para_publicar',\n  '{{ String($json.nicho || '').replace(/'/g, \"''\") }}',\n  '{{ String($json.canal_id || '').replace(/'/g, \"''\") }}',\n  'pronto_para_publicar'\nWHERE NOT EXISTS (\n  SELECT 1\n  FROM clips_gerados cg\n  WHERE (\n      '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}' <> ''\n      AND cg.arquivo_clip_url = '{{ String($json.clip_url || '').replace(/'/g, \"''\") }}'\n    )\n    OR (\n      '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}' <> ''\n      AND cg.vizard_video_id = '{{ String($json.vizard_video_id || '').replace(/'/g, \"''\") }}'\n    )\n)\nRETURNING id;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-21712,2872],"id":"72187bdf-33c2-476e-a0f0-e88eb661029a","name":"save-clip-to-db","credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'concluido',\n    updated_at = NOW()\nWHERE vizard_project_id = '{{ $('normalize-webhook-payload').item.json.projectId }}';","options":{}},"id":"a3ac6f08-5378-44a7-9251-104b97aa1824","name":"mark-video-complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-22896,2608],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const body = $json.body || {};\nconst projectId = body.projectId || null;\nconst code = Number(body.code || 0);\nconst videos = Array.isArray(body.videos) ? body.videos : [];\n\nreturn [{\n  json: {\n    code,\n    projectId,\n    projectName: body.projectName || '',\n    creditsUsed: body.creditsUsed ?? null,\n    videos\n  }\n}];"},"id":"1816a012-3104-464d-9fed-a903cc7aa2ff","name":"normalize-webhook-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-24304,2872]}],"connections":{"Webhook":{"main":[[{"node":"if-vizard-callback-error","type":"main","index":0}]]},"if-vizard-callback-error":{"main":[[{"node":"mark-error-from-callback","type":"main","index":0}],[{"node":"normalize-webhook-payload","type":"main","index":0}]]},"if-has-clips":{"main":[[{"node":"split-clips","type":"main","index":0}],[{"node":"mark-no-clips-error","type":"main","index":0}]]},"split-clips":{"main":[[{"node":"lookup-video-by-project","type":"main","index":0}]]},"lookup-video-by-project":{"main":[[{"node":"merge-clip-video-data","type":"main","index":0}]]},"merge-clip-video-data":{"main":[[{"node":"loop-by-clip","type":"main","index":0}]]},"loop-by-clip":{"main":[[{"node":"mark-video-complete","type":"main","index":0}],[{"node":"ai-enhance-clip","type":"main","index":0}]]},"ai-enhance-clip":{"main":[[{"node":"parse-ai-response","type":"main","index":0}]]},"parse-ai-response":{"main":[[{"node":"fetch-monetization-config","type":"main","index":0}]]},"fetch-monetization-config":{"main":[[{"node":"fetch-affiliate-links","type":"main","index":0}]]},"fetch-affiliate-links":{"main":[[{"node":"build-final-description","type":"main","index":0}]]},"build-final-description":{"main":[[{"node":"save-clip-to-db","type":"main","index":0}]]},"save-clip-to-db":{"main":[[{"node":"loop-by-clip","type":"main","index":0}]]},"normalize-webhook-payload":{"main":[[{"node":"if-has-clips","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version ac080fd6","description":"","autosaved":false},"tags":[]}