[agent-telegram]-bot-manager-Xn6XTzT4W7K7VEanvz9EQ.json
{"updatedAt":"2026-02-27T13:31:11.151Z","createdAt":"2026-02-20T18:18:03.579Z","id":"Xn6XTzT4W7K7VEanvz9EQ","name":"[AGENT-TELEGRAM]-Bot-Manager","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message","edited_message"],"additionalFields":{}},"id":"0a1d7312-3ffe-42c3-9f12-a2c40700736d","name":"telegram-trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-768,752],"webhookId":"racc-telegram-bot","credentials":{"telegramApi":{"id":"GcrULz9Z98oqXiHD","name":"Telegram account"}}},{"parameters":{"jsCode":"const msg = $json.message || $json.edited_message || {};\nconst text = (msg.text || '').trim();\nconst chat_id = msg.chat?.id;\nconst user_id = msg.from?.id;\nconst username = msg.from?.username || '';\n\nconst parts = text.split(/\\s+/);\nconst rawCmd = parts[0] || '';\nconst isSlashCmd = rawCmd.startsWith('/');\nconst cmd = rawCmd.toLowerCase().replace(/^\\//, '');\nconst sub = (parts[1] || '').toLowerCase();\nconst args = parts.slice(2);\n\n// Sanitize: remove aspas simples para prevenir SQL injection básico\nconst esc = (s) => String(s || '').replace(/'/g, \"''\").substring(0, 200);\nconst safeInt = (v, def=10, max=50) => Math.min(Math.max(parseInt(v) || def, 1), max);\n\nconst knownCommands = ['nicho','canal','video','status','clips','ajuda','help','start'];\nconst isKnownCmd = knownCommands.includes(cmd);\n\nlet result = {\n  chat_id,\n  user_id,\n  username,\n  needs_db: false,\n  sql: '',\n  format: '',\n  reply_text: '',\n  is_conversation: !isSlashCmd,\n  user_message: text,\n  error: null\n};\n\n// ── /ajuda | /help | /start ───────────────────────────────────────────────\nif (!isSlashCmd) {\n  result.is_conversation = true;\n  result.format = 'conversation';\n  return [{ json: result }];\n}\n\nif (['ajuda','help','start'].includes(cmd)) {\n  result.reply_text = [\n    '🤖 *RACC Pipeline Manager*',\n    '',\n    '🏷️ *Nichos:*',\n    '`/nicho list` — listar todos',\n    '`/nicho add <slug> <nome> [kw1,kw2]` — adicionar',\n    '`/nicho enable <slug>` — ativar',\n    '`/nicho disable <slug>` — desativar',\n    '`/nicho keywords <slug> kw1,kw2,...` — atualizar keywords',\n    '',\n    '📡 *Canais:*',\n    '`/canal list [nicho]` — listar canais',\n    '`/canal add <channel_id> <nome> <nicho>` — adicionar canal manualmente',\n    '`/canal enable <channel_id>` — ativar canal',\n    '`/canal disable <channel_id>` — desativar canal',\n    '',\n    '🎬 *Vídeos:*',\n    '`/video list [status] [limit]` — listar',\n    '`/video reprocessar <video_id>` — recolocar como pendente',\n    '',\n    '📊 *Pipeline:*',\n    '`/status` — resumo geral',\n    '`/clips [nicho]` — clips prontos para publicar',\n  ].join('\\n');\n  result.format = 'static';\n  return [{ json: result }];\n}\n\n// ── /nicho ────────────────────────────────────────────────────────────────\nif (cmd === 'nicho') {\n  if (sub === 'list') {\n    result.sql = `SELECT slug, nome, idioma, ativo,\n  COALESCE(jsonb_array_length(keywords), 0) as num_keywords\nFROM nichos ORDER BY ativo DESC, nome;`;\n    result.format = 'nicho_list';\n    result.needs_db = true;\n\n  } else if (sub === 'add') {\n    const slug = esc(args[0]), nome = esc(args[1]);\n    const kws = args[2] ? args[2].split(',').map(k => esc(k.trim())) : [];\n    if (!slug || !nome) {\n      result.reply_text = '❌ Uso: `/nicho add <slug> <nome> [kw1,kw2,...]`';\n      result.format = 'static';\n    } else {\n      const kwJson = JSON.stringify(kws).replace(/'/g, \"''\");\n      result.sql = `INSERT INTO nichos (slug, nome, keywords, idioma, ativo)\nVALUES ('${slug}', '${nome}', '${kwJson}'::jsonb, 'pt-BR', true)\nON CONFLICT (slug) DO NOTHING\nRETURNING id, slug, nome, ativo;`;\n      result.format = 'nicho_upsert';\n      result.needs_db = true;\n    }\n\n  } else if (sub === 'enable') {\n    const slug = esc(args[0]);\n    if (!slug) { result.reply_text = '❌ Uso: `/nicho enable <slug>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE nichos SET ativo=true, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome, ativo;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'disable') {\n    const slug = esc(args[0]);\n    if (!slug) { result.reply_text = '❌ Uso: `/nicho disable <slug>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE nichos SET ativo=false, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome, ativo;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'keywords') {\n    const slug = esc(args[0]);\n    const kws = args[1] ? args[1].split(',').map(k => esc(k.trim())) : [];\n    if (!slug || !kws.length) { result.reply_text = '❌ Uso: `/nicho keywords <slug> kw1,kw2,...`'; result.format = 'static'; }\n    else {\n      const kwJson = JSON.stringify(kws).replace(/'/g, \"''\");\n      result.sql = `UPDATE nichos SET keywords='${kwJson}'::jsonb, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/nicho list|add|enable|disable|keywords`';\n    result.format = 'static';\n  }\n\n// ── /canal ────────────────────────────────────────────────────────────────\n} else if (cmd === 'canal') {\n  if (sub === 'list') {\n    const nicho = args[0] ? `AND nicho_alvo='${esc(args[0])}'` : '';\n    result.sql = `SELECT canal_id, nome_canal, nicho_alvo, inscritos,\n  ROUND(score::numeric,2) as score, ativo\nFROM canais_descobertos\nWHERE true ${nicho}\nORDER BY nicho_alvo, score DESC LIMIT 30;`;\n    result.format = 'canal_list'; result.needs_db = true;\n\n  } else if (sub === 'add') {\n    const cid = esc(args[0]), nome = esc(args[1]), nicho = esc(args[2]);\n    if (!cid || !nome || !nicho) { result.reply_text = '❌ Uso: `/canal add <channel_id> <nome> <nicho>`'; result.format = 'static'; }\n    else {\n      result.sql = `INSERT INTO canais_descobertos\n  (plataforma, canal_id, nome_canal, nicho_alvo, score, ativo, data_ultima_analise)\nVALUES ('youtube', '${cid}', '${nome}', '${nicho}', 0.70, true, NOW())\nON CONFLICT (canal_id) DO NOTHING\nRETURNING canal_id, nome_canal, nicho_alvo, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'enable') {\n    const cid = esc(args[0]);\n    if (!cid) { result.reply_text = '❌ Uso: `/canal enable <channel_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE canais_descobertos SET ativo=true, updated_at=NOW() WHERE canal_id='${cid}' RETURNING canal_id, nome_canal, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'disable') {\n    const cid = esc(args[0]);\n    if (!cid) { result.reply_text = '❌ Uso: `/canal disable <channel_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE canais_descobertos SET ativo=false, updated_at=NOW() WHERE canal_id='${cid}' RETURNING canal_id, nome_canal, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/canal list|add|enable|disable`';\n    result.format = 'static';\n  }\n\n// ── /video ────────────────────────────────────────────────────────────────\n} else if (cmd === 'video') {\n  if (sub === 'list') {\n    const validStatus = ['pendente','em_processamento','concluido','erro','ignorado'];\n    const status = validStatus.includes(args[0]) ? args[0] : 'pendente';\n    const limit = safeInt(args[1], 10, 50);\n    result.sql = `SELECT video_id, canal_id,\n  LEFT(titulo_original,45) as titulo,\n  nicho, status,\n  duracao_segundos,\n  views,\n  created_at::date as data\nFROM videos_pendentes\nWHERE status='${status}'\nORDER BY created_at DESC\nLIMIT ${limit};`;\n    result.format = 'video_list'; result.needs_db = true;\n\n  } else if (sub === 'reprocessar') {\n    const vid = esc(args[0]);\n    if (!vid) { result.reply_text = '❌ Uso: `/video reprocessar <video_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE videos_pendentes\nSET status='pendente', vizard_project_id=NULL, vizard_code=NULL, erro_msg=NULL, updated_at=NOW()\nWHERE video_id='${vid}' OR id::text='${vid}'\nRETURNING video_id, titulo_original, status;`;\n      result.format = 'video_reprocess'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/video list [status] [limit]` ou `/video reprocessar <video_id>`';\n    result.format = 'static';\n  }\n\n// ── /status ───────────────────────────────────────────────────────────────\n} else if (cmd === 'status') {\n  result.sql = `SELECT\n  (SELECT COUNT(*) FROM nichos WHERE ativo=true)::int           AS nichos_ativos,\n  (SELECT COUNT(*) FROM canais_descobertos WHERE ativo=true)::int AS canais_ativos,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='pendente')::int       AS videos_pendentes,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='em_processamento')::int AS videos_processando,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='erro')::int           AS videos_erro,\n  (SELECT COUNT(*) FROM clips_gerados WHERE status_publicacao='pronto_para_publicar')::int AS clips_prontos,\n  (SELECT COUNT(*) FROM publicacoes WHERE data_publicacao::date=CURRENT_DATE AND status='publicado')::int AS publicados_hoje;`;\n  result.format = 'status_overview'; result.needs_db = true;\n\n// ── /clips ────────────────────────────────────────────────────────────────\n} else if (cmd === 'clips') {\n  const nicho = args[0] ? `AND cg.nicho='${esc(args[0])}'` : '';\n  result.sql = `SELECT cg.titulo_final, cg.nicho, cg.duracao_clip, cg.score_clip\nFROM clips_gerados cg\nWHERE cg.status_publicacao='pronto_para_publicar' ${nicho}\nORDER BY cg.nicho, cg.score_clip DESC NULLS LAST\nLIMIT 20;`;\n  result.format = 'clips_list'; result.needs_db = true;\n\n} else {\n  result.reply_text = `❓ Comando desconhecido: \\`/${cmd}\\`. Use \\`/ajuda\\` para ajuda.`;\n  result.format = 'static';\n}\n\nreturn [{ json: result }];"},"id":"122666c8-8e92-47aa-9a20-a9adf71a3d53","name":"parse-command","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"route-check","leftValue":"={{ $json.format }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"71ca9a8b-ca0e-466c-8d29-a2b2be24e418","name":"if-is-conversation","type":"n8n-nodes-base.if","typeVersion":2,"position":[-320,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"needs-db","leftValue":"={{ $json.needs_db }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"300e40a3-7be0-4fb9-816b-d72a769247a7","name":"if-needs-db","type":"n8n-nodes-base.if","typeVersion":2,"position":[-96,848]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"26570557-0de4-4377-ba66-f05f858be70b","name":"execute-db-command","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,752],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Formata erro do banco\nconst data = $('parse-command').item.json;\nconst err = $input.first().json;\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: `❌ Erro ao executar comando:\\n\\`${String(err.message || err.error || JSON.stringify(err)).substring(0, 300)}\\``,\n  parse_mode: 'Markdown'\n} }];"},"id":"3c22a914-82ed-47da-b243-0d5853fa7a39","name":"format-db-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,848]},{"parameters":{"jsCode":"const data = $('parse-command').item.json;\nconst rows = $input.all().map(i => i.json);\nconst fmt = data.format;\nlet lines = [];\n\nif (fmt === 'nicho_list') {\n  lines.push('📋 *Nichos cadastrados:*\\n');\n  if (!rows.length || !rows[0].slug) { lines.push('_Nenhum nicho cadastrado._'); }\n  else rows.forEach(r => {\n    const st = r.ativo ? '✅' : '❌';\n    lines.push(`${st} \\`${r.slug}\\` — ${r.nome} (${r.num_keywords || 0} kws)`);\n  });\n\n} else if (fmt === 'nicho_upsert') {\n  if (!rows.length || !rows[0].slug) lines.push('⚠️ Nenhum registro afetado. Verifique o slug informado.');\n  else {\n    const r = rows[0];\n    const st = r.ativo === false ? '❌ desativado' : r.ativo === true ? '✅ ativo' : '✅ atualizado';\n    lines.push(`${st}: \\`${r.slug || r.canal_id}\\` — ${r.nome || r.nome_canal || ''}`);\n  }\n\n} else if (fmt === 'canal_list') {\n  lines.push('📡 *Canais:*\\n');\n  if (!rows.length || !rows[0].canal_id) lines.push('_Nenhum canal encontrado._');\n  else rows.forEach(r => {\n    const st = r.ativo ? '✅' : '❌';\n    const subs = r.inscritos >= 1000000 ? `${(r.inscritos/1000000).toFixed(1)}M`\n               : r.inscritos >= 1000 ? `${Math.round(r.inscritos/1000)}k` : String(r.inscritos || '?');\n    lines.push(`${st} \\`${r.canal_id}\\` — ${r.nome_canal} | ${r.nicho_alvo} | ${subs} | Score: ${r.score}`);\n  });\n\n} else if (fmt === 'canal_upsert') {\n  if (!rows.length || !rows[0].canal_id) lines.push('⚠️ Nenhum canal afetado. Verifique o channel_id informado.');\n  else {\n    const r = rows[0];\n    const st = r.ativo === false ? '❌ desativado' : '✅ ativo';\n    lines.push(`${st}: \\`${r.canal_id}\\` — ${r.nome_canal}`);\n  }\n\n} else if (fmt === 'video_list') {\n  lines.push(`🎬 *Vídeos* (${rows.filter(r=>r.video_id).length}):\\n`);\n  if (!rows.length || !rows[0].video_id) lines.push('_Nenhum vídeo encontrado._');\n  else rows.forEach(r => {\n    const dur = r.duracao_segundos ? `${Math.floor(r.duracao_segundos/60)}m${r.duracao_segundos%60}s` : '?';\n    const views = (r.views||0) >= 1000 ? `${Math.round((r.views||0)/1000)}k` : String(r.views||0);\n    lines.push(`• \\`${r.video_id}\\` ${r.titulo || '?'} | ${dur} | ${views} views | ${r.nicho}`);\n  });\n\n} else if (fmt === 'video_reprocess') {\n  if (!rows.length || !rows[0].video_id) lines.push('⚠️ Vídeo não encontrado.');\n  else {\n    const r = rows[0];\n    lines.push(`♻️ Reprocessando: \\`${r.video_id}\\`\\n${r.titulo_original?.substring(0,50) || ''}\\nStatus → \\`${r.status}\\``);\n  }\n\n} else if (fmt === 'status_overview') {\n  const r = rows[0] || {};\n  lines.push('📊 *Status da Pipeline*\\n');\n  lines.push(`🏷️ Nichos ativos:      *${r.nichos_ativos || 0}*`);\n  lines.push(`📡 Canais ativos:      *${r.canais_ativos || 0}*`);\n  lines.push(`⏳ Vídeos pendentes:   *${r.videos_pendentes || 0}*`);\n  lines.push(`⚙️ Em processamento:  *${r.videos_processando || 0}*`);\n  lines.push(`❌ Com erro:           *${r.videos_erro || 0}*`);\n  lines.push(`✂️ Clips prontos:      *${r.clips_prontos || 0}*`);\n  lines.push(`📤 Publicados hoje:    *${r.publicados_hoje || 0}*`);\n\n} else if (fmt === 'clips_list') {\n  lines.push(`✂️ *Clips prontos* (${rows.filter(r=>r.titulo_final).length}):\\n`);\n  if (!rows.length || !rows[0].titulo_final) lines.push('_Nenhum clip pronto._');\n  else rows.forEach(r => {\n    const dur = r.duracao_clip ? `${Math.floor(r.duracao_clip/60)}m${r.duracao_clip%60}s` : '?';\n    lines.push(`• ${r.titulo_final?.substring(0,45)} | ${r.nicho} | ${dur} | Score: ${r.score_clip||0}`);\n  });\n\n} else {\n  lines.push('✅ Ok!');\n}\n\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: lines.join('\\n'),\n  parse_mode: 'Markdown'\n} }];"},"id":"9bf54d42-ea7b-404e-a269-70796edb6533","name":"format-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,656]},{"parameters":{"jsCode":"// Resposta estática (ajuda, erros de uso, comandos desconhecidos)\nconst data = $('parse-command').item.json;\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: data.reply_text || '❓ Comando inválido. Use `/ajuda`.',\n  parse_mode: 'Markdown'\n} }];"},"id":"8476c3ee-5867-4f58-bee8-57cd9d71cef4","name":"format-static-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1040]},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"id":"328c3c47-08de-4023-9ee9-458ce2eb0e7f","name":"send-response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,752],"webhookId":"50bee27a-d970-4b95-a51b-1d4a2b0a118a","credentials":{"telegramApi":{"id":"GcrULz9Z98oqXiHD","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"Você é um assistente amigável da plataforma RACC (Replicação Algorítmica de Conteúdo de Clips).\n\nA plataforma funciona assim:\n1. Agente 2 descobre canais do YouTube por nicho via YouTube API\n2. Agente 1 coleta os top 10 vídeos de cada canal\n3. Agente 3 envia vídeos ao Vizard para gerar clips automaticamente\n4. Agente 4 processa os clips via webhook, gera títulos/hashtags com IA\n5. Agente 5 publica clips: 1 por nicho a cada 8h, máximo 3/dia, canais diferentes\n6. Agente 6 coleta métricas do YouTube e gera insights semanais\n\nVocê ajuda com:\n- Explicações sobre como a plataforma funciona\n- Dúvidas sobre nichos, canais, vídeos e clips\n- Orientação sobre criação de conteúdo e boas práticas\n- Sugestões de keywords para nichos\n- Análise de estratégias de publicação\n\nSempre mencione que comandos começam com / (ex: /ajuda, /status).\nSeja conciso e direto. Responda sempre em Português Brasileiro.","role":"system"},{"content":"={{ $json.user_message }}"}]},"options":{"temperature":0.7}},"id":"dfc83727-9c94-49b7-86ee-a218cb5ee26c","name":"ai-conversational-agent","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[128,464],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const aiResp = $input.first().json;\nconst chat_id = $('parse-command').item.json.chat_id;\n\nlet text = '';\nif (typeof aiResp.text === 'string')         text = aiResp.text;\nelse if (typeof aiResp.output === 'string')  text = aiResp.output;\nelse if (typeof aiResp.message === 'string') text = aiResp.message;\nelse if (typeof aiResp.content === 'string') text = aiResp.content;\nelse text = JSON.stringify(aiResp).substring(0, 500);\n\nreturn [{ json: {\n  chat_id,\n  text: text || '👋 Desculpe, tive dificuldade ao processar. Tente novamente ou use `/ajuda`.',\n  parse_mode: 'Markdown'\n} }];"},"id":"63c78485-8959-4390-bc49-9e6efc35f2f7","name":"format-ai-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,464]}],"connections":{"telegram-trigger":{"main":[[{"node":"parse-command","type":"main","index":0}]]},"parse-command":{"main":[[{"node":"if-is-conversation","type":"main","index":0}]]},"if-is-conversation":{"main":[[{"node":"ai-conversational-agent","type":"main","index":0}],[{"node":"if-needs-db","type":"main","index":0}]]},"if-needs-db":{"main":[[{"node":"execute-db-command","type":"main","index":0}],[{"node":"format-static-response","type":"main","index":0}]]},"execute-db-command":{"main":[[{"node":"format-response","type":"main","index":0}],[{"node":"format-db-error","type":"main","index":0}]]},"format-db-error":{"main":[[{"node":"send-response","type":"main","index":0}]]},"format-response":{"main":[[{"node":"send-response","type":"main","index":0}]]},"format-static-response":{"main":[[{"node":"send-response","type":"main","index":0}]]},"ai-conversational-agent":{"main":[[{"node":"format-ai-response","type":"main","index":0}]]},"format-ai-response":{"main":[[{"node":"send-response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ca9c3660-a868-4574-a7b5-21a280f83d62","activeVersionId":"ca9c3660-a868-4574-a7b5-21a280f83d62","triggerCount":1,"shared":[{"updatedAt":"2026-02-20T18:18:03.579Z","createdAt":"2026-02-20T18:18:03.579Z","role":"workflow:owner","workflowId":"Xn6XTzT4W7K7VEanvz9EQ","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-02-24T18:10:48.205Z","createdAt":"2026-02-24T18:10:46.504Z","versionId":"ca9c3660-a868-4574-a7b5-21a280f83d62","workflowId":"Xn6XTzT4W7K7VEanvz9EQ","nodes":[{"parameters":{"updates":["message","edited_message"],"additionalFields":{}},"id":"0a1d7312-3ffe-42c3-9f12-a2c40700736d","name":"telegram-trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-768,752],"webhookId":"racc-telegram-bot","credentials":{"telegramApi":{"id":"GcrULz9Z98oqXiHD","name":"Telegram account"}}},{"parameters":{"jsCode":"const msg = $json.message || $json.edited_message || {};\nconst text = (msg.text || '').trim();\nconst chat_id = msg.chat?.id;\nconst user_id = msg.from?.id;\nconst username = msg.from?.username || '';\n\nconst parts = text.split(/\\s+/);\nconst rawCmd = parts[0] || '';\nconst isSlashCmd = rawCmd.startsWith('/');\nconst cmd = rawCmd.toLowerCase().replace(/^\\//, '');\nconst sub = (parts[1] || '').toLowerCase();\nconst args = parts.slice(2);\n\n// Sanitize: remove aspas simples para prevenir SQL injection básico\nconst esc = (s) => String(s || '').replace(/'/g, \"''\").substring(0, 200);\nconst safeInt = (v, def=10, max=50) => Math.min(Math.max(parseInt(v) || def, 1), max);\n\nconst knownCommands = ['nicho','canal','video','status','clips','ajuda','help','start'];\nconst isKnownCmd = knownCommands.includes(cmd);\n\nlet result = {\n  chat_id,\n  user_id,\n  username,\n  needs_db: false,\n  sql: '',\n  format: '',\n  reply_text: '',\n  is_conversation: !isSlashCmd,\n  user_message: text,\n  error: null\n};\n\n// ── /ajuda | /help | /start ───────────────────────────────────────────────\nif (!isSlashCmd) {\n  result.is_conversation = true;\n  result.format = 'conversation';\n  return [{ json: result }];\n}\n\nif (['ajuda','help','start'].includes(cmd)) {\n  result.reply_text = [\n    '🤖 *RACC Pipeline Manager*',\n    '',\n    '🏷️ *Nichos:*',\n    '`/nicho list` — listar todos',\n    '`/nicho add <slug> <nome> [kw1,kw2]` — adicionar',\n    '`/nicho enable <slug>` — ativar',\n    '`/nicho disable <slug>` — desativar',\n    '`/nicho keywords <slug> kw1,kw2,...` — atualizar keywords',\n    '',\n    '📡 *Canais:*',\n    '`/canal list [nicho]` — listar canais',\n    '`/canal add <channel_id> <nome> <nicho>` — adicionar canal manualmente',\n    '`/canal enable <channel_id>` — ativar canal',\n    '`/canal disable <channel_id>` — desativar canal',\n    '',\n    '🎬 *Vídeos:*',\n    '`/video list [status] [limit]` — listar',\n    '`/video reprocessar <video_id>` — recolocar como pendente',\n    '',\n    '📊 *Pipeline:*',\n    '`/status` — resumo geral',\n    '`/clips [nicho]` — clips prontos para publicar',\n  ].join('\\n');\n  result.format = 'static';\n  return [{ json: result }];\n}\n\n// ── /nicho ────────────────────────────────────────────────────────────────\nif (cmd === 'nicho') {\n  if (sub === 'list') {\n    result.sql = `SELECT slug, nome, idioma, ativo,\n  COALESCE(jsonb_array_length(keywords), 0) as num_keywords\nFROM nichos ORDER BY ativo DESC, nome;`;\n    result.format = 'nicho_list';\n    result.needs_db = true;\n\n  } else if (sub === 'add') {\n    const slug = esc(args[0]), nome = esc(args[1]);\n    const kws = args[2] ? args[2].split(',').map(k => esc(k.trim())) : [];\n    if (!slug || !nome) {\n      result.reply_text = '❌ Uso: `/nicho add <slug> <nome> [kw1,kw2,...]`';\n      result.format = 'static';\n    } else {\n      const kwJson = JSON.stringify(kws).replace(/'/g, \"''\");\n      result.sql = `INSERT INTO nichos (slug, nome, keywords, idioma, ativo)\nVALUES ('${slug}', '${nome}', '${kwJson}'::jsonb, 'pt-BR', true)\nON CONFLICT (slug) DO NOTHING\nRETURNING id, slug, nome, ativo;`;\n      result.format = 'nicho_upsert';\n      result.needs_db = true;\n    }\n\n  } else if (sub === 'enable') {\n    const slug = esc(args[0]);\n    if (!slug) { result.reply_text = '❌ Uso: `/nicho enable <slug>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE nichos SET ativo=true, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome, ativo;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'disable') {\n    const slug = esc(args[0]);\n    if (!slug) { result.reply_text = '❌ Uso: `/nicho disable <slug>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE nichos SET ativo=false, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome, ativo;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'keywords') {\n    const slug = esc(args[0]);\n    const kws = args[1] ? args[1].split(',').map(k => esc(k.trim())) : [];\n    if (!slug || !kws.length) { result.reply_text = '❌ Uso: `/nicho keywords <slug> kw1,kw2,...`'; result.format = 'static'; }\n    else {\n      const kwJson = JSON.stringify(kws).replace(/'/g, \"''\");\n      result.sql = `UPDATE nichos SET keywords='${kwJson}'::jsonb, updated_at=NOW() WHERE slug='${slug}' RETURNING slug, nome;`;\n      result.format = 'nicho_upsert'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/nicho list|add|enable|disable|keywords`';\n    result.format = 'static';\n  }\n\n// ── /canal ────────────────────────────────────────────────────────────────\n} else if (cmd === 'canal') {\n  if (sub === 'list') {\n    const nicho = args[0] ? `AND nicho_alvo='${esc(args[0])}'` : '';\n    result.sql = `SELECT canal_id, nome_canal, nicho_alvo, inscritos,\n  ROUND(score::numeric,2) as score, ativo\nFROM canais_descobertos\nWHERE true ${nicho}\nORDER BY nicho_alvo, score DESC LIMIT 30;`;\n    result.format = 'canal_list'; result.needs_db = true;\n\n  } else if (sub === 'add') {\n    const cid = esc(args[0]), nome = esc(args[1]), nicho = esc(args[2]);\n    if (!cid || !nome || !nicho) { result.reply_text = '❌ Uso: `/canal add <channel_id> <nome> <nicho>`'; result.format = 'static'; }\n    else {\n      result.sql = `INSERT INTO canais_descobertos\n  (plataforma, canal_id, nome_canal, nicho_alvo, score, ativo, data_ultima_analise)\nVALUES ('youtube', '${cid}', '${nome}', '${nicho}', 0.70, true, NOW())\nON CONFLICT (canal_id) DO NOTHING\nRETURNING canal_id, nome_canal, nicho_alvo, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'enable') {\n    const cid = esc(args[0]);\n    if (!cid) { result.reply_text = '❌ Uso: `/canal enable <channel_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE canais_descobertos SET ativo=true, updated_at=NOW() WHERE canal_id='${cid}' RETURNING canal_id, nome_canal, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else if (sub === 'disable') {\n    const cid = esc(args[0]);\n    if (!cid) { result.reply_text = '❌ Uso: `/canal disable <channel_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE canais_descobertos SET ativo=false, updated_at=NOW() WHERE canal_id='${cid}' RETURNING canal_id, nome_canal, ativo;`;\n      result.format = 'canal_upsert'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/canal list|add|enable|disable`';\n    result.format = 'static';\n  }\n\n// ── /video ────────────────────────────────────────────────────────────────\n} else if (cmd === 'video') {\n  if (sub === 'list') {\n    const validStatus = ['pendente','em_processamento','concluido','erro','ignorado'];\n    const status = validStatus.includes(args[0]) ? args[0] : 'pendente';\n    const limit = safeInt(args[1], 10, 50);\n    result.sql = `SELECT video_id, canal_id,\n  LEFT(titulo_original,45) as titulo,\n  nicho, status,\n  duracao_segundos,\n  views,\n  created_at::date as data\nFROM videos_pendentes\nWHERE status='${status}'\nORDER BY created_at DESC\nLIMIT ${limit};`;\n    result.format = 'video_list'; result.needs_db = true;\n\n  } else if (sub === 'reprocessar') {\n    const vid = esc(args[0]);\n    if (!vid) { result.reply_text = '❌ Uso: `/video reprocessar <video_id>`'; result.format = 'static'; }\n    else {\n      result.sql = `UPDATE videos_pendentes\nSET status='pendente', vizard_project_id=NULL, vizard_code=NULL, erro_msg=NULL, updated_at=NOW()\nWHERE video_id='${vid}' OR id::text='${vid}'\nRETURNING video_id, titulo_original, status;`;\n      result.format = 'video_reprocess'; result.needs_db = true;\n    }\n\n  } else {\n    result.reply_text = '❓ Uso: `/video list [status] [limit]` ou `/video reprocessar <video_id>`';\n    result.format = 'static';\n  }\n\n// ── /status ───────────────────────────────────────────────────────────────\n} else if (cmd === 'status') {\n  result.sql = `SELECT\n  (SELECT COUNT(*) FROM nichos WHERE ativo=true)::int           AS nichos_ativos,\n  (SELECT COUNT(*) FROM canais_descobertos WHERE ativo=true)::int AS canais_ativos,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='pendente')::int       AS videos_pendentes,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='em_processamento')::int AS videos_processando,\n  (SELECT COUNT(*) FROM videos_pendentes WHERE status='erro')::int           AS videos_erro,\n  (SELECT COUNT(*) FROM clips_gerados WHERE status_publicacao='pronto_para_publicar')::int AS clips_prontos,\n  (SELECT COUNT(*) FROM publicacoes WHERE data_publicacao::date=CURRENT_DATE AND status='publicado')::int AS publicados_hoje;`;\n  result.format = 'status_overview'; result.needs_db = true;\n\n// ── /clips ────────────────────────────────────────────────────────────────\n} else if (cmd === 'clips') {\n  const nicho = args[0] ? `AND cg.nicho='${esc(args[0])}'` : '';\n  result.sql = `SELECT cg.titulo_final, cg.nicho, cg.duracao_clip, cg.score_clip\nFROM clips_gerados cg\nWHERE cg.status_publicacao='pronto_para_publicar' ${nicho}\nORDER BY cg.nicho, cg.score_clip DESC NULLS LAST\nLIMIT 20;`;\n  result.format = 'clips_list'; result.needs_db = true;\n\n} else {\n  result.reply_text = `❓ Comando desconhecido: \\`/${cmd}\\`. Use \\`/ajuda\\` para ajuda.`;\n  result.format = 'static';\n}\n\nreturn [{ json: result }];"},"id":"122666c8-8e92-47aa-9a20-a9adf71a3d53","name":"parse-command","type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"route-check","leftValue":"={{ $json.format }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"71ca9a8b-ca0e-466c-8d29-a2b2be24e418","name":"if-is-conversation","type":"n8n-nodes-base.if","typeVersion":2,"position":[-320,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"needs-db","leftValue":"={{ $json.needs_db }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"300e40a3-7be0-4fb9-816b-d72a769247a7","name":"if-needs-db","type":"n8n-nodes-base.if","typeVersion":2,"position":[-96,848]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"26570557-0de4-4377-ba66-f05f858be70b","name":"execute-db-command","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[192,752],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Formata erro do banco\nconst data = $('parse-command').item.json;\nconst err = $input.first().json;\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: `❌ Erro ao executar comando:\\n\\`${String(err.message || err.error || JSON.stringify(err)).substring(0, 300)}\\``,\n  parse_mode: 'Markdown'\n} }];"},"id":"3c22a914-82ed-47da-b243-0d5853fa7a39","name":"format-db-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,848]},{"parameters":{"jsCode":"const data = $('parse-command').item.json;\nconst rows = $input.all().map(i => i.json);\nconst fmt = data.format;\nlet lines = [];\n\nif (fmt === 'nicho_list') {\n  lines.push('📋 *Nichos cadastrados:*\\n');\n  if (!rows.length || !rows[0].slug) { lines.push('_Nenhum nicho cadastrado._'); }\n  else rows.forEach(r => {\n    const st = r.ativo ? '✅' : '❌';\n    lines.push(`${st} \\`${r.slug}\\` — ${r.nome} (${r.num_keywords || 0} kws)`);\n  });\n\n} else if (fmt === 'nicho_upsert') {\n  if (!rows.length || !rows[0].slug) lines.push('⚠️ Nenhum registro afetado. Verifique o slug informado.');\n  else {\n    const r = rows[0];\n    const st = r.ativo === false ? '❌ desativado' : r.ativo === true ? '✅ ativo' : '✅ atualizado';\n    lines.push(`${st}: \\`${r.slug || r.canal_id}\\` — ${r.nome || r.nome_canal || ''}`);\n  }\n\n} else if (fmt === 'canal_list') {\n  lines.push('📡 *Canais:*\\n');\n  if (!rows.length || !rows[0].canal_id) lines.push('_Nenhum canal encontrado._');\n  else rows.forEach(r => {\n    const st = r.ativo ? '✅' : '❌';\n    const subs = r.inscritos >= 1000000 ? `${(r.inscritos/1000000).toFixed(1)}M`\n               : r.inscritos >= 1000 ? `${Math.round(r.inscritos/1000)}k` : String(r.inscritos || '?');\n    lines.push(`${st} \\`${r.canal_id}\\` — ${r.nome_canal} | ${r.nicho_alvo} | ${subs} | Score: ${r.score}`);\n  });\n\n} else if (fmt === 'canal_upsert') {\n  if (!rows.length || !rows[0].canal_id) lines.push('⚠️ Nenhum canal afetado. Verifique o channel_id informado.');\n  else {\n    const r = rows[0];\n    const st = r.ativo === false ? '❌ desativado' : '✅ ativo';\n    lines.push(`${st}: \\`${r.canal_id}\\` — ${r.nome_canal}`);\n  }\n\n} else if (fmt === 'video_list') {\n  lines.push(`🎬 *Vídeos* (${rows.filter(r=>r.video_id).length}):\\n`);\n  if (!rows.length || !rows[0].video_id) lines.push('_Nenhum vídeo encontrado._');\n  else rows.forEach(r => {\n    const dur = r.duracao_segundos ? `${Math.floor(r.duracao_segundos/60)}m${r.duracao_segundos%60}s` : '?';\n    const views = (r.views||0) >= 1000 ? `${Math.round((r.views||0)/1000)}k` : String(r.views||0);\n    lines.push(`• \\`${r.video_id}\\` ${r.titulo || '?'} | ${dur} | ${views} views | ${r.nicho}`);\n  });\n\n} else if (fmt === 'video_reprocess') {\n  if (!rows.length || !rows[0].video_id) lines.push('⚠️ Vídeo não encontrado.');\n  else {\n    const r = rows[0];\n    lines.push(`♻️ Reprocessando: \\`${r.video_id}\\`\\n${r.titulo_original?.substring(0,50) || ''}\\nStatus → \\`${r.status}\\``);\n  }\n\n} else if (fmt === 'status_overview') {\n  const r = rows[0] || {};\n  lines.push('📊 *Status da Pipeline*\\n');\n  lines.push(`🏷️ Nichos ativos:      *${r.nichos_ativos || 0}*`);\n  lines.push(`📡 Canais ativos:      *${r.canais_ativos || 0}*`);\n  lines.push(`⏳ Vídeos pendentes:   *${r.videos_pendentes || 0}*`);\n  lines.push(`⚙️ Em processamento:  *${r.videos_processando || 0}*`);\n  lines.push(`❌ Com erro:           *${r.videos_erro || 0}*`);\n  lines.push(`✂️ Clips prontos:      *${r.clips_prontos || 0}*`);\n  lines.push(`📤 Publicados hoje:    *${r.publicados_hoje || 0}*`);\n\n} else if (fmt === 'clips_list') {\n  lines.push(`✂️ *Clips prontos* (${rows.filter(r=>r.titulo_final).length}):\\n`);\n  if (!rows.length || !rows[0].titulo_final) lines.push('_Nenhum clip pronto._');\n  else rows.forEach(r => {\n    const dur = r.duracao_clip ? `${Math.floor(r.duracao_clip/60)}m${r.duracao_clip%60}s` : '?';\n    lines.push(`• ${r.titulo_final?.substring(0,45)} | ${r.nicho} | ${dur} | Score: ${r.score_clip||0}`);\n  });\n\n} else {\n  lines.push('✅ Ok!');\n}\n\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: lines.join('\\n'),\n  parse_mode: 'Markdown'\n} }];"},"id":"9bf54d42-ea7b-404e-a269-70796edb6533","name":"format-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,656]},{"parameters":{"jsCode":"// Resposta estática (ajuda, erros de uso, comandos desconhecidos)\nconst data = $('parse-command').item.json;\nreturn [{ json: {\n  chat_id: data.chat_id,\n  text: data.reply_text || '❓ Comando inválido. Use `/ajuda`.',\n  parse_mode: 'Markdown'\n} }];"},"id":"8476c3ee-5867-4f58-bee8-57cd9d71cef4","name":"format-static-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,1040]},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.text }}","additionalFields":{"parse_mode":"Markdown"}},"id":"328c3c47-08de-4023-9ee9-458ce2eb0e7f","name":"send-response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[704,752],"webhookId":"50bee27a-d970-4b95-a51b-1d4a2b0a118a","credentials":{"telegramApi":{"id":"GcrULz9Z98oqXiHD","name":"Telegram account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"Você é um assistente amigável da plataforma RACC (Replicação Algorítmica de Conteúdo de Clips).\n\nA plataforma funciona assim:\n1. Agente 2 descobre canais do YouTube por nicho via YouTube API\n2. Agente 1 coleta os top 10 vídeos de cada canal\n3. Agente 3 envia vídeos ao Vizard para gerar clips automaticamente\n4. Agente 4 processa os clips via webhook, gera títulos/hashtags com IA\n5. Agente 5 publica clips: 1 por nicho a cada 8h, máximo 3/dia, canais diferentes\n6. Agente 6 coleta métricas do YouTube e gera insights semanais\n\nVocê ajuda com:\n- Explicações sobre como a plataforma funciona\n- Dúvidas sobre nichos, canais, vídeos e clips\n- Orientação sobre criação de conteúdo e boas práticas\n- Sugestões de keywords para nichos\n- Análise de estratégias de publicação\n\nSempre mencione que comandos começam com / (ex: /ajuda, /status).\nSeja conciso e direto. Responda sempre em Português Brasileiro.","role":"system"},{"content":"={{ $json.user_message }}"}]},"options":{"temperature":0.7}},"id":"dfc83727-9c94-49b7-86ee-a218cb5ee26c","name":"ai-conversational-agent","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[128,464],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const aiResp = $input.first().json;\nconst chat_id = $('parse-command').item.json.chat_id;\n\nlet text = '';\nif (typeof aiResp.text === 'string')         text = aiResp.text;\nelse if (typeof aiResp.output === 'string')  text = aiResp.output;\nelse if (typeof aiResp.message === 'string') text = aiResp.message;\nelse if (typeof aiResp.content === 'string') text = aiResp.content;\nelse text = JSON.stringify(aiResp).substring(0, 500);\n\nreturn [{ json: {\n  chat_id,\n  text: text || '👋 Desculpe, tive dificuldade ao processar. Tente novamente ou use `/ajuda`.',\n  parse_mode: 'Markdown'\n} }];"},"id":"63c78485-8959-4390-bc49-9e6efc35f2f7","name":"format-ai-response","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,464]}],"connections":{"telegram-trigger":{"main":[[{"node":"parse-command","type":"main","index":0}]]},"parse-command":{"main":[[{"node":"if-is-conversation","type":"main","index":0}]]},"if-is-conversation":{"main":[[{"node":"ai-conversational-agent","type":"main","index":0}],[{"node":"if-needs-db","type":"main","index":0}]]},"if-needs-db":{"main":[[{"node":"execute-db-command","type":"main","index":0}],[{"node":"format-static-response","type":"main","index":0}]]},"execute-db-command":{"main":[[{"node":"format-response","type":"main","index":0}],[{"node":"format-db-error","type":"main","index":0}]]},"format-db-error":{"main":[[{"node":"send-response","type":"main","index":0}]]},"format-response":{"main":[[{"node":"send-response","type":"main","index":0}]]},"format-static-response":{"main":[[{"node":"send-response","type":"main","index":0}]]},"ai-conversational-agent":{"main":[[{"node":"format-ai-response","type":"main","index":0}]]},"format-ai-response":{"main":[[{"node":"send-response","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version ca9c3660","description":"","autosaved":true},"tags":[]}