[agent-6]-analytics-feedback-loop-6XjglPSp0uaGf7W_rZNrE.json
{"updatedAt":"2026-02-27T13:31:08.489Z","createdAt":"2026-02-07T00:20:32.827Z","id":"6XjglPSp0uaGf7W_rZNrE","name":"[AGENT-6]-Analytics-Feedback-Loop","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"f2e4c8d4-bda6-47de-8755-c10390b16b87","name":"schedule-trigger-daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2464,480]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  p.id AS publicacao_id,\n  p.clip_id,\n  p.plataforma,\n  p.id_publicacao_plataforma,\n  p.url_publicacao,\n  p.data_publicacao,\n  cg.titulo_final,\n  cg.engine_usada,\n  cg.video_origem_id,\n  cg.nicho,\n  cg.canal_id,\n  cg.duracao_clip AS duracao_segundos\nFROM publicacoes p\nJOIN clips_gerados cg ON cg.id = p.clip_id\nWHERE p.status = 'publicado'\n  AND p.data_publicacao >= NOW() - INTERVAL '7 days'\n  AND p.plataforma = 'youtube'\n  AND p.id_publicacao_plataforma IS NOT NULL\n  AND p.id_publicacao_plataforma NOT LIKE 'vizard-%'\n  AND p.id_publicacao_plataforma != 'pending'\nORDER BY p.data_publicacao DESC\nLIMIT 50;","options":{}},"id":"906ad92f-c0c4-44f5-80f1-a9804dc44218","name":"fetch-recent-publications","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2240,480],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-publications","leftValue":"={{ $json.publicacao_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0778650a-c9ce-49b0-aae1-553ff359319a","name":"if-has-publications","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2016,480]},{"parameters":{},"id":"1261a184-ff01-4075-ae6d-4e64ecef962c","name":"no-publications-found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1792,576]},{"parameters":{"options":{}},"id":"019e2aea-ac20-4f71-9fd6-1f2c133e8267","name":"loop-by-publication","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1792,384]},{"parameters":{"jsCode":"const pub = $json;\nreturn [{ json: { ...pub, youtube_video_id: pub.id_publicacao_plataforma } }];"},"id":"b276a74d-ce37-410b-8b95-ff1c805061a3","name":"prepare-analytics-request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,96]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"statistics"},{"name":"id","value":"={{ $json.youtube_video_id }}"}]},"options":{"timeout":30000}},"id":"a57f11d8-7423-4b91-a522-cf48de3a0ff0","name":"call-youtube-statistics","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,96],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// HTTP error: salva zeros para não perder o registro\nconst pubData = $('loop-by-publication').item.json;\nreturn [{ json: {\n  publicacao_id:    pubData.publicacao_id,\n  plataforma:       pubData.plataforma,\n  views:            0,\n  likes:            0,\n  comentarios:      0,\n  compartilhamentos: 0,\n  titulo_final:     pubData.titulo_final,\n  engine_usada:     pubData.engine_usada,\n  nicho:            pubData.nicho,\n  duracao_segundos: pubData.duracao_segundos,\n  canal_id:         pubData.canal_id,\n  engagement_rate:  '0.00',\n  has_stats:        false,\n  api_error:        true\n} }];"},"id":"5aca32f0-079c-4d46-af80-01b245f56f32","name":"handle-yt-api-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,192]},{"parameters":{"jsCode":"const pubData = $('loop-by-publication').item.json;\nconst stats = $json.items?.[0]?.statistics || {};\nconst views    = parseInt(stats.viewCount    || '0', 10);\nconst likes    = parseInt(stats.likeCount    || '0', 10);\nconst comments = parseInt(stats.commentCount || '0', 10);\nreturn [{ json: {\n  publicacao_id:    pubData.publicacao_id,\n  plataforma:       pubData.plataforma,\n  views,\n  likes,\n  comentarios:      comments,\n  compartilhamentos: 0,\n  titulo_final:     pubData.titulo_final,\n  engine_usada:     pubData.engine_usada,\n  nicho:            pubData.nicho,\n  duracao_segundos: pubData.duracao_segundos,\n  canal_id:         pubData.canal_id,\n  engagement_rate:  views > 0 ? (((likes + comments) / views) * 100).toFixed(2) : '0.00',\n  has_stats:        views > 0 || likes > 0,\n  api_error:        false\n} }];"},"id":"c1a0af24-19bc-402b-b0ec-5f722f008604","name":"parse-youtube-metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO metricas_publicacao (\n  publicacao_id, plataforma, views, likes,\n  comentarios, compartilhamentos, data_coleta\n) VALUES (\n  '{{ $json.publicacao_id }}',\n  '{{ $json.plataforma }}',\n  {{ $json.views }},\n  {{ $json.likes }},\n  {{ $json.comentarios }},\n  {{ $json.compartilhamentos }},\n  NOW()\n)\nON CONFLICT (publicacao_id, data_coleta::date)\nDO UPDATE SET\n  views             = GREATEST(metricas_publicacao.views, EXCLUDED.views),\n  likes             = GREATEST(metricas_publicacao.likes, EXCLUDED.likes),\n  comentarios       = GREATEST(metricas_publicacao.comentarios, EXCLUDED.comentarios),\n  compartilhamentos = GREATEST(metricas_publicacao.compartilhamentos, EXCLUDED.compartilhamentos);","options":{}},"id":"6cbb4bf3-09bc-41ee-b95a-699832d363bd","name":"save-metrics-to-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-896,216],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(DISTINCT mp.publicacao_id) AS total_tracked,\n  COALESCE(SUM(mp.views), 0)       AS total_views,\n  COALESCE(SUM(mp.likes), 0)       AS total_likes,\n  COALESCE(SUM(mp.comentarios), 0) AS total_comments,\n  ROUND(AVG(CASE WHEN mp.views > 0 THEN ((mp.likes + mp.comentarios)::numeric / mp.views) * 100 ELSE 0 END), 2) AS avg_engagement\nFROM metricas_publicacao mp\nWHERE mp.data_coleta >= NOW() - INTERVAL '1 day';","options":{}},"id":"1cd8bf3b-8dc2-4719-b701-670f3da86516","name":"fetch-daily-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1568,480],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const today = new Date();\nreturn [{ json: { ...$json, is_weekly: today.getDay() === 1, current_day: today.getDay() } }];"},"id":"c04e3eaf-191b-44d8-880b-c1e39faea0a7","name":"check-if-weekly-day","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-monday","leftValue":"={{ $json.is_weekly }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"de95056d-2815-45ba-a564-bb58a463d6d8","name":"if-weekly-insights-day","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,480]},{"parameters":{},"id":"15420c22-2e74-4a34-8631-a83bf35ec374","name":"skip-weekly-insights","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,696]},{"parameters":{"operation":"executeQuery","query":"WITH latest_metrics AS (\n  SELECT DISTINCT ON (mp.publicacao_id)\n    mp.publicacao_id,\n    mp.views, mp.likes, mp.comentarios, mp.compartilhamentos,\n    p.plataforma, p.data_publicacao,\n    cg.titulo_final, cg.engine_usada, cg.hashtags,\n    cg.nicho, cg.duracao_clip AS duracao_segundos,\n    CASE WHEN mp.views > 0\n      THEN ROUND(((mp.likes + mp.comentarios)::numeric / mp.views) * 100, 2)\n      ELSE 0\n    END AS engagement_rate\n  FROM metricas_publicacao mp\n  JOIN publicacoes p ON p.id = mp.publicacao_id\n  JOIN clips_gerados cg ON cg.id = p.clip_id\n  WHERE mp.data_coleta >= NOW() - INTERVAL '7 days'\n  ORDER BY mp.publicacao_id, mp.data_coleta DESC\n)\nSELECT * FROM (\n  (SELECT 'top'  AS categoria, * FROM latest_metrics ORDER BY views DESC LIMIT 10)\n  UNION ALL\n  (SELECT 'flop' AS categoria, * FROM latest_metrics ORDER BY views ASC  LIMIT 10)\n) combined\nORDER BY categoria, views DESC;","options":{}},"id":"0ecb6b29-5294-4e39-b032-bf4220b644df","name":"fetch-top-and-flop","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-896,504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Substitui ai-generate-weekly-insights + build-weekly-report\n// Gera insights determinísticos a partir dos dados reais\nconst rows = $input.all().map(i => i.json);\nconst tops  = rows.filter(r => r.categoria === 'top');\nconst flops = rows.filter(r => r.categoria === 'flop');\n\nif (!tops.length && !flops.length) {\n  return [{ json: {\n    insights_json:        JSON.stringify({}),\n    resumo_geral:         'Nenhum dado disponível para análise esta semana.',\n    nichos_promissores:   JSON.stringify([]),\n    recomendacoes:        JSON.stringify([]),\n    score_semana:         0,\n    report_raw:           'Sem dados'\n  } }];\n}\n\n// --- Nicho com mais views no top ---\nconst nichoViews = {};\nfor (const r of tops) {\n  nichoViews[r.nicho] = (nichoViews[r.nicho] || 0) + Number(r.views || 0);\n}\nconst nichosSorted = Object.entries(nichoViews)\n  .sort((a, b) => b[1] - a[1])\n  .map(e => e[0]);\n\n// --- Engine com melhor engagement médio ---\nconst engineEng = {};\nconst engineCount = {};\nfor (const r of tops) {\n  const eng = Number(r.engagement_rate || 0);\n  engineEng[r.engine_usada]   = (engineEng[r.engine_usada]   || 0) + eng;\n  engineCount[r.engine_usada] = (engineCount[r.engine_usada] || 0) + 1;\n}\nconst engineAvg = Object.entries(engineEng).map(([e, total]) => ({\n  engine: e,\n  avg: engineCount[e] > 0 ? (total / engineCount[e]).toFixed(2) : '0'\n})).sort((a, b) => b.avg - a.avg);\nconst bestEngine = engineAvg[0]?.engine || 'n/a';\nconst bestEngineAvg = engineAvg[0]?.avg || '0';\n\n// --- Duração que performa melhor ---\nconst durBuckets = { 'curto (<30s)': [], 'medio (30-60s)': [], 'longo (>60s)': [] };\nfor (const r of tops) {\n  const dur = Number(r.duracao_segundos || 0);\n  const bucket = dur < 30 ? 'curto (<30s)' : dur <= 60 ? 'medio (30-60s)' : 'longo (>60s)';\n  durBuckets[bucket].push(Number(r.views || 0));\n}\nconst durAvgs = Object.entries(durBuckets).map(([b, vs]) => ({\n  bucket: b,\n  avg: vs.length > 0 ? vs.reduce((a, v) => a + v, 0) / vs.length : 0\n})).sort((a, b) => b.avg - a.avg);\nconst bestDur = durAvgs[0]?.bucket || 'n/a';\n\n// --- Score semana: média de engagement dos tops (0-1 escala) ---\nconst avgEng = tops.length > 0\n  ? tops.reduce((s, r) => s + Number(r.engagement_rate || 0), 0) / tops.length\n  : 0;\nconst score_semana = Math.min(parseFloat((avgEng / 10).toFixed(2)), 1.0);\n\n// --- Padrões de título ---\nconst titlePatterns = [];\nconst hasNumbers  = tops.filter(r => /\\d/.test(r.titulo_final || '')).length;\nconst hasCaps     = tops.filter(r => /[A-ZÁÀÃÂÉÊÍÓÔÕÚÇ]{3,}/.test(r.titulo_final || '')).length;\nconst hasQuestion = tops.filter(r => /\\?/.test(r.titulo_final || '')).length;\nif (hasNumbers  > tops.length * 0.4) titlePatterns.push('uso de números');\nif (hasCaps     > tops.length * 0.4) titlePatterns.push('letras maiúsculas');\nif (hasQuestion > tops.length * 0.3) titlePatterns.push('perguntas diretas');\nconst tituloPattern = titlePatterns.length > 0 ? titlePatterns.join(', ') : 'variado';\n\n// --- Recomendações ---\nconst recomendacoes = [];\nif (nichosSorted[0]) recomendacoes.push(`Aumentar produção no nicho \"${nichosSorted[0]}\" (maior volume de views)`);\nif (bestEngine !== 'n/a') recomendacoes.push(`Priorizar engine \"${bestEngine}\" (engagement médio: ${bestEngineAvg}%)`);\nrecomendacoes.push(`Focar em vídeos de duração ${bestDur} (melhor performance)`);\nif (titlePatterns.length > 0) recomendacoes.push(`Manter padrão de títulos com: ${tituloPattern}`);\nif (flops.length > 0) recomendacoes.push(`Revisar canais dos flops — ${[...new Set(flops.map(r => r.nicho))].join(', ')}`);\n\n// --- Resumo ---\nconst totalViews = tops.reduce((s, r) => s + Number(r.views || 0), 0);\nconst resumo_geral = `Semana com ${rows.length} publicações analisadas, ${totalViews.toLocaleString('pt-BR')} views totais no top 10. Nicho destaque: ${nichosSorted[0] || 'n/a'}. Engagement médio: ${avgEng.toFixed(2)}%.`;\n\n// --- Report legível ---\nconst fmt = (r) => `- \"${r.titulo_final}\" | nicho: ${r.nicho} | engine: ${r.engine_usada} | views: ${r.views} | eng: ${r.engagement_rate}% | dur: ${Math.round((r.duracao_segundos||0)/60)}min`;\nconst report_raw = `## RELATÓRIO SEMANAL\\n\\n### TOP 10:\\n${tops.map(fmt).join('\\n')}\\n\\n### FLOP 10:\\n${flops.map(fmt).join('\\n')}`;\n\nconst insightsObj = {\n  resumo_geral,\n  nichos_promissores: nichosSorted.slice(0, 3),\n  padroes_titulo:     tituloPattern,\n  padroes_duracao:    bestDur,\n  engine_performance: `${bestEngine} (avg ${bestEngineAvg}%)`,\n  recomendacoes,\n  score_semana\n};\n\nconst s = (v) => String(v || '').replace(/'/g, \"''\");\n\nreturn [{ json: {\n  insights_json:      s(JSON.stringify(insightsObj)),\n  resumo_geral:       s(resumo_geral),\n  nichos_promissores: s(JSON.stringify(nichosSorted.slice(0, 3))),\n  recomendacoes:      s(JSON.stringify(recomendacoes)),\n  score_semana,\n  report_raw:         s(report_raw)\n} }];"},"id":"a601dfcc-34b2-404f-a086-062a333e24d0","name":"generate-insights-js","type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,504]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO insights_semanais (\n  semana_ref, resumo_geral, nichos_promissores,\n  recomendacoes, score_semana, insights_completo, report_raw, created_at\n) VALUES (\n  DATE_TRUNC('week', NOW()),\n  '{{ $json.resumo_geral }}',\n  '{{ $json.nichos_promissores }}'::jsonb,\n  '{{ $json.recomendacoes }}'::jsonb,\n  {{ $json.score_semana }},\n  '{{ $json.insights_json }}'::jsonb,\n  '{{ $json.report_raw }}',\n  NOW()\n) ON CONFLICT (semana_ref) DO UPDATE SET\n  resumo_geral       = EXCLUDED.resumo_geral,\n  nichos_promissores = EXCLUDED.nichos_promissores,\n  recomendacoes      = EXCLUDED.recomendacoes,\n  score_semana       = EXCLUDED.score_semana,\n  insights_completo  = EXCLUDED.insights_completo,\n  report_raw         = EXCLUDED.report_raw;","options":{}},"id":"286df925-5a7e-48c8-a78d-c99c240c978a","name":"save-weekly-insights","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}}],"connections":{"schedule-trigger-daily":{"main":[[{"node":"fetch-recent-publications","type":"main","index":0}]]},"fetch-recent-publications":{"main":[[{"node":"if-has-publications","type":"main","index":0}]]},"if-has-publications":{"main":[[{"node":"loop-by-publication","type":"main","index":0}],[{"node":"no-publications-found","type":"main","index":0}]]},"loop-by-publication":{"main":[[{"node":"fetch-daily-summary","type":"main","index":0}],[{"node":"prepare-analytics-request","type":"main","index":0}]]},"prepare-analytics-request":{"main":[[{"node":"call-youtube-statistics","type":"main","index":0}]]},"call-youtube-statistics":{"main":[[{"node":"parse-youtube-metrics","type":"main","index":0}],[{"node":"handle-yt-api-error","type":"main","index":0}]]},"handle-yt-api-error":{"main":[[{"node":"save-metrics-to-db","type":"main","index":0}]]},"parse-youtube-metrics":{"main":[[{"node":"save-metrics-to-db","type":"main","index":0}]]},"save-metrics-to-db":{"main":[[{"node":"loop-by-publication","type":"main","index":0}]]},"fetch-daily-summary":{"main":[[{"node":"check-if-weekly-day","type":"main","index":0}]]},"check-if-weekly-day":{"main":[[{"node":"if-weekly-insights-day","type":"main","index":0}]]},"if-weekly-insights-day":{"main":[[{"node":"fetch-top-and-flop","type":"main","index":0}],[{"node":"skip-weekly-insights","type":"main","index":0}]]},"fetch-top-and-flop":{"main":[[{"node":"generate-insights-js","type":"main","index":0}]]},"generate-insights-js":{"main":[[{"node":"save-weekly-insights","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:schedule-trigger-daily":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b108694-bd6b-4a8f-ab29-9bf05c431813","activeVersionId":"7b108694-bd6b-4a8f-ab29-9bf05c431813","triggerCount":1,"shared":[{"updatedAt":"2026-02-07T00:20:32.827Z","createdAt":"2026-02-07T00:20:32.827Z","role":"workflow:owner","workflowId":"6XjglPSp0uaGf7W_rZNrE","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-02-24T17:55:21.471Z","createdAt":"2026-02-24T17:55:19.119Z","versionId":"7b108694-bd6b-4a8f-ab29-9bf05c431813","workflowId":"6XjglPSp0uaGf7W_rZNrE","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"id":"f2e4c8d4-bda6-47de-8755-c10390b16b87","name":"schedule-trigger-daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2464,480]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  p.id AS publicacao_id,\n  p.clip_id,\n  p.plataforma,\n  p.id_publicacao_plataforma,\n  p.url_publicacao,\n  p.data_publicacao,\n  cg.titulo_final,\n  cg.engine_usada,\n  cg.video_origem_id,\n  cg.nicho,\n  cg.canal_id,\n  cg.duracao_clip AS duracao_segundos\nFROM publicacoes p\nJOIN clips_gerados cg ON cg.id = p.clip_id\nWHERE p.status = 'publicado'\n  AND p.data_publicacao >= NOW() - INTERVAL '7 days'\n  AND p.plataforma = 'youtube'\n  AND p.id_publicacao_plataforma IS NOT NULL\n  AND p.id_publicacao_plataforma NOT LIKE 'vizard-%'\n  AND p.id_publicacao_plataforma != 'pending'\nORDER BY p.data_publicacao DESC\nLIMIT 50;","options":{}},"id":"906ad92f-c0c4-44f5-80f1-a9804dc44218","name":"fetch-recent-publications","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2240,480],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-publications","leftValue":"={{ $json.publicacao_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0778650a-c9ce-49b0-aae1-553ff359319a","name":"if-has-publications","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2016,480]},{"parameters":{},"id":"1261a184-ff01-4075-ae6d-4e64ecef962c","name":"no-publications-found","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1792,576]},{"parameters":{"options":{}},"id":"019e2aea-ac20-4f71-9fd6-1f2c133e8267","name":"loop-by-publication","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1792,384]},{"parameters":{"jsCode":"const pub = $json;\nreturn [{ json: { ...pub, youtube_video_id: pub.id_publicacao_plataforma } }];"},"id":"b276a74d-ce37-410b-8b95-ff1c805061a3","name":"prepare-analytics-request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1568,96]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"statistics"},{"name":"id","value":"={{ $json.youtube_video_id }}"}]},"options":{"timeout":30000}},"id":"a57f11d8-7423-4b91-a522-cf48de3a0ff0","name":"call-youtube-statistics","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,96],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// HTTP error: salva zeros para não perder o registro\nconst pubData = $('loop-by-publication').item.json;\nreturn [{ json: {\n  publicacao_id:    pubData.publicacao_id,\n  plataforma:       pubData.plataforma,\n  views:            0,\n  likes:            0,\n  comentarios:      0,\n  compartilhamentos: 0,\n  titulo_final:     pubData.titulo_final,\n  engine_usada:     pubData.engine_usada,\n  nicho:            pubData.nicho,\n  duracao_segundos: pubData.duracao_segundos,\n  canal_id:         pubData.canal_id,\n  engagement_rate:  '0.00',\n  has_stats:        false,\n  api_error:        true\n} }];"},"id":"5aca32f0-079c-4d46-af80-01b245f56f32","name":"handle-yt-api-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,192]},{"parameters":{"jsCode":"const pubData = $('loop-by-publication').item.json;\nconst stats = $json.items?.[0]?.statistics || {};\nconst views    = parseInt(stats.viewCount    || '0', 10);\nconst likes    = parseInt(stats.likeCount    || '0', 10);\nconst comments = parseInt(stats.commentCount || '0', 10);\nreturn [{ json: {\n  publicacao_id:    pubData.publicacao_id,\n  plataforma:       pubData.plataforma,\n  views,\n  likes,\n  comentarios:      comments,\n  compartilhamentos: 0,\n  titulo_final:     pubData.titulo_final,\n  engine_usada:     pubData.engine_usada,\n  nicho:            pubData.nicho,\n  duracao_segundos: pubData.duracao_segundos,\n  canal_id:         pubData.canal_id,\n  engagement_rate:  views > 0 ? (((likes + comments) / views) * 100).toFixed(2) : '0.00',\n  has_stats:        views > 0 || likes > 0,\n  api_error:        false\n} }];"},"id":"c1a0af24-19bc-402b-b0ec-5f722f008604","name":"parse-youtube-metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1120,0]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO metricas_publicacao (\n  publicacao_id, plataforma, views, likes,\n  comentarios, compartilhamentos, data_coleta\n) VALUES (\n  '{{ $json.publicacao_id }}',\n  '{{ $json.plataforma }}',\n  {{ $json.views }},\n  {{ $json.likes }},\n  {{ $json.comentarios }},\n  {{ $json.compartilhamentos }},\n  NOW()\n)\nON CONFLICT (publicacao_id, data_coleta::date)\nDO UPDATE SET\n  views             = GREATEST(metricas_publicacao.views, EXCLUDED.views),\n  likes             = GREATEST(metricas_publicacao.likes, EXCLUDED.likes),\n  comentarios       = GREATEST(metricas_publicacao.comentarios, EXCLUDED.comentarios),\n  compartilhamentos = GREATEST(metricas_publicacao.compartilhamentos, EXCLUDED.compartilhamentos);","options":{}},"id":"6cbb4bf3-09bc-41ee-b95a-699832d363bd","name":"save-metrics-to-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-896,216],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(DISTINCT mp.publicacao_id) AS total_tracked,\n  COALESCE(SUM(mp.views), 0)       AS total_views,\n  COALESCE(SUM(mp.likes), 0)       AS total_likes,\n  COALESCE(SUM(mp.comentarios), 0) AS total_comments,\n  ROUND(AVG(CASE WHEN mp.views > 0 THEN ((mp.likes + mp.comentarios)::numeric / mp.views) * 100 ELSE 0 END), 2) AS avg_engagement\nFROM metricas_publicacao mp\nWHERE mp.data_coleta >= NOW() - INTERVAL '1 day';","options":{}},"id":"1cd8bf3b-8dc2-4719-b701-670f3da86516","name":"fetch-daily-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1568,480],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const today = new Date();\nreturn [{ json: { ...$json, is_weekly: today.getDay() === 1, current_day: today.getDay() } }];"},"id":"c04e3eaf-191b-44d8-880b-c1e39faea0a7","name":"check-if-weekly-day","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is-monday","leftValue":"={{ $json.is_weekly }}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"de95056d-2815-45ba-a564-bb58a463d6d8","name":"if-weekly-insights-day","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1120,480]},{"parameters":{},"id":"15420c22-2e74-4a34-8631-a83bf35ec374","name":"skip-weekly-insights","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,696]},{"parameters":{"operation":"executeQuery","query":"WITH latest_metrics AS (\n  SELECT DISTINCT ON (mp.publicacao_id)\n    mp.publicacao_id,\n    mp.views, mp.likes, mp.comentarios, mp.compartilhamentos,\n    p.plataforma, p.data_publicacao,\n    cg.titulo_final, cg.engine_usada, cg.hashtags,\n    cg.nicho, cg.duracao_clip AS duracao_segundos,\n    CASE WHEN mp.views > 0\n      THEN ROUND(((mp.likes + mp.comentarios)::numeric / mp.views) * 100, 2)\n      ELSE 0\n    END AS engagement_rate\n  FROM metricas_publicacao mp\n  JOIN publicacoes p ON p.id = mp.publicacao_id\n  JOIN clips_gerados cg ON cg.id = p.clip_id\n  WHERE mp.data_coleta >= NOW() - INTERVAL '7 days'\n  ORDER BY mp.publicacao_id, mp.data_coleta DESC\n)\nSELECT * FROM (\n  (SELECT 'top'  AS categoria, * FROM latest_metrics ORDER BY views DESC LIMIT 10)\n  UNION ALL\n  (SELECT 'flop' AS categoria, * FROM latest_metrics ORDER BY views ASC  LIMIT 10)\n) combined\nORDER BY categoria, views DESC;","options":{}},"id":"0ecb6b29-5294-4e39-b032-bf4220b644df","name":"fetch-top-and-flop","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-896,504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Substitui ai-generate-weekly-insights + build-weekly-report\n// Gera insights determinísticos a partir dos dados reais\nconst rows = $input.all().map(i => i.json);\nconst tops  = rows.filter(r => r.categoria === 'top');\nconst flops = rows.filter(r => r.categoria === 'flop');\n\nif (!tops.length && !flops.length) {\n  return [{ json: {\n    insights_json:        JSON.stringify({}),\n    resumo_geral:         'Nenhum dado disponível para análise esta semana.',\n    nichos_promissores:   JSON.stringify([]),\n    recomendacoes:        JSON.stringify([]),\n    score_semana:         0,\n    report_raw:           'Sem dados'\n  } }];\n}\n\n// --- Nicho com mais views no top ---\nconst nichoViews = {};\nfor (const r of tops) {\n  nichoViews[r.nicho] = (nichoViews[r.nicho] || 0) + Number(r.views || 0);\n}\nconst nichosSorted = Object.entries(nichoViews)\n  .sort((a, b) => b[1] - a[1])\n  .map(e => e[0]);\n\n// --- Engine com melhor engagement médio ---\nconst engineEng = {};\nconst engineCount = {};\nfor (const r of tops) {\n  const eng = Number(r.engagement_rate || 0);\n  engineEng[r.engine_usada]   = (engineEng[r.engine_usada]   || 0) + eng;\n  engineCount[r.engine_usada] = (engineCount[r.engine_usada] || 0) + 1;\n}\nconst engineAvg = Object.entries(engineEng).map(([e, total]) => ({\n  engine: e,\n  avg: engineCount[e] > 0 ? (total / engineCount[e]).toFixed(2) : '0'\n})).sort((a, b) => b.avg - a.avg);\nconst bestEngine = engineAvg[0]?.engine || 'n/a';\nconst bestEngineAvg = engineAvg[0]?.avg || '0';\n\n// --- Duração que performa melhor ---\nconst durBuckets = { 'curto (<30s)': [], 'medio (30-60s)': [], 'longo (>60s)': [] };\nfor (const r of tops) {\n  const dur = Number(r.duracao_segundos || 0);\n  const bucket = dur < 30 ? 'curto (<30s)' : dur <= 60 ? 'medio (30-60s)' : 'longo (>60s)';\n  durBuckets[bucket].push(Number(r.views || 0));\n}\nconst durAvgs = Object.entries(durBuckets).map(([b, vs]) => ({\n  bucket: b,\n  avg: vs.length > 0 ? vs.reduce((a, v) => a + v, 0) / vs.length : 0\n})).sort((a, b) => b.avg - a.avg);\nconst bestDur = durAvgs[0]?.bucket || 'n/a';\n\n// --- Score semana: média de engagement dos tops (0-1 escala) ---\nconst avgEng = tops.length > 0\n  ? tops.reduce((s, r) => s + Number(r.engagement_rate || 0), 0) / tops.length\n  : 0;\nconst score_semana = Math.min(parseFloat((avgEng / 10).toFixed(2)), 1.0);\n\n// --- Padrões de título ---\nconst titlePatterns = [];\nconst hasNumbers  = tops.filter(r => /\\d/.test(r.titulo_final || '')).length;\nconst hasCaps     = tops.filter(r => /[A-ZÁÀÃÂÉÊÍÓÔÕÚÇ]{3,}/.test(r.titulo_final || '')).length;\nconst hasQuestion = tops.filter(r => /\\?/.test(r.titulo_final || '')).length;\nif (hasNumbers  > tops.length * 0.4) titlePatterns.push('uso de números');\nif (hasCaps     > tops.length * 0.4) titlePatterns.push('letras maiúsculas');\nif (hasQuestion > tops.length * 0.3) titlePatterns.push('perguntas diretas');\nconst tituloPattern = titlePatterns.length > 0 ? titlePatterns.join(', ') : 'variado';\n\n// --- Recomendações ---\nconst recomendacoes = [];\nif (nichosSorted[0]) recomendacoes.push(`Aumentar produção no nicho \"${nichosSorted[0]}\" (maior volume de views)`);\nif (bestEngine !== 'n/a') recomendacoes.push(`Priorizar engine \"${bestEngine}\" (engagement médio: ${bestEngineAvg}%)`);\nrecomendacoes.push(`Focar em vídeos de duração ${bestDur} (melhor performance)`);\nif (titlePatterns.length > 0) recomendacoes.push(`Manter padrão de títulos com: ${tituloPattern}`);\nif (flops.length > 0) recomendacoes.push(`Revisar canais dos flops — ${[...new Set(flops.map(r => r.nicho))].join(', ')}`);\n\n// --- Resumo ---\nconst totalViews = tops.reduce((s, r) => s + Number(r.views || 0), 0);\nconst resumo_geral = `Semana com ${rows.length} publicações analisadas, ${totalViews.toLocaleString('pt-BR')} views totais no top 10. Nicho destaque: ${nichosSorted[0] || 'n/a'}. Engagement médio: ${avgEng.toFixed(2)}%.`;\n\n// --- Report legível ---\nconst fmt = (r) => `- \"${r.titulo_final}\" | nicho: ${r.nicho} | engine: ${r.engine_usada} | views: ${r.views} | eng: ${r.engagement_rate}% | dur: ${Math.round((r.duracao_segundos||0)/60)}min`;\nconst report_raw = `## RELATÓRIO SEMANAL\\n\\n### TOP 10:\\n${tops.map(fmt).join('\\n')}\\n\\n### FLOP 10:\\n${flops.map(fmt).join('\\n')}`;\n\nconst insightsObj = {\n  resumo_geral,\n  nichos_promissores: nichosSorted.slice(0, 3),\n  padroes_titulo:     tituloPattern,\n  padroes_duracao:    bestDur,\n  engine_performance: `${bestEngine} (avg ${bestEngineAvg}%)`,\n  recomendacoes,\n  score_semana\n};\n\nconst s = (v) => String(v || '').replace(/'/g, \"''\");\n\nreturn [{ json: {\n  insights_json:      s(JSON.stringify(insightsObj)),\n  resumo_geral:       s(resumo_geral),\n  nichos_promissores: s(JSON.stringify(nichosSorted.slice(0, 3))),\n  recomendacoes:      s(JSON.stringify(recomendacoes)),\n  score_semana,\n  report_raw:         s(report_raw)\n} }];"},"id":"a601dfcc-34b2-404f-a086-062a333e24d0","name":"generate-insights-js","type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,504]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO insights_semanais (\n  semana_ref, resumo_geral, nichos_promissores,\n  recomendacoes, score_semana, insights_completo, report_raw, created_at\n) VALUES (\n  DATE_TRUNC('week', NOW()),\n  '{{ $json.resumo_geral }}',\n  '{{ $json.nichos_promissores }}'::jsonb,\n  '{{ $json.recomendacoes }}'::jsonb,\n  {{ $json.score_semana }},\n  '{{ $json.insights_json }}'::jsonb,\n  '{{ $json.report_raw }}',\n  NOW()\n) ON CONFLICT (semana_ref) DO UPDATE SET\n  resumo_geral       = EXCLUDED.resumo_geral,\n  nichos_promissores = EXCLUDED.nichos_promissores,\n  recomendacoes      = EXCLUDED.recomendacoes,\n  score_semana       = EXCLUDED.score_semana,\n  insights_completo  = EXCLUDED.insights_completo,\n  report_raw         = EXCLUDED.report_raw;","options":{}},"id":"286df925-5a7e-48c8-a78d-c99c240c978a","name":"save-weekly-insights","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-448,504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}}],"connections":{"schedule-trigger-daily":{"main":[[{"node":"fetch-recent-publications","type":"main","index":0}]]},"fetch-recent-publications":{"main":[[{"node":"if-has-publications","type":"main","index":0}]]},"if-has-publications":{"main":[[{"node":"loop-by-publication","type":"main","index":0}],[{"node":"no-publications-found","type":"main","index":0}]]},"loop-by-publication":{"main":[[{"node":"fetch-daily-summary","type":"main","index":0}],[{"node":"prepare-analytics-request","type":"main","index":0}]]},"prepare-analytics-request":{"main":[[{"node":"call-youtube-statistics","type":"main","index":0}]]},"call-youtube-statistics":{"main":[[{"node":"parse-youtube-metrics","type":"main","index":0}],[{"node":"handle-yt-api-error","type":"main","index":0}]]},"handle-yt-api-error":{"main":[[{"node":"save-metrics-to-db","type":"main","index":0}]]},"parse-youtube-metrics":{"main":[[{"node":"save-metrics-to-db","type":"main","index":0}]]},"save-metrics-to-db":{"main":[[{"node":"loop-by-publication","type":"main","index":0}]]},"fetch-daily-summary":{"main":[[{"node":"check-if-weekly-day","type":"main","index":0}]]},"check-if-weekly-day":{"main":[[{"node":"if-weekly-insights-day","type":"main","index":0}]]},"if-weekly-insights-day":{"main":[[{"node":"fetch-top-and-flop","type":"main","index":0}],[{"node":"skip-weekly-insights","type":"main","index":0}]]},"fetch-top-and-flop":{"main":[[{"node":"generate-insights-js","type":"main","index":0}]]},"generate-insights-js":{"main":[[{"node":"save-weekly-insights","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version 7b108694","description":"","autosaved":true},"tags":[]}