[agent-1]-channel-scout-0-Fp0WiTiezhLfI56D.json
{"updatedAt":"2026-03-06T12:15:35.675Z","createdAt":"2026-02-09T15:44:14.554Z","id":"Fp0WiTiezhLfI56D","name":"[AGENT-1]-Channel-Scout-0","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"forHandle","value":"={{ $json.handle.replace('@', '') }}"}]},"options":{}},"id":"dec8d041-e49d-4baa-8b76-7178d8dd7814","name":"fetch-youtube-channel-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[26368,7264],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Dados do canal vindos do AI (item anterior no loop)\nconst chData = $('loop-by-channel-result').item.json;\n\n// Resposta da YouTube Data API\nconst apiResponse = $input.first().json;\nconst items = apiResponse.items || [];\nconst yt = items[0] || null;\n\n// Extrai métricas reais se o canal foi encontrado\nlet canal_id_real = chData.handle ? chData.handle.replace('@', '') : null;\nlet nome_canal_real = chData.channel_name;\nlet inscritos_real = 0;\nlet total_videos_real = 0;\nlet total_views_real = 0;\nlet canal_encontrado = false;\n\nif (yt) {\n  canal_encontrado = true;\n  canal_id_real = yt.id || canal_id_real;\n  nome_canal_real = yt.snippet?.title || nome_canal_real;\n  inscritos_real = parseInt(yt.statistics?.subscriberCount || '0');\n  total_videos_real = parseInt(yt.statistics?.videoCount || '0');\n  total_views_real = parseInt(yt.statistics?.viewCount || '0');\n}\n\n// Fallback: se não encontrou pelo handle, mantém dados do AI\nconst parseSubs = (s) => {\n  const str = String(s || '0').replace(/[,\\s]/g, '').toLowerCase();\n  if (str.includes('m')) return Math.round(parseFloat(str) * 1000000);\n  if (str.includes('k')) return Math.round(parseFloat(str) * 1000);\n  return parseInt(str) || 0;\n};\n\nconst handle = chData.handle || '';\nconst canal_id = canal_id_real || (\n  handle.startsWith('@')\n    ? handle.slice(1)\n    : String(chData.channel_name || 'canal')\n        .replace(/[^a-zA-Z0-9_-]/g, '_')\n        .toLowerCase()\n);\n\nconst url_canal = handle.startsWith('@')\n  ? `https://www.youtube.com/${handle}`\n  : `https://www.youtube.com/@${canal_id}`;\n\nreturn [{\n  json: {\n    ...chData,\n    canal_id,\n    nome_canal: nome_canal_real,\n    url_canal,\n    inscritos: canal_encontrado ? inscritos_real : parseSubs(chData.estimated_subs),\n    total_videos: total_videos_real,\n    total_views: total_views_real,\n    views_medio_aproximado: total_videos_real > 0 ? Math.round(total_views_real / total_videos_real) : 0,\n    canal_encontrado\n  }\n}];"},"id":"624eb74c-b0a3-4745-a3d4-c94df1864dff","name":"extract-youtube-metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[26592,7264]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"id":"c6fbffc2-7c5f-4f7a-8f49-98b4ae4951b0","name":"schedule-trigger-daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[24224,7360]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nichos","mode":"list","cachedResultName":"nichos"},"returnAll":true,"options":{}},"id":"d005bae5-bb8a-4c5e-ba13-795473e30332","name":"fetch-active-niches","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[24448,7360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"d09bb686-a89a-49b1-91d0-2866a5b5fa88","name":"loop-by-niche","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[24896,7360]},{"parameters":{"operation":"executeQuery","query":"WITH known_db AS (\n  SELECT cd.canal_id, cd.nome_canal\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n), known_recent_scan AS (\n  SELECT d.canal_id,\n         COALESCE(cd.nome_canal, d.canal_id) AS nome_canal\n  FROM controle_varredura_canais_detalhe d\n  LEFT JOIN canais_descobertos cd\n    ON cd.canal_id = d.canal_id\n   AND cd.nicho_alvo = d.nicho_slug\n   AND cd.plataforma = 'youtube'\n  WHERE d.nicho_slug = '{{ $json.slug }}'\n    AND d.data_ref >= CURRENT_DATE - INTERVAL '14 days'\n), known_union AS (\n  SELECT canal_id, nome_canal FROM known_db\n  UNION\n  SELECT canal_id, nome_canal FROM known_recent_scan\n), seeds AS (\n  SELECT cd.nome_canal\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n    AND cd.ativo = true\n  ORDER BY cd.score DESC, cd.inscritos DESC\n  LIMIT 15\n), daily_stats AS (\n  SELECT COUNT(*) AS novos_24h\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n    AND cd.data_ultima_analise >= NOW() - INTERVAL '24 hours'\n)\nSELECT\n  n.id AS nicho_id,\n  n.nome,\n  n.slug,\n  n.keywords::text AS keywords,\n  n.search_hints::text AS search_hints,\n  n.idioma,\n  COALESCE((\n    SELECT string_agg(distinct ku.nome_canal, ', ')\n    FROM known_union ku\n  ), 'nenhum canal') AS known_channels,\n  COALESCE((SELECT string_agg(s.nome_canal, ', ') FROM seeds s), 'sem seed') AS seed_channels,\n  COALESCE((SELECT d.novos_24h FROM daily_stats d), 0) AS novos_24h\nFROM nichos n\nWHERE n.slug = '{{ $json.slug }}'\nLIMIT 1;","options":{}},"id":"5250bfd8-d887-4dcd-a46d-cb555c12340b","name":"fetch-known-channels","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[25120,7168],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst novos24h = Number($json.novos_24h || 0);\nconst discoveryBatchSize = novos24h < 20 ? 30 : 20;\n\nlet kws = [];\nlet hints = [];\ntry { kws = JSON.parse($json.keywords || '[]'); } catch (e) { kws = []; }\ntry { hints = JSON.parse($json.search_hints || '[]'); } catch (e) { hints = []; }\n\nconst allKeywords = Array.from(new Set([\n  ...(Array.isArray(kws) ? kws : []),\n  ...(Array.isArray(hints) ? hints : []),\n])).filter(Boolean);\n\nsd.currentNiche = {\n  nicho_id: $json.nicho_id,\n  nome: $json.nome,\n  slug: $json.slug,\n  keywords: allKeywords,\n  idioma: $json.idioma,\n  seed_channels: $json.seed_channels || 'sem seed',\n  novos_24h: novos24h,\n  discovery_batch_size: discoveryBatchSize,\n};\n\nreturn [{\n  json: {\n    ...sd.currentNiche,\n    lang: ($json.idioma || 'pt-BR').split('-')[0],\n    known_channels: $json.known_channels || 'nenhum canal',\n    keywords: allKeywords,\n  }\n}];\n"},"id":"d2c9407d-69d9-43cf-882d-08237b16ca4b","name":"store-niche-context","type":"n8n-nodes-base.code","typeVersion":2,"position":[25344,7168]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"You are a YouTube channel growth researcher for a self-feeding discovery system.\n\nGoal:\n- Discover real and active channels in the SAME niche.\n- Bring fresh channel options every run.\n\nCritical rules:\n- Only suggest channels you are confident exist and are active.\n- Prefer channels suitable for clip/short repurposing.\n- NEVER repeat channels listed in known channels.\n- Use seed channels only as inspiration for finding similar but DIFFERENT channels.\n- Mix sizes: large, medium, emerging.\n- Return ONLY valid JSON array (no markdown).\n\nOutput format:\n[\n  {\"channel_name\":\"Exact Channel Name\",\"handle\":\"@handle_or_empty\",\"estimated_subs\":\"100k\",\"content_style\":\"educational\",\"reason\":\"brief reason\"}\n]","role":"assistant"},{"content":"=Niche: \"{{ $json.nome }}\"\nKeywords: {{ JSON.stringify($json.keywords || []) }}\nLanguage/region: {{ $json.idioma || 'pt-BR' }}\n\nKnown channels (DO NOT repeat):\n{{ $json.known_channels }}\n\nSeed channels (inspiration only, suggest DIFFERENT channels):\n{{ $json.seed_channels }}\n\nDaily discovered in last 24h for this niche: {{ $json.novos_24h }}\nTarget channels this run: {{ $json.discovery_batch_size }}\n\nReturn {{ $json.discovery_batch_size }} real channels if possible, else return the maximum valid amount. Only JSON array."}]},"options":{"temperature":0.65}},"id":"980f8695-6957-4513-b5ae-266a04865f20","name":"ai-discover-channels","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[25552,7168],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const aiRaw = $input.first().json.content;\nconst sd = $getWorkflowStaticData('global');\nconst nichoData = sd.currentNiche || {};\nconst batchSize = Number(nichoData.discovery_batch_size || 20);\nlet channels = [];\n\ntry {\n  let text = '';\n  if (typeof aiRaw === 'string') text = aiRaw;\n  else if (typeof aiRaw.content === 'string') text = aiRaw.content;\n  else if (typeof aiRaw.text === 'string') text = aiRaw.text;\n  else if (typeof aiRaw.output === 'string') text = aiRaw.output;\n  else text = JSON.stringify(aiRaw);\n\n  text = text.replace(/```json\\n?|```\\n?/g, '').trim();\n  const match = text.match(/\\[[\\s\\S]*\\]/);\n  if (match) channels = JSON.parse(match[0]);\n} catch (e) {\n  channels = [];\n}\n\nif (!Array.isArray(channels) || channels.length === 0) return [];\n\nconst normalizeName = (s) => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]/g, '');\n\nconst normalizeHandle = (s) => String(s || '')\n  .toLowerCase()\n  .replace('@', '')\n  .replace(/[^a-z0-9_]/g, '');\n\nconst seen = new Set();\nconst normalized = [];\nfor (const ch of channels) {\n  const channel_name = String(ch.channel_name || '').trim();\n  const handle = String(ch.handle || '').trim();\n  if (!channel_name) continue;\n\n  const handleKey = normalizeHandle(handle);\n  const nameKey = normalizeName(channel_name);\n  const dedupKey = handleKey ? `h:${handleKey}` : `n:${nameKey}`;\n\n  if (seen.has(dedupKey)) continue;\n  seen.add(dedupKey);\n\n  normalized.push({\n    json: {\n      channel_name,\n      handle,\n      estimated_subs: String(ch.estimated_subs || '0'),\n      content_style: String(ch.content_style || ''),\n      reason: String(ch.reason || ''),\n      nicho_nome: nichoData.nome || '',\n      nicho_slug: nichoData.slug || ''\n    }\n  });\n}\n\nreturn normalized.slice(0, batchSize);\n"},"id":"050aca6d-f49d-41a6-956c-137b8995116c","name":"parse-ai-channels","type":"n8n-nodes-base.code","typeVersion":2,"position":[25920,7168]},{"parameters":{"options":{}},"id":"daae90bd-43f2-4f5d-a961-d6829483a4bc","name":"loop-by-channel-result","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[26144,7344]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"You are a YouTube channel evaluator for content repurposing. Be RIGOROUS and objective.\n\nReturn ONLY valid JSON (no markdown, no backticks, no extra text) with these fields:\n{\n  \"score\": 0.0-1.0,\n  \"relevancia\": \"alta|media|baixa\",\n  \"tom_de_voz\": \"informativo|educativo|entretenimento|motivacional|tecnico|humoristico\",\n  \"justificativa\": \"max 50 words\",\n  \"recomendacao\": \"monitorar|acompanhar|ignorar\"\n}\n\nScoring rules:\n- Channels with >500k subscribers in the right niche: score >= 0.85\n- Channels with >100k subscribers in the right niche: score >= 0.75\n- Channels with >10k subscribers in the right niche: score >= 0.65\n- If niche relevance is weak: score <= 0.55\n- score >= 0.70 means APPROVED for monitoring\n- If channel was NOT found on YouTube API (canal_encontrado = false): penalize score by 0.15","role":"assistant"},{"content":"=Evaluate this YouTube channel for the niche \"{{ $json.nicho_nome }}\":\n\n- Channel Name: {{ $json.nome_canal }}\n- Handle: {{ $json.handle }}\n- Channel ID (real): {{ $json.canal_id }}\n- Found on YouTube API: {{ $json.canal_encontrado }}\n- Real Subscribers: {{ $json.inscritos }}\n- Total Videos: {{ $json.total_videos }}\n- Total Views: {{ $json.total_views }}\n- Avg Views/Video: {{ $json.views_medio_aproximado }}\n- Content Style: {{ $json.content_style }}\n- Discovery Reason: {{ $json.reason }}\n\nRespond with ONLY the JSON object, nothing else."}]},"options":{"temperature":0.3}},"id":"3c0772d2-ebf9-47bf-b34b-89537bb18e1c","name":"ai-evaluate-channel","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[26816,7264],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const chData = $('extract-youtube-metrics').item.json;\nconst aiItem = $input.first().json;\nconst raw = aiItem.content ?? aiItem.text ?? aiItem.output ?? aiItem;\n\nlet evaluation = {};\ntry {\n  let text = '';\n  if (typeof raw === 'string') text = raw;\n  else if (typeof raw?.content === 'string') text = raw.content;\n  else if (typeof raw?.text === 'string') text = raw.text;\n  else if (typeof raw?.output === 'string') text = raw.output;\n  else text = JSON.stringify(raw);\n\n  text = text.replace(/```(?:json)?\\s*|```/g, '').trim();\n  const firstChar = text[0];\n  if (firstChar === '{' || firstChar === '[') {\n    evaluation = JSON.parse(text);\n  } else {\n    const i = text.indexOf('{');\n    const j = text.lastIndexOf('}');\n    if (i !== -1 && j !== -1 && j > i) {\n      evaluation = JSON.parse(text.slice(i, j + 1));\n    }\n  }\n} catch (e) {\n  evaluation = {};\n}\n\nif (!chData.canal_encontrado) return [];\n\nconst score = Number(evaluation.score ?? 0);\nif (score < 0.60 || evaluation.recomendacao === 'ignorar') return [];\n\nreturn [{\n  json: {\n    plataforma: 'youtube',\n    canal_id: chData.canal_id,\n    nome_canal: chData.nome_canal,\n    url_canal: chData.url_canal,\n    nicho_alvo: chData.nicho_slug,\n    inscritos: chData.inscritos || 0,\n    views_medio_aproximado: chData.views_medio_aproximado || 0,\n    total_videos: chData.total_videos || 0,\n    total_views: chData.total_views || 0,\n    tom_de_voz: evaluation.tom_de_voz || 'informativo e engajante',\n    score: Number(score.toFixed(2)),\n    ativo: score >= 0.70,\n    data_ultima_analise: new Date().toISOString()\n  }\n}];"},"id":"341ede31-450b-44ec-a180-809d12fcfe81","name":"parse-evaluation","type":"n8n-nodes-base.code","typeVersion":2,"position":[27168,7264]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(*) as total_analisados,\n  COUNT(*) FILTER (WHERE ativo = true) as ativos,\n  COUNT(*) FILTER (WHERE score >= 0.5) as top_canais,\n  ROUND(AVG(score)::numeric, 2) as score_medio\nFROM canais_descobertos\nWHERE data_ultima_analise >= NOW() - INTERVAL '25 hours';","options":{}},"id":"a6eee447-b197-4a2f-8358-502c57ad8460","name":"fetch-daily-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[25120,7360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO canais_descobertos (\n  plataforma, canal_id, nome_canal, url_canal, nicho_alvo,\n  inscritos, views_medio_aproximado, total_videos, total_views,\n  tom_de_voz, score, ativo, data_ultima_analise\n) VALUES (\n  'youtube',\n  '{{ $json.canal_id }}',\n  '{{ $json.nome_canal.replace(/'/g, \"''\") }}',\n  '{{ $json.url_canal }}',\n  '{{ $json.nicho_alvo }}',\n  {{ $json.inscritos || 0 }},\n  {{ $json.views_medio_aproximado || 0 }},\n  {{ $json.total_videos || 0 }},\n  {{ $json.total_views || 0 }},\n  '{{ $json.tom_de_voz }}',\n  {{ $json.score || 0 }},\n  {{ $json.ativo ? 'true' : 'false' }},\n  NOW()\n)\nON CONFLICT (canal_id) DO UPDATE SET\n  nome_canal = EXCLUDED.nome_canal,\n  score = GREATEST(canais_descobertos.score, EXCLUDED.score),\n  ativo = CASE WHEN canais_descobertos.ativo = true THEN true ELSE EXCLUDED.ativo END,\n  tom_de_voz = EXCLUDED.tom_de_voz,\n  data_ultima_analise = NOW(),\n  updated_at = NOW();","options":{}},"id":"0cfe94b0-4257-4983-b33e-81d35c705e0e","name":"upsert-channel-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[27392,7344],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items.length) {\n  return [{ json: {} }];\n}\n\n// Se quiser considerar todos:\nconst lista = items.map(i => i.json);\n\n// Se quiser apenas ativos:\n// const lista = items.map(i => i.json).filter(i => i.ativo === true);\n\nif (!lista.length) {\n  return [{ json: {} }];\n}\n\nconst randomIndex = Math.floor(Math.random() * lista.length);\nconst itemAleatorio = lista[randomIndex];\n\nreturn [\n  {\n    json: itemAleatorio\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[24672,7360],"id":"2c54250c-bc83-46ed-a923-357b6206d8ea","name":"Code in JavaScript"}],"connections":{"fetch-youtube-channel-api":{"main":[[{"node":"extract-youtube-metrics","type":"main","index":0}]]},"extract-youtube-metrics":{"main":[[{"node":"ai-evaluate-channel","type":"main","index":0}]]},"schedule-trigger-daily":{"main":[[{"node":"fetch-active-niches","type":"main","index":0}]]},"fetch-active-niches":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"loop-by-niche":{"main":[[{"node":"fetch-daily-summary","type":"main","index":0}],[{"node":"fetch-known-channels","type":"main","index":0}]]},"fetch-known-channels":{"main":[[{"node":"store-niche-context","type":"main","index":0}]]},"store-niche-context":{"main":[[{"node":"ai-discover-channels","type":"main","index":0}]]},"ai-discover-channels":{"main":[[{"node":"parse-ai-channels","type":"main","index":0}]]},"parse-ai-channels":{"main":[[{"node":"loop-by-channel-result","type":"main","index":0}]]},"loop-by-channel-result":{"main":[[{"node":"loop-by-niche","type":"main","index":0}],[{"node":"fetch-youtube-channel-api","type":"main","index":0}]]},"ai-evaluate-channel":{"main":[[{"node":"parse-evaluation","type":"main","index":0}]]},"parse-evaluation":{"main":[[{"node":"upsert-channel-db","type":"main","index":0}]]},"upsert-channel-db":{"main":[[{"node":"loop-by-channel-result","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"loop-by-niche","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:schedule-trigger-daily":{"recurrenceRules":[0]},"global":{"currentNiche":{"nicho_id":"8bce86b2-0420-4c9b-8735-ebc084349430","nome":"Marketing Digital","slug":"marketing_digital","keywords":["marketing digital","marketing","negocios","empreendedorismo"],"idioma":"pt-BR","seed_channels":"Marco Andrade | Marketing Digital Marco Andrade | Marketing Digital, Marketing Digital - Zero A 1 Milhão Marketing Digital - Zero A 1 Milhão, Academia de Marketing Digital Academia de Marketing Digital, CIRO DIGITAL MARKETING CIRO DIGITAL MARKETING, Cyberclick • Marketing Digital Cyberclick • Marketing Digital, Daily Marketing - Online Marketing Agentur Daily Marketing - Online Marketing Agentur, Mugu | Mentor en Marketing Digital Mugu | Mentor en Marketing Digital, Marco Linke | Digitales Marketing & Businesserfolg Marco Linke | Digitales Marketing & Businesserfolg, Marketing Digital Marketing Digital, Marketing Digital MtK Marketing Digital MtK, MKT Marketing Digital MKT Marketing Digital, Luana Carolina - Marketing Digital Luana Carolina - Marketing Digital, MOHAMED HAMMANI : MARKETING DIGITAL MOHAMED HAMMANI : MARKETING DIGITAL, Marketing Digital Marketing Digital, Tiago Tessmann","novos_24h":0,"discovery_batch_size":30},"currentChannelSuggestion":{"channel_name":"Wanderson Castilho","handle":"@WandersonCastilho","estimated_subs":"160k","content_style":"Cibersegurança e Crimes Digitais","reason":"Explains digital security and scams, very high engagement potential for viral safety tips.","nicho_id":"12f9757f-61fe-47ea-8f9e-7dbf54ecc646","nicho_slug":"tecnologia","nicho_nome":"Tecnologia","idioma":"pt-BR","lang":"pt","region":"BR","has_channels":true}},"node:schedule-trigger-daily1":{"recurrenceRules":[0]},"node:schedule-trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"38044e2a-38be-4278-9a81-066ac3f33a92","activeVersionId":"38044e2a-38be-4278-9a81-066ac3f33a92","triggerCount":1,"shared":[{"updatedAt":"2026-02-09T15:44:14.554Z","createdAt":"2026-02-09T15:44:14.554Z","role":"workflow:owner","workflowId":"Fp0WiTiezhLfI56D","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-06T12:15:37.525Z","createdAt":"2026-03-06T12:15:35.683Z","versionId":"38044e2a-38be-4278-9a81-066ac3f33a92","workflowId":"Fp0WiTiezhLfI56D","nodes":[{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet,statistics"},{"name":"forHandle","value":"={{ $json.handle.replace('@', '') }}"}]},"options":{}},"id":"dec8d041-e49d-4baa-8b76-7178d8dd7814","name":"fetch-youtube-channel-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[26368,7264],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Dados do canal vindos do AI (item anterior no loop)\nconst chData = $('loop-by-channel-result').item.json;\n\n// Resposta da YouTube Data API\nconst apiResponse = $input.first().json;\nconst items = apiResponse.items || [];\nconst yt = items[0] || null;\n\n// Extrai métricas reais se o canal foi encontrado\nlet canal_id_real = chData.handle ? chData.handle.replace('@', '') : null;\nlet nome_canal_real = chData.channel_name;\nlet inscritos_real = 0;\nlet total_videos_real = 0;\nlet total_views_real = 0;\nlet canal_encontrado = false;\n\nif (yt) {\n  canal_encontrado = true;\n  canal_id_real = yt.id || canal_id_real;\n  nome_canal_real = yt.snippet?.title || nome_canal_real;\n  inscritos_real = parseInt(yt.statistics?.subscriberCount || '0');\n  total_videos_real = parseInt(yt.statistics?.videoCount || '0');\n  total_views_real = parseInt(yt.statistics?.viewCount || '0');\n}\n\n// Fallback: se não encontrou pelo handle, mantém dados do AI\nconst parseSubs = (s) => {\n  const str = String(s || '0').replace(/[,\\s]/g, '').toLowerCase();\n  if (str.includes('m')) return Math.round(parseFloat(str) * 1000000);\n  if (str.includes('k')) return Math.round(parseFloat(str) * 1000);\n  return parseInt(str) || 0;\n};\n\nconst handle = chData.handle || '';\nconst canal_id = canal_id_real || (\n  handle.startsWith('@')\n    ? handle.slice(1)\n    : String(chData.channel_name || 'canal')\n        .replace(/[^a-zA-Z0-9_-]/g, '_')\n        .toLowerCase()\n);\n\nconst url_canal = handle.startsWith('@')\n  ? `https://www.youtube.com/${handle}`\n  : `https://www.youtube.com/@${canal_id}`;\n\nreturn [{\n  json: {\n    ...chData,\n    canal_id,\n    nome_canal: nome_canal_real,\n    url_canal,\n    inscritos: canal_encontrado ? inscritos_real : parseSubs(chData.estimated_subs),\n    total_videos: total_videos_real,\n    total_views: total_views_real,\n    views_medio_aproximado: total_videos_real > 0 ? Math.round(total_views_real / total_videos_real) : 0,\n    canal_encontrado\n  }\n}];"},"id":"624eb74c-b0a3-4745-a3d4-c94df1864dff","name":"extract-youtube-metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[26592,7264]},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":8}]}},"id":"c6fbffc2-7c5f-4f7a-8f49-98b4ae4951b0","name":"schedule-trigger-daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[24224,7360]},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nichos","mode":"list","cachedResultName":"nichos"},"returnAll":true,"options":{}},"id":"d005bae5-bb8a-4c5e-ba13-795473e30332","name":"fetch-active-niches","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[24448,7360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"d09bb686-a89a-49b1-91d0-2866a5b5fa88","name":"loop-by-niche","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[24896,7360]},{"parameters":{"operation":"executeQuery","query":"WITH known_db AS (\n  SELECT cd.canal_id, cd.nome_canal\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n), known_recent_scan AS (\n  SELECT d.canal_id,\n         COALESCE(cd.nome_canal, d.canal_id) AS nome_canal\n  FROM controle_varredura_canais_detalhe d\n  LEFT JOIN canais_descobertos cd\n    ON cd.canal_id = d.canal_id\n   AND cd.nicho_alvo = d.nicho_slug\n   AND cd.plataforma = 'youtube'\n  WHERE d.nicho_slug = '{{ $json.slug }}'\n    AND d.data_ref >= CURRENT_DATE - INTERVAL '14 days'\n), known_union AS (\n  SELECT canal_id, nome_canal FROM known_db\n  UNION\n  SELECT canal_id, nome_canal FROM known_recent_scan\n), seeds AS (\n  SELECT cd.nome_canal\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n    AND cd.ativo = true\n  ORDER BY cd.score DESC, cd.inscritos DESC\n  LIMIT 15\n), daily_stats AS (\n  SELECT COUNT(*) AS novos_24h\n  FROM canais_descobertos cd\n  WHERE cd.nicho_alvo = '{{ $json.slug }}'\n    AND cd.plataforma = 'youtube'\n    AND cd.data_ultima_analise >= NOW() - INTERVAL '24 hours'\n)\nSELECT\n  n.id AS nicho_id,\n  n.nome,\n  n.slug,\n  n.keywords::text AS keywords,\n  n.search_hints::text AS search_hints,\n  n.idioma,\n  COALESCE((\n    SELECT string_agg(distinct ku.nome_canal, ', ')\n    FROM known_union ku\n  ), 'nenhum canal') AS known_channels,\n  COALESCE((SELECT string_agg(s.nome_canal, ', ') FROM seeds s), 'sem seed') AS seed_channels,\n  COALESCE((SELECT d.novos_24h FROM daily_stats d), 0) AS novos_24h\nFROM nichos n\nWHERE n.slug = '{{ $json.slug }}'\nLIMIT 1;","options":{}},"id":"5250bfd8-d887-4dcd-a46d-cb555c12340b","name":"fetch-known-channels","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[25120,7168],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"\nconst sd = $getWorkflowStaticData('global');\nconst novos24h = Number($json.novos_24h || 0);\nconst discoveryBatchSize = novos24h < 20 ? 30 : 20;\n\nlet kws = [];\nlet hints = [];\ntry { kws = JSON.parse($json.keywords || '[]'); } catch (e) { kws = []; }\ntry { hints = JSON.parse($json.search_hints || '[]'); } catch (e) { hints = []; }\n\nconst allKeywords = Array.from(new Set([\n  ...(Array.isArray(kws) ? kws : []),\n  ...(Array.isArray(hints) ? hints : []),\n])).filter(Boolean);\n\nsd.currentNiche = {\n  nicho_id: $json.nicho_id,\n  nome: $json.nome,\n  slug: $json.slug,\n  keywords: allKeywords,\n  idioma: $json.idioma,\n  seed_channels: $json.seed_channels || 'sem seed',\n  novos_24h: novos24h,\n  discovery_batch_size: discoveryBatchSize,\n};\n\nreturn [{\n  json: {\n    ...sd.currentNiche,\n    lang: ($json.idioma || 'pt-BR').split('-')[0],\n    known_channels: $json.known_channels || 'nenhum canal',\n    keywords: allKeywords,\n  }\n}];\n"},"id":"d2c9407d-69d9-43cf-882d-08237b16ca4b","name":"store-niche-context","type":"n8n-nodes-base.code","typeVersion":2,"position":[25344,7168]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"You are a YouTube channel growth researcher for a self-feeding discovery system.\n\nGoal:\n- Discover real and active channels in the SAME niche.\n- Bring fresh channel options every run.\n\nCritical rules:\n- Only suggest channels you are confident exist and are active.\n- Prefer channels suitable for clip/short repurposing.\n- NEVER repeat channels listed in known channels.\n- Use seed channels only as inspiration for finding similar but DIFFERENT channels.\n- Mix sizes: large, medium, emerging.\n- Return ONLY valid JSON array (no markdown).\n\nOutput format:\n[\n  {\"channel_name\":\"Exact Channel Name\",\"handle\":\"@handle_or_empty\",\"estimated_subs\":\"100k\",\"content_style\":\"educational\",\"reason\":\"brief reason\"}\n]","role":"assistant"},{"content":"=Niche: \"{{ $json.nome }}\"\nKeywords: {{ JSON.stringify($json.keywords || []) }}\nLanguage/region: {{ $json.idioma || 'pt-BR' }}\n\nKnown channels (DO NOT repeat):\n{{ $json.known_channels }}\n\nSeed channels (inspiration only, suggest DIFFERENT channels):\n{{ $json.seed_channels }}\n\nDaily discovered in last 24h for this niche: {{ $json.novos_24h }}\nTarget channels this run: {{ $json.discovery_batch_size }}\n\nReturn {{ $json.discovery_batch_size }} real channels if possible, else return the maximum valid amount. Only JSON array."}]},"options":{"temperature":0.65}},"id":"980f8695-6957-4513-b5ae-266a04865f20","name":"ai-discover-channels","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[25552,7168],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const aiRaw = $input.first().json.content;\nconst sd = $getWorkflowStaticData('global');\nconst nichoData = sd.currentNiche || {};\nconst batchSize = Number(nichoData.discovery_batch_size || 20);\nlet channels = [];\n\ntry {\n  let text = '';\n  if (typeof aiRaw === 'string') text = aiRaw;\n  else if (typeof aiRaw.content === 'string') text = aiRaw.content;\n  else if (typeof aiRaw.text === 'string') text = aiRaw.text;\n  else if (typeof aiRaw.output === 'string') text = aiRaw.output;\n  else text = JSON.stringify(aiRaw);\n\n  text = text.replace(/```json\\n?|```\\n?/g, '').trim();\n  const match = text.match(/\\[[\\s\\S]*\\]/);\n  if (match) channels = JSON.parse(match[0]);\n} catch (e) {\n  channels = [];\n}\n\nif (!Array.isArray(channels) || channels.length === 0) return [];\n\nconst normalizeName = (s) => String(s || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9]/g, '');\n\nconst normalizeHandle = (s) => String(s || '')\n  .toLowerCase()\n  .replace('@', '')\n  .replace(/[^a-z0-9_]/g, '');\n\nconst seen = new Set();\nconst normalized = [];\nfor (const ch of channels) {\n  const channel_name = String(ch.channel_name || '').trim();\n  const handle = String(ch.handle || '').trim();\n  if (!channel_name) continue;\n\n  const handleKey = normalizeHandle(handle);\n  const nameKey = normalizeName(channel_name);\n  const dedupKey = handleKey ? `h:${handleKey}` : `n:${nameKey}`;\n\n  if (seen.has(dedupKey)) continue;\n  seen.add(dedupKey);\n\n  normalized.push({\n    json: {\n      channel_name,\n      handle,\n      estimated_subs: String(ch.estimated_subs || '0'),\n      content_style: String(ch.content_style || ''),\n      reason: String(ch.reason || ''),\n      nicho_nome: nichoData.nome || '',\n      nicho_slug: nichoData.slug || ''\n    }\n  });\n}\n\nreturn normalized.slice(0, batchSize);\n"},"id":"050aca6d-f49d-41a6-956c-137b8995116c","name":"parse-ai-channels","type":"n8n-nodes-base.code","typeVersion":2,"position":[25920,7168]},{"parameters":{"options":{}},"id":"daae90bd-43f2-4f5d-a961-d6829483a4bc","name":"loop-by-channel-result","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[26144,7344]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"You are a YouTube channel evaluator for content repurposing. Be RIGOROUS and objective.\n\nReturn ONLY valid JSON (no markdown, no backticks, no extra text) with these fields:\n{\n  \"score\": 0.0-1.0,\n  \"relevancia\": \"alta|media|baixa\",\n  \"tom_de_voz\": \"informativo|educativo|entretenimento|motivacional|tecnico|humoristico\",\n  \"justificativa\": \"max 50 words\",\n  \"recomendacao\": \"monitorar|acompanhar|ignorar\"\n}\n\nScoring rules:\n- Channels with >500k subscribers in the right niche: score >= 0.85\n- Channels with >100k subscribers in the right niche: score >= 0.75\n- Channels with >10k subscribers in the right niche: score >= 0.65\n- If niche relevance is weak: score <= 0.55\n- score >= 0.70 means APPROVED for monitoring\n- If channel was NOT found on YouTube API (canal_encontrado = false): penalize score by 0.15","role":"assistant"},{"content":"=Evaluate this YouTube channel for the niche \"{{ $json.nicho_nome }}\":\n\n- Channel Name: {{ $json.nome_canal }}\n- Handle: {{ $json.handle }}\n- Channel ID (real): {{ $json.canal_id }}\n- Found on YouTube API: {{ $json.canal_encontrado }}\n- Real Subscribers: {{ $json.inscritos }}\n- Total Videos: {{ $json.total_videos }}\n- Total Views: {{ $json.total_views }}\n- Avg Views/Video: {{ $json.views_medio_aproximado }}\n- Content Style: {{ $json.content_style }}\n- Discovery Reason: {{ $json.reason }}\n\nRespond with ONLY the JSON object, nothing else."}]},"options":{"temperature":0.3}},"id":"3c0772d2-ebf9-47bf-b34b-89537bb18e1c","name":"ai-evaluate-channel","type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[26816,7264],"credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const chData = $('extract-youtube-metrics').item.json;\nconst aiItem = $input.first().json;\nconst raw = aiItem.content ?? aiItem.text ?? aiItem.output ?? aiItem;\n\nlet evaluation = {};\ntry {\n  let text = '';\n  if (typeof raw === 'string') text = raw;\n  else if (typeof raw?.content === 'string') text = raw.content;\n  else if (typeof raw?.text === 'string') text = raw.text;\n  else if (typeof raw?.output === 'string') text = raw.output;\n  else text = JSON.stringify(raw);\n\n  text = text.replace(/```(?:json)?\\s*|```/g, '').trim();\n  const firstChar = text[0];\n  if (firstChar === '{' || firstChar === '[') {\n    evaluation = JSON.parse(text);\n  } else {\n    const i = text.indexOf('{');\n    const j = text.lastIndexOf('}');\n    if (i !== -1 && j !== -1 && j > i) {\n      evaluation = JSON.parse(text.slice(i, j + 1));\n    }\n  }\n} catch (e) {\n  evaluation = {};\n}\n\nif (!chData.canal_encontrado) return [];\n\nconst score = Number(evaluation.score ?? 0);\nif (score < 0.60 || evaluation.recomendacao === 'ignorar') return [];\n\nreturn [{\n  json: {\n    plataforma: 'youtube',\n    canal_id: chData.canal_id,\n    nome_canal: chData.nome_canal,\n    url_canal: chData.url_canal,\n    nicho_alvo: chData.nicho_slug,\n    inscritos: chData.inscritos || 0,\n    views_medio_aproximado: chData.views_medio_aproximado || 0,\n    total_videos: chData.total_videos || 0,\n    total_views: chData.total_views || 0,\n    tom_de_voz: evaluation.tom_de_voz || 'informativo e engajante',\n    score: Number(score.toFixed(2)),\n    ativo: score >= 0.70,\n    data_ultima_analise: new Date().toISOString()\n  }\n}];"},"id":"341ede31-450b-44ec-a180-809d12fcfe81","name":"parse-evaluation","type":"n8n-nodes-base.code","typeVersion":2,"position":[27168,7264]},{"parameters":{"operation":"executeQuery","query":"SELECT\n  COUNT(*) as total_analisados,\n  COUNT(*) FILTER (WHERE ativo = true) as ativos,\n  COUNT(*) FILTER (WHERE score >= 0.5) as top_canais,\n  ROUND(AVG(score)::numeric, 2) as score_medio\nFROM canais_descobertos\nWHERE data_ultima_analise >= NOW() - INTERVAL '25 hours';","options":{}},"id":"a6eee447-b197-4a2f-8358-502c57ad8460","name":"fetch-daily-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[25120,7360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO canais_descobertos (\n  plataforma, canal_id, nome_canal, url_canal, nicho_alvo,\n  inscritos, views_medio_aproximado, total_videos, total_views,\n  tom_de_voz, score, ativo, data_ultima_analise\n) VALUES (\n  'youtube',\n  '{{ $json.canal_id }}',\n  '{{ $json.nome_canal.replace(/'/g, \"''\") }}',\n  '{{ $json.url_canal }}',\n  '{{ $json.nicho_alvo }}',\n  {{ $json.inscritos || 0 }},\n  {{ $json.views_medio_aproximado || 0 }},\n  {{ $json.total_videos || 0 }},\n  {{ $json.total_views || 0 }},\n  '{{ $json.tom_de_voz }}',\n  {{ $json.score || 0 }},\n  {{ $json.ativo ? 'true' : 'false' }},\n  NOW()\n)\nON CONFLICT (canal_id) DO UPDATE SET\n  nome_canal = EXCLUDED.nome_canal,\n  score = GREATEST(canais_descobertos.score, EXCLUDED.score),\n  ativo = CASE WHEN canais_descobertos.ativo = true THEN true ELSE EXCLUDED.ativo END,\n  tom_de_voz = EXCLUDED.tom_de_voz,\n  data_ultima_analise = NOW(),\n  updated_at = NOW();","options":{}},"id":"0cfe94b0-4257-4983-b33e-81d35c705e0e","name":"upsert-channel-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[27392,7344],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items.length) {\n  return [{ json: {} }];\n}\n\n// Se quiser considerar todos:\nconst lista = items.map(i => i.json);\n\n// Se quiser apenas ativos:\n// const lista = items.map(i => i.json).filter(i => i.ativo === true);\n\nif (!lista.length) {\n  return [{ json: {} }];\n}\n\nconst randomIndex = Math.floor(Math.random() * lista.length);\nconst itemAleatorio = lista[randomIndex];\n\nreturn [\n  {\n    json: itemAleatorio\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[24672,7360],"id":"2c54250c-bc83-46ed-a923-357b6206d8ea","name":"Code in JavaScript"}],"connections":{"fetch-youtube-channel-api":{"main":[[{"node":"extract-youtube-metrics","type":"main","index":0}]]},"extract-youtube-metrics":{"main":[[{"node":"ai-evaluate-channel","type":"main","index":0}]]},"schedule-trigger-daily":{"main":[[{"node":"fetch-active-niches","type":"main","index":0}]]},"fetch-active-niches":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"loop-by-niche":{"main":[[{"node":"fetch-daily-summary","type":"main","index":0}],[{"node":"fetch-known-channels","type":"main","index":0}]]},"fetch-known-channels":{"main":[[{"node":"store-niche-context","type":"main","index":0}]]},"store-niche-context":{"main":[[{"node":"ai-discover-channels","type":"main","index":0}]]},"ai-discover-channels":{"main":[[{"node":"parse-ai-channels","type":"main","index":0}]]},"parse-ai-channels":{"main":[[{"node":"loop-by-channel-result","type":"main","index":0}]]},"loop-by-channel-result":{"main":[[{"node":"loop-by-niche","type":"main","index":0}],[{"node":"fetch-youtube-channel-api","type":"main","index":0}]]},"ai-evaluate-channel":{"main":[[{"node":"parse-evaluation","type":"main","index":0}]]},"parse-evaluation":{"main":[[{"node":"upsert-channel-db","type":"main","index":0}]]},"upsert-channel-db":{"main":[[{"node":"loop-by-channel-result","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"loop-by-niche","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version 38044e2a","description":"","autosaved":false},"tags":[]}