[agent-3]-video-processing-pipeline-OWs_TbzNZfSHOZTVX2K8P.json
{"updatedAt":"2026-03-17T23:58:34.034Z","createdAt":"2026-02-20T17:31:55.077Z","id":"OWs_TbzNZfSHOZTVX2K8P","name":"[AGENT-3]-Video-Processing-Pipeline","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"9fbebe9b-ddc8-47dc-aaa5-638899a62e81","name":"schedule-trigger-15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[5824,7424]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[6048,7424],"id":"d184499f-3fd5-4ef3-9b51-7b39e05ebb05","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"videos_pendentes","mode":"list","cachedResultName":"videos_pendentes"},"returnAll":true,"where":{"values":[{"column":"status","value":"pendente"}]},"options":{}},"id":"f08f9420-d776-402e-abfb-89a410facd3f","name":"fetch-pending-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6496,7424],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"-- 1) Descarta curtos automaticamente\nUPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Descartado automatico: duracao menor que 60 segundos',\n    updated_at = NOW()\nWHERE status = 'pendente'\n  AND duracao_segundos < 60;\n\n-- 2) Recupera itens presos sem projectId para reprocessar\nUPDATE videos_pendentes\nSET status = 'pendente',\n    erro_mensagem = COALESCE(erro_mensagem, 'Reenfileirado automaticamente: travado em em_processamento sem projectId'),\n    updated_at = NOW()\nWHERE status = 'em_processamento'\n  AND (vizard_project_id IS NULL OR vizard_project_id = '')\n  AND updated_at < NOW() - INTERVAL '20 minutes';","options":{}},"id":"c560845c-4c6e-45bc-888f-409ef6c8d240","name":"discard-short-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6272,7424],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"55d06d69-42b6-48fe-9ac6-623bfeea056e","name":"if-has-pending-videos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6720,7424]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) FILTER (WHERE status = 'concluido') AS videos_done,\n  COUNT(*) FILTER (WHERE status = 'erro') AS videos_error,\n  COUNT(*) FILTER (WHERE status = 'pendente') AS videos_remaining,\n  COUNT(*) FILTER (WHERE status = 'em_processamento') AS videos_processing,\n  COUNT(*) FILTER (WHERE status = 'erro' AND erro_mensagem LIKE 'Descartado automatico:%') AS videos_descartados\nFROM videos_pendentes\nWHERE created_at >= NOW() - INTERVAL '1 day';","options":{}},"id":"917bc8e7-b538-4074-858e-907830ac0de8","name":"fetch-pipeline-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7168,6800],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"7e41a3be-1fe7-4e88-93ec-e6bdde4c7680","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6944,7328]},{"parameters":{},"id":"e770f49a-b2d6-45cc-a751-c95a01d1a080","name":"no-pending-videos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6944,7520]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\n  AND status = 'pendente'\nRETURNING id;","options":{}},"id":"0b4c0367-cefa-4f60-9b81-983003780052","name":"mark-video-processing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7168,6992],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"lock-acquired","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ac2c77c3-cc67-40c8-82b1-30cf8f390402","name":"if-lock-acquired","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7392,6992]},{"parameters":{"jsCode":"// Define preferLength baseado na duração do vídeo\n// 0 = 15-30s | 1 = 30-60s | 2 = 60-90s | 3 = 90s+\nconst video = $('loop-by-video').item.json;\nconst durSec = video.duracao_segundos || 0;\nconst durMin = durSec / 60;\n\nlet preferLength = [0, 1]; // default: 15s a 60s\n\nif (durMin >= 10) {\n  preferLength = [0, 1, 2, 3]; // longo: todos os tamanhos\n} else if (durMin >= 5) {\n  preferLength = [0, 1, 2]; // médio: até 90s\n} else if (durMin >= 2) {\n  preferLength = [0, 1]; // curto: até 60s\n} else {\n  preferLength = [0]; // muito curto: só 15-30s\n}\n\nreturn [{ json: {\n  ...video,\n  preferLength\n} }];"},"id":"1250781e-594c-4c3c-be00-4672ed273325","name":"build-vizard-params","type":"n8n-nodes-base.code","typeVersion":2,"position":[7616,6992]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  lang: 'pt',\n  preferLength: Array.isArray($json.preferLength) ? $json.preferLength : [0,1],\n  videoUrl: String($json.url_video || ''),\n  videoType: 2\n} }}","options":{"timeout":300000}},"id":"e9881e9c-e206-4498-b92f-caa2ab760e9d","name":"call-vizard-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7840,6992],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-project-id","leftValue":"={{ $json.projectId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bad1993f-c5fa-408c-8464-3fed6f111697","name":"if-vizard-success","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8064,6920]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  vizard_code = '{{ $json.code }}',\n  vizard_project_id = '{{ $json.projectId }}',\n  status = 'em_processamento',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"ed6ad3fd-ed89-4e66-98ee-d59a43360ed1","name":"save-vizard-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,6824],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API: sem projectId na resposta — {{ $json.message ?? $json.error ?? \"resposta inválida\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"405f40fe-f8fa-4738-8d04-bb4015b14365","name":"mark-video-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,7016],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API HTTP error — {{ $json.error ?? $json.message ?? \"timeout ou falha de rede\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"272ef3dd-acf3-48c4-9220-b74bbe0b10a2","name":"mark-video-http-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,7208],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Junta os dois caminhos de erro para reutilizar o mesmo next-step\nreturn $input.all();"},"id":"9b7f1fae-7467-42bb-8207-f7ba9fe19d62","name":"merge-error-paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[8512,7112]},{"parameters":{"amount":3},"id":"ab2343f4-c28a-4bc8-8b73-4cfaeff87766","name":"wait-between-calls","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8512,6920],"webhookId":"af9801cf-cbfa-4fce-902d-ce3988cc6ef1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8736,7232],"id":"c8ada327-ff38-4f59-ac74-e45881c62998","name":"Wait","webhookId":"fb813b39-e0da-431f-a47d-35f3e5d85cea"}],"connections":{"schedule-trigger-15min":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"discard-short-videos","type":"main","index":0}]]},"fetch-pending-videos":{"main":[[{"node":"if-has-pending-videos","type":"main","index":0}]]},"discard-short-videos":{"main":[[{"node":"fetch-pending-videos","type":"main","index":0}]]},"if-has-pending-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}],[{"node":"no-pending-videos","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"fetch-pipeline-summary","type":"main","index":0}],[{"node":"mark-video-processing","type":"main","index":0}]]},"mark-video-processing":{"main":[[{"node":"if-lock-acquired","type":"main","index":0}]]},"if-lock-acquired":{"main":[[{"node":"build-vizard-params","type":"main","index":0}],[{"node":"loop-by-video","type":"main","index":0}]]},"build-vizard-params":{"main":[[{"node":"call-vizard-api","type":"main","index":0}]]},"call-vizard-api":{"main":[[{"node":"if-vizard-success","type":"main","index":0}],[{"node":"mark-video-http-error","type":"main","index":0}]]},"if-vizard-success":{"main":[[{"node":"save-vizard-project","type":"main","index":0}],[{"node":"mark-video-error","type":"main","index":0}]]},"save-vizard-project":{"main":[[{"node":"wait-between-calls","type":"main","index":0}]]},"wait-between-calls":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"mark-video-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"mark-video-http-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"merge-error-paths":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:schedule-trigger-8h":{"recurrenceRules":[16]},"node:schedule-3x-dia":{"recurrenceRules":[]},"node:schedule-trigger-15min":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"schedule-trigger-15min":[{"json":{"timestamp":"2026-02-23T20:00:23.022-03:00","Readable date":"February 23rd 2026, 8:00:23 pm","Readable time":"8:00:23 pm","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"23","Hour":"20","Minute":"00","Second":"23","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"dbba56a8-4c00-4c74-b15a-c24f7a85b1e6","activeVersionId":"dbba56a8-4c00-4c74-b15a-c24f7a85b1e6","triggerCount":1,"shared":[{"updatedAt":"2026-02-20T17:31:55.077Z","createdAt":"2026-02-20T17:31:55.077Z","role":"workflow:owner","workflowId":"OWs_TbzNZfSHOZTVX2K8P","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T23:58:35.517Z","createdAt":"2026-03-17T23:58:34.039Z","versionId":"dbba56a8-4c00-4c74-b15a-c24f7a85b1e6","workflowId":"OWs_TbzNZfSHOZTVX2K8P","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"9fbebe9b-ddc8-47dc-aaa5-638899a62e81","name":"schedule-trigger-15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[5824,7424]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[6048,7424],"id":"d184499f-3fd5-4ef3-9b51-7b39e05ebb05","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"videos_pendentes","mode":"list","cachedResultName":"videos_pendentes"},"returnAll":true,"where":{"values":[{"column":"status","value":"pendente"}]},"options":{}},"id":"f08f9420-d776-402e-abfb-89a410facd3f","name":"fetch-pending-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6496,7424],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"-- 1) Descarta curtos automaticamente\nUPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Descartado automatico: duracao menor que 60 segundos',\n    updated_at = NOW()\nWHERE status = 'pendente'\n  AND duracao_segundos < 60;\n\n-- 2) Recupera itens presos sem projectId para reprocessar\nUPDATE videos_pendentes\nSET status = 'pendente',\n    erro_mensagem = COALESCE(erro_mensagem, 'Reenfileirado automaticamente: travado em em_processamento sem projectId'),\n    updated_at = NOW()\nWHERE status = 'em_processamento'\n  AND (vizard_project_id IS NULL OR vizard_project_id = '')\n  AND updated_at < NOW() - INTERVAL '20 minutes';","options":{}},"id":"c560845c-4c6e-45bc-888f-409ef6c8d240","name":"discard-short-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[6272,7424],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"55d06d69-42b6-48fe-9ac6-623bfeea056e","name":"if-has-pending-videos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6720,7424]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) FILTER (WHERE status = 'concluido') AS videos_done,\n  COUNT(*) FILTER (WHERE status = 'erro') AS videos_error,\n  COUNT(*) FILTER (WHERE status = 'pendente') AS videos_remaining,\n  COUNT(*) FILTER (WHERE status = 'em_processamento') AS videos_processing,\n  COUNT(*) FILTER (WHERE status = 'erro' AND erro_mensagem LIKE 'Descartado automatico:%') AS videos_descartados\nFROM videos_pendentes\nWHERE created_at >= NOW() - INTERVAL '1 day';","options":{}},"id":"917bc8e7-b538-4074-858e-907830ac0de8","name":"fetch-pipeline-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7168,6800],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"7e41a3be-1fe7-4e88-93ec-e6bdde4c7680","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[6944,7328]},{"parameters":{},"id":"e770f49a-b2d6-45cc-a751-c95a01d1a080","name":"no-pending-videos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[6944,7520]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\n  AND status = 'pendente'\nRETURNING id;","options":{}},"id":"0b4c0367-cefa-4f60-9b81-983003780052","name":"mark-video-processing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7168,6992],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"lock-acquired","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ac2c77c3-cc67-40c8-82b1-30cf8f390402","name":"if-lock-acquired","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[7392,6992]},{"parameters":{"jsCode":"// Define preferLength baseado na duração do vídeo\n// 0 = 15-30s | 1 = 30-60s | 2 = 60-90s | 3 = 90s+\nconst video = $('loop-by-video').item.json;\nconst durSec = video.duracao_segundos || 0;\nconst durMin = durSec / 60;\n\nlet preferLength = [0, 1]; // default: 15s a 60s\n\nif (durMin >= 10) {\n  preferLength = [0, 1, 2, 3]; // longo: todos os tamanhos\n} else if (durMin >= 5) {\n  preferLength = [0, 1, 2]; // médio: até 90s\n} else if (durMin >= 2) {\n  preferLength = [0, 1]; // curto: até 60s\n} else {\n  preferLength = [0]; // muito curto: só 15-30s\n}\n\nreturn [{ json: {\n  ...video,\n  preferLength\n} }];"},"id":"1250781e-594c-4c3c-be00-4672ed273325","name":"build-vizard-params","type":"n8n-nodes-base.code","typeVersion":2,"position":[7616,6992]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  lang: 'pt',\n  preferLength: Array.isArray($json.preferLength) ? $json.preferLength : [0,1],\n  videoUrl: String($json.url_video || ''),\n  videoType: 2\n} }}","options":{"timeout":300000}},"id":"e9881e9c-e206-4498-b92f-caa2ab760e9d","name":"call-vizard-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7840,6992],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-project-id","leftValue":"={{ $json.projectId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bad1993f-c5fa-408c-8464-3fed6f111697","name":"if-vizard-success","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[8064,6920]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  vizard_code = '{{ $json.code }}',\n  vizard_project_id = '{{ $json.projectId }}',\n  status = 'em_processamento',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"ed6ad3fd-ed89-4e66-98ee-d59a43360ed1","name":"save-vizard-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,6824],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API: sem projectId na resposta — {{ $json.message ?? $json.error ?? \"resposta inválida\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"405f40fe-f8fa-4738-8d04-bb4015b14365","name":"mark-video-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,7016],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API HTTP error — {{ $json.error ?? $json.message ?? \"timeout ou falha de rede\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"272ef3dd-acf3-48c4-9220-b74bbe0b10a2","name":"mark-video-http-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8288,7208],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Junta os dois caminhos de erro para reutilizar o mesmo next-step\nreturn $input.all();"},"id":"9b7f1fae-7467-42bb-8207-f7ba9fe19d62","name":"merge-error-paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[8512,7112]},{"parameters":{"amount":3},"id":"ab2343f4-c28a-4bc8-8b73-4cfaeff87766","name":"wait-between-calls","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8512,6920],"webhookId":"af9801cf-cbfa-4fce-902d-ce3988cc6ef1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8736,7232],"id":"c8ada327-ff38-4f59-ac74-e45881c62998","name":"Wait","webhookId":"fb813b39-e0da-431f-a47d-35f3e5d85cea"}],"connections":{"schedule-trigger-15min":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"discard-short-videos","type":"main","index":0}]]},"fetch-pending-videos":{"main":[[{"node":"if-has-pending-videos","type":"main","index":0}]]},"discard-short-videos":{"main":[[{"node":"fetch-pending-videos","type":"main","index":0}]]},"if-has-pending-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}],[{"node":"no-pending-videos","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"fetch-pipeline-summary","type":"main","index":0}],[{"node":"mark-video-processing","type":"main","index":0}]]},"mark-video-processing":{"main":[[{"node":"if-lock-acquired","type":"main","index":0}]]},"if-lock-acquired":{"main":[[{"node":"build-vizard-params","type":"main","index":0}],[{"node":"loop-by-video","type":"main","index":0}]]},"build-vizard-params":{"main":[[{"node":"call-vizard-api","type":"main","index":0}]]},"call-vizard-api":{"main":[[{"node":"if-vizard-success","type":"main","index":0}],[{"node":"mark-video-http-error","type":"main","index":0}]]},"if-vizard-success":{"main":[[{"node":"save-vizard-project","type":"main","index":0}],[{"node":"mark-video-error","type":"main","index":0}]]},"save-vizard-project":{"main":[[{"node":"wait-between-calls","type":"main","index":0}]]},"wait-between-calls":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"mark-video-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"mark-video-http-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"merge-error-paths":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version dbba56a8","description":"","autosaved":false},"tags":[]}