[agent-5]-clip-publisher-queue-dSCCPtMw1ZK0LXv3m7aEd.json
{"updatedAt":"2026-03-17T23:59:45.634Z","createdAt":"2026-02-07T00:20:02.937Z","id":"dSCCPtMw1ZK0LXv3m7aEd","name":"[AGENT-5]-Clip-Publisher-Queue","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,14,20 * * *"}]}},"id":"bc9ac3c2-b094-4882-9e3a-192da07b151e","name":"schedule-3x-dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-11648,4360]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[-11424,4360],"id":"77c980b3-91bb-4439-851a-681fc41f3650","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"executeQuery","query":"-- Mantem compatibilidade com o IF de nicho, mas sem bloquear a fila\nWITH fila AS (\n  SELECT COUNT(*)::int AS ready_count\n  FROM clips_gerados\n  WHERE status_publicacao = 'pronto_para_publicar'\n    AND status = 'pronto_para_publicar'\n    AND vizard_video_id IS NOT NULL\n)\nSELECT\n  COALESCE((\n    SELECT NULLIF(TRIM(nicho), '')\n    FROM clips_gerados\n    WHERE status_publicacao = 'pronto_para_publicar'\n      AND status = 'pronto_para_publicar'\n      AND vizard_video_id IS NOT NULL\n      AND NULLIF(TRIM(nicho), '') IS NOT NULL\n    ORDER BY created_at ASC\n    LIMIT 1\n  ), 'fila_sem_nicho') AS nicho,\n  ready_count\nFROM fila;","options":{}},"id":"3d4d8859-acd6-4464-8074-3818505d7fdf","name":"pick-nicho-rotativo","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-11200,4360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-nicho","leftValue":"={{ $json.nicho }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4f110da4-cbd5-425d-93db-c11c0bdfe29b","name":"if-nicho-disponivel","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10976,4360]},{"parameters":{},"id":"df00a8f1-b678-4052-9004-5534d2d7ab32","name":"todos-nichos-publicados-hoje","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-10752,4360]},{"parameters":{"operation":"executeQuery","query":"-- Busca o proximo clip pendente global (fila unica)\nSELECT\n  cg.id AS clip_id,\n  cg.vizard_video_id,\n  cg.titulo_final,\n  cg.descricao_final,\n  cg.descricao_base,\n  cg.hashtags,\n  cg.nicho,\n  cg.canal_id,\n  cg.score_clip,\n  cg.arquivo_clip_url,\n  cd.nome_canal\nFROM clips_gerados cg\nLEFT JOIN canais_descobertos cd ON cd.canal_id = cg.canal_id\nWHERE cg.status_publicacao = 'pronto_para_publicar'\n  AND cg.status = 'pronto_para_publicar'\n  AND cg.vizard_video_id IS NOT NULL\n  -- Anti-duplicata: clip ja agendado/publicado nao entra novamente\n  AND NOT EXISTS (\n    SELECT 1\n    FROM publicacoes p\n    WHERE p.clip_id = cg.id\n      AND p.status IN ('agendado', 'publicado')\n  )\nORDER BY cg.score_clip DESC NULLS LAST, cg.created_at ASC\nLIMIT 1;\n","options":{}},"id":"8aae2a61-3dc1-45ee-88ec-0fe42107f598","name":"fetch-clip-do-nicho","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-10752,4168],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clip","leftValue":"={{ $json.clip_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ef50d4da-9eec-4f2e-9d1c-c755d8dcb1d0","name":"if-clip-encontrado","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10528,3976]},{"parameters":{},"id":"f0dbf77f-2d62-433f-b600-6754c7a66a6d","name":"sem-clips-neste-nicho","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-10304,4072]},{"parameters":{"operation":"executeQuery","query":"-- Lock: marca o clip como em_processamento para evitar duplicata\nUPDATE clips_gerados\nSET status = 'em_processamento',\n    status_publicacao = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND status_publicacao = 'pronto_para_publicar'\nRETURNING id;","options":{}},"id":"eab60bab-0d15-4960-885c-8c10cbcd0b1d","name":"lock-clip-para-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-10304,3880],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/account/social-media-accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"options":{"timeout":15000}},"id":"f6d62585-5b58-40e3-a984-80937475f777","name":"fetch-vizard-accounts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10080,3880],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-active-accounts","leftValue":"={{ (Array.isArray($json.publishAccounts) ? $json.publishAccounts : (Array.isArray($json.data?.publishAccounts) ? $json.data.publishAccounts : (Array.isArray($json.data) ? $json.data : (Array.isArray($json.accounts) ? $json.accounts : [])))).filter(a => String(a?.status || '').toLowerCase() === 'active' || Number(a?.status) === 1).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6eeb542f-699c-4c55-b1e4-ca647292cd2c","name":"if-has-accounts","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9856,3808]},{"parameters":{"operation":"executeQuery","query":"UPDATE clips_gerados\nSET status = 'erro',\n    status_publicacao = 'erro',\n    updated_at = NOW()\nWHERE id = '{{ $('fetch-clip-do-nicho').item.json.clip_id }}';","options":{}},"id":"aea0cb45-42da-4bab-8d73-5e3778511e59","name":"mark-no-accounts-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-9632,3976],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Monta um item por conta social ativa + agenda publishTime em slots fixos\nconst clip = $('fetch-clip-do-nicho').item.json;\nconst rawAccounts = Array.isArray($json.publishAccounts)\n  ? $json.publishAccounts\n  : Array.isArray($json.data?.publishAccounts)\n    ? $json.data.publishAccounts\n    : Array.isArray($json.data)\n      ? $json.data\n      : Array.isArray($json.accounts)\n        ? $json.accounts\n        : [];\nconst activeAccounts = rawAccounts.filter(a => String(a?.status || '').toLowerCase() === 'active' || Number(a?.status) === 1);\n\nif (activeAccounts.length === 0) {\n  return [];\n}\n\nconst SLOT_HOURS = [8, 14, 20]; // manha, tarde, noite (America/Sao_Paulo)\nconst LEAD_SECONDS = 120; // evita agendar no passado imediato\n\n// Converte \"agora\" para data/hora SP (BRT fixo -03)\nfunction getSpNowParts() {\n  const now = new Date();\n  const utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\n  const sp = new Date(utcMs - 3 * 60 * 60 * 1000);\n  return {\n    year: sp.getUTCFullYear(),\n    month: sp.getUTCMonth() + 1,\n    day: sp.getUTCDate(),\n  };\n}\n\nfunction spToEpoch(year, month, day, hour) {\n  // Hora SP para epoch UTC (SP = UTC-3)\n  return Math.floor(Date.UTC(year, month - 1, day, hour + 3, 0, 0) / 1000);\n}\n\nfunction addDays(year, month, day, daysToAdd) {\n  const d = new Date(Date.UTC(year, month - 1, day + daysToAdd));\n  return {\n    year: d.getUTCFullYear(),\n    month: d.getUTCMonth() + 1,\n    day: d.getUTCDate(),\n  };\n}\n\nfunction getFirstAvailableSlot(nowUnix) {\n  const spNow = getSpNowParts();\n\n  for (let i = 0; i < SLOT_HOURS.length; i += 1) {\n    const candidate = spToEpoch(spNow.year, spNow.month, spNow.day, SLOT_HOURS[i]);\n    if (candidate > nowUnix + LEAD_SECONDS) {\n      return {\n        baseYear: spNow.year,\n        baseMonth: spNow.month,\n        baseDay: spNow.day,\n        baseSlotIndex: i,\n      };\n    }\n  }\n\n  const nextDay = addDays(spNow.year, spNow.month, spNow.day, 1);\n  return {\n    baseYear: nextDay.year,\n    baseMonth: nextDay.month,\n    baseDay: nextDay.day,\n    baseSlotIndex: 0,\n  };\n}\n\nfunction getSlotEpochFromBase(base, offsetSlots) {\n  const total = base.baseSlotIndex + offsetSlots;\n  const dayOffset = Math.floor(total / SLOT_HOURS.length);\n  const slotIndex = total % SLOT_HOURS.length;\n  const targetDate = addDays(base.baseYear, base.baseMonth, base.baseDay, dayOffset);\n  return spToEpoch(targetDate.year, targetDate.month, targetDate.day, SLOT_HOURS[slotIndex]);\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst runKey = String(($('schedule-3x-dia').item.json.timestamp || Date.now()));\n\nif (sd.schedulerRunKey !== runKey) {\n  sd.schedulerRunKey = runKey;\n  sd.schedulerBase = getFirstAvailableSlot(nowUnix);\n  sd.schedulerOffset = 0;\n}\n\n// Um slot por clip (todas as contas desse clip usam o mesmo horario)\nconst clipOffset = Number(sd.schedulerOffset || 0);\nconst publishTime = getSlotEpochFromBase(sd.schedulerBase, clipOffset);\nsd.schedulerOffset = clipOffset + 1;\n\nreturn activeAccounts.map(account => ({\n  json: {\n    clip_id:          clip.clip_id,\n    vizard_video_id:  clip.vizard_video_id,\n    titulo_final:     clip.titulo_final || '',\n    descricao_final:  clip.descricao_final || '',\n    descricao_base:   clip.descricao_base || '',\n    hashtags:         clip.hashtags || '',\n    nicho:            clip.nicho || '',\n    canal_id:         clip.canal_id || '',\n    score_clip:       clip.score_clip || 0,\n    arquivo_clip_url: clip.arquivo_clip_url || '',\n\n    // Dados da conta social\n    account_id:       String(account.id || account.socialAccountId || ''),\n    account_platform: String(account.platform || account.type || account.socialPlatform || 'unknown').toLowerCase(),\n    account_name:     account.username || account.page || account.name || '',\n    has_account:      true,\n\n    // Agendamento (Unix int64)\n    publish_time:     publishTime,\n  }\n}));\n"},"id":"c6ce8c89-37b0-40ea-b470-ead8fcb72d1b","name":"prepare-publish-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9632,3760]},{"parameters":{"options":{}},"id":"b01c190d-ac14-41d5-9220-05164d72ed40","name":"loop-by-account","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-9408,4072]},{"parameters":{"operation":"executeQuery","query":"-- Verifica se este clip ja foi publicado OU agendado nesta plataforma\nSELECT id FROM publicacoes\nWHERE clip_id = '{{ $json.clip_id }}'\n  AND plataforma = '{{ $json.account_platform }}'\n  AND status IN ('publicado', 'agendado')\nLIMIT 1;\n","options":{}},"id":"f9e2e5be-cce4-4d83-95a7-b218cafb90f4","name":"check-already-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-9184,3928],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-published-yet","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cf418b35-0f4a-4f1e-9565-70910d8db281","name":"if-not-published-yet","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8960,3928]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/publish-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  title: $('loop-by-account').item.json.titulo_final || '',\n  post: $('loop-by-account').item.json.descricao_base || '',\n  socialAccountId: String($('loop-by-account').item.json.account_id || ''),\n  finalVideoId: String($('loop-by-account').item.json.vizard_video_id || ''),\n  publishTime: Number($('loop-by-account').item.json.publish_time || 0)\n} }}","options":{"timeout":30000}},"id":"abae550c-830a-415c-867c-6f8ed89417a7","name":"publish-via-vizard","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-8736,3928],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Avalia resultado da publicacao (imediata x agendada)\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\nconst isSuccess = Number(result.code) === 2000;\n\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst scheduledUnix = Number(payload.publish_time || 0);\nconst isScheduled = isSuccess && scheduledUnix > nowUnix + 60;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success:  isSuccess,\n    publish_code:     result.code ?? null,\n    publish_error:    isSuccess ? null : JSON.stringify(result).substring(0, 500),\n    pub_status:       isSuccess ? (isScheduled ? 'agendado' : 'publicado') : 'erro',\n    pub_platform_id:  isSuccess ? (result.data?.id || result.data?.videoId || null) : null,\n    pub_scheduled_for: isScheduled ? scheduledUnix : null,\n  }\n}];\n"},"id":"8d05a0b1-e9d7-4b56-8ba3-e899e7cd6c2d","name":"process-publish-result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8512,3928]},{"parameters":{"jsCode":"// HTTP error path — marca como erro\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success: false,\n    publish_code:    null,\n    publish_error:   JSON.stringify(result).substring(0, 500),\n    pub_status:      'erro',\n    pub_platform_id: null\n  }\n}];"},"id":"516df1d4-8356-4420-9a7d-fb7d0bc55dba","name":"handle-publish-http-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8512,4120]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO publicacoes (\n  clip_id,\n  plataforma,\n  id_publicacao_plataforma,\n  status,\n  erro_mensagem,\n  data_publicacao,\n  created_at,\n  updated_at\n) VALUES (\n  '{{ $json.clip_id }}',\n  '{{ $json.account_platform }}',\n  '{{ $json.pub_platform_id ?? \"\" }}',\n  '{{ $json.pub_status }}',\n  {{ $json.publish_error ? \"'\" + $json.publish_error.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.pub_status === 'agendado' ? \"to_timestamp(\" + $json.publish_time + \")\" : ($json.pub_status === 'publicado' ? \"NOW()\" : \"NULL\") }},\n  NOW(),\n  NOW()\n)\nON CONFLICT ON CONSTRAINT uq_publicacao_plataforma DO UPDATE\nSET status = EXCLUDED.status,\n    erro_mensagem = EXCLUDED.erro_mensagem,\n    data_publicacao = COALESCE(EXCLUDED.data_publicacao, publicacoes.data_publicacao),\n    updated_at = NOW();\n","options":{}},"id":"9abbc434-fbf9-4dee-95f3-88c7f77d445c","name":"insert-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-8288,3928],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- Atualiza status do clip de forma monotonica (nunca regride de sucesso para erro)\nUPDATE clips_gerados cg\nSET status = CASE\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'publicado'\n      ) THEN 'publicado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'agendado'\n      ) THEN 'agendado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'erro'\n      ) THEN 'erro'\n      ELSE cg.status\n    END,\n    status_publicacao = CASE\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'publicado'\n      ) THEN 'publicado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'agendado'\n      ) THEN 'agendado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'erro'\n      ) THEN 'erro'\n      ELSE cg.status_publicacao\n    END,\n    updated_at = NOW()\nWHERE cg.id = '{{ $json.clip_id }}';","options":{}},"id":"ec40c5a7-83df-4749-bc90-192c52ae596d","name":"mark-clip-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-8064,3928],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"amount":2},"id":"be0de547-ce76-4937-961a-654ecafc4b4a","name":"wait-between-publishes","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7840,4000],"webhookId":"pub-wait-001"}],"connections":{"schedule-3x-dia":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"pick-nicho-rotativo","type":"main","index":0}]]},"pick-nicho-rotativo":{"main":[[{"node":"if-nicho-disponivel","type":"main","index":0}]]},"if-nicho-disponivel":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"todos-nichos-publicados-hoje","type":"main","index":0}]]},"fetch-clip-do-nicho":{"main":[[{"node":"if-clip-encontrado","type":"main","index":0}]]},"if-clip-encontrado":{"main":[[{"node":"lock-clip-para-publicacao","type":"main","index":0}],[{"node":"sem-clips-neste-nicho","type":"main","index":0}]]},"lock-clip-para-publicacao":{"main":[[{"node":"fetch-vizard-accounts","type":"main","index":0}]]},"fetch-vizard-accounts":{"main":[[{"node":"if-has-accounts","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"if-has-accounts":{"main":[[{"node":"prepare-publish-payload","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"prepare-publish-payload":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"loop-by-account":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"check-already-published","type":"main","index":0}]]},"check-already-published":{"main":[[{"node":"if-not-published-yet","type":"main","index":0}]]},"if-not-published-yet":{"main":[[{"node":"publish-via-vizard","type":"main","index":0}],[{"node":"loop-by-account","type":"main","index":0}]]},"publish-via-vizard":{"main":[[{"node":"process-publish-result","type":"main","index":0}],[{"node":"handle-publish-http-error","type":"main","index":0}]]},"process-publish-result":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"handle-publish-http-error":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"insert-publicacao":{"main":[[{"node":"mark-clip-published","type":"main","index":0}]]},"mark-clip-published":{"main":[[{"node":"wait-between-publishes","type":"main","index":0}]]},"wait-between-publishes":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"mark-no-accounts-error":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":{"node:schedule-trigger-15min":{"recurrenceRules":[]},"node:schedule-3x-dia":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f04b7be-3fb2-4647-8f8a-b97639504e64","activeVersionId":"1f04b7be-3fb2-4647-8f8a-b97639504e64","triggerCount":1,"shared":[{"updatedAt":"2026-02-07T00:20:02.937Z","createdAt":"2026-02-07T00:20:02.937Z","role":"workflow:owner","workflowId":"dSCCPtMw1ZK0LXv3m7aEd","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T23:59:47.648Z","createdAt":"2026-03-17T23:59:45.638Z","versionId":"1f04b7be-3fb2-4647-8f8a-b97639504e64","workflowId":"dSCCPtMw1ZK0LXv3m7aEd","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,14,20 * * *"}]}},"id":"bc9ac3c2-b094-4882-9e3a-192da07b151e","name":"schedule-3x-dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-11648,4360]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[-11424,4360],"id":"77c980b3-91bb-4439-851a-681fc41f3650","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"executeQuery","query":"-- Mantem compatibilidade com o IF de nicho, mas sem bloquear a fila\nWITH fila AS (\n  SELECT COUNT(*)::int AS ready_count\n  FROM clips_gerados\n  WHERE status_publicacao = 'pronto_para_publicar'\n    AND status = 'pronto_para_publicar'\n    AND vizard_video_id IS NOT NULL\n)\nSELECT\n  COALESCE((\n    SELECT NULLIF(TRIM(nicho), '')\n    FROM clips_gerados\n    WHERE status_publicacao = 'pronto_para_publicar'\n      AND status = 'pronto_para_publicar'\n      AND vizard_video_id IS NOT NULL\n      AND NULLIF(TRIM(nicho), '') IS NOT NULL\n    ORDER BY created_at ASC\n    LIMIT 1\n  ), 'fila_sem_nicho') AS nicho,\n  ready_count\nFROM fila;","options":{}},"id":"3d4d8859-acd6-4464-8074-3818505d7fdf","name":"pick-nicho-rotativo","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-11200,4360],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-nicho","leftValue":"={{ $json.nicho }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"4f110da4-cbd5-425d-93db-c11c0bdfe29b","name":"if-nicho-disponivel","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10976,4360]},{"parameters":{},"id":"df00a8f1-b678-4052-9004-5534d2d7ab32","name":"todos-nichos-publicados-hoje","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-10752,4360]},{"parameters":{"operation":"executeQuery","query":"-- Busca o proximo clip pendente global (fila unica)\nSELECT\n  cg.id AS clip_id,\n  cg.vizard_video_id,\n  cg.titulo_final,\n  cg.descricao_final,\n  cg.descricao_base,\n  cg.hashtags,\n  cg.nicho,\n  cg.canal_id,\n  cg.score_clip,\n  cg.arquivo_clip_url,\n  cd.nome_canal\nFROM clips_gerados cg\nLEFT JOIN canais_descobertos cd ON cd.canal_id = cg.canal_id\nWHERE cg.status_publicacao = 'pronto_para_publicar'\n  AND cg.status = 'pronto_para_publicar'\n  AND cg.vizard_video_id IS NOT NULL\n  -- Anti-duplicata: clip ja agendado/publicado nao entra novamente\n  AND NOT EXISTS (\n    SELECT 1\n    FROM publicacoes p\n    WHERE p.clip_id = cg.id\n      AND p.status IN ('agendado', 'publicado')\n  )\nORDER BY cg.score_clip DESC NULLS LAST, cg.created_at ASC\nLIMIT 1;\n","options":{}},"id":"8aae2a61-3dc1-45ee-88ec-0fe42107f598","name":"fetch-clip-do-nicho","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-10752,4168],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clip","leftValue":"={{ $json.clip_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"ef50d4da-9eec-4f2e-9d1c-c755d8dcb1d0","name":"if-clip-encontrado","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10528,3976]},{"parameters":{},"id":"f0dbf77f-2d62-433f-b600-6754c7a66a6d","name":"sem-clips-neste-nicho","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-10304,4072]},{"parameters":{"operation":"executeQuery","query":"-- Lock: marca o clip como em_processamento para evitar duplicata\nUPDATE clips_gerados\nSET status = 'em_processamento',\n    status_publicacao = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND status_publicacao = 'pronto_para_publicar'\nRETURNING id;","options":{}},"id":"eab60bab-0d15-4960-885c-8c10cbcd0b1d","name":"lock-clip-para-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-10304,3880],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/account/social-media-accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"options":{"timeout":15000}},"id":"f6d62585-5b58-40e3-a984-80937475f777","name":"fetch-vizard-accounts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-10080,3880],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-active-accounts","leftValue":"={{ (Array.isArray($json.publishAccounts) ? $json.publishAccounts : (Array.isArray($json.data?.publishAccounts) ? $json.data.publishAccounts : (Array.isArray($json.data) ? $json.data : (Array.isArray($json.accounts) ? $json.accounts : [])))).filter(a => String(a?.status || '').toLowerCase() === 'active' || Number(a?.status) === 1).length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6eeb542f-699c-4c55-b1e4-ca647292cd2c","name":"if-has-accounts","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9856,3808]},{"parameters":{"operation":"executeQuery","query":"UPDATE clips_gerados\nSET status = 'erro',\n    status_publicacao = 'erro',\n    updated_at = NOW()\nWHERE id = '{{ $('fetch-clip-do-nicho').item.json.clip_id }}';","options":{}},"id":"aea0cb45-42da-4bab-8d73-5e3778511e59","name":"mark-no-accounts-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-9632,3976],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Monta um item por conta social ativa + agenda publishTime em slots fixos\nconst clip = $('fetch-clip-do-nicho').item.json;\nconst rawAccounts = Array.isArray($json.publishAccounts)\n  ? $json.publishAccounts\n  : Array.isArray($json.data?.publishAccounts)\n    ? $json.data.publishAccounts\n    : Array.isArray($json.data)\n      ? $json.data\n      : Array.isArray($json.accounts)\n        ? $json.accounts\n        : [];\nconst activeAccounts = rawAccounts.filter(a => String(a?.status || '').toLowerCase() === 'active' || Number(a?.status) === 1);\n\nif (activeAccounts.length === 0) {\n  return [];\n}\n\nconst SLOT_HOURS = [8, 14, 20]; // manha, tarde, noite (America/Sao_Paulo)\nconst LEAD_SECONDS = 120; // evita agendar no passado imediato\n\n// Converte \"agora\" para data/hora SP (BRT fixo -03)\nfunction getSpNowParts() {\n  const now = new Date();\n  const utcMs = now.getTime() + now.getTimezoneOffset() * 60000;\n  const sp = new Date(utcMs - 3 * 60 * 60 * 1000);\n  return {\n    year: sp.getUTCFullYear(),\n    month: sp.getUTCMonth() + 1,\n    day: sp.getUTCDate(),\n  };\n}\n\nfunction spToEpoch(year, month, day, hour) {\n  // Hora SP para epoch UTC (SP = UTC-3)\n  return Math.floor(Date.UTC(year, month - 1, day, hour + 3, 0, 0) / 1000);\n}\n\nfunction addDays(year, month, day, daysToAdd) {\n  const d = new Date(Date.UTC(year, month - 1, day + daysToAdd));\n  return {\n    year: d.getUTCFullYear(),\n    month: d.getUTCMonth() + 1,\n    day: d.getUTCDate(),\n  };\n}\n\nfunction getFirstAvailableSlot(nowUnix) {\n  const spNow = getSpNowParts();\n\n  for (let i = 0; i < SLOT_HOURS.length; i += 1) {\n    const candidate = spToEpoch(spNow.year, spNow.month, spNow.day, SLOT_HOURS[i]);\n    if (candidate > nowUnix + LEAD_SECONDS) {\n      return {\n        baseYear: spNow.year,\n        baseMonth: spNow.month,\n        baseDay: spNow.day,\n        baseSlotIndex: i,\n      };\n    }\n  }\n\n  const nextDay = addDays(spNow.year, spNow.month, spNow.day, 1);\n  return {\n    baseYear: nextDay.year,\n    baseMonth: nextDay.month,\n    baseDay: nextDay.day,\n    baseSlotIndex: 0,\n  };\n}\n\nfunction getSlotEpochFromBase(base, offsetSlots) {\n  const total = base.baseSlotIndex + offsetSlots;\n  const dayOffset = Math.floor(total / SLOT_HOURS.length);\n  const slotIndex = total % SLOT_HOURS.length;\n  const targetDate = addDays(base.baseYear, base.baseMonth, base.baseDay, dayOffset);\n  return spToEpoch(targetDate.year, targetDate.month, targetDate.day, SLOT_HOURS[slotIndex]);\n}\n\nconst sd = $getWorkflowStaticData('global');\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst runKey = String(($('schedule-3x-dia').item.json.timestamp || Date.now()));\n\nif (sd.schedulerRunKey !== runKey) {\n  sd.schedulerRunKey = runKey;\n  sd.schedulerBase = getFirstAvailableSlot(nowUnix);\n  sd.schedulerOffset = 0;\n}\n\n// Um slot por clip (todas as contas desse clip usam o mesmo horario)\nconst clipOffset = Number(sd.schedulerOffset || 0);\nconst publishTime = getSlotEpochFromBase(sd.schedulerBase, clipOffset);\nsd.schedulerOffset = clipOffset + 1;\n\nreturn activeAccounts.map(account => ({\n  json: {\n    clip_id:          clip.clip_id,\n    vizard_video_id:  clip.vizard_video_id,\n    titulo_final:     clip.titulo_final || '',\n    descricao_final:  clip.descricao_final || '',\n    descricao_base:   clip.descricao_base || '',\n    hashtags:         clip.hashtags || '',\n    nicho:            clip.nicho || '',\n    canal_id:         clip.canal_id || '',\n    score_clip:       clip.score_clip || 0,\n    arquivo_clip_url: clip.arquivo_clip_url || '',\n\n    // Dados da conta social\n    account_id:       String(account.id || account.socialAccountId || ''),\n    account_platform: String(account.platform || account.type || account.socialPlatform || 'unknown').toLowerCase(),\n    account_name:     account.username || account.page || account.name || '',\n    has_account:      true,\n\n    // Agendamento (Unix int64)\n    publish_time:     publishTime,\n  }\n}));\n"},"id":"c6ce8c89-37b0-40ea-b470-ead8fcb72d1b","name":"prepare-publish-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-9632,3760]},{"parameters":{"options":{}},"id":"b01c190d-ac14-41d5-9220-05164d72ed40","name":"loop-by-account","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-9408,4072]},{"parameters":{"operation":"executeQuery","query":"-- Verifica se este clip ja foi publicado OU agendado nesta plataforma\nSELECT id FROM publicacoes\nWHERE clip_id = '{{ $json.clip_id }}'\n  AND plataforma = '{{ $json.account_platform }}'\n  AND status IN ('publicado', 'agendado')\nLIMIT 1;\n","options":{}},"id":"f9e2e5be-cce4-4d83-95a7-b218cafb90f4","name":"check-already-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-9184,3928],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-published-yet","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"cf418b35-0f4a-4f1e-9565-70910d8db281","name":"if-not-published-yet","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8960,3928]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/publish-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ {\n  title: $('loop-by-account').item.json.titulo_final || '',\n  post: $('loop-by-account').item.json.descricao_base || '',\n  socialAccountId: String($('loop-by-account').item.json.account_id || ''),\n  finalVideoId: String($('loop-by-account').item.json.vizard_video_id || ''),\n  publishTime: Number($('loop-by-account').item.json.publish_time || 0)\n} }}","options":{"timeout":30000}},"id":"abae550c-830a-415c-867c-6f8ed89417a7","name":"publish-via-vizard","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-8736,3928],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Avalia resultado da publicacao (imediata x agendada)\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\nconst isSuccess = Number(result.code) === 2000;\n\nconst nowUnix = Math.floor(Date.now() / 1000);\nconst scheduledUnix = Number(payload.publish_time || 0);\nconst isScheduled = isSuccess && scheduledUnix > nowUnix + 60;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success:  isSuccess,\n    publish_code:     result.code ?? null,\n    publish_error:    isSuccess ? null : JSON.stringify(result).substring(0, 500),\n    pub_status:       isSuccess ? (isScheduled ? 'agendado' : 'publicado') : 'erro',\n    pub_platform_id:  isSuccess ? (result.data?.id || result.data?.videoId || null) : null,\n    pub_scheduled_for: isScheduled ? scheduledUnix : null,\n  }\n}];\n"},"id":"8d05a0b1-e9d7-4b56-8ba3-e899e7cd6c2d","name":"process-publish-result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8512,3928]},{"parameters":{"jsCode":"// HTTP error path — marca como erro\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success: false,\n    publish_code:    null,\n    publish_error:   JSON.stringify(result).substring(0, 500),\n    pub_status:      'erro',\n    pub_platform_id: null\n  }\n}];"},"id":"516df1d4-8356-4420-9a7d-fb7d0bc55dba","name":"handle-publish-http-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[-8512,4120]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO publicacoes (\n  clip_id,\n  plataforma,\n  id_publicacao_plataforma,\n  status,\n  erro_mensagem,\n  data_publicacao,\n  created_at,\n  updated_at\n) VALUES (\n  '{{ $json.clip_id }}',\n  '{{ $json.account_platform }}',\n  '{{ $json.pub_platform_id ?? \"\" }}',\n  '{{ $json.pub_status }}',\n  {{ $json.publish_error ? \"'\" + $json.publish_error.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  {{ $json.pub_status === 'agendado' ? \"to_timestamp(\" + $json.publish_time + \")\" : ($json.pub_status === 'publicado' ? \"NOW()\" : \"NULL\") }},\n  NOW(),\n  NOW()\n)\nON CONFLICT ON CONSTRAINT uq_publicacao_plataforma DO UPDATE\nSET status = EXCLUDED.status,\n    erro_mensagem = EXCLUDED.erro_mensagem,\n    data_publicacao = COALESCE(EXCLUDED.data_publicacao, publicacoes.data_publicacao),\n    updated_at = NOW();\n","options":{}},"id":"9abbc434-fbf9-4dee-95f3-88c7f77d445c","name":"insert-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-8288,3928],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- Atualiza status do clip de forma monotonica (nunca regride de sucesso para erro)\nUPDATE clips_gerados cg\nSET status = CASE\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'publicado'\n      ) THEN 'publicado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'agendado'\n      ) THEN 'agendado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'erro'\n      ) THEN 'erro'\n      ELSE cg.status\n    END,\n    status_publicacao = CASE\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'publicado'\n      ) THEN 'publicado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'agendado'\n      ) THEN 'agendado'\n      WHEN EXISTS (\n        SELECT 1 FROM publicacoes p\n        WHERE p.clip_id = cg.id AND p.status = 'erro'\n      ) THEN 'erro'\n      ELSE cg.status_publicacao\n    END,\n    updated_at = NOW()\nWHERE cg.id = '{{ $json.clip_id }}';","options":{}},"id":"ec40c5a7-83df-4749-bc90-192c52ae596d","name":"mark-clip-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-8064,3928],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"amount":2},"id":"be0de547-ce76-4937-961a-654ecafc4b4a","name":"wait-between-publishes","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-7840,4000],"webhookId":"pub-wait-001"}],"connections":{"schedule-3x-dia":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"pick-nicho-rotativo","type":"main","index":0}]]},"pick-nicho-rotativo":{"main":[[{"node":"if-nicho-disponivel","type":"main","index":0}]]},"if-nicho-disponivel":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"todos-nichos-publicados-hoje","type":"main","index":0}]]},"fetch-clip-do-nicho":{"main":[[{"node":"if-clip-encontrado","type":"main","index":0}]]},"if-clip-encontrado":{"main":[[{"node":"lock-clip-para-publicacao","type":"main","index":0}],[{"node":"sem-clips-neste-nicho","type":"main","index":0}]]},"lock-clip-para-publicacao":{"main":[[{"node":"fetch-vizard-accounts","type":"main","index":0}]]},"fetch-vizard-accounts":{"main":[[{"node":"if-has-accounts","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"if-has-accounts":{"main":[[{"node":"prepare-publish-payload","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"prepare-publish-payload":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"loop-by-account":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"check-already-published","type":"main","index":0}]]},"check-already-published":{"main":[[{"node":"if-not-published-yet","type":"main","index":0}]]},"if-not-published-yet":{"main":[[{"node":"publish-via-vizard","type":"main","index":0}],[{"node":"loop-by-account","type":"main","index":0}]]},"publish-via-vizard":{"main":[[{"node":"process-publish-result","type":"main","index":0}],[{"node":"handle-publish-http-error","type":"main","index":0}]]},"process-publish-result":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"handle-publish-http-error":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"insert-publicacao":{"main":[[{"node":"mark-clip-published","type":"main","index":0}]]},"mark-clip-published":{"main":[[{"node":"wait-between-publishes","type":"main","index":0}]]},"wait-between-publishes":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"mark-no-accounts-error":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version 1f04b7be","description":"","autosaved":false},"tags":[]}