[agent-5]-clip-publisher-queue-OWs_TbzNZfSHOZTVX2K8P.json
{"updatedAt":"2026-03-06T12:20:43.056Z","createdAt":"2026-02-20T17:31:55.077Z","id":"OWs_TbzNZfSHOZTVX2K8P","name":"[AGENT-5]-Clip-Publisher-Queue","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,14,20 * * *"}]}},"id":"ed6ae6dd-2bc7-4896-8182-18b166df376b","name":"schedule-3x-dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[12224,5760]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[12448,5760],"id":"0e536c04-ee09-4197-91a3-30b99308dd7c","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o nicho com MENOS publicacoes hoje para rotacionar\n-- Garante que cada execução pega um nicho diferente\nWITH nichos_disponiveis AS (\n  SELECT DISTINCT nicho\n  FROM clips_gerados\n  WHERE status_publicacao = 'pronto_para_publicar'\n    AND vizard_video_id IS NOT NULL\n    AND nicho IS NOT NULL\n    AND nicho != ''\n),\nnichos_publicados_hoje AS (\n  SELECT cg.nicho, COUNT(*) AS qtd_hoje\n  FROM publicacoes p\n  JOIN clips_gerados cg ON cg.id = p.clip_id\n  WHERE p.created_at::date = CURRENT_DATE\n    AND p.status = 'publicado'\n  GROUP BY cg.nicho\n)\nSELECT \n  nd.nicho,\n  COALESCE(nph.qtd_hoje, 0) AS publicados_hoje\nFROM nichos_disponiveis nd\nLEFT JOIN nichos_publicados_hoje nph ON nph.nicho = nd.nicho\n-- Maximo 1 publicacao por nicho por dia (3 nichos = 3 publicacoes)\nWHERE COALESCE(nph.qtd_hoje, 0) < 1\nORDER BY COALESCE(nph.qtd_hoje, 0) ASC, RANDOM()\nLIMIT 1;","options":{}},"id":"f44d8264-dbee-4d98-b4ba-577e3b09ca9f","name":"pick-nicho-rotativo","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[12672,5760],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-nicho","leftValue":"={{ $json.nicho }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1264146f-ab35-4640-855a-5dcaf33bef30","name":"if-nicho-disponivel","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12896,5760]},{"parameters":{},"id":"caa0977b-7038-4fb6-8956-6c9fc559f48b","name":"todos-nichos-publicados-hoje","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13120,5856]},{"parameters":{"operation":"executeQuery","query":"-- Busca 1 clip do nicho selecionado que ainda nao foi publicado\nSELECT\n  cg.id AS clip_id,\n  cg.vizard_video_id,\n  cg.titulo_final,\n  cg.descricao_final,\n  cg.descricao_base,\n  cg.hashtags,\n  cg.nicho,\n  cg.canal_id,\n  cg.score_clip,\n  cg.arquivo_clip_url,\n  cd.nome_canal\nFROM clips_gerados cg\nLEFT JOIN canais_descobertos cd ON cd.canal_id = cg.canal_id\nWHERE cg.status_publicacao = 'pronto_para_publicar'\n  AND cg.status = 'pronto_para_publicar'\n  AND cg.vizard_video_id IS NOT NULL\n  AND cg.nicho = '{{ $('pick-nicho-rotativo').item.json.nicho }}'\n  -- Anti-duplicata: clip nao pode ter publicacao com status publicado\n  AND NOT EXISTS (\n    SELECT 1 FROM publicacoes p\n    WHERE p.clip_id = cg.id\n      AND p.status = 'publicado'\n  )\nORDER BY cg.score_clip DESC, cg.created_at ASC\nLIMIT 1;","options":{}},"id":"1314562a-46eb-487c-a570-89b223ab80ca","name":"fetch-clip-do-nicho","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[13120,5664],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clip","leftValue":"={{ $json.clip_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"05a95591-a10e-4748-b3ce-e5e7fa32c9b8","name":"if-clip-encontrado","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[13344,5664]},{"parameters":{},"id":"b4a6b0ad-71a9-47ee-aec0-5554c8736c70","name":"sem-clips-neste-nicho","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13568,5696]},{"parameters":{"operation":"executeQuery","query":"-- Lock: marca o clip como em_processamento para evitar duplicata\nUPDATE clips_gerados\nSET status = 'em_processamento',\n    status_publicacao = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND status_publicacao = 'pronto_para_publicar'\nRETURNING id;","options":{}},"id":"fc4d9b1b-d1be-402b-809b-bb564a24667c","name":"lock-clip-para-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[13568,5504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/account/social-media-accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"options":{"timeout":15000}},"id":"6151c46f-d1e8-484a-9ddc-94bc6fe5b181","name":"fetch-vizard-accounts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13792,5504],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-accounts","leftValue":"={{ $json.publishAccounts }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"93cb6a85-7a4e-4b8c-a655-6ab811a3a102","name":"if-has-accounts","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[14016,5424]},{"parameters":{"operation":"executeQuery","query":"UPDATE clips_gerados\nSET status = 'erro',\n    status_publicacao = 'erro',\n    updated_at = NOW()\nWHERE id = '{{ $('fetch-clip-do-nicho').item.json.clip_id }}';","options":{}},"id":"3f3b6b4d-6532-4c35-9772-dd5b00e52a19","name":"mark-no-accounts-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[14240,5600],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Monta um item por conta social ativa\nconst clip = $('fetch-clip-do-nicho').item.json;\nconst accounts = $json.publishAccounts || [];\nconst activeAccounts = accounts.filter(a => a.status === 'active' || a.status === 1);\n\nif (activeAccounts.length === 0) {\n  return [{ json: { has_account: false } }];\n}\n\nreturn activeAccounts.map(account => ({\n  json: {\n    clip_id:          clip.clip_id,\n    vizard_video_id:  clip.vizard_video_id,\n    titulo_final:     clip.titulo_final || '',\n    descricao_final:  clip.descricao_final || '',\n    descricao_base:   clip.descricao_base || '',\n    hashtags:         clip.hashtags || '',\n    nicho:            clip.nicho || '',\n    canal_id:         clip.canal_id || '',\n    score_clip:       clip.score_clip || 0,\n    arquivo_clip_url: clip.arquivo_clip_url || '',\n\n    // Dados da conta social\n    account_id:       account.id,\n    account_platform: String(account.platform || account.type || 'unknown').toLowerCase(),\n    account_name:     account.username || account.page || '',\n    has_account:      true\n  }\n}));"},"id":"1e0c60a4-863c-4e67-97a1-81efa8598cd0","name":"prepare-publish-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[14240,5376]},{"parameters":{"options":{}},"id":"05363cbf-d25c-4153-a004-6a71389341c8","name":"loop-by-account","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[14464,5376]},{"parameters":{"operation":"executeQuery","query":"-- Verifica se este clip JA foi publicado nesta plataforma\nSELECT id FROM publicacoes\nWHERE clip_id = '{{ $json.clip_id }}'\n  AND plataforma = '{{ $json.account_platform }}'\n  AND status = 'publicado'\nLIMIT 1;","options":{}},"id":"985aa151-f910-45cd-820d-17c780db46ae","name":"check-already-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[14688,5312],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-published-yet","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc00fcdd-32ed-4694-a332-023cf30b9d2e","name":"if-not-published-yet","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[14912,5376]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/publish-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $('loop-by-account').item.json.titulo_final }}\",\n  \"post\": \"{{ $('loop-by-account').item.json.descricao_base }}\",\n  \"socialAccountId\": \"{{ $('loop-by-account').item.json.account_id }}\",\n  \"finalVideoId\": {{ $('loop-by-account').item.json.vizard_video_id }}\n}","options":{"timeout":30000}},"id":"2b9c1f48-a009-45b4-a834-b5c356a93931","name":"publish-via-vizard","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[15136,5376],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Avalia resultado da publicacao\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\nconst isSuccess = Number(result.code) === 2000;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success:  isSuccess,\n    publish_code:     result.code ?? null,\n    publish_error:    isSuccess ? null : JSON.stringify(result).substring(0, 500),\n    pub_status:       isSuccess ? 'publicado' : 'erro',\n    pub_platform_id:  isSuccess ? (result.data?.id || result.data?.videoId || null) : null\n  }\n}];"},"id":"4d534f70-a27f-4f62-9f88-19f3a776550c","name":"process-publish-result","type":"n8n-nodes-base.code","typeVersion":2,"position":[15360,5280]},{"parameters":{"jsCode":"// HTTP error path — marca como erro\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success: false,\n    publish_code:    null,\n    publish_error:   JSON.stringify(result).substring(0, 500),\n    pub_status:      'erro',\n    pub_platform_id: null\n  }\n}];"},"id":"1469859d-af1c-4e4b-bc4e-aa7b0b6f6960","name":"handle-publish-http-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[15360,5472]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO publicacoes (\n  clip_id,\n  plataforma,\n  id_publicacao_plataforma,\n  status,\n  erro_mensagem,\n  created_at\n) VALUES (\n  '{{ $json.clip_id }}',\n  '{{ $json.account_platform }}',\n  '{{ $json.pub_platform_id ?? \"\" }}',\n  '{{ $json.pub_status }}',\n  {{ $json.publish_error ? \"'\" + $json.publish_error.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  NOW()\n)\nON CONFLICT ON CONSTRAINT uq_publicacao_plataforma DO NOTHING;","options":{}},"id":"90a4acdb-8a24-492d-b61e-213ce200a1c3","name":"insert-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[15584,5376],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- CRITICO: Marca o clip como publicado em AMBAS as colunas\n-- Isso impede que o clip seja selecionado novamente\nUPDATE clips_gerados\nSET status = 'publicado',\n    status_publicacao = 'publicado',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND '{{ $json.pub_status }}' = 'publicado';","options":{}},"id":"40e7c49d-f0c4-47af-b7da-01b1509406a3","name":"mark-clip-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[15808,5376],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{},"id":"760be8f4-6356-412f-82cb-bfbd7fd84b5e","name":"wait-between-publishes","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16032,5456],"webhookId":"pub-wait-001"}],"connections":{"schedule-3x-dia":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"pick-nicho-rotativo","type":"main","index":0}]]},"pick-nicho-rotativo":{"main":[[{"node":"if-nicho-disponivel","type":"main","index":0}]]},"if-nicho-disponivel":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"todos-nichos-publicados-hoje","type":"main","index":0}]]},"fetch-clip-do-nicho":{"main":[[{"node":"if-clip-encontrado","type":"main","index":0}]]},"if-clip-encontrado":{"main":[[{"node":"lock-clip-para-publicacao","type":"main","index":0}],[{"node":"sem-clips-neste-nicho","type":"main","index":0}]]},"lock-clip-para-publicacao":{"main":[[{"node":"fetch-vizard-accounts","type":"main","index":0}]]},"fetch-vizard-accounts":{"main":[[{"node":"if-has-accounts","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"if-has-accounts":{"main":[[{"node":"prepare-publish-payload","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"prepare-publish-payload":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"loop-by-account":{"main":[[],[{"node":"check-already-published","type":"main","index":0}]]},"check-already-published":{"main":[[{"node":"if-not-published-yet","type":"main","index":0}]]},"if-not-published-yet":{"main":[[{"node":"publish-via-vizard","type":"main","index":0}],[{"node":"loop-by-account","type":"main","index":0}]]},"publish-via-vizard":{"main":[[{"node":"process-publish-result","type":"main","index":0}],[{"node":"handle-publish-http-error","type":"main","index":0}]]},"process-publish-result":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"handle-publish-http-error":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"insert-publicacao":{"main":[[{"node":"mark-clip-published","type":"main","index":0}]]},"mark-clip-published":{"main":[[{"node":"wait-between-publishes","type":"main","index":0}]]},"wait-between-publishes":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:schedule-trigger-8h":{"recurrenceRules":[16]},"node:schedule-3x-dia":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23ffa648-9a5b-4026-82fa-418468e3dc15","activeVersionId":"23ffa648-9a5b-4026-82fa-418468e3dc15","triggerCount":1,"shared":[{"updatedAt":"2026-02-20T17:31:55.077Z","createdAt":"2026-02-20T17:31:55.077Z","role":"workflow:owner","workflowId":"OWs_TbzNZfSHOZTVX2K8P","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-06T12:27:00.019Z","createdAt":"2026-03-06T12:20:43.059Z","versionId":"23ffa648-9a5b-4026-82fa-418468e3dc15","workflowId":"OWs_TbzNZfSHOZTVX2K8P","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8,14,20 * * *"}]}},"id":"ed6ae6dd-2bc7-4896-8182-18b166df376b","name":"schedule-3x-dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[12224,5760]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[12448,5760],"id":"0e536c04-ee09-4197-91a3-30b99308dd7c","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"executeQuery","query":"-- Seleciona o nicho com MENOS publicacoes hoje para rotacionar\n-- Garante que cada execução pega um nicho diferente\nWITH nichos_disponiveis AS (\n  SELECT DISTINCT nicho\n  FROM clips_gerados\n  WHERE status_publicacao = 'pronto_para_publicar'\n    AND vizard_video_id IS NOT NULL\n    AND nicho IS NOT NULL\n    AND nicho != ''\n),\nnichos_publicados_hoje AS (\n  SELECT cg.nicho, COUNT(*) AS qtd_hoje\n  FROM publicacoes p\n  JOIN clips_gerados cg ON cg.id = p.clip_id\n  WHERE p.created_at::date = CURRENT_DATE\n    AND p.status = 'publicado'\n  GROUP BY cg.nicho\n)\nSELECT \n  nd.nicho,\n  COALESCE(nph.qtd_hoje, 0) AS publicados_hoje\nFROM nichos_disponiveis nd\nLEFT JOIN nichos_publicados_hoje nph ON nph.nicho = nd.nicho\n-- Maximo 1 publicacao por nicho por dia (3 nichos = 3 publicacoes)\nWHERE COALESCE(nph.qtd_hoje, 0) < 1\nORDER BY COALESCE(nph.qtd_hoje, 0) ASC, RANDOM()\nLIMIT 1;","options":{}},"id":"f44d8264-dbee-4d98-b4ba-577e3b09ca9f","name":"pick-nicho-rotativo","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[12672,5760],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-nicho","leftValue":"={{ $json.nicho }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"1264146f-ab35-4640-855a-5dcaf33bef30","name":"if-nicho-disponivel","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[12896,5760]},{"parameters":{},"id":"caa0977b-7038-4fb6-8956-6c9fc559f48b","name":"todos-nichos-publicados-hoje","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13120,5856]},{"parameters":{"operation":"executeQuery","query":"-- Busca 1 clip do nicho selecionado que ainda nao foi publicado\nSELECT\n  cg.id AS clip_id,\n  cg.vizard_video_id,\n  cg.titulo_final,\n  cg.descricao_final,\n  cg.descricao_base,\n  cg.hashtags,\n  cg.nicho,\n  cg.canal_id,\n  cg.score_clip,\n  cg.arquivo_clip_url,\n  cd.nome_canal\nFROM clips_gerados cg\nLEFT JOIN canais_descobertos cd ON cd.canal_id = cg.canal_id\nWHERE cg.status_publicacao = 'pronto_para_publicar'\n  AND cg.status = 'pronto_para_publicar'\n  AND cg.vizard_video_id IS NOT NULL\n  AND cg.nicho = '{{ $('pick-nicho-rotativo').item.json.nicho }}'\n  -- Anti-duplicata: clip nao pode ter publicacao com status publicado\n  AND NOT EXISTS (\n    SELECT 1 FROM publicacoes p\n    WHERE p.clip_id = cg.id\n      AND p.status = 'publicado'\n  )\nORDER BY cg.score_clip DESC, cg.created_at ASC\nLIMIT 1;","options":{}},"id":"1314562a-46eb-487c-a570-89b223ab80ca","name":"fetch-clip-do-nicho","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[13120,5664],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-clip","leftValue":"={{ $json.clip_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"05a95591-a10e-4748-b3ce-e5e7fa32c9b8","name":"if-clip-encontrado","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[13344,5664]},{"parameters":{},"id":"b4a6b0ad-71a9-47ee-aec0-5554c8736c70","name":"sem-clips-neste-nicho","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[13568,5696]},{"parameters":{"operation":"executeQuery","query":"-- Lock: marca o clip como em_processamento para evitar duplicata\nUPDATE clips_gerados\nSET status = 'em_processamento',\n    status_publicacao = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND status_publicacao = 'pronto_para_publicar'\nRETURNING id;","options":{}},"id":"fc4d9b1b-d1be-402b-809b-bb564a24667c","name":"lock-clip-para-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[13568,5504],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/account/social-media-accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"options":{"timeout":15000}},"id":"6151c46f-d1e8-484a-9ddc-94bc6fe5b181","name":"fetch-vizard-accounts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[13792,5504],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-accounts","leftValue":"={{ $json.publishAccounts }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"93cb6a85-7a4e-4b8c-a655-6ab811a3a102","name":"if-has-accounts","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[14016,5424]},{"parameters":{"operation":"executeQuery","query":"UPDATE clips_gerados\nSET status = 'erro',\n    status_publicacao = 'erro',\n    updated_at = NOW()\nWHERE id = '{{ $('fetch-clip-do-nicho').item.json.clip_id }}';","options":{}},"id":"3f3b6b4d-6532-4c35-9772-dd5b00e52a19","name":"mark-no-accounts-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[14240,5600],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"// Monta um item por conta social ativa\nconst clip = $('fetch-clip-do-nicho').item.json;\nconst accounts = $json.publishAccounts || [];\nconst activeAccounts = accounts.filter(a => a.status === 'active' || a.status === 1);\n\nif (activeAccounts.length === 0) {\n  return [{ json: { has_account: false } }];\n}\n\nreturn activeAccounts.map(account => ({\n  json: {\n    clip_id:          clip.clip_id,\n    vizard_video_id:  clip.vizard_video_id,\n    titulo_final:     clip.titulo_final || '',\n    descricao_final:  clip.descricao_final || '',\n    descricao_base:   clip.descricao_base || '',\n    hashtags:         clip.hashtags || '',\n    nicho:            clip.nicho || '',\n    canal_id:         clip.canal_id || '',\n    score_clip:       clip.score_clip || 0,\n    arquivo_clip_url: clip.arquivo_clip_url || '',\n\n    // Dados da conta social\n    account_id:       account.id,\n    account_platform: String(account.platform || account.type || 'unknown').toLowerCase(),\n    account_name:     account.username || account.page || '',\n    has_account:      true\n  }\n}));"},"id":"1e0c60a4-863c-4e67-97a1-81efa8598cd0","name":"prepare-publish-payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[14240,5376]},{"parameters":{"options":{}},"id":"05363cbf-d25c-4153-a004-6a71389341c8","name":"loop-by-account","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[14464,5376]},{"parameters":{"operation":"executeQuery","query":"-- Verifica se este clip JA foi publicado nesta plataforma\nSELECT id FROM publicacoes\nWHERE clip_id = '{{ $json.clip_id }}'\n  AND plataforma = '{{ $json.account_platform }}'\n  AND status = 'publicado'\nLIMIT 1;","options":{}},"id":"985aa151-f910-45cd-820d-17c780db46ae","name":"check-already-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[14688,5312],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"not-published-yet","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc00fcdd-32ed-4694-a332-023cf30b9d2e","name":"if-not-published-yet","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[14912,5376]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/publish-video","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"{{ $('loop-by-account').item.json.titulo_final }}\",\n  \"post\": \"{{ $('loop-by-account').item.json.descricao_base }}\",\n  \"socialAccountId\": \"{{ $('loop-by-account').item.json.account_id }}\",\n  \"finalVideoId\": {{ $('loop-by-account').item.json.vizard_video_id }}\n}","options":{"timeout":30000}},"id":"2b9c1f48-a009-45b4-a834-b5c356a93931","name":"publish-via-vizard","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[15136,5376],"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Avalia resultado da publicacao\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\nconst isSuccess = Number(result.code) === 2000;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success:  isSuccess,\n    publish_code:     result.code ?? null,\n    publish_error:    isSuccess ? null : JSON.stringify(result).substring(0, 500),\n    pub_status:       isSuccess ? 'publicado' : 'erro',\n    pub_platform_id:  isSuccess ? (result.data?.id || result.data?.videoId || null) : null\n  }\n}];"},"id":"4d534f70-a27f-4f62-9f88-19f3a776550c","name":"process-publish-result","type":"n8n-nodes-base.code","typeVersion":2,"position":[15360,5280]},{"parameters":{"jsCode":"// HTTP error path — marca como erro\nconst payload = $('loop-by-account').item.json;\nconst result = $input.first().json;\n\nreturn [{\n  json: {\n    ...payload,\n    publish_success: false,\n    publish_code:    null,\n    publish_error:   JSON.stringify(result).substring(0, 500),\n    pub_status:      'erro',\n    pub_platform_id: null\n  }\n}];"},"id":"1469859d-af1c-4e4b-bc4e-aa7b0b6f6960","name":"handle-publish-http-error","type":"n8n-nodes-base.code","typeVersion":2,"position":[15360,5472]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO publicacoes (\n  clip_id,\n  plataforma,\n  id_publicacao_plataforma,\n  status,\n  erro_mensagem,\n  created_at\n) VALUES (\n  '{{ $json.clip_id }}',\n  '{{ $json.account_platform }}',\n  '{{ $json.pub_platform_id ?? \"\" }}',\n  '{{ $json.pub_status }}',\n  {{ $json.publish_error ? \"'\" + $json.publish_error.replace(/'/g, \"''\") + \"'\" : \"NULL\" }},\n  NOW()\n)\nON CONFLICT ON CONSTRAINT uq_publicacao_plataforma DO NOTHING;","options":{}},"id":"90a4acdb-8a24-492d-b61e-213ce200a1c3","name":"insert-publicacao","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[15584,5376],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"-- CRITICO: Marca o clip como publicado em AMBAS as colunas\n-- Isso impede que o clip seja selecionado novamente\nUPDATE clips_gerados\nSET status = 'publicado',\n    status_publicacao = 'publicado',\n    updated_at = NOW()\nWHERE id = '{{ $json.clip_id }}'\n  AND '{{ $json.pub_status }}' = 'publicado';","options":{}},"id":"40e7c49d-f0c4-47af-b7da-01b1509406a3","name":"mark-clip-published","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[15808,5376],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{},"id":"760be8f4-6356-412f-82cb-bfbd7fd84b5e","name":"wait-between-publishes","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[16032,5456],"webhookId":"pub-wait-001"}],"connections":{"schedule-3x-dia":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"pick-nicho-rotativo","type":"main","index":0}]]},"pick-nicho-rotativo":{"main":[[{"node":"if-nicho-disponivel","type":"main","index":0}]]},"if-nicho-disponivel":{"main":[[{"node":"fetch-clip-do-nicho","type":"main","index":0}],[{"node":"todos-nichos-publicados-hoje","type":"main","index":0}]]},"fetch-clip-do-nicho":{"main":[[{"node":"if-clip-encontrado","type":"main","index":0}]]},"if-clip-encontrado":{"main":[[{"node":"lock-clip-para-publicacao","type":"main","index":0}],[{"node":"sem-clips-neste-nicho","type":"main","index":0}]]},"lock-clip-para-publicacao":{"main":[[{"node":"fetch-vizard-accounts","type":"main","index":0}]]},"fetch-vizard-accounts":{"main":[[{"node":"if-has-accounts","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"if-has-accounts":{"main":[[{"node":"prepare-publish-payload","type":"main","index":0}],[{"node":"mark-no-accounts-error","type":"main","index":0}]]},"prepare-publish-payload":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]},"loop-by-account":{"main":[[],[{"node":"check-already-published","type":"main","index":0}]]},"check-already-published":{"main":[[{"node":"if-not-published-yet","type":"main","index":0}]]},"if-not-published-yet":{"main":[[{"node":"publish-via-vizard","type":"main","index":0}],[{"node":"loop-by-account","type":"main","index":0}]]},"publish-via-vizard":{"main":[[{"node":"process-publish-result","type":"main","index":0}],[{"node":"handle-publish-http-error","type":"main","index":0}]]},"process-publish-result":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"handle-publish-http-error":{"main":[[{"node":"insert-publicacao","type":"main","index":0}]]},"insert-publicacao":{"main":[[{"node":"mark-clip-published","type":"main","index":0}]]},"mark-clip-published":{"main":[[{"node":"wait-between-publishes","type":"main","index":0}]]},"wait-between-publishes":{"main":[[{"node":"loop-by-account","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version 23ffa648","description":"","autosaved":true},"tags":[]}