[agent-2]-content-hunter-10677gtlH_D5aNfRY-wvP.json
{"updatedAt":"2026-03-06T12:16:27.323Z","createdAt":"2026-02-06T16:57:11.108Z","id":"10677gtlH_D5aNfRY-wvP","name":"[AGENT-2]-Content-Hunter","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"13efbb43-8227-45b4-b603-43a5db84d6c3","name":"schedule-trigger-2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[7696,9936]},{"parameters":{"operation":"executeQuery","query":"SELECT slug FROM nichos","options":{}},"id":"70a20504-d8b3-496e-8e0b-04f1870c74bc","name":"fetch-active-slugs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7920,9936],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items.length) {\n  return [];\n}\n\n// Nichos sao informados manualmente (ex: tabela nichos).\n// Processa todos os nichos recebidos, sem sorteio aleatorio.\nreturn items\n  .map((item) => ({ json: { nicho_alvo: item.json.slug } }))\n  .filter((item) => !!item.json.nicho_alvo);"},"id":"579d6e30-8382-4bce-a39e-ce8d5a1e32ac","name":"pick-random-niche","type":"n8n-nodes-base.code","typeVersion":2,"position":[8144,9936]},{"parameters":{"operation":"executeQuery","query":"WITH progress AS (\n  SELECT COUNT(*)::int AS canais_varridos\n  FROM controle_varredura_canais_detalhe d\n  WHERE d.data_ref = CURRENT_DATE\n    AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n), candidate_channels AS (\n  SELECT\n    cd.canal_id,\n    cd.nome_canal,\n    cd.nicho_alvo,\n    cd.score,\n    cd.inscritos,\n    COALESCE(cd.data_ultima_analise, TIMESTAMP '1970-01-01') AS data_ultima_analise,\n    EXISTS (\n      SELECT 1\n      FROM controle_varredura_canais_detalhe d\n      WHERE d.data_ref = CURRENT_DATE\n        AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n        AND d.canal_id = cd.canal_id\n    ) AS seen_today\n  FROM canais_descobertos cd\n  WHERE cd.ativo = true\n    AND cd.score >= 0.60\n    AND cd.nicho_alvo = '{{ $json.nicho_alvo }}'\n), prioritized_channels AS (\n  SELECT cc.*\n  FROM candidate_channels cc\n  WHERE (\n    COALESCE((SELECT p.canais_varridos FROM progress p), 0) >= 60\n    OR cc.seen_today = false\n  )\n), source_channels AS (\n  SELECT * FROM prioritized_channels\n  UNION ALL\n  SELECT cc.*\n  FROM candidate_channels cc\n  WHERE NOT EXISTS (SELECT 1 FROM prioritized_channels)\n), ranked_channels AS (\n  SELECT\n    sc.canal_id,\n    sc.nome_canal,\n    sc.nicho_alvo,\n    ROW_NUMBER() OVER (\n      ORDER BY\n        sc.seen_today ASC,\n        sc.score DESC,\n        sc.inscritos DESC,\n        sc.data_ultima_analise ASC\n    ) AS rn,\n    COUNT(*) OVER () AS total_rows\n  FROM source_channels sc\n), params AS (\n  SELECT\n    CASE WHEN COALESCE((SELECT p.canais_varridos FROM progress p), 0) < 60 THEN 30 ELSE 20 END AS batch_size,\n    CASE WHEN COALESCE((SELECT p.canais_varridos FROM progress p), 0) < 60 THEN 4 ELSE 3 END AS rotation_slots,\n    COALESCE(MAX(rc.total_rows), 0) AS total_rows\n  FROM ranked_channels rc\n), paging AS (\n  SELECT\n    CASE\n      WHEN total_rows <= batch_size THEN 0\n      ELSE LEAST(\n        ((FLOOR(EXTRACT(HOUR FROM NOW()) / 2)::int % rotation_slots) * batch_size),\n        GREATEST(total_rows - batch_size, 0)\n      )\n    END AS start_row,\n    batch_size\n  FROM params\n), selected AS (\n  SELECT rc.canal_id, rc.nome_canal, rc.nicho_alvo, rc.rn\n  FROM ranked_channels rc\n  CROSS JOIN paging p\n  WHERE rc.rn > p.start_row\n    AND rc.rn <= p.start_row + p.batch_size\n  ORDER BY rc.rn\n), upsert_detail AS (\n  INSERT INTO controle_varredura_canais_detalhe (\n    data_ref,\n    nicho_slug,\n    canal_id,\n    first_seen_at,\n    last_seen_at\n  )\n  SELECT\n    CURRENT_DATE,\n    '{{ $json.nicho_alvo }}',\n    s.canal_id,\n    NOW(),\n    NOW()\n  FROM selected s\n  ON CONFLICT (data_ref, nicho_slug, canal_id)\n  DO UPDATE SET\n    last_seen_at = EXCLUDED.last_seen_at\n  RETURNING canal_id\n), ensure_order AS (\n  SELECT COUNT(*) AS touched_rows FROM upsert_detail\n), upsert_summary AS (\n  INSERT INTO controle_varredura_canais_diaria (\n    data_ref,\n    nicho_slug,\n    canais_varridos,\n    alvo_minimo_diario,\n    ultima_execucao,\n    created_at,\n    updated_at\n  )\n  SELECT\n    CURRENT_DATE,\n    '{{ $json.nicho_alvo }}',\n    COALESCE((\n      SELECT COUNT(*)\n      FROM controle_varredura_canais_detalhe d\n      WHERE d.data_ref = CURRENT_DATE\n        AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n    ), 0),\n    60,\n    NOW(),\n    NOW(),\n    NOW()\n  FROM ensure_order\n  ON CONFLICT (data_ref, nicho_slug)\n  DO UPDATE SET\n    canais_varridos = EXCLUDED.canais_varridos,\n    alvo_minimo_diario = EXCLUDED.alvo_minimo_diario,\n    ultima_execucao = NOW(),\n    updated_at = NOW()\n  RETURNING nicho_slug\n)\nSELECT s.canal_id, s.nome_canal, s.nicho_alvo\nFROM (SELECT COUNT(*) AS sync_rows FROM upsert_summary) u\nLEFT JOIN selected s ON true\nWHERE s.canal_id IS NOT NULL;","options":{}},"id":"8c0b900a-bf55-4219-98c6-07b17c024ee4","name":"fetch-top-channels","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8368,9936],"alwaysOutputData":false,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"abc18c86-6141-4f66-a884-d795bbe950de","name":"loop-by-channel","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8592,9936]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nsd.currentChannel = {\n  canal_id: $json.canal_id,\n  nome_canal: $json.nome_canal,\n  nicho_alvo: $json.nicho_alvo\n};\nreturn $input.all();"},"id":"64d86046-a3f0-4713-bf71-d616e06d4ade","name":"store-channel-context","type":"n8n-nodes-base.code","typeVersion":2,"position":[8816,9672]},{"parameters":{"jsCode":"// Trata canal_id como UC real ou handle para resolver pela API\nconst raw = String($json.canal_id || '').trim();\nconst cleaned = raw.replace('@', '');\nconst isUcId = /^UC[a-zA-Z0-9_-]{22}$/.test(cleaned);\n\nreturn [{\n  json: {\n    ...$json,\n    is_handle: !isUcId,\n    handle_lookup: cleaned,\n  }\n}];"},"id":"c96cf164-1246-4d01-8e85-8fd6025fd7b6","name":"check-canal-id-type","type":"n8n-nodes-base.code","typeVersion":2,"position":[9040,9672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is_handle_check","leftValue":"={{ $json.is_handle }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"1339532a-5614-4630-962c-4f176dc58776","name":"if-is-handle","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9264,9672]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"forHandle","value":"={{ $json.handle_lookup }}"},{"name":"part","value":"id"}]},"options":{}},"id":"7154795c-f21a-4159-a03e-7949863caca4","name":"resolve-handle-to-id","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9488,9552],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"// Extrai channelId real do resultado da API\nconst items = $json.items || [];\nconst channelId = items.length > 0 ? items[0].id : '';\n\nconst sd = $getWorkflowStaticData('global');\nsd.currentChannel.channel_id_real = channelId;\n\nreturn [{ json: { channel_id_real: channelId } }];"},"id":"e8b8c5b2-ff00-42aa-8702-56182e63c545","name":"extract-real-channel-id","type":"n8n-nodes-base.code","typeVersion":2,"position":[9712,9552]},{"parameters":{"jsCode":"// canal_id já é UCxxxx, passa direto\nconst sd = $getWorkflowStaticData('global');\nsd.currentChannel.channel_id_real = $json.canal_id;\n\nreturn [{ json: { channel_id_real: $json.canal_id } }];"},"id":"27b3b1f1-e4fe-4a3e-8344-a0c4585943c2","name":"use-canal-id-direct","type":"n8n-nodes-base.code","typeVersion":2,"position":[9712,9768]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"channelId","value":"={{ $json.channel_id_real }}"},{"name":"part","value":"snippet"},{"name":"type","value":"video"},{"name":"order","value":"viewCount"},{"name":"maxResults","value":"10"}]},"options":{}},"id":"a06d85f6-106b-4ce7-b11f-67eda8073c10","name":"youtube-search-videos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10160,9672],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"// Monta lista de video IDs para busca de detalhes\nconst items = $json.items || [];\nconst videoIds = items\n  .filter(i => i.id && i.id.videoId)\n  .map(i => i.id.videoId);\n\nif (!videoIds.length) return [];\n\nreturn [{ json: { video_ids: videoIds.join(',') } }];"},"id":"96344909-a135-416a-b29f-7a244f525b26","name":"extract-video-ids","type":"n8n-nodes-base.code","typeVersion":2,"position":[10384,9672]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.video_ids }}"},{"name":"part","value":"statistics,contentDetails,snippet"},{"name":"maxResults","value":"10"}]},"options":{}},"id":"ebb93ee0-4af2-482e-ac40-d2a447fd246f","name":"youtube-video-details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10832,9672],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nconst canal = sd.currentChannel || {};\n\nconst data = $input.first().json;\nconst items = data.items || [];\n\nconst parseDuration = (iso) => {\n  const m = iso.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!m) return 0;\n\n  return (parseInt(m[1] || 0) * 3600) +\n         (parseInt(m[2] || 0) * 60) +\n         parseInt(m[3] || 0);\n};\n\nconst esc = (s) =>\n  String(s || '').replace(/'/g, \"''\").substring(0, 500);\n\nconst results = [];\n\nfor (const item of items) {\n\n  if (results.length >= 10) break; // ✅ limite 10\n\n  const video_id = item.id;\n  if (!video_id || !/^[a-zA-Z0-9_-]{11}$/.test(video_id)) continue;\n\n  const stats   = item.statistics || {};\n  const details = item.contentDetails || {};\n  const snippet = item.snippet || {};\n\n  const durSec = parseDuration(details.duration || 'PT0S');\n\n  const views       = parseInt(stats.viewCount || 0);\n  const likes       = parseInt(stats.likeCount || 0);\n  const comentarios = parseInt(stats.commentCount || 0);\n\n  const engagement =\n    views > 0\n      ? parseFloat(((likes + comentarios) / views * 100).toFixed(2))\n      : 0;\n\n  results.push({\n    json: {\n      canal_id: esc(canal.canal_id || ''),\n      nicho: esc(canal.nicho_alvo || ''),\n      video_id: video_id,\n      url_video: `https://www.youtube.com/watch?v=${video_id}`,\n      titulo: esc(snippet.title || ''),\n      duracao_segundos: durSec,\n      views: views,\n      likes: likes,\n      comentarios: comentarios,\n      engagement_pct: engagement,\n      thumbnail_url: `https://i.ytimg.com/vi/${video_id}/hqdefault.jpg`\n    }\n  });\n}\n\nreturn results;"},"id":"aaa11309-6dbb-49a9-b026-402360662efb","name":"parse-api-videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[11056,9672]},{"parameters":{"options":{}},"id":"c34716d8-9e5e-4b10-939e-f0fa8abe5bec","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[11280,9672]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO videos_pendentes (\n  plataforma, canal_id, video_id, url_video,\n  titulo_original, duracao_segundos, nicho, status,\n  views, likes, comentarios, engagement_pct, thumbnail_url\n) VALUES (\n  'youtube',\n  '{{ $json.canal_id }}',\n  '{{ $json.video_id }}',\n  '{{ $json.url_video }}',\n  '{{ $json.titulo }}',\n  {{ $json.duracao_segundos }},\n  '{{ $json.nicho }}',\n  'pendente',\n  {{ $json.views }},\n  {{ $json.likes }},\n  {{ $json.comentarios }},\n  {{ $json.engagement_pct }},\n  '{{ $json.thumbnail_url }}'\n)\nON CONFLICT (video_id) DO NOTHING\nRETURNING id;","options":{}},"id":"7783adc9-3f07-4c6b-a857-4ca440b413ab","name":"insert-new-video","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[11504,9648],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as total_novos_videos, COUNT(*) FILTER (WHERE status = 'pendente') as pendentes FROM videos_pendentes WHERE created_at >= NOW() - INTERVAL '3 hours';","options":{}},"id":"74a2c3ad-a51e-4995-a46e-a774437c20f4","name":"fetch-collection-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8816,9864],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,9552],"id":"53008c22-0756-4230-ad5e-4afb83e14eb2","name":"Wait","webhookId":"a428b3ab-e3b0-4bea-8740-95d3369c4e1b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,9768],"id":"a115f7eb-8a34-48c1-8bb4-bcc6e0422bbb","name":"Wait1","webhookId":"c3a34975-6a56-4095-82c7-375fe1375385"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10608,9672],"id":"203566d8-1d88-4c21-b708-58f3e3fd04ec","name":"Wait2","webhookId":"8374688a-b425-46e7-86e0-72d4161bb841"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11504,9912],"id":"acd0775b-74c0-4a70-873d-2f366d68cbd5","name":"Wait3","webhookId":"8e7505df-6156-4bff-85a1-6b03900c9b5f"}],"connections":{"schedule-trigger-2h":{"main":[[{"node":"fetch-active-slugs","type":"main","index":0}]]},"fetch-active-slugs":{"main":[[{"node":"pick-random-niche","type":"main","index":0}]]},"pick-random-niche":{"main":[[{"node":"fetch-top-channels","type":"main","index":0}]]},"fetch-top-channels":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]},"loop-by-channel":{"main":[[{"node":"fetch-collection-summary","type":"main","index":0}],[{"node":"store-channel-context","type":"main","index":0}]]},"store-channel-context":{"main":[[{"node":"check-canal-id-type","type":"main","index":0}]]},"check-canal-id-type":{"main":[[{"node":"if-is-handle","type":"main","index":0}]]},"if-is-handle":{"main":[[{"node":"resolve-handle-to-id","type":"main","index":0}],[{"node":"use-canal-id-direct","type":"main","index":0}]]},"resolve-handle-to-id":{"main":[[{"node":"extract-real-channel-id","type":"main","index":0}]]},"extract-real-channel-id":{"main":[[{"node":"Wait","type":"main","index":0}]]},"use-canal-id-direct":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"youtube-search-videos":{"main":[[{"node":"extract-video-ids","type":"main","index":0}]]},"extract-video-ids":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"youtube-video-details":{"main":[[{"node":"parse-api-videos","type":"main","index":0}]]},"parse-api-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"insert-new-video","type":"main","index":0}]]},"insert-new-video":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"youtube-search-videos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"youtube-search-videos","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"youtube-video-details","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":{"node:schedule-trigger-2h":{"recurrenceRules":[18]},"global":{"currentChannel":{"canal_id":"UCY5nGkuALqkKKOVhivryH3A","nome_canal":"Gesiel Taveira","nicho_alvo":"tecnologia","channel_id_real":"UCY5nGkuALqkKKOVhivryH3A"}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00d1aa05-6743-4382-824e-e049f69085fd","activeVersionId":"00d1aa05-6743-4382-824e-e049f69085fd","triggerCount":1,"shared":[{"updatedAt":"2026-02-06T16:57:11.108Z","createdAt":"2026-02-06T16:57:11.108Z","role":"workflow:owner","workflowId":"10677gtlH_D5aNfRY-wvP","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-06T12:16:33.271Z","createdAt":"2026-03-06T12:16:27.325Z","versionId":"00d1aa05-6743-4382-824e-e049f69085fd","workflowId":"10677gtlH_D5aNfRY-wvP","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"id":"13efbb43-8227-45b4-b603-43a5db84d6c3","name":"schedule-trigger-2h","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[7696,9936]},{"parameters":{"operation":"executeQuery","query":"SELECT slug FROM nichos","options":{}},"id":"70a20504-d8b3-496e-8e0b-04f1870c74bc","name":"fetch-active-slugs","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[7920,9936],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nif (!items.length) {\n  return [];\n}\n\n// Nichos sao informados manualmente (ex: tabela nichos).\n// Processa todos os nichos recebidos, sem sorteio aleatorio.\nreturn items\n  .map((item) => ({ json: { nicho_alvo: item.json.slug } }))\n  .filter((item) => !!item.json.nicho_alvo);"},"id":"579d6e30-8382-4bce-a39e-ce8d5a1e32ac","name":"pick-random-niche","type":"n8n-nodes-base.code","typeVersion":2,"position":[8144,9936]},{"parameters":{"operation":"executeQuery","query":"WITH progress AS (\n  SELECT COUNT(*)::int AS canais_varridos\n  FROM controle_varredura_canais_detalhe d\n  WHERE d.data_ref = CURRENT_DATE\n    AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n), candidate_channels AS (\n  SELECT\n    cd.canal_id,\n    cd.nome_canal,\n    cd.nicho_alvo,\n    cd.score,\n    cd.inscritos,\n    COALESCE(cd.data_ultima_analise, TIMESTAMP '1970-01-01') AS data_ultima_analise,\n    EXISTS (\n      SELECT 1\n      FROM controle_varredura_canais_detalhe d\n      WHERE d.data_ref = CURRENT_DATE\n        AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n        AND d.canal_id = cd.canal_id\n    ) AS seen_today\n  FROM canais_descobertos cd\n  WHERE cd.ativo = true\n    AND cd.score >= 0.60\n    AND cd.nicho_alvo = '{{ $json.nicho_alvo }}'\n), prioritized_channels AS (\n  SELECT cc.*\n  FROM candidate_channels cc\n  WHERE (\n    COALESCE((SELECT p.canais_varridos FROM progress p), 0) >= 60\n    OR cc.seen_today = false\n  )\n), source_channels AS (\n  SELECT * FROM prioritized_channels\n  UNION ALL\n  SELECT cc.*\n  FROM candidate_channels cc\n  WHERE NOT EXISTS (SELECT 1 FROM prioritized_channels)\n), ranked_channels AS (\n  SELECT\n    sc.canal_id,\n    sc.nome_canal,\n    sc.nicho_alvo,\n    ROW_NUMBER() OVER (\n      ORDER BY\n        sc.seen_today ASC,\n        sc.score DESC,\n        sc.inscritos DESC,\n        sc.data_ultima_analise ASC\n    ) AS rn,\n    COUNT(*) OVER () AS total_rows\n  FROM source_channels sc\n), params AS (\n  SELECT\n    CASE WHEN COALESCE((SELECT p.canais_varridos FROM progress p), 0) < 60 THEN 30 ELSE 20 END AS batch_size,\n    CASE WHEN COALESCE((SELECT p.canais_varridos FROM progress p), 0) < 60 THEN 4 ELSE 3 END AS rotation_slots,\n    COALESCE(MAX(rc.total_rows), 0) AS total_rows\n  FROM ranked_channels rc\n), paging AS (\n  SELECT\n    CASE\n      WHEN total_rows <= batch_size THEN 0\n      ELSE LEAST(\n        ((FLOOR(EXTRACT(HOUR FROM NOW()) / 2)::int % rotation_slots) * batch_size),\n        GREATEST(total_rows - batch_size, 0)\n      )\n    END AS start_row,\n    batch_size\n  FROM params\n), selected AS (\n  SELECT rc.canal_id, rc.nome_canal, rc.nicho_alvo, rc.rn\n  FROM ranked_channels rc\n  CROSS JOIN paging p\n  WHERE rc.rn > p.start_row\n    AND rc.rn <= p.start_row + p.batch_size\n  ORDER BY rc.rn\n), upsert_detail AS (\n  INSERT INTO controle_varredura_canais_detalhe (\n    data_ref,\n    nicho_slug,\n    canal_id,\n    first_seen_at,\n    last_seen_at\n  )\n  SELECT\n    CURRENT_DATE,\n    '{{ $json.nicho_alvo }}',\n    s.canal_id,\n    NOW(),\n    NOW()\n  FROM selected s\n  ON CONFLICT (data_ref, nicho_slug, canal_id)\n  DO UPDATE SET\n    last_seen_at = EXCLUDED.last_seen_at\n  RETURNING canal_id\n), ensure_order AS (\n  SELECT COUNT(*) AS touched_rows FROM upsert_detail\n), upsert_summary AS (\n  INSERT INTO controle_varredura_canais_diaria (\n    data_ref,\n    nicho_slug,\n    canais_varridos,\n    alvo_minimo_diario,\n    ultima_execucao,\n    created_at,\n    updated_at\n  )\n  SELECT\n    CURRENT_DATE,\n    '{{ $json.nicho_alvo }}',\n    COALESCE((\n      SELECT COUNT(*)\n      FROM controle_varredura_canais_detalhe d\n      WHERE d.data_ref = CURRENT_DATE\n        AND d.nicho_slug = '{{ $json.nicho_alvo }}'\n    ), 0),\n    60,\n    NOW(),\n    NOW(),\n    NOW()\n  FROM ensure_order\n  ON CONFLICT (data_ref, nicho_slug)\n  DO UPDATE SET\n    canais_varridos = EXCLUDED.canais_varridos,\n    alvo_minimo_diario = EXCLUDED.alvo_minimo_diario,\n    ultima_execucao = NOW(),\n    updated_at = NOW()\n  RETURNING nicho_slug\n)\nSELECT s.canal_id, s.nome_canal, s.nicho_alvo\nFROM (SELECT COUNT(*) AS sync_rows FROM upsert_summary) u\nLEFT JOIN selected s ON true\nWHERE s.canal_id IS NOT NULL;","options":{}},"id":"8c0b900a-bf55-4219-98c6-07b17c024ee4","name":"fetch-top-channels","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8368,9936],"alwaysOutputData":false,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"abc18c86-6141-4f66-a884-d795bbe950de","name":"loop-by-channel","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8592,9936]},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nsd.currentChannel = {\n  canal_id: $json.canal_id,\n  nome_canal: $json.nome_canal,\n  nicho_alvo: $json.nicho_alvo\n};\nreturn $input.all();"},"id":"64d86046-a3f0-4713-bf71-d616e06d4ade","name":"store-channel-context","type":"n8n-nodes-base.code","typeVersion":2,"position":[8816,9672]},{"parameters":{"jsCode":"// Trata canal_id como UC real ou handle para resolver pela API\nconst raw = String($json.canal_id || '').trim();\nconst cleaned = raw.replace('@', '');\nconst isUcId = /^UC[a-zA-Z0-9_-]{22}$/.test(cleaned);\n\nreturn [{\n  json: {\n    ...$json,\n    is_handle: !isUcId,\n    handle_lookup: cleaned,\n  }\n}];"},"id":"c96cf164-1246-4d01-8e85-8fd6025fd7b6","name":"check-canal-id-type","type":"n8n-nodes-base.code","typeVersion":2,"position":[9040,9672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is_handle_check","leftValue":"={{ $json.is_handle }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"1339532a-5614-4630-962c-4f176dc58776","name":"if-is-handle","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[9264,9672]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"forHandle","value":"={{ $json.handle_lookup }}"},{"name":"part","value":"id"}]},"options":{}},"id":"7154795c-f21a-4159-a03e-7949863caca4","name":"resolve-handle-to-id","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9488,9552],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"// Extrai channelId real do resultado da API\nconst items = $json.items || [];\nconst channelId = items.length > 0 ? items[0].id : '';\n\nconst sd = $getWorkflowStaticData('global');\nsd.currentChannel.channel_id_real = channelId;\n\nreturn [{ json: { channel_id_real: channelId } }];"},"id":"e8b8c5b2-ff00-42aa-8702-56182e63c545","name":"extract-real-channel-id","type":"n8n-nodes-base.code","typeVersion":2,"position":[9712,9552]},{"parameters":{"jsCode":"// canal_id já é UCxxxx, passa direto\nconst sd = $getWorkflowStaticData('global');\nsd.currentChannel.channel_id_real = $json.canal_id;\n\nreturn [{ json: { channel_id_real: $json.canal_id } }];"},"id":"27b3b1f1-e4fe-4a3e-8344-a0c4585943c2","name":"use-canal-id-direct","type":"n8n-nodes-base.code","typeVersion":2,"position":[9712,9768]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"channelId","value":"={{ $json.channel_id_real }}"},{"name":"part","value":"snippet"},{"name":"type","value":"video"},{"name":"order","value":"viewCount"},{"name":"maxResults","value":"10"}]},"options":{}},"id":"a06d85f6-106b-4ce7-b11f-67eda8073c10","name":"youtube-search-videos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10160,9672],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"// Monta lista de video IDs para busca de detalhes\nconst items = $json.items || [];\nconst videoIds = items\n  .filter(i => i.id && i.id.videoId)\n  .map(i => i.id.videoId);\n\nif (!videoIds.length) return [];\n\nreturn [{ json: { video_ids: videoIds.join(',') } }];"},"id":"96344909-a135-416a-b29f-7a244f525b26","name":"extract-video-ids","type":"n8n-nodes-base.code","typeVersion":2,"position":[10384,9672]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/videos","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"={{ $json.video_ids }}"},{"name":"part","value":"statistics,contentDetails,snippet"},{"name":"maxResults","value":"10"}]},"options":{}},"id":"ebb93ee0-4af2-482e-ac40-d2a447fd246f","name":"youtube-video-details","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[10832,9672],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"const sd = $getWorkflowStaticData('global');\nconst canal = sd.currentChannel || {};\n\nconst data = $input.first().json;\nconst items = data.items || [];\n\nconst parseDuration = (iso) => {\n  const m = iso.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!m) return 0;\n\n  return (parseInt(m[1] || 0) * 3600) +\n         (parseInt(m[2] || 0) * 60) +\n         parseInt(m[3] || 0);\n};\n\nconst esc = (s) =>\n  String(s || '').replace(/'/g, \"''\").substring(0, 500);\n\nconst results = [];\n\nfor (const item of items) {\n\n  if (results.length >= 10) break; // ✅ limite 10\n\n  const video_id = item.id;\n  if (!video_id || !/^[a-zA-Z0-9_-]{11}$/.test(video_id)) continue;\n\n  const stats   = item.statistics || {};\n  const details = item.contentDetails || {};\n  const snippet = item.snippet || {};\n\n  const durSec = parseDuration(details.duration || 'PT0S');\n\n  const views       = parseInt(stats.viewCount || 0);\n  const likes       = parseInt(stats.likeCount || 0);\n  const comentarios = parseInt(stats.commentCount || 0);\n\n  const engagement =\n    views > 0\n      ? parseFloat(((likes + comentarios) / views * 100).toFixed(2))\n      : 0;\n\n  results.push({\n    json: {\n      canal_id: esc(canal.canal_id || ''),\n      nicho: esc(canal.nicho_alvo || ''),\n      video_id: video_id,\n      url_video: `https://www.youtube.com/watch?v=${video_id}`,\n      titulo: esc(snippet.title || ''),\n      duracao_segundos: durSec,\n      views: views,\n      likes: likes,\n      comentarios: comentarios,\n      engagement_pct: engagement,\n      thumbnail_url: `https://i.ytimg.com/vi/${video_id}/hqdefault.jpg`\n    }\n  });\n}\n\nreturn results;"},"id":"aaa11309-6dbb-49a9-b026-402360662efb","name":"parse-api-videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[11056,9672]},{"parameters":{"options":{}},"id":"c34716d8-9e5e-4b10-939e-f0fa8abe5bec","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[11280,9672]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO videos_pendentes (\n  plataforma, canal_id, video_id, url_video,\n  titulo_original, duracao_segundos, nicho, status,\n  views, likes, comentarios, engagement_pct, thumbnail_url\n) VALUES (\n  'youtube',\n  '{{ $json.canal_id }}',\n  '{{ $json.video_id }}',\n  '{{ $json.url_video }}',\n  '{{ $json.titulo }}',\n  {{ $json.duracao_segundos }},\n  '{{ $json.nicho }}',\n  'pendente',\n  {{ $json.views }},\n  {{ $json.likes }},\n  {{ $json.comentarios }},\n  {{ $json.engagement_pct }},\n  '{{ $json.thumbnail_url }}'\n)\nON CONFLICT (video_id) DO NOTHING\nRETURNING id;","options":{}},"id":"7783adc9-3f07-4c6b-a857-4ca440b413ab","name":"insert-new-video","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[11504,9648],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"SELECT COUNT(*) as total_novos_videos, COUNT(*) FILTER (WHERE status = 'pendente') as pendentes FROM videos_pendentes WHERE created_at >= NOW() - INTERVAL '3 hours';","options":{}},"id":"74a2c3ad-a51e-4995-a46e-a774437c20f4","name":"fetch-collection-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[8816,9864],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,9552],"id":"53008c22-0756-4230-ad5e-4afb83e14eb2","name":"Wait","webhookId":"a428b3ab-e3b0-4bea-8740-95d3369c4e1b"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[9936,9768],"id":"a115f7eb-8a34-48c1-8bb4-bcc6e0422bbb","name":"Wait1","webhookId":"c3a34975-6a56-4095-82c7-375fe1375385"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[10608,9672],"id":"203566d8-1d88-4c21-b708-58f3e3fd04ec","name":"Wait2","webhookId":"8374688a-b425-46e7-86e0-72d4161bb841"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[11504,9912],"id":"acd0775b-74c0-4a70-873d-2f366d68cbd5","name":"Wait3","webhookId":"8e7505df-6156-4bff-85a1-6b03900c9b5f"}],"connections":{"schedule-trigger-2h":{"main":[[{"node":"fetch-active-slugs","type":"main","index":0}]]},"fetch-active-slugs":{"main":[[{"node":"pick-random-niche","type":"main","index":0}]]},"pick-random-niche":{"main":[[{"node":"fetch-top-channels","type":"main","index":0}]]},"fetch-top-channels":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]},"loop-by-channel":{"main":[[{"node":"fetch-collection-summary","type":"main","index":0}],[{"node":"store-channel-context","type":"main","index":0}]]},"store-channel-context":{"main":[[{"node":"check-canal-id-type","type":"main","index":0}]]},"check-canal-id-type":{"main":[[{"node":"if-is-handle","type":"main","index":0}]]},"if-is-handle":{"main":[[{"node":"resolve-handle-to-id","type":"main","index":0}],[{"node":"use-canal-id-direct","type":"main","index":0}]]},"resolve-handle-to-id":{"main":[[{"node":"extract-real-channel-id","type":"main","index":0}]]},"extract-real-channel-id":{"main":[[{"node":"Wait","type":"main","index":0}]]},"use-canal-id-direct":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"youtube-search-videos":{"main":[[{"node":"extract-video-ids","type":"main","index":0}]]},"extract-video-ids":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"youtube-video-details":{"main":[[{"node":"parse-api-videos","type":"main","index":0}]]},"parse-api-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"insert-new-video","type":"main","index":0}]]},"insert-new-video":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"Wait":{"main":[[{"node":"youtube-search-videos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"youtube-search-videos","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"youtube-video-details","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version 00d1aa05","description":"","autosaved":true},"tags":[]}