[agent-1]-channel-scout-NhftUu0XmRqqCeZ3LOM4g.json
{"updatedAt":"2026-02-10T00:24:55.365Z","createdAt":"2026-02-06T16:53:12.660Z","id":"NhftUu0XmRqqCeZ3LOM4g","name":"[AGENT-1]-Channel-Scout","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"id":"1d4c99dc-7050-4ff1-8b19-01760df455d1","name":"schedule-trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2080,2280]},{"parameters":{"operation":"executeQuery","query":"SELECT id, nome, slug, keywords, idioma\nFROM nichos\nWHERE ativo = true\nAND nome = '{{ $json.content }}';\n","options":{}},"id":"34522cd9-e07c-4d07-839e-38fe163e9614","name":"fetch-active-niches","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1504,2280],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"b73ef2ba-66fd-4a6c-bf9b-f8d7b85b9b9b","name":"loop-by-niche","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1280,2280]},{"parameters":{"jsCode":"const searchResults = $json.items ?? [];\n\n// Node do nicho\nconst nicheNode = $('loop-by-niche').first()?.json ?? {};\nconst nichoSlug = nicheNode.slug ?? null;\nconst nichoNome = nicheNode.nome ?? null;\nconst idioma    = nicheNode.idioma ?? null;\n\n// Mapeia canais + thumbnails\nconst channels = searchResults\n  .map((item) => {\n    const snippet = item?.snippet ?? {};\n    return {\n      canal_id: snippet.channelId ?? null,\n      nome_canal: snippet.channelTitle ?? null,\n      descricao: snippet.description ?? null,\n      thumbnails: snippet.thumbnails ?? null, // <-- aqui entra o objeto default/medium/high\n    };\n  })\n  .filter((c) => !!c.canal_id);\n\n// Dedup por canal_id\nconst unique = channels.filter(\n  (ch, idx, arr) => arr.findIndex((c) => c.canal_id === ch.canal_id) === idx\n);\n\n// Contadores\nconst total_raw = searchResults.length;\nconst total_mapped = channels.length;\nconst total_unique = unique.length;\nconst removed_duplicates = total_mapped - total_unique;\n\nreturn [\n  {\n    json: {\n      has_channels: total_unique > 0,\n      channels: unique,\n      channel_ids_batch: unique.map((c) => c.canal_id).join(\",\"),\n      nicho_slug: nichoSlug,\n      nicho_nome: nichoNome,\n      idioma,\n\n      // debug útil pra você entender pq \"encolheu\"\n      debug: {\n        total_raw,\n        total_mapped,\n        total_unique,\n        removed_duplicates,\n      },\n    },\n  },\n];\n"},"id":"8ee461e3-1b11-44fa-9c35-b67d2685e0ed","name":"extract-and-batch-ids","type":"n8n-nodes-base.code","typeVersion":2,"position":[-384,2208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"check-has-channels","leftValue":"={{ $json.has_channels }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"3be0512e-9772-4be3-8721-231db591e787","name":"if-found-channels","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-160,2208]},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/channels","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"statistics,snippet,brandingSettings"},{"name":"id","value":"={{ $json.channel_ids_batch }}"},{"name":"hl","value":"={{ $('extract-and-batch-ids').item.json.idioma }}"}]},"options":{"timeout":10000}},"id":"c06086cc-e655-438c-a6ae-db5c99b23021","name":"get-all-channels-batch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[64,2208],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"jsCode":"const channelItems = $json.items ?? [];\n\n// Esses campos devem vir no item atual (do node anterior)\nconst nichoSlug =\n  $('loop-by-niche').first().json.slug ?? $json.nichoSlug ?? $json.nicho?.slug ?? null;\n\nconst nichoNome =\n $('loop-by-niche').first().json.nome ?? $json.nichoNome ?? $json.nicho?.nome ?? null;\n\nconst idiomaAlvo =\n  $json.idioma ?? $json.idioma_alvo ?? $json.idiomaAlvo ?? 'pt-BR';\n\nif (channelItems.length === 0) {\n  return [{ json: { skip: true, nicho_slug: nichoSlug, nicho_nome: nichoNome, idioma_alvo: idiomaAlvo } }];\n}\n\nconst processed = channelItems.map((ch) => {\n  const stats = ch?.statistics ?? {};\n  const snippet = ch?.snippet ?? {};\n  const branding = ch?.brandingSettings?.channel ?? {};\n\n  const inscritos = Number.parseInt(stats.subscriberCount, 10) || 0;\n  const totalVideos = Number.parseInt(stats.videoCount, 10) || 0;\n  const totalViews = Number.parseInt(stats.viewCount, 10) || 0;\n  const viewsPorVideo = totalVideos > 0 ? Math.round(totalViews / totalVideos) : 0;\n\n  const defaultLanguage = snippet.defaultLanguage || branding.defaultLanguage || '';\n  const title = snippet.title || '';\n  const desc = snippet.description || '';\n\n  const canalId = ch?.id ?? snippet?.channelId ?? null;\n\n  return {\n    json: {\n      canal_id: canalId,\n      nome_canal: title,\n      descricao: desc,\n      url_canal: canalId ? `https://youtube.com/channel/${canalId}` : null,\n      inscritos,\n      total_videos: totalVideos,\n      total_views: totalViews,\n      views_por_video: viewsPorVideo,\n      pais: snippet.country || 'unknown',\n      default_language: defaultLanguage,\n      idioma_alvo: idiomaAlvo,\n      nicho_slug: nichoSlug,\n      nicho_nome: nichoNome,\n    },\n  };\n});\n\n// Sort por inscritos desc\nprocessed.sort((a, b) => (b.json.inscritos || 0) - (a.json.inscritos || 0));\n\nreturn processed;\n"},"id":"261a0fd4-e272-47d4-805c-259ba7ba4104","name":"process-channel-metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2208]},{"parameters":{"options":{"reset":false}},"id":"ca0f12ae-81b5-4208-8739-88fd50eb1057","name":"loop-by-channel","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[512,2280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"min-subscribers-10k","leftValue":"={{ $json.inscritos }}","rightValue":10000,"operator":{"type":"number","operation":"gte"}},{"id":"min-videos-10","leftValue":"={{ $json.total_videos }}","rightValue":10,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"06989840-7ce1-43e2-b450-c9136aeef757","name":"if-large-channel","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[736,2160]},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"You are a YouTube channel evaluator for content repurposing. Be RIGOROUS and objective.\n\nReturn ONLY valid JSON (no markdown, no backticks, no extra text) with these fields:\n{\n  \"score\": 0.0-1.0,\n  \"relevancia\": \"alta|media|baixa\",\n  \"tom_de_voz\": \"informativo|educativo|entretenimento|motivacional|tecnico|humoristico\",\n  \"justificativa\": \"max 50 words\",\n  \"recomendacao\": \"monitorar|acompanhar|ignorar\"\n}\n\nScoring rules:\n- Channels with >500k subscribers in the right niche: score >= 0.85\n- Channels with >100k subscribers in the right niche: score >= 0.75\n- Channels with >10k subscribers in the right niche: score >= 0.65\n- If niche relevance is weak: score <= 0.55\n- score >= 0.70 means APPROVED","role":"assistant"},{"content":"=Evaluate this channel for the niche \"{{ $('process-channel-metrics').item.json.nicho_nome }}\".\n\nChannel data:\n- Name: {{ $json.nome_canal }}\n- Description: {{ $json.descricao }}\n- Subscribers: {{ $json.inscritos }}\n- Total videos: {{ $json.total_videos }}\n- Total views: {{ $json.total_views }}\n- Avg views/video: {{ $json.views_por_video }}\n- Country: {{ $json.pais }}\n\nRespond with ONLY the JSON object, nothing else."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[1184,2160],"id":"e5d75225-0280-4353-a789-1e24de838eac","name":"Message a model","credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"jsCode":"const canalData = $('loop-by-channel').item.json;\nconst aiRaw = $input.first().json;\n\nlet score = 0.5;\nlet tomDeVoz = 'informativo';\n\ntry {\n  // Try multiple ways to extract AI response\n  let text = '';\n  if (typeof aiRaw === 'string') text = aiRaw;\n  else if (aiRaw.text) text = aiRaw.text;\n  else if (aiRaw.output) text = typeof aiRaw.output === 'string' ? aiRaw.output : JSON.stringify(aiRaw.output);\n  else if (aiRaw.message?.content) text = aiRaw.message.content;\n  else if (aiRaw.response) text = aiRaw.response;\n  else if (aiRaw.content) text = typeof aiRaw.content === 'string' ? aiRaw.content : JSON.stringify(aiRaw.content);\n  else text = JSON.stringify(aiRaw);\n\n  // Clean markdown code blocks\n  text = text.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\n  \n  // Try to find JSON in the text\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.score !== undefined) {\n      score = parseFloat(parsed.score);\n      if (isNaN(score)) score = 0.5;\n    }\n    if (parsed.tom_de_voz) tomDeVoz = parsed.tom_de_voz;\n  } else {\n    // Try to find score pattern like \"score\": 0.85 or score: 0.85\n    const scoreMatch = text.match(/[\"']?score[\"']?\\s*[:=]\\s*(\\d+\\.?\\d*)/i);\n    if (scoreMatch) {\n      score = parseFloat(scoreMatch[1]);\n      if (isNaN(score)) score = 0.5;\n    }\n  }\n} catch (e) {\n  // If AI fails completely, use heuristic based on size\n  const subs = canalData.inscritos || 0;\n  const vpv = canalData.views_por_video || 0;\n  if (subs >= 500000 && vpv >= 10000) score = 0.85;\n  else if (subs >= 100000 && vpv >= 5000) score = 0.78;\n  else if (subs >= 50000 && vpv >= 2000) score = 0.72;\n  else if (subs >= 10000) score = 0.65;\n  else score = 0.4;\n}\n\n// Clamp score\nscore = Math.min(1, Math.max(0, score));\n\nconst sanitize = (str) => String(str || '').replace(/'/g, \"''\");\n\nreturn [{\n  json: {\n    canal_id: canalData.canal_id,\n    nome_canal: sanitize(canalData.nome_canal),\n    url_canal: canalData.url_canal,\n    nicho_slug: canalData.nicho_slug,\n    inscritos: canalData.inscritos,\n    views_por_video: canalData.views_por_video,\n    score: Math.round(score * 100) / 100,\n    tom_de_voz: sanitize(tomDeVoz),\n    is_approved: score >= 0.7\n  }\n}];"},"id":"d9ab29d8-8676-4daf-a869-43879c62f08a","name":"parse-ai-evaluation","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,2160]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO canais_descobertos (\n  plataforma, canal_id, nome_canal, url_canal, nicho_alvo,\n  inscritos, views_medio_aproximado, tom_de_voz, score, ativo, data_ultima_analise\n) VALUES (\n  'youtube',\n  '{{ $json.canal_id }}',\n  '{{ $json.nome_canal }}',\n  '{{ $json.url_canal }}',\n  '{{ $json.nicho_slug}}',\n  {{ $json.inscritos }},\n  {{ $json.views_por_video }},\n  '{{ $json.tom_de_voz }}',\n  {{ $json.score }},\n  {{ $json.is_approved }},\n  NOW()\n)\nON CONFLICT (plataforma, canal_id)\nDO UPDATE SET\n  nome_canal = EXCLUDED.nome_canal,\n  inscritos = EXCLUDED.inscritos,\n  views_medio_aproximado = EXCLUDED.views_medio_aproximado,\n  score = EXCLUDED.score,\n  tom_de_voz = EXCLUDED.tom_de_voz,\n  ativo = EXCLUDED.ativo,\n  data_ultima_analise = NOW()\nRETURNING canal_id;","options":{}},"id":"7a44aa15-5d51-4183-8fa7-bb36bbf3f7ba","name":"upsert-channel-db","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1760,2232],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) as total_analisados,\n  COUNT(*) FILTER (WHERE ativo = true) as aprovados,\n  COUNT(*) FILTER (WHERE score >= 0.8) as top_canais,\n  ROUND(AVG(score)::numeric, 2) as score_medio\nFROM canais_descobertos\nWHERE data_ultima_analise >= NOW() - INTERVAL '1 day';","options":{}},"id":"b5453df2-285c-48fc-a898-dca58a94d6f4","name":"fetch-daily-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1056,2016],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"url":"https://www.googleapis.com/youtube/v3/search","authentication":"predefinedCredentialType","nodeCredentialType":"youTubeOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"part","value":"snippet"},{"name":"type","value":"channel"},{"name":"maxResults","value":"10"},{"name":"order","value":"relevance"},{"name":"relevanceLanguage","value":"={{ $json.idioma.split('-')[0] }}"},{"name":"regionCode","value":"={{ $json.idioma === 'pt-BR' ? 'BR' : 'US' }}"},{"name":"q","value":"={{ $json.keywords }},{{ $json.nome}},{{ $json.slug }}"}]},"options":{"pagination":{}}},"id":"7915c65c-25c2-4df8-96c3-7d3707a6ef11","name":"youtube-search-channels-candidates","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-832,2208],"credentials":{"youTubeOAuth2Api":{"id":"7tGOJOcTH3PmmxRz","name":"[CRED]PEDRO-INTENTUS-EMAIL"}}},{"parameters":{"fieldToSplitOut":"keywords","include":"allOtherFields","options":{"disableDotNotation":false}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1056,2208],"id":"fcab896b-535b-4635-a7c7-0362619360d5","name":"Split Out"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-608,2208],"id":"47c53eaa-ed2f-46a0-8c29-9d192c2134d2","name":"Wait","webhookId":"6577cad7-9453-44c2-8dab-603617240f78"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[960,2160],"id":"e63dca6b-eae3-4505-bea2-4c52305908f7","name":"Wait1","webhookId":"7526b18c-d618-45aa-958a-85119d1533a2"},{"parameters":{"modelId":{"__rl":true,"value":"gemini-3-flash-preview:latest","mode":"list","cachedResultName":"gemini-3-flash-preview:latest"},"messages":{"values":[{"content":"## INSTRUÇÃO DO AGENTE\n\nVocê é responsável por retornar **sempente o nome de um nicho** disponível na ferramenta `get_nichos`.\n\n### Regras obrigatórias:\n\n- O nicho retornado deve sempre existir na ferramenta `get_nichos`.\n- A cada execução, o nicho deve ser diferente dos já retornados anteriormente.\n- Nunca repita um nicho enquanto houver outras opções disponíveis.\n- **Retorne somente o nome do nicho.**\n- Não adicione explicações, textos extras, formatação, pontuação adicional ou qualquer outro conteúdo.\n\n### Formato da resposta:\n\nA resposta deve conter **apenas o nome do nicho**.\n"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[-1856,2280],"id":"737ac584-d33a-444d-9c70-5b4225df9225","name":"Message a model1","credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"nichos","mode":"list","cachedResultName":"nichos"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[-1784,2504],"id":"76097c97-8bd8-4c76-8116-f7c78d5ee980","name":"get_nichos","credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}}],"connections":{"schedule-trigger":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"fetch-active-niches":{"main":[[{"node":"loop-by-niche","type":"main","index":0}]]},"loop-by-niche":{"main":[[{"node":"fetch-daily-summary","type":"main","index":0}],[{"node":"Split Out","type":"main","index":0}]]},"extract-and-batch-ids":{"main":[[{"node":"if-found-channels","type":"main","index":0}]]},"if-found-channels":{"main":[[{"node":"get-all-channels-batch","type":"main","index":0}],[{"node":"loop-by-niche","type":"main","index":0}]]},"get-all-channels-batch":{"main":[[{"node":"process-channel-metrics","type":"main","index":0}]]},"process-channel-metrics":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]},"loop-by-channel":{"main":[[{"node":"loop-by-niche","type":"main","index":0}],[{"node":"if-large-channel","type":"main","index":0}]]},"if-large-channel":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"loop-by-channel","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"parse-ai-evaluation","type":"main","index":0}]]},"parse-ai-evaluation":{"main":[[{"node":"upsert-channel-db","type":"main","index":0}]]},"upsert-channel-db":{"main":[[{"node":"loop-by-channel","type":"main","index":0}]]},"youtube-search-channels-candidates":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"youtube-search-channels-candidates","type":"main","index":0}]]},"Wait":{"main":[[{"node":"extract-and-batch-ids","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"fetch-active-niches","type":"main","index":0}]]},"get_nichos":{"ai_tool":[[{"node":"Message a model1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"70be6681-60ec-45ea-ba92-f065421b215d","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-06T16:53:12.660Z","createdAt":"2026-02-06T16:53:12.660Z","role":"workflow:owner","workflowId":"NhftUu0XmRqqCeZ3LOM4g","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}