[agent-3]-video-processing-pipeline-dSCCPtMw1ZK0LXv3m7aEd.json
{"updatedAt":"2026-03-02T19:50:35.351Z","createdAt":"2026-02-07T00:20:02.937Z","id":"dSCCPtMw1ZK0LXv3m7aEd","name":"[AGENT-3]-Video-Processing-Pipeline","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"29d08c50-355a-4c1e-860d-67559f3a5b0e","name":"schedule-trigger-15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5408,2944]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[-5184,2944],"id":"8e9cb141-9c08-421d-a3aa-97b1c6da583e","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"videos_pendentes","mode":"list","cachedResultName":"videos_pendentes"},"returnAll":true,"where":{"values":[{"column":"status","value":"pendente"}]},"options":{}},"id":"38a49c6a-41d6-4f6b-9f2f-3585851b1603","name":"fetch-pending-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4736,2944],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Descartado automatico: duracao menor que 60 segundos',\n    updated_at = NOW()\nWHERE status = 'pendente'\n  AND duracao_segundos < 60;","options":{}},"id":"9d6a8939-0320-41e1-a70d-16cccfc38b04","name":"discard-short-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4960,2944],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5ee02ab0-6421-489c-a548-f9280c43263d","name":"if-has-pending-videos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4512,2944]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) FILTER (WHERE status = 'concluido') AS videos_done,\n  COUNT(*) FILTER (WHERE status = 'erro') AS videos_error,\n  COUNT(*) FILTER (WHERE status = 'pendente') AS videos_remaining,\n  COUNT(*) FILTER (WHERE status = 'em_processamento') AS videos_processing,\n  COUNT(*) FILTER (WHERE status = 'erro' AND erro_mensagem LIKE 'Descartado automatico:%') AS videos_descartados\nFROM videos_pendentes\nWHERE created_at >= NOW() - INTERVAL '1 day';","options":{}},"id":"21e1404d-e80b-4181-90fa-0bc99b5da8c2","name":"fetch-pipeline-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4064,2320],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"55c2af6a-7dcc-46ff-9ffd-af8e7ca5620f","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4288,2848]},{"parameters":{},"id":"5a9295e4-11ed-4b3f-86e9-75dc72410021","name":"no-pending-videos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4288,3040]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\n  AND status = 'pendente'\nRETURNING id;","options":{}},"id":"2bc8dc6e-6e6c-4ad5-b7ab-1d3449a5d4b2","name":"mark-video-processing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4064,2512],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"lock-acquired","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dd13adba-8151-43e0-a6a5-1fb4e4827e0e","name":"if-lock-acquired","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3840,2512]},{"parameters":{"jsCode":"// Define preferLength baseado na duração do vídeo\n// 0 = 15-30s | 1 = 30-60s | 2 = 60-90s | 3 = 90s+\nconst video = $('loop-by-video').item.json;\nconst durSec = video.duracao_segundos || 0;\nconst durMin = durSec / 60;\n\nlet preferLength = [0, 1]; // default: 15s a 60s\n\nif (durMin >= 10) {\n  preferLength = [0, 1, 2, 3]; // longo: todos os tamanhos\n} else if (durMin >= 5) {\n  preferLength = [0, 1, 2]; // médio: até 90s\n} else if (durMin >= 2) {\n  preferLength = [0, 1]; // curto: até 60s\n} else {\n  preferLength = [0]; // muito curto: só 15-30s\n}\n\nreturn [{ json: {\n  ...video,\n  preferLength\n} }];"},"id":"559b1765-a50c-4e60-a3e3-1aff113cfba2","name":"build-vizard-params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,2512]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"lang\": \"pt\",\n  \"preferLength\": {{ JSON.stringify($json.preferLength) }},\n  \"videoUrl\": \"{{ $json.url_video }}\",\n  \"videoType\": 2\n}","options":{"timeout":300000}},"id":"5bc3fd6b-3e7c-4a6d-9da9-41c490cc9317","name":"call-vizard-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3392,2512],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-project-id","leftValue":"={{ $json.projectId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc09945c-bf7a-4f01-b92c-e38d28fd0b59","name":"if-vizard-success","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3168,2440]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  vizard_code = '{{ $json.code }}',\n  vizard_project_id = '{{ $json.projectId }}',\n  status = 'em_processamento',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"a8179902-52f9-4da2-a4d9-f6d249a38ce7","name":"save-vizard-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2344],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API: sem projectId na resposta — {{ $json.message ?? $json.error ?? \"resposta inválida\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"5000307f-1b0b-4754-a8b5-fef034c56a0c","name":"mark-video-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2536],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API HTTP error — {{ $json.error ?? $json.message ?? \"timeout ou falha de rede\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"b8ab587b-d591-4a18-b033-df9017a51b1f","name":"mark-video-http-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2728],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Junta os dois caminhos de erro para reutilizar o mesmo next-step\nreturn $input.all();"},"id":"eff34ac2-922b-4989-9c5c-0fdc7edeb628","name":"merge-error-paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,2632]},{"parameters":{"amount":3},"id":"55a32896-052e-4956-8fc7-4fa42199774f","name":"wait-between-calls","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2720,2440],"webhookId":"af9801cf-cbfa-4fce-902d-ce3988cc6ef1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2496,2752],"id":"6de3a88f-4e9d-4f24-94bf-8a825c31992a","name":"Wait","webhookId":"fb813b39-e0da-431f-a47d-35f3e5d85cea"}],"connections":{"schedule-trigger-15min":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"discard-short-videos","type":"main","index":0}]]},"fetch-pending-videos":{"main":[[{"node":"if-has-pending-videos","type":"main","index":0}]]},"discard-short-videos":{"main":[[{"node":"fetch-pending-videos","type":"main","index":0}]]},"if-has-pending-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}],[{"node":"no-pending-videos","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"fetch-pipeline-summary","type":"main","index":0}],[{"node":"mark-video-processing","type":"main","index":0}]]},"mark-video-processing":{"main":[[{"node":"if-lock-acquired","type":"main","index":0}]]},"if-lock-acquired":{"main":[[{"node":"build-vizard-params","type":"main","index":0}],[{"node":"loop-by-video","type":"main","index":0}]]},"build-vizard-params":{"main":[[{"node":"call-vizard-api","type":"main","index":0}]]},"call-vizard-api":{"main":[[{"node":"if-vizard-success","type":"main","index":0}],[{"node":"mark-video-http-error","type":"main","index":0}]]},"if-vizard-success":{"main":[[{"node":"save-vizard-project","type":"main","index":0}],[{"node":"mark-video-error","type":"main","index":0}]]},"save-vizard-project":{"main":[[{"node":"wait-between-calls","type":"main","index":0}]]},"wait-between-calls":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"mark-video-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"mark-video-http-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"merge-error-paths":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":{"node:schedule-trigger-15min":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"schedule-trigger-15min":[{"json":{"timestamp":"2026-02-23T20:00:23.022-03:00","Readable date":"February 23rd 2026, 8:00:23 pm","Readable time":"8:00:23 pm","Day of week":"Monday","Year":"2026","Month":"February","Day of month":"23","Hour":"20","Minute":"00","Second":"23","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"b8c62e1c-64e5-4957-96eb-539a432a2a77","activeVersionId":"b8c62e1c-64e5-4957-96eb-539a432a2a77","triggerCount":1,"shared":[{"updatedAt":"2026-02-07T00:20:02.937Z","createdAt":"2026-02-07T00:20:02.937Z","role":"workflow:owner","workflowId":"dSCCPtMw1ZK0LXv3m7aEd","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-02T19:49:12.430Z","createdAt":"2026-03-02T19:49:10.569Z","versionId":"b8c62e1c-64e5-4957-96eb-539a432a2a77","workflowId":"dSCCPtMw1ZK0LXv3m7aEd","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"29d08c50-355a-4c1e-860d-67559f3a5b0e","name":"schedule-trigger-15min","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-5408,2944]},{"parameters":{},"type":"n8n-nodes-globals.globalConstants","typeVersion":1,"position":[-5184,2944],"id":"8e9cb141-9c08-421d-a3aa-97b1c6da583e","name":"Global Constants","credentials":{"globalConstantsApi":{"id":"YeLbhL4kruFCcaXX","name":"vizard"}}},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"videos_pendentes","mode":"list","cachedResultName":"videos_pendentes"},"returnAll":true,"where":{"values":[{"column":"status","value":"pendente"}]},"options":{}},"id":"38a49c6a-41d6-4f6b-9f2f-3585851b1603","name":"fetch-pending-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4736,2944],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes\nSET status = 'erro',\n    erro_mensagem = 'Descartado automatico: duracao menor que 60 segundos',\n    updated_at = NOW()\nWHERE status = 'pendente'\n  AND duracao_segundos < 60;","options":{}},"id":"9d6a8939-0320-41e1-a70d-16cccfc38b04","name":"discard-short-videos","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4960,2944],"alwaysOutputData":true,"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"video-exists","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"5ee02ab0-6421-489c-a548-f9280c43263d","name":"if-has-pending-videos","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4512,2944]},{"parameters":{"operation":"executeQuery","query":"SELECT \n  COUNT(*) FILTER (WHERE status = 'concluido') AS videos_done,\n  COUNT(*) FILTER (WHERE status = 'erro') AS videos_error,\n  COUNT(*) FILTER (WHERE status = 'pendente') AS videos_remaining,\n  COUNT(*) FILTER (WHERE status = 'em_processamento') AS videos_processing,\n  COUNT(*) FILTER (WHERE status = 'erro' AND erro_mensagem LIKE 'Descartado automatico:%') AS videos_descartados\nFROM videos_pendentes\nWHERE created_at >= NOW() - INTERVAL '1 day';","options":{}},"id":"21e1404d-e80b-4181-90fa-0bc99b5da8c2","name":"fetch-pipeline-summary","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4064,2320],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"options":{}},"id":"55c2af6a-7dcc-46ff-9ffd-af8e7ca5620f","name":"loop-by-video","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-4288,2848]},{"parameters":{},"id":"5a9295e4-11ed-4b3f-86e9-75dc72410021","name":"no-pending-videos","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-4288,3040]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET status = 'em_processamento',\n    updated_at = NOW()\nWHERE id = '{{ $json.id }}'\n  AND status = 'pendente'\nRETURNING id;","options":{}},"id":"2bc8dc6e-6e6c-4ad5-b7ab-1d3449a5d4b2","name":"mark-video-processing","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-4064,2512],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"lock-acquired","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dd13adba-8151-43e0-a6a5-1fb4e4827e0e","name":"if-lock-acquired","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3840,2512]},{"parameters":{"jsCode":"// Define preferLength baseado na duração do vídeo\n// 0 = 15-30s | 1 = 30-60s | 2 = 60-90s | 3 = 90s+\nconst video = $('loop-by-video').item.json;\nconst durSec = video.duracao_segundos || 0;\nconst durMin = durSec / 60;\n\nlet preferLength = [0, 1]; // default: 15s a 60s\n\nif (durMin >= 10) {\n  preferLength = [0, 1, 2, 3]; // longo: todos os tamanhos\n} else if (durMin >= 5) {\n  preferLength = [0, 1, 2]; // médio: até 90s\n} else if (durMin >= 2) {\n  preferLength = [0, 1]; // curto: até 60s\n} else {\n  preferLength = [0]; // muito curto: só 15-30s\n}\n\nreturn [{ json: {\n  ...video,\n  preferLength\n} }];"},"id":"559b1765-a50c-4e60-a3e3-1aff113cfba2","name":"build-vizard-params","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3616,2512]},{"parameters":{"method":"POST","url":"https://elb-api.vizard.ai/hvizard-server-front/open-api/v1/project/create","sendHeaders":true,"headerParameters":{"parameters":[{"name":"VIZARDAI_API_KEY","value":"={{ $('Global Constants').item.json.constants.API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"lang\": \"pt\",\n  \"preferLength\": {{ JSON.stringify($json.preferLength) }},\n  \"videoUrl\": \"{{ $json.url_video }}\",\n  \"videoType\": 2\n}","options":{"timeout":300000}},"id":"5bc3fd6b-3e7c-4a6d-9da9-41c490cc9317","name":"call-vizard-api","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3392,2512],"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"has-project-id","leftValue":"={{ $json.projectId }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"dc09945c-bf7a-4f01-b92c-e38d28fd0b59","name":"if-vizard-success","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3168,2440]},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  vizard_code = '{{ $json.code }}',\n  vizard_project_id = '{{ $json.projectId }}',\n  status = 'em_processamento',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"a8179902-52f9-4da2-a4d9-f6d249a38ce7","name":"save-vizard-project","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2344],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API: sem projectId na resposta — {{ $json.message ?? $json.error ?? \"resposta inválida\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"5000307f-1b0b-4754-a8b5-fef034c56a0c","name":"mark-video-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2536],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"executeQuery","query":"UPDATE videos_pendentes \nSET \n  status = 'erro',\n  erro_mensagem = 'Vizard API HTTP error — {{ $json.error ?? $json.message ?? \"timeout ou falha de rede\" }}',\n  updated_at = NOW()\nWHERE id = '{{ $('loop-by-video').item.json.id }}';","options":{}},"id":"b8ab587b-d591-4a18-b033-df9017a51b1f","name":"mark-video-http-error","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2944,2728],"credentials":{"postgres":{"id":"PP028pDoSCi5j2TS","name":"[CRED]POSTGRES-SUPABASE"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Junta os dois caminhos de erro para reutilizar o mesmo next-step\nreturn $input.all();"},"id":"eff34ac2-922b-4989-9c5c-0fdc7edeb628","name":"merge-error-paths","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2720,2632]},{"parameters":{"amount":3},"id":"55a32896-052e-4956-8fc7-4fa42199774f","name":"wait-between-calls","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2720,2440],"webhookId":"af9801cf-cbfa-4fce-902d-ce3988cc6ef1"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2496,2752],"id":"6de3a88f-4e9d-4f24-94bf-8a825c31992a","name":"Wait","webhookId":"fb813b39-e0da-431f-a47d-35f3e5d85cea"}],"connections":{"schedule-trigger-15min":{"main":[[{"node":"Global Constants","type":"main","index":0}]]},"Global Constants":{"main":[[{"node":"discard-short-videos","type":"main","index":0}]]},"fetch-pending-videos":{"main":[[{"node":"if-has-pending-videos","type":"main","index":0}]]},"discard-short-videos":{"main":[[{"node":"fetch-pending-videos","type":"main","index":0}]]},"if-has-pending-videos":{"main":[[{"node":"loop-by-video","type":"main","index":0}],[{"node":"no-pending-videos","type":"main","index":0}]]},"loop-by-video":{"main":[[{"node":"fetch-pipeline-summary","type":"main","index":0}],[{"node":"mark-video-processing","type":"main","index":0}]]},"mark-video-processing":{"main":[[{"node":"if-lock-acquired","type":"main","index":0}]]},"if-lock-acquired":{"main":[[{"node":"build-vizard-params","type":"main","index":0}],[{"node":"loop-by-video","type":"main","index":0}]]},"build-vizard-params":{"main":[[{"node":"call-vizard-api","type":"main","index":0}]]},"call-vizard-api":{"main":[[{"node":"if-vizard-success","type":"main","index":0}],[{"node":"mark-video-http-error","type":"main","index":0}]]},"if-vizard-success":{"main":[[{"node":"save-vizard-project","type":"main","index":0}],[{"node":"mark-video-error","type":"main","index":0}]]},"save-vizard-project":{"main":[[{"node":"wait-between-calls","type":"main","index":0}]]},"wait-between-calls":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]},"mark-video-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"mark-video-http-error":{"main":[[{"node":"merge-error-paths","type":"main","index":0}]]},"merge-error-paths":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"loop-by-video","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version b8c62e1c","description":"","autosaved":false},"tags":[]}