backup-uCz7iuNNYtHxLWj-1X01K.json
{"updatedAt":"2026-03-17T22:34:38.619Z","createdAt":"2026-02-10T23:10:47.507Z","id":"uCz7iuNNYtHxLWj-1X01K","name":"BackUP","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"8f6be8eb-1c6a-473c-918c-b8805e5e51cc","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1792,224]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"1296f536-bd50-471e-97a5-0dfc9889e3ba","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1568,224]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a5fa10fd-081b-4a8c-8ba0-94df8801a93e","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1344,224]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup.git","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"}},"id":"e12ab086-8720-4bc0-8552-68651e46720c","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1120,224],"alwaysOutputData":true,"webhookId":"032c33bd-6be8-412f-a4aa-6961d39d2369","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"80219308-60f2-4ced-b6f4-11cd6494c3a7","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-896,224]},{"parameters":{"filters":{},"requestOptions":{}},"id":"141becaa-1f87-4efd-92c3-d535dfc858e2","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-672,224],"credentials":{"n8nApi":{"id":"AT4S0OidCyT2nI5u","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"febdb6e7-4635-4204-82fb-584e1bdf31c9","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-448,224]},{"parameters":{"batchSize":1,"options":{}},"id":"430767a6-8803-4406-a1a4-4a191b443155","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-224,224]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ca6e9f3b-8a88-4d36-b763-f30e31fbfd71","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,0]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"0f5702c7-6d50-4da5-a596-d8142e4145ee","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,80],"retryOnFail":true,"webhookId":"70c89d94-b81c-4115-adde-5007d17d51c8","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d53750b2-7d8b-4826-a803-7ce9e39755eb","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,272],"retryOnFail":true,"webhookId":"d148e0ca-8337-49d4-80d1-8aaed40c320d","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,224],"id":"2ddf5523-e91c-4a33-962b-021e1dffaf2f","name":"Schedule Trigger1"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger1":[{"json":{"timestamp":"2026-01-13T11:01:42.867-03:00","Readable date":"January 13th 2026, 11:01:42 am","Readable time":"11:01:42 am","Day of week":"Tuesday","Year":"2026","Month":"January","Day of month":"13","Hour":"11","Minute":"01","Second":"42","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"c5f82cc6-114b-45ad-8347-3d69a6a95386","activeVersionId":"c5f82cc6-114b-45ad-8347-3d69a6a95386","triggerCount":1,"shared":[{"updatedAt":"2026-02-10T23:10:47.507Z","createdAt":"2026-02-10T23:10:47.507Z","role":"workflow:owner","workflowId":"uCz7iuNNYtHxLWj-1X01K","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T22:34:40.564Z","createdAt":"2026-03-17T22:34:38.625Z","versionId":"c5f82cc6-114b-45ad-8347-3d69a6a95386","workflowId":"uCz7iuNNYtHxLWj-1X01K","nodes":[{"parameters":{"options":{}},"id":"8f6be8eb-1c6a-473c-918c-b8805e5e51cc","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1792,224]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"1296f536-bd50-471e-97a5-0dfc9889e3ba","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1568,224]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"a5fa10fd-081b-4a8c-8ba0-94df8801a93e","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1344,224]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup.git","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"}},"id":"e12ab086-8720-4bc0-8552-68651e46720c","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-1120,224],"alwaysOutputData":true,"webhookId":"032c33bd-6be8-412f-a4aa-6961d39d2369","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"80219308-60f2-4ced-b6f4-11cd6494c3a7","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-896,224]},{"parameters":{"filters":{},"requestOptions":{}},"id":"141becaa-1f87-4efd-92c3-d535dfc858e2","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-672,224],"credentials":{"n8nApi":{"id":"AT4S0OidCyT2nI5u","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"febdb6e7-4635-4204-82fb-584e1bdf31c9","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-448,224]},{"parameters":{"batchSize":1,"options":{}},"id":"430767a6-8803-4406-a1a4-4a191b443155","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[-224,224]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"ca6e9f3b-8a88-4d36-b763-f30e31fbfd71","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,0]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"0f5702c7-6d50-4da5-a596-d8142e4145ee","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,80],"retryOnFail":true,"webhookId":"70c89d94-b81c-4115-adde-5007d17d51c8","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/pedroguimaraes-sudo/racc-backup","mode":"url"},"repository":{"__rl":true,"value":"racc-backup","mode":"list","cachedResultName":"racc-backup","cachedResultUrl":"https://github.com/pedroguimaraes-sudo/racc-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d53750b2-7d8b-4826-a803-7ce9e39755eb","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[224,272],"retryOnFail":true,"webhookId":"d148e0ca-8337-49d4-80d1-8aaed40c320d","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"triggerAtMinute":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2016,224],"id":"2ddf5523-e91c-4a33-962b-021e1dffaf2f","name":"Schedule Trigger1"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version c5f82cc6","description":"","autosaved":true},"tags":[]}