fluxo-2-—-execução-(clickup-→-coda)-mWGZIBB9yDmZKidW.json
{"updatedAt":"2026-02-27T20:25:27.330Z","createdAt":"2026-02-27T14:07:52.402Z","id":"mWGZIBB9yDmZKidW","name":"Fluxo 2 — Execução (ClickUp → Coda)","active":false,"isArchived":false,"nodes":[{"parameters":{"events":["taskStatusUpdated"],"filters":{}},"id":"f2-trigger","name":"ClickUp Task Status Changed","type":"n8n-nodes-base.clickUpTrigger","typeVersion":1,"position":[0,0],"webhookId":"clickup-status-webhook","credentials":{"clickUpApi":{"id":"q5AJxyNa38pbFyst","name":"ClickUp account"}}},{"parameters":{"operation":"get","id":"={{ $json.task_id }}"},"id":"f2-clickup-get","name":"Buscar detalhes da Task","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[256,0],"credentials":{"clickUpApi":{"id":"q5AJxyNa38pbFyst","name":"ClickUp account"}}},{"parameters":{"assignments":{"assignments":[{"id":"status","name":"status","value":"={{ $json.status.status }}","type":"string"},{"id":"task_name","name":"task_name","value":"={{ $json.name }}","type":"string"},{"id":"task_id","name":"task_id","value":"={{ $json.id }}","type":"string"},{"id":"time_spent","name":"time_spent","value":"={{ $json.time_spent }}","type":"string"},{"id":"time_estimate","name":"time_estimate","value":"={{ $json.time_estimate }}","type":"string"},{"id":"assignees","name":"assignees","value":"={{ $json.assignees.map(a => a.username).join(', ') }}","type":"string"},{"id":"list_name","name":"list_name","value":"={{ $json.list.name }}","type":"string"},{"id":"date_updated","name":"date_updated","value":"={{ $now.toISO() }}","type":"string"},{"id":"date_created","name":"date_created","value":"={{ $json.date_created }}","type":"string"},{"id":"old_status","name":"old_status","value":"={{ $json.status_before || 'unknown' }}","type":"string"},{"id":"new_status","name":"new_status","value":"={{ $json.status.status }}","type":"string"},{"id":"assignee","name":"assignee","value":"={{ $json.assignees?.[0]?.email || '' }}","type":"string"}]},"options":{}},"id":"f2-set","name":"Preparar dados","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,0]},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-Tasks-by-list","returnAll":true,"options":{"query":"={{ $json.task_id }}"}},"id":"f2-coda-find","name":"Buscar Task no Coda","type":"n8n-nodes-base.coda","typeVersion":1,"position":[752,0],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"method":"PUT","url":"=https://coda.io/apis/v1/docs/-98_5AZ0ga/tables/grid-Tasks-by-list/rows/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $credentials.httpHeaderAuth.value }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"row","value":"={{ JSON.stringify({ cells: [{ column: 'Status', value: $('Preparar dados').item.json.status }, { column: 'Time spent', value: $('Preparar dados').item.json.time_spent }] }) }}"}]},"options":{}},"id":"f2-coda-update","name":"Atualizar Coda via API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,0]},{"parameters":{"url":"https://coda.io/apis/v1/docs/-98_5AZ0ga/tables/grid-sync-1085-Table-dynamic-_sudlzzv_/rows","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1168,-144],"id":"lookup-dev-fluxo2","name":"Buscar Devs Cadastrados","credentials":{"httpBearerAuth":{"id":"Z1wwKOxmGbxo3ZgL","name":"CODA"}}},{"parameters":{"jsCode":"\n// Dados da tarefa\nconst taskData = items[0].json;\nconst assignee = taskData.assignee || taskData.assignees?.[0]?.email || '';\n\n// Buscar devs cadastrados\nconst devsResponse = $('Buscar Devs Cadastrados').first().json;\nconst devRows = devsResponse.items || [];\n\n// Cruzar por email\nlet devName = assignee; // fallback\nlet devGithub = '';\n\nfor (const row of devRows) {\n    const values = row.values || {};\n    const nome = Object.values(values).find((v, i) => i === 0) || '';\n    const githubUser = Object.values(values).find((v, i) => i === 1) || '';\n    const email = Object.values(values).find((v, i) => i === 2) || '';\n    \n    if (typeof email === 'string' && email.toLowerCase() === assignee.toLowerCase()) {\n        devName = nome;\n        devGithub = githubUser;\n        break;\n    }\n}\n\nreturn [{\n    json: {\n        ...taskData,\n        dev_name: devName,\n        dev_github: devGithub,\n        dev_identified: devName !== assignee\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"id":"match-dev-fluxo2","name":"Identificar Dev"},{"parameters":{"modelId":{"__rl":true,"value":"kimi-k2.5:cloud","mode":"list","cachedResultName":"kimi-k2.5:cloud"},"messages":{"values":[{"content":"Você é um analista de produtividade de desenvolvimento de software. Analise a mudança de status da tarefa:\n\nDADOS DA TAREFA:\n- Tarefa: {{ $json.task_name }}\n- Projeto: {{ $json.list_name }}\n- Status Anterior: {{ $json.old_status }}\n- Status Novo: {{ $json.new_status }}\n- Dev Responsável: {{ $json.assignee }}\n- Horas Estimadas: {{ $json.time_estimate }}h\n- Horas Registradas até agora: {{ $json.time_spent }}h\n- Data de Criação: {{ $json.date_created }}\n- Data Atual: {{ $json.date_updated }}\n\nDEV IDENTIFICADO: {{ $json.dev_name }} (Identificação automática: {{ $json.dev_identified }})\n\nANÁLISE SOLICITADA:\n1. **Eficiência Parcial**: Se já há horas registradas, como está o ritmo em relação à estimativa?\n2. **Aging**: Quanto tempo a tarefa está aberta? Está dentro do esperado?\n3. **Alerta de Risco**: Se horas reais > 80% da estimativa e status não é \"complete\", gerar alerta.\n4. **Padrão de Comportamento**: Baseado no tempo entre criação e mudança de status, o dev está seguindo um fluxo saudável?\n\nResponda de forma objetiva em português brasileiro. Máximo 150 palavras."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[1568,0],"id":"ollama-fluxo2","name":"AI - Análise de Performance","credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"resource":"row"},"type":"n8n-nodes-base.coda","typeVersion":1,"position":[1920,0],"id":"coda-ai-fluxo2","name":"Coda - Salvar Análise IA","credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}}],"connections":{"ClickUp Task Status Changed":{"main":[[{"node":"Buscar detalhes da Task","type":"main","index":0}]]},"Buscar detalhes da Task":{"main":[[{"node":"Preparar dados","type":"main","index":0}]]},"Preparar dados":{"main":[[{"node":"Buscar Task no Coda","type":"main","index":0}]]},"Buscar Task no Coda":{"main":[[{"node":"Atualizar Coda via API","type":"main","index":0}]]},"Atualizar Coda via API":{"main":[[{"node":"Buscar Devs Cadastrados","type":"main","index":0},{"node":"Identificar Dev","type":"main","index":0}]]},"Buscar Devs Cadastrados":{"main":[[{"node":"Identificar Dev","type":"main","index":0}]]},"Identificar Dev":{"main":[[{"node":"AI - Análise de Performance","type":"main","index":0}]]},"AI - Análise de Performance":{"main":[[{"node":"Coda - Salvar Análise IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:ClickUp Task Status Changed":{},"node:ClickUp - Status Mudou":{"webhookId":"d006ab90-0619-47fe-bc41-e2f7b8e50421","secret":"1OXHSEBYFJP0RQ0AB7YVYQ1FJWIABG8JIDESMO8FR01CHC42LU85F5U3WT0GGZT6"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"57727418-5658-4ab0-a1fe-27f5a586d3a4","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T14:07:52.402Z","createdAt":"2026-02-27T14:07:52.402Z","role":"workflow:owner","workflowId":"mWGZIBB9yDmZKidW","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}