fluxo-3-—-pr-aberto-(github-→-coda)-HX6U4OObEvUxHtXY.json
{"updatedAt":"2026-02-27T20:10:57.175Z","createdAt":"2026-02-27T14:07:54.277Z","id":"HX6U4OObEvUxHtXY","name":"Fluxo 3 — PR Aberto (GitHub → Coda)","active":false,"isArchived":false,"nodes":[{"parameters":{"events":["pull_request"],"owner":"pedroguimaraes-sudo","repository":"*"},"id":"f3-trigger","name":"GitHub PR Webhook","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[0,0],"webhookId":"github-pr-webhook","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond1","leftValue":"={{ $json.body.action }}","rightValue":"opened","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},"id":"f3-filter","name":"Filtrar PR Aberto","type":"n8n-nodes-base.filter","typeVersion":2,"position":[250,0]},{"parameters":{"assignments":{"assignments":[{"id":"pr_title","name":"pr_title","value":"={{ $json.body.pull_request.title }}","type":"string"},{"id":"pr_url","name":"pr_url","value":"={{ $json.body.pull_request.html_url }}","type":"string"},{"id":"pr_number","name":"pr_number","value":"={{ $json.body.pull_request.number }}","type":"number"},{"id":"pr_author","name":"pr_author","value":"={{ $json.body.pull_request.user.login }}","type":"string"},{"id":"repo_name","name":"repo_name","value":"={{ $json.body.repository.name }}","type":"string"},{"id":"branch","name":"branch","value":"={{ $json.body.pull_request.head.ref }}","type":"string"},{"id":"task_id","name":"task_id","value":"={{ $json.body.pull_request.title.match(/CL-([a-z0-9]+)/i)?.[1] || $json.body.pull_request.head.ref.match(/CL-([a-z0-9]+)/i)?.[1] || '' }}","type":"string"},{"id":"commits_count","name":"commits_count","value":"={{ $json.body.pull_request.commits }}","type":"number"},{"id":"additions","name":"additions","value":"={{ $json.body.pull_request.additions }}","type":"number"},{"id":"deletions","name":"deletions","value":"={{ $json.body.pull_request.deletions }}","type":"number"},{"id":"changed_files","name":"changed_files","value":"={{ $json.body.pull_request.changed_files }}","type":"number"},{"id":"created_at","name":"created_at","value":"={{ $json.body.pull_request.created_at }}","type":"string"},{"id":"repository","name":"repository","value":"={{ $json.body.repository.name }}","type":"string"},{"id":"head_branch","name":"head_branch","value":"={{ $json.body.pull_request.head.ref }}","type":"string"},{"id":"base_branch","name":"base_branch","value":"={{ $json.body.pull_request.base.ref }}","type":"string"},{"id":"pr_body","name":"pr_body","value":"={{ ($json.body.pull_request.body || '').substring(0, 500) }}","type":"string"}]}},"id":"f3-set","name":"Extrair dados do PR","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,0]},{"parameters":{"resource":"table","operation":"pushButton","docId":"-98_5AZ0ga","tableId":"grid-GitHub-PRs","options":{}},"id":"f3-coda-insert","name":"Registrar PR no Coda","type":"n8n-nodes-base.coda","typeVersion":1,"position":[750,0],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"url":"https://coda.io/apis/v1/docs/-98_5AZ0ga/tables/grid-sync-1085-Table-dynamic-_sudlzzv_/rows","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,-144],"id":"lookup-dev-fluxo3","name":"Buscar Devs Cadastrados","credentials":{"httpBearerAuth":{"id":"Z1wwKOxmGbxo3ZgL","name":"CODA"}}},{"parameters":{"jsCode":"\n// Dados do PR\nconst prData = $('Extrair dados do PR').first().json;\nconst prAuthor = prData.pr_author || '';\n\n// Buscar devs cadastrados\nconst devsResponse = $('Buscar Devs Cadastrados').first().json;\nconst devRows = devsResponse.items || [];\n\n// Cruzar por GitHub username\nlet devName = prAuthor;\nlet devEmail = '';\n\nfor (const row of devRows) {\n    const values = row.values || {};\n    const githubUser = Object.values(values).find((v, i) => i === 1) || '';\n    const nome = Object.values(values).find((v, i) => i === 0) || '';\n    const email = Object.values(values).find((v, i) => i === 2) || '';\n    \n    if (typeof githubUser === 'string' && githubUser.toLowerCase() === prAuthor.toLowerCase()) {\n        devName = nome;\n        devEmail = email;\n        break;\n    }\n}\n\nreturn [{\n    json: {\n        ...prData,\n        dev_name: devName,\n        dev_email: devEmail,\n        dev_identified: devName !== prAuthor\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,0],"id":"match-dev-fluxo3","name":"Identificar Dev"},{"parameters":{"modelId":{"__rl":true,"value":"kimi-k2.5:cloud","mode":"list","cachedResultName":"kimi-k2.5:cloud"},"messages":{"values":[{"content":"Você é um analista de qualidade técnica de software. Um Pull Request foi aberto. Analise:\n\nDADOS DO PR:\n- Repositório: {{ $json.repository }}\n- PR Título: {{ $json.pr_title }}\n- PR Número: #{{ $json.pr_number }}\n- Autor: {{ $json.pr_author }}\n- Branch: {{ $json.head_branch }} → {{ $json.base_branch }}\n- Arquivos Alterados: {{ $json.changed_files }}\n- Linhas Adicionadas: +{{ $json.additions }}\n- Linhas Removidas: -{{ $json.deletions }}\n- Commits no PR: {{ $json.commits_count }}\n- Descrição: {{ $json.pr_body }}\n\nDEV IDENTIFICADO: {{ $json.dev_name }} (Identificação automática: {{ $json.dev_identified }})\n\nANÁLISE SOLICITADA:\n1. **Tamanho do PR**: O PR está dentro de um tamanho saudável? (ideal: <400 linhas, <10 arquivos)\n2. **Padrão de Commits**: Muitos commits podem indicar uso excessivo de agentes IA sem planejamento.\n3. **Escopo**: Baseado no título e descrição, o PR parece focado em um único entregável ou está misturando escopos?\n4. **Indicadores de Retrabalho**: Há sinais de que este PR pode gerar retrabalho (ex: mudanças estruturais, muitos arquivos)?\n5. **Score Preliminar de Qualidade**: De 1 a 10, qual a qualidade aparente deste PR?\n\nResponda de forma objetiva em português brasileiro. Máximo 250 palavras."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[1568,0],"id":"ollama-fluxo3","name":"AI - Análise de Performance","credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"resource":"row"},"type":"n8n-nodes-base.coda","typeVersion":1,"position":[1920,0],"id":"coda-ai-fluxo3","name":"Coda - Salvar Análise IA","credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}}],"connections":{"GitHub PR Webhook":{"main":[[{"node":"Filtrar PR Aberto","type":"main","index":0}]]},"Filtrar PR Aberto":{"main":[[{"node":"Extrair dados do PR","type":"main","index":0}]]},"Extrair dados do PR":{"main":[[{"node":"Registrar PR no Coda","type":"main","index":0}]]},"Registrar PR no Coda":{"main":[[{"node":"Buscar Devs Cadastrados","type":"main","index":0},{"node":"Identificar Dev","type":"main","index":0}]]},"Buscar Devs Cadastrados":{"main":[[{"node":"Identificar Dev","type":"main","index":0}]]},"Identificar Dev":{"main":[[{"node":"AI - Análise de Performance","type":"main","index":0}]]},"AI - Análise de Performance":{"main":[[{"node":"Coda - Salvar Análise IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:GitHub - PR Event":{"webhookId":598285709,"webhookEvents":["pull_request"],"webhookSecret":"5036a1b50147ae17741f6229ba706f7fe4dbaad34aca93368b859bd555e0bcc3"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"GitHub - PR Event":[{"json":{"body":{"action":"opened","number":1,"pull_request":{"url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1","id":3336657350,"node_id":"PR_kwDORZkPLM7G4VnG","html_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc/pull/1","diff_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc/pull/1.diff","patch_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc/pull/1.patch","issue_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/1","number":1,"state":"open","locked":false,"title":"Update README.md","user":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"teste","created_at":"2026-02-27T17:31:27Z","updated_at":"2026-02-27T17:31:27Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1/commits","review_comments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1/comments","review_comment_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/comments{/number}","comments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/1/comments","statuses_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/statuses/747b6f73a159d0932fc0bcc4946437b6a3c2c21c","head":{"label":"pedroguimaraes-sudo:pedroguimaraes-sudo-patch-1","ref":"pedroguimaraes-sudo-patch-1","sha":"747b6f73a159d0932fc0bcc4946437b6a3c2c21c","user":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1167658796,"node_id":"R_kgDORZkPLA","name":"n8n-backup-racc","full_name":"pedroguimaraes-sudo/n8n-backup-racc","private":true,"owner":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","description":null,"fork":false,"url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc","forks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/forks","keys_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/teams","hooks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/hooks","issue_events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/events{/number}","events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/events","assignees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/assignees{/user}","branches_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/branches{/branch}","tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/tags","blobs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/refs{/sha}","trees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/statuses/{sha}","languages_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/languages","stargazers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/stargazers","contributors_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contributors","subscribers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscribers","subscription_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscription","commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/commits{/sha}","git_commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/commits{/sha}","comments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/comments{/number}","issue_comment_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/comments{/number}","contents_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contents/{+path}","compare_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/merges","archive_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/downloads","issues_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues{/number}","pulls_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls{/number}","milestones_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/milestones{/number}","notifications_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/labels{/name}","releases_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/releases{/id}","deployments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/deployments","created_at":"2026-02-26T14:41:02Z","updated_at":"2026-02-27T03:30:25Z","pushed_at":"2026-02-27T17:31:24Z","git_url":"git://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","ssh_url":"git@github.com:pedroguimaraes-sudo/n8n-backup-racc.git","clone_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","svn_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","homepage":null,"size":203,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE"}},"base":{"label":"pedroguimaraes-sudo:main","ref":"main","sha":"cb0f805a55196d7a1ad3ddd9ecb9a734d7b3c308","user":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1167658796,"node_id":"R_kgDORZkPLA","name":"n8n-backup-racc","full_name":"pedroguimaraes-sudo/n8n-backup-racc","private":true,"owner":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","description":null,"fork":false,"url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc","forks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/forks","keys_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/teams","hooks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/hooks","issue_events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/events{/number}","events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/events","assignees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/assignees{/user}","branches_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/branches{/branch}","tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/tags","blobs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/refs{/sha}","trees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/statuses/{sha}","languages_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/languages","stargazers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/stargazers","contributors_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contributors","subscribers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscribers","subscription_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscription","commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/commits{/sha}","git_commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/commits{/sha}","comments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/comments{/number}","issue_comment_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/comments{/number}","contents_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contents/{+path}","compare_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/merges","archive_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/downloads","issues_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues{/number}","pulls_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls{/number}","milestones_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/milestones{/number}","notifications_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/labels{/name}","releases_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/releases{/id}","deployments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/deployments","created_at":"2026-02-26T14:41:02Z","updated_at":"2026-02-27T03:30:25Z","pushed_at":"2026-02-27T17:31:24Z","git_url":"git://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","ssh_url":"git@github.com:pedroguimaraes-sudo/n8n-backup-racc.git","clone_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","svn_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","homepage":null,"size":203,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE"}},"_links":{"self":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1"},"html":{"href":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc/pull/1"},"issue":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/1"},"comments":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/1/comments"},"review_comments":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1/comments"},"review_comment":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/comments{/number}"},"commits":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls/1/commits"},"statuses":{"href":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/statuses/747b6f73a159d0932fc0bcc4946437b6a3c2c21c"}},"author_association":"OWNER","auto_merge":null,"assignee":null,"active_lock_reason":null,"merged":false,"mergeable":null,"rebaseable":null,"mergeable_state":"unknown","merged_by":null,"comments":0,"review_comments":0,"maintainer_can_modify":false,"commits":1,"additions":3,"deletions":1,"changed_files":1},"repository":{"id":1167658796,"node_id":"R_kgDORZkPLA","name":"n8n-backup-racc","full_name":"pedroguimaraes-sudo/n8n-backup-racc","private":true,"owner":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","description":null,"fork":false,"url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc","forks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/forks","keys_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/keys{/key_id}","collaborators_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/teams","hooks_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/hooks","issue_events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/events{/number}","events_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/events","assignees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/assignees{/user}","branches_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/branches{/branch}","tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/tags","blobs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/refs{/sha}","trees_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/trees{/sha}","statuses_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/statuses/{sha}","languages_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/languages","stargazers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/stargazers","contributors_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contributors","subscribers_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscribers","subscription_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/subscription","commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/commits{/sha}","git_commits_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/git/commits{/sha}","comments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/comments{/number}","issue_comment_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues/comments{/number}","contents_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/contents/{+path}","compare_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/compare/{base}...{head}","merges_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/merges","archive_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/downloads","issues_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/issues{/number}","pulls_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/pulls{/number}","milestones_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/milestones{/number}","notifications_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/labels{/name}","releases_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/releases{/id}","deployments_url":"https://api.github.com/repos/pedroguimaraes-sudo/n8n-backup-racc/deployments","created_at":"2026-02-26T14:41:02Z","updated_at":"2026-02-27T03:30:25Z","pushed_at":"2026-02-27T17:31:24Z","git_url":"git://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","ssh_url":"git@github.com:pedroguimaraes-sudo/n8n-backup-racc.git","clone_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc.git","svn_url":"https://github.com/pedroguimaraes-sudo/n8n-backup-racc","homepage":null,"size":203,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main"},"sender":{"login":"pedroguimaraes-sudo","id":254707229,"node_id":"U_kgDODy6GHQ","avatar_url":"https://avatars.githubusercontent.com/u/254707229?v=4","gravatar_id":"","url":"https://api.github.com/users/pedroguimaraes-sudo","html_url":"https://github.com/pedroguimaraes-sudo","followers_url":"https://api.github.com/users/pedroguimaraes-sudo/followers","following_url":"https://api.github.com/users/pedroguimaraes-sudo/following{/other_user}","gists_url":"https://api.github.com/users/pedroguimaraes-sudo/gists{/gist_id}","starred_url":"https://api.github.com/users/pedroguimaraes-sudo/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/pedroguimaraes-sudo/subscriptions","organizations_url":"https://api.github.com/users/pedroguimaraes-sudo/orgs","repos_url":"https://api.github.com/users/pedroguimaraes-sudo/repos","events_url":"https://api.github.com/users/pedroguimaraes-sudo/events{/privacy}","received_events_url":"https://api.github.com/users/pedroguimaraes-sudo/received_events","type":"User","user_view_type":"public","site_admin":false}},"headers":{"host":"webhook.racc.intentus.digital","user-agent":"GitHub-Hookshot/ea5d10c","content-length":"25246","accept":"*/*","content-type":"application/json","x-forwarded-for":"140.82.115.17","x-forwarded-host":"webhook.racc.intentus.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"95edd0f70c1d","x-github-delivery":"26417470-1402-11f1-895f-5585bb1f7c80","x-github-event":"pull_request","x-github-hook-id":"598285709","x-github-hook-installation-target-id":"1167658796","x-github-hook-installation-target-type":"repository","x-hub-signature":"sha1=6b95856e8a85652226b805abb4715b2afa1e45a4","x-hub-signature-256":"sha256=c4a6080fc8303fc6f70e30b43a05f8ee59c8a2e212d68b7b8127d60900edeeb1","x-real-ip":"140.82.115.17","accept-encoding":"gzip"},"query":{}},"pairedItem":{"item":0}}],"AI - Análise do PR":[{"json":{"content":"```json\n{\n  \"score_qualidade\": 30,\n  \"tamanho_pr\": \"pequeno\",\n  \"padrao_commits\": \"ruim\",\n  \"possivel_uso_agente_ia\": false,\n  \"alertas\": [\n    \"Descrição do PR é insuficiente ('teste')\",\n    \"O commit não segue padrões semânticos (Conventional Commits)\",\n    \"PR parece ser apenas um teste técnico de conexão ou permissão, sem valor funcional para o código\"\n  ],\n  \"resumo\": \"O PR consiste em uma alteração mínima de documentação com uma descrição genérica de 'teste'. A falta de contexto e o uso de branches automáticas do GitHub sugerem uma contribuição experimental ou de configuração inicial, sem rigor de qualidade.\"\n}\n```"},"pairedItem":{"item":0}}]},"versionId":"1317f36d-aced-49a7-ba70-0f860666425f","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T14:07:54.277Z","createdAt":"2026-02-27T14:07:54.277Z","role":"workflow:owner","workflowId":"HX6U4OObEvUxHtXY","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}