fluxo-4-—-pr-mergeado-(github-→-coda)-2WPdSlgcPOfN7MeQ.json
{"updatedAt":"2026-02-27T20:11:01.986Z","createdAt":"2026-02-27T14:07:56.141Z","id":"2WPdSlgcPOfN7MeQ","name":"Fluxo 4 — PR Mergeado (GitHub → Coda)","active":false,"isArchived":false,"nodes":[{"parameters":{"events":["pull_request"],"owner":"pedroguimaraes-sudo","repository":"*"},"id":"f4-trigger","name":"GitHub PR Webhook (Merge)","type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[0,0],"webhookId":"github-pr-merge-webhook","credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond1","leftValue":"={{ $json.body.action }}","rightValue":"closed","operator":{"type":"string","operation":"equals"}},{"id":"cond2","leftValue":"={{ $json.body.pull_request.merged }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"}},"id":"f4-filter","name":"Filtrar PR Mergeado","type":"n8n-nodes-base.filter","typeVersion":2,"position":[250,0]},{"parameters":{"resource":"pullRequest","operation":"get","owner":"={{ $json.body.repository.owner.login }}","repository":"={{ $json.body.repository.name }}","pullRequestNumber":"={{ $json.body.pull_request.number }}"},"id":"f4-github-pr-details","name":"Buscar detalhes completos do PR","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,0],"credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"resource":"review","operation":"getAll","owner":"={{ $('Filtrar PR Mergeado').item.json.body.repository.owner.login }}","repository":"={{ $('Filtrar PR Mergeado').item.json.body.repository.name }}","pullRequestNumber":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.number }}","returnAll":true},"id":"f4-github-reviews","name":"Buscar Reviews do PR","type":"n8n-nodes-base.github","typeVersion":1,"position":[500,200],"credentials":{"githubApi":{"id":"bDRVBLyBdESUcwS4","name":"GitHub account"}}},{"parameters":{"mode":"combine","mergeByFields":{"values":[{"field1":"number","field2":"pull_request_url"}]},"options":{}},"id":"f4-merge","name":"Combinar dados","type":"n8n-nodes-base.merge","typeVersion":3,"position":[750,100]},{"parameters":{"assignments":{"assignments":[{"id":"pr_title","name":"pr_title","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.title }}","type":"string"},{"id":"pr_url","name":"pr_url","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.html_url }}","type":"string"},{"id":"pr_author","name":"pr_author","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.user.login }}","type":"string"},{"id":"repo_name","name":"repo_name","value":"={{ $('Filtrar PR Mergeado').item.json.body.repository.name }}","type":"string"},{"id":"commits_count","name":"commits_count","value":"={{ $('Buscar detalhes completos do PR').item.json.commits }}","type":"number"},{"id":"additions","name":"additions","value":"={{ $('Buscar detalhes completos do PR').item.json.additions }}","type":"number"},{"id":"deletions","name":"deletions","value":"={{ $('Buscar detalhes completos do PR').item.json.deletions }}","type":"number"},{"id":"changed_files","name":"changed_files","value":"={{ $('Buscar detalhes completos do PR').item.json.changed_files }}","type":"number"},{"id":"created_at","name":"created_at","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.created_at }}","type":"string"},{"id":"merged_at","name":"merged_at","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.merged_at }}","type":"string"},{"id":"time_to_merge_hours","name":"time_to_merge_hours","value":"={{ Math.round((new Date($('Filtrar PR Mergeado').item.json.body.pull_request.merged_at) - new Date($('Filtrar PR Mergeado').item.json.body.pull_request.created_at)) / 3600000 * 10) / 10 }}","type":"number"},{"id":"review_count","name":"review_count","value":"={{ $('Buscar Reviews do PR').all().length }}","type":"number"},{"id":"approved_first_review","name":"approved_first_review","value":"={{ $('Buscar Reviews do PR').first()?.json?.state === 'APPROVED' ? 'Sim' : 'Não' }}","type":"string"},{"id":"changes_requested","name":"changes_requested","value":"={{ $('Buscar Reviews do PR').all().filter(r => r.json.state === 'CHANGES_REQUESTED').length }}","type":"number"},{"id":"task_id","name":"task_id","value":"={{ $('Filtrar PR Mergeado').item.json.body.pull_request.title.match(/CL-([a-z0-9]+)/i)?.[1] || '' }}","type":"string"},{"id":"repository","name":"repository","value":"={{ $('Filtrar PR Mergeado').item.json.body.repository.name }}","type":"string"},{"id":"was_reopened","name":"was_reopened","value":"=Não","type":"string"},{"id":"review_comments","name":"review_comments","value":"={{ $('Buscar detalhes completos do PR').item.json.review_comments || 0 }}","type":"number"}]}},"id":"f4-set","name":"Calcular métricas do PR","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,100]},{"parameters":{"method":"POST","url":"https://coda.io/apis/v1/docs/-98_5AZ0ga/tables/grid-GitHub-PRs/rows","authentication":"predefinedCredentialType","nodeCredentialType":"codaApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ rows: [{ cells: [ { column: 'PR Title', value: $json.pr_title }, { column: 'PR URL', value: $json.pr_url }, { column: 'Author', value: $json.pr_author }, { column: 'Repository', value: $json.repo_name }, { column: 'Commits', value: $json.commits_count }, { column: 'Additions', value: $json.additions }, { column: 'Deletions', value: $json.deletions }, { column: 'Changed Files', value: $json.changed_files }, { column: 'Time to Merge (h)', value: $json.time_to_merge_hours }, { column: 'Reviews', value: $json.review_count }, { column: 'Approved 1st Review', value: $json.approved_first_review }, { column: 'Changes Requested', value: $json.changes_requested }, { column: 'Task ID', value: $json.task_id }, { column: 'Created At', value: $json.created_at }, { column: 'Merged At', value: $json.merged_at } ] }] }) }}"},"id":"f4-coda-insert","name":"Registrar métricas no Coda","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1250,100],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"url":"https://coda.io/apis/v1/docs/-98_5AZ0ga/tables/grid-sync-1085-Table-dynamic-_sudlzzv_/rows","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1450,-50],"id":"lookup-dev-fluxo4","name":"Buscar Devs Cadastrados","credentials":{"httpBearerAuth":{"id":"Z1wwKOxmGbxo3ZgL","name":"CODA"}}},{"parameters":{"jsCode":"\n// Dados do PR\nconst prData = $('Calcular métricas do PR').first().json;\nconst prAuthor = prData.pr_author || '';\n\n// Buscar devs cadastrados\nconst devsResponse = $('Buscar Devs Cadastrados').first().json;\nconst devRows = devsResponse.items || [];\n\n// Cruzar por GitHub username\nlet devName = prAuthor;\nlet devEmail = '';\n\nfor (const row of devRows) {\n    const values = row.values || {};\n    const githubUser = Object.values(values).find((v, i) => i === 1) || '';\n    const nome = Object.values(values).find((v, i) => i === 0) || '';\n    const email = Object.values(values).find((v, i) => i === 2) || '';\n    \n    if (typeof githubUser === 'string' && githubUser.toLowerCase() === prAuthor.toLowerCase()) {\n        devName = nome;\n        devEmail = email;\n        break;\n    }\n}\n\nreturn [{\n    json: {\n        ...prData,\n        dev_name: devName,\n        dev_email: devEmail,\n        dev_identified: devName !== prAuthor\n    }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1650,100],"id":"match-dev-fluxo4","name":"Identificar Dev"},{"parameters":{"modelId":{"__rl":true,"value":"kimi-k2.5:cloud","mode":"list","cachedResultName":"kimi-k2.5:cloud"},"messages":{"values":[{"content":"Você é um analista sênior de performance técnica de desenvolvimento. Um Pull Request foi mergeado. Faça a análise completa:\n\nDADOS DO PR MERGEADO:\n- Repositório: {{ $json.repository }}\n- PR Título: {{ $json.pr_title }}\n- PR Número: #{{ $json.pr_number }}\n- Autor: {{ $json.pr_author }}\n- Tempo até Merge: {{ $json.time_to_merge_hours }}h\n- Número de Revisões: {{ $json.review_count }}\n- Aprovado na 1ª Revisão: {{ $json.approved_first_review }}\n- Commits Totais: {{ $json.commits_count }}\n- Linhas Adicionadas: +{{ $json.additions }}\n- Linhas Removidas: -{{ $json.deletions }}\n- Arquivos Alterados: {{ $json.changed_files }}\n- PR foi Reaberto: {{ $json.was_reopened }}\n- Comentários de Revisão: {{ $json.review_comments }}\n\nDEV IDENTIFICADO: {{ $json.dev_name }} (Identificação automática: {{ $json.dev_identified }})\n\nANÁLISE COMPLETA:\n1. **Eficiência Operacional**: Tempo até merge está dentro do esperado? (ideal: <24h para tasks normais)\n2. **Qualidade Técnica**: Aprovado na 1ª revisão? Quantidade de revisões (ideal: 1-2)\n3. **Indicadores de Uso Incorreto de Agentes IA**: Muitos commits incrementais? Muitas linhas alteradas?\n4. **Score de Retrabalho**: PR reaberto? Mudanças pós-aprovação?\n5. **Score Final do Dev para esta entrega**:\n   - Eficiência (40%): baseada em tempo\n   - Qualidade (30%): baseada em revisões\n   - Retrabalho (20%): baseada em reaberturas\n   - Previsibilidade (10%): entregou no prazo?\n   Calcule o score de 0 a 100.\n6. **Diagnóstico**: O dev está usando agentes de forma produtiva ou improdutiva?\n7. **Recomendações**: 2-3 ações concretas para melhorar.\n\nResponda de forma estruturada em português brasileiro. Máximo 400 palavras."}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[1850,100],"id":"ollama-fluxo4","name":"AI - Análise de Performance","credentials":{"ollamaApi":{"id":"EsLqiLqqKwvsG3qM","name":"Ollama account"}}},{"parameters":{"resource":"row"},"type":"n8n-nodes-base.coda","typeVersion":1,"position":[2100,100],"id":"coda-ai-fluxo4","name":"Coda - Salvar Análise IA","credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}}],"connections":{"GitHub PR Webhook (Merge)":{"main":[[{"node":"Filtrar PR Mergeado","type":"main","index":0}]]},"Filtrar PR Mergeado":{"main":[[{"node":"Buscar detalhes completos do PR","type":"main","index":0},{"node":"Buscar Reviews do PR","type":"main","index":0}]]},"Buscar detalhes completos do PR":{"main":[[{"node":"Combinar dados","type":"main","index":0}]]},"Buscar Reviews do PR":{"main":[[{"node":"Combinar dados","type":"main","index":1}]]},"Combinar dados":{"main":[[{"node":"Calcular métricas do PR","type":"main","index":0}]]},"Calcular métricas do PR":{"main":[[{"node":"Registrar métricas no Coda","type":"main","index":0}]]},"Registrar métricas no Coda":{"main":[[{"node":"Buscar Devs Cadastrados","type":"main","index":0},{"node":"Identificar Dev","type":"main","index":0}]]},"Buscar Devs Cadastrados":{"main":[[{"node":"Identificar Dev","type":"main","index":0}]]},"Identificar Dev":{"main":[[{"node":"AI - Análise de Performance","type":"main","index":0}]]},"AI - Análise de Performance":{"main":[[{"node":"Coda - Salvar Análise IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:GitHub - PR Event":{"webhookId":598285902,"webhookEvents":["pull_request"],"webhookSecret":"3cd0bc47c99b7277c91bf6e6bafd3233488edfd2ca694b8d446736ea7048cf82"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"59b5ceae-4432-48a0-89ad-cfaf24545475","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T14:07:56.141Z","createdAt":"2026-02-27T14:07:56.141Z","role":"workflow:owner","workflowId":"2WPdSlgcPOfN7MeQ","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}