fluxo-1-—-criação-(coda-→-clickup)-57irpxOG6o9URyMj.json
{"updatedAt":"2026-03-17T18:47:16.048Z","createdAt":"2026-02-27T14:07:48.871Z","id":"57irpxOG6o9URyMj","name":"Fluxo 1 вЂ” CriaГ§ГЈo (Coda в†’ ClickUp)","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"6c4b08d9-18a7-4897-a739-29b30e7653e6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[29136,1920],"id":"fc07dfad-f258-490f-86b5-d20369ba0cae","name":"Webhook","webhookId":"6c4b08d9-18a7-4897-a739-29b30e7653e6"},{"parameters":{"url":"={{ $json.body.prdLink }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[29584,1920],"id":"b2483ee1-097d-4949-949a-980606e4db76","name":"PRD_FORMAT"},{"parameters":{"assignments":{"assignments":[{"name":"projeto_nome","value":"={{ $('Webhook').item.json.body.projeto }}","type":"string","id":"030aabad-4125-4094-a792-c886d2e10cb2"},{"name":"cliente_nome","value":"={{ $('Webhook').item.json.body.cliente }}","type":"string","id":"3164b45a-3e6f-4e93-801e-1d71e7ef8f65"},{"name":"projeto_escopo","value":"={{ $json.data }}","type":"string","id":"91c8e37b-88d7-4a42-bd0e-4a25c6cc83ce"}]},"options":{}},"id":"d72670fd-801a-4647-b997-f624e0b612f3","name":"Salvar Contexto do Projeto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[29808,1920]},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","returnAll":true,"options":{}},"id":"fa51eaae-0dbc-4156-803e-1fe1096b8bf6","name":"Buscar DBEntregaveis (Coda)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[30032,1920],"alwaysOutputData":true,"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-m7NYXSlvhD","returnAll":true,"options":{}},"id":"77a9d013-ffcb-4750-9016-a58e7d25851a","name":"Buscar DBTiposEntregaveis","type":"n8n-nodes-base.coda","typeVersion":1,"position":[30256,1920],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"const ctx = $('Salvar Contexto do Projeto').first().json;\nconst projetoAlvo = (ctx.projeto_nome || '').trim().toLowerCase();\nconst clienteAlvo = (ctx.cliente_nome || '').trim().toLowerCase();\n\nconst todosEntregaveis = $('Buscar DBEntregaveis (Coda)').all();\nconst todosTipos = $('Buscar DBTiposEntregaveis').all();\n\nconst tiposMap = {};\nfor (const t of todosTipos) {\n  const nomeTipo = (\n    t.json['nome_tipo'] ?? t.json['Nome do Tipo'] ?? t.json['tipo_entregavel'] ?? t.json['Tipo de EntregГЎvel'] ?? ''\n  ).toString().trim();\n  if (nomeTipo) {\n    tiposMap[nomeTipo.toLowerCase()] = {\n      rowId: t.json.id ?? t.json['_id'] ?? null,\n      nome_tipo: nomeTipo,\n      horas_estimadas: Number(t.json['Horas PadrГЈo'] ?? t.json['horas_estimadas'] ?? t.json['Horas Estimadas'] ?? 0),\n      complexidade: (t.json['Complexidade'] ?? t.json['complexidade'] ?? '').toString(),\n      modelo_tarefas: (t.json['requisitos_funcionais'] ?? t.json['modelo_tarefas'] ?? t.json['Modelo de Tarefas'] ?? '').toString()\n    };\n  }\n}\n\nconst entregaveisExistentes = todosEntregaveis\n  .filter(row => {\n    const proj = (row.json['Projeto'] ?? row.json['projeto'] ?? '').toString().trim().toLowerCase();\n    const cli = (row.json['cliente_nome'] ?? row.json['Cliente'] ?? row.json['cliente'] ?? '').toString().trim().toLowerCase();\n    return proj === projetoAlvo && cli === clienteAlvo;\n  })\n  .map(row => (row.json['nome_entregavel'] ?? row.json['Nome do EntregГЎvel'] ?? '').toString().trim())\n  .filter(n => n !== '');\n\nconst tiposParaIA = Object.values(tiposMap).map(t => ({\n  nome_tipo: t.nome_tipo,\n  horas_estimadas: t.horas_estimadas,\n  complexidade: t.complexidade,\n  modelo_tarefas: t.modelo_tarefas\n}));\n\nreturn [{\n  json: {\n    projeto_nome: ctx.projeto_nome,\n    cliente_nome: ctx.cliente_nome,\n    projeto_escopo: ctx.projeto_escopo,\n    entregaveis_existentes_json: JSON.stringify(entregaveisExistentes),\n    tipos_entregaveis_json: JSON.stringify(tiposParaIA),\n    tipos_map_json: JSON.stringify(tiposMap)\n  }\n}];"},"id":"9e95f986-db76-44ec-9ec7-c0b120ff9f38","name":"Filtrar e Preparar EntregГЎveis para IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[30480,1920]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=VocГЄ Г© um gerente de projetos sГЄnior com mais de 15 anos de experiГЄncia em planejamento e execuГ§ГЈo de projetos de tecnologia e automaГ§ГЈo. Sua especialidade Г© decompor escopos complexos em entregГЎveis claros, objetivos e executГЎveis em ordem lГіgica de dependГЄncia.\n\nPROJETO: {{ $json.projeto_nome }}\nCLIENTE: {{ $json.cliente_nome }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nESCOPO / PRD DO PROJETO:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.projeto_escopo }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nENTREGГЃVEIS JГЃ CADASTRADOS (NГѓO DUPLIQUE):\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.entregaveis_existentes_json }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nTIPOS DE ENTREGГЃVEIS DISPONГЌVEIS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.tipos_entregaveis_json }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nPROCESSO DE ANГЃLISE:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nPASSO 1 вЂ” Leia o PRD e identifique funcionalidades, integraГ§Гµes, telas, regras e requisitos.\n\nPASSO 2 вЂ” Mapeie entregГЎveis 1:1 com as linhas do PRD (nГЈo fragmentar nem agrupar).\n\nPASSO 3 вЂ” DETECГ‡ГѓO OBRIGATГ“RIA DE CRUDs:\n  a) Qualquer operaГ§ГЈo sobre entidade в†’ criar \"CRUD de [Entidade]\"\n  b) Nome no formato exato: \"CRUD de X\"\n  c) Incluir Create, Read, Update, Delete\n  d) Informar telas, perfis e principais campos\n  e) CRUDs base antes dos dependentes\n\nPASSO 4 вЂ” OrdenaГ§ГЈo por dependГЄncia:\n  - Infra в†’ Auth в†’ CRUDs base в†’ CRUDs dependentes в†’ Funcionalidades в†’ IntegraГ§Гµes\n  - \"ordem\" sequencial\n  - \"depende_de\" com nomes dos entregГЎveis\n\nPASSO 5 вЂ” Para cada entregГЎvel:\n  a) Ignorar duplicados e fora do MVP  \n  b) Regras de negГіcio entram em critГ©rios de aceite  \n  c) \"requisitos_funcionais\": lista objetiva com \"вЂў \", contendo de forma RESUMIDA:\n     - O quГЄ\n     - Onde\n     - Perfil\n     - Dados principais\n     - Regras essenciais\n     - Tecnologias (se relevante)\n\nPASSO 6 вЂ” Se nГЈo houver tipo compatГ­vel: preencher sugestao_tipo_entregavel e horas_sugeridas_tipo.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCONTEXTO DE IA:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nConsidere uso de IA (Cursor, Claude, Copilot):\n\n- CRUD simples: -40вЂ“50%\n- CRUD mГ©dio: -30вЂ“40%\n- Infra: -20вЂ“30%\n- UI: -30вЂ“40%\n- IntegraГ§Гµes: -15вЂ“25%\n- RefatoraГ§ГЈo: -10вЂ“20%\n\nBaseie-se no tipo_entregavel, aplique reduГ§ГЈo e arredonde para cima. MГ­nimo: 1h.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nREGRAS CRГЌTICAS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n- Nunca omitir CRUD\n- 1 linha PRD = 1 entregГЎvel\n- Ordem lГіgica obrigatГіria\n- Seja claro, porГ©m conciso\n- NГЈo usar tipos fora da lista\n- NГЈo adicionar campos extras\n- Retornar apenas JSON\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nOTIMIZAГ‡ГѓO DE TOKENS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n- Seja direto e evite redundГўncia\n- Use frases curtas\n- Evite exemplos longos\n- NГЈo repetir contexto jГЎ implГ­cito\n- Limite cada requisito a 1 linha objetiva\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nFORMATO DE SAГЌDA:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n[\n  {\n    \"ordem\": number,\n    \"nome_entregavel\": \"string\",\n    \"depende_de\": [\"string\"],\n    \"tipo_entregavel\": \"string\",\n    \"horas_estimadas\": number,\n    \"complexidade\": \"string\",\n    \"requisitos_funcionais\": \"string concisa com bullets\",\n    \"criterio_aceite\": \"string objetiva e verificГЎvel\",\n    \"sugestao_tipo_entregavel\": \"string\",\n    \"horas_sugeridas_tipo\": number\n  }\n]"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[30704,1920],"id":"37693d98-7ce2-407d-8647-5dcb859356d3","name":"AI - Gerar EntregГЎveis Ordenados","credentials":{"openAiApi":{"id":"3vX7jfydPFOyEo9m","name":"[CRED]INTENTUS"}}},{"parameters":{"jsCode":"// Extrai o texto da resposta вЂ” suporta OpenAI node v2.x e Ollama\nfunction extractRaw(item) {\n  // OpenAI node v2.x: { output: [ { content: [ { type: \"output_text\", text: \"...\" } ] } ] }\n  if (Array.isArray(item?.output)) {\n    for (const msg of item.output) {\n      if (Array.isArray(msg?.content)) {\n        for (const block of msg.content) {\n          if (block?.type === 'output_text' && typeof block?.text === 'string') return block.text;\n          if (typeof block?.text === 'string') return block.text;\n        }\n      }\n      // fallback: output Г© array de strings\n      if (typeof msg === 'string') return msg;\n    }\n  }\n  // OpenAI node v1.x / Ollama\n  if (typeof item?.message?.content === 'string') return item.message.content;\n  if (typeof item?.response === 'string') return item.response;\n  if (typeof item?.text === 'string') return item.text;\n  if (typeof item?.content === 'string') return item.content;\n  return JSON.stringify(item);\n}\n\nconst item = $input.first().json;\nconst raw = extractRaw(item);\n\nif (!raw || raw.trim() === '') throw new Error('Resposta da IA vazia: ' + JSON.stringify(item));\n\nlet cleaned = raw.trim().replace(/```json/gi, '').replace(/```/g, '').trim();\nconst startIdx = cleaned.indexOf('[');\nconst endIdx = cleaned.lastIndexOf(']');\nif (startIdx === -1 || endIdx === -1) throw new Error('Nenhum array JSON encontrado: ' + cleaned);\ncleaned = cleaned.substring(startIdx, endIdx + 1);\n\nlet entregaveis;\ntry { entregaveis = JSON.parse(cleaned); } catch(e) { throw new Error('JSON invГЎlido: ' + e.message + ' | ' + cleaned); }\n\nentregaveis.sort((a, b) => (a.ordem || 0) - (b.ordem || 0));\n\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nconst preparado = $('Filtrar e Preparar EntregГЎveis para IA').first().json;\nconst tiposMap = JSON.parse(preparado.tipos_map_json || '{}');\n\nreturn entregaveis.map(e => {\n  const tipoKey = (e.tipo_entregavel || '').toLowerCase();\n  const tipoInfo = tiposMap[tipoKey] ?? null;\n  const temSugestao = e.sugestao_tipo_entregavel && e.sugestao_tipo_entregavel.trim() !== '';\n  const requisitosFormatados = (e.requisitos_funcionais || '')\n    .split('\\n')\n    .map(r => r.replace(/^[вЂў\\-*]\\s*/, '').trim())\n    .filter(r => r !== '')\n    .map(r => `  * \"${r}\"`)\n    .join('\\n');\n  const sugestao = temSugestao\n    ? `Nome: \"${e.sugestao_tipo_entregavel}\"\\nHoras sugeridas: \"${e.horas_sugeridas_tipo || 0}h\"\\nComplexidade: \"${e.complexidade || 'MГ©dia'}\"\\nRequisitos Funcionais:\\n${requisitosFormatados}`\n    : '';\n  return {\n    json: {\n      ordem: e.ordem || 0,\n      Projeto: ctx.projeto_nome,\n      cliente_nome: ctx.cliente_nome,\n      nome_entregavel: e.nome_entregavel,\n      depende_de: Array.isArray(e.depende_de) ? e.depende_de.join(', ') : (e.depende_de || ''),\n      tipo_entregavel: tipoInfo ? tipoInfo.rowId : '',\n      horas_estimadas: e.horas_estimadas || tipoInfo?.horas_estimadas || 0,\n      complexidade: e.complexidade || tipoInfo?.complexidade || '',\n      requisitos_funcionais: e.requisitos_funcionais || '',\n      criterio_aceite: e.criterio_aceite || '',\n      sugestao_tipo_entregavel: sugestao\n    }\n  };\n});"},"id":"eda3d2e3-017e-4785-b7e4-acc930d27387","name":"Parse e Ordenar EntregГЎveis","type":"n8n-nodes-base.code","typeVersion":2,"position":[31056,1920]},{"parameters":{"docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","options":{}},"type":"n8n-nodes-base.coda","typeVersion":1,"position":[31280,1920],"id":"dd634a14-ffe8-4be6-ab58-34c50369d4c2","name":"Coda - Criar Row EntregГЎvel","credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nreturn [{ json: { projeto_nome: ctx.projeto_nome, cliente_nome: ctx.cliente_nome, entregaveis: items.map(i => i.json) } }];"},"id":"1ddbb756-4ab6-47d8-b6cd-580e56a0778b","name":"Agrupar para criar List","type":"n8n-nodes-base.code","typeVersion":2,"position":[31504,1920]},{"parameters":{"authentication":"oAuth2","resource":"list","operation":"create","team":"90132948827","space":"901312788797","folder":"901316400247","name":"={{ $json.projeto_nome }} - {{ $json.cliente_nome }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[31728,1920],"id":"7905e24f-ad61-48d8-9063-26e58919f00e","name":"ClickUp - Criar Lista","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"jsCode":"const listId = $input.first().json.id;\nconst entregaveis = $('Agrupar para criar List').first().json.entregaveis;\n// MantГ©m a ordem lГіgica ao expandir\nconst sorted = [...entregaveis].sort((a, b) => (a.ordem || 0) - (b.ordem || 0));\nreturn sorted.map(e => ({ json: { ...e, list_id: listId } }));"},"id":"8973c046-7cb2-4569-b137-1e08878cc8e2","name":"Expandir EntregГЎveis com List ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[31952,1920]},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[32176,1920],"id":"54129d72-47f4-4700-9bd9-1ab2ad9757a6","name":"Wait","webhookId":"3a430e67-f2f2-4b1d-8974-deebb1be4a35"},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","returnAll":true,"options":{}},"id":"f4de7e6c-e261-4fbb-9bd0-c42d6cce330a","name":"Buscar DBEntregaveis Criados (Coda)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[32400,1920],"alwaysOutputData":true,"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"// Busca os entregГЎveis criados no Coda e junta com dados originais (requisitos_funcionais, criterio_aceite)\nconst expandidos = $('Expandir EntregГЎveis com List ID').all();\nconst codaRows = $('Buscar DBEntregaveis Criados (Coda)').all();\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nconst projetoAlvo = (ctx.projeto_nome || '').trim().toLowerCase();\nconst clienteAlvo = (ctx.cliente_nome || '').trim().toLowerCase();\n\n// Filtra apenas os do projeto atual\nconst entregaveisDoProjeto = codaRows.filter(row => {\n  const proj = (row.json['Projeto'] ?? row.json['projeto'] ?? '').toString().trim().toLowerCase();\n  const cli = (row.json['cliente_nome'] ?? row.json['Cliente'] ?? row.json['cliente'] ?? '').toString().trim().toLowerCase();\n  return proj === projetoAlvo && cli === clienteAlvo;\n});\n\n// Monta mapa nome_entregavel -> dados do Coda\nconst codaMap = {};\nfor (const row of entregaveisDoProjeto) {\n  const nome = (row.json['nome_entregavel'] ?? row.json['Nome do EntregГЎvel'] ?? '').toString().trim();\n  if (nome) codaMap[nome.toLowerCase()] = row.json;\n}\n\n// Junta com os dados expandidos (que tГЄm requisitos_funcionais e criterio_aceite originais)\nconst result = [];\nfor (const exp of expandidos) {\n  const e = exp.json;\n  const nomeKey = (e.nome_entregavel || '').toLowerCase();\n  const codaData = codaMap[nomeKey] ?? {};\n  result.push({\n    json: {\n      list_id: e.list_id,\n      ordem: e.ordem || 0,\n      nome_entregavel: e.nome_entregavel,\n      depende_de: e.depende_de || '',\n      horas_estimadas: e.horas_estimadas || 0,\n      requisitos_funcionais: e.requisitos_funcionais || codaData['requisitos_funcionais'] || '',\n      criterio_aceite: e.criterio_aceite || codaData['criterio_aceite'] || '',\n      projeto_nome: ctx.projeto_nome,\n      cliente_nome: ctx.cliente_nome\n    }\n  });\n}\n\n// Ordena por ordem lГіgica antes de criar tasks\nresult.sort((a, b) => (a.json.ordem || 0) - (b.json.ordem || 0));\nreturn result;"},"id":"85499d20-2b0b-4f43-8fce-d82ff3a8f873","name":"Preparar Tasks para ClickUp","type":"n8n-nodes-base.code","typeVersion":2,"position":[32624,1920]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32848,1920],"id":"f5a4a325-842e-47f5-9d90-6e85b786b7a3","name":"Loop EntregГЎveis"},{"parameters":{"authentication":"oAuth2","team":"90132948827","space":"901312788797","folder":"901316400247","list":"={{ $json.list_id }}","name":"={{ $json.nome_entregavel }}","additionalFields":{"content":"={{ $json.requisitos_funcionais }}\n{{ $json.criterio_aceite }}","markdownContent":true,"timeEstimate":"={{ $json.horas_estimadas * 600 }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[33072,1840],"id":"427973e2-4f49-4422-a524-0f007dc2cd50","name":"ClickUp - Criar Task (EntregГЎvel)","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=VocГЄ Г© um engenheiro de software sГЄnior especializado em quebrar entregГЎveis de projeto em subtasks tГ©cnicas, detalhadas e executГЎveis.\n\nPROJETO: {{ $('Loop EntregГЎveis').item.json.projeto_nome }}\nCLIENTE: {{ $('Loop EntregГЎveis').item.json.cliente_nome }}\nENTREGГЃVEL: {{ $('Loop EntregГЎveis').item.json.nome_entregavel }}\nDEPENDE DE: {{ $('Loop EntregГЎveis').item.json.depende_de || 'Nenhuma dependГЄncia' }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nREQUISITOS FUNCIONAIS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $('Loop EntregГЎveis').item.json.requisitos_funcionais }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCRITГ‰RIOS DE ACEITE:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $('Loop EntregГЎveis').item.json.criterio_aceite }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nINSTRUГ‡Г•ES:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nQuebre este entregГЎvel em subtasks tГ©cnicas seguindo estas regras:\n\n1. NOME DA SUBTASK: formato \"Verbo + Objeto especГ­fico\" (ex: \"Criar endpoint POST /products com validaГ§ГЈo de SKU Гєnico\", \"Implementar listagem paginada de produtos com filtro por categoria\")\n\n2. DESCRIГ‡ГѓO DA SUBTASK: deve ser objetiva e suficiente para execuГ§ГЈo, usando o mГ­nimo de texto necessГЎrio. Inclua obrigatoriamente, de forma breve:\n   - O QUГЉ deve ser feito\n   - ONDE fica no sistema\n   - COMO serГЎ implementado\n   - QUAIS DADOS principais estГЈo envolvidos\n   - QUAL COMPORTAMENTO esperado\n   - QUAIS REGRAS DE NEGГ“CIO se aplicam\n\n3. REGRAS PARA CRUDs: se o entregГЎvel for um CRUD, OBRIGATORIAMENTE gere subtasks separadas para cada operaГ§ГЈo:\n   - \"Criar endpoint POST /[entidade] вЂ” cadastro com validaГ§ГЈo de campos obrigatГіrios e regras de unicidade\"\n   - \"Criar endpoint GET /[entidade] вЂ” listagem paginada com filtros e ordenaГ§ГЈo\"\n   - \"Criar endpoint GET /[entidade]/:id вЂ” busca de registro Гєnico com tratamento de not found\"\n   - \"Criar endpoint PUT /[entidade]/:id вЂ” atualizaГ§ГЈo parcial com validaГ§ГЈo de integridade\"\n   - \"Criar endpoint DELETE /[entidade]/:id вЂ” exclusГЈo lГіgica ou fГ­sica conforme regra de negГіcio\"\n   - \"Implementar tela/componente de listagem de [entidade] com tabela, paginaГ§ГЈo e aГ§Гµes\"\n   - \"Implementar formulГЎrio de cadastro/ediГ§ГЈo de [entidade] com validaГ§ГЈo client-side\"\n   - \"Implementar confirmaГ§ГЈo e feedback de exclusГЈo de [entidade]\"\n\n4. Ordene as subtasks em sequГЄncia lГіgica (backend antes de frontend, modelos antes de endpoints)\n\n5. Estime horas realistas por subtask considerando que o dev usarГЎ ferramentas de IA (Cursor, Claude Code, Copilot). Tarefas de boilerplate/CRUD sГЈo 40-50% mais rГЎpidas com IA. IntegraГ§Гµes externas e refatoraГ§ГЈo complexa sГЈo apenas 10-25% mais rГЎpidas. A soma das subtasks DEVE respeitar o total de horas da task pai {{ $('Loop EntregГЎveis').item.json.horas_estimadas }}h вЂ” distribua proporcionalmente sem ultrapassar.\n\n6. Inclua subtask de testes para operaГ§Гµes crГ­ticas (ex: \"Testar fluxo completo de CRUD com casos de erro e validaГ§ГЈo\")\n\n7. A descriГ§ГЈo deve ser curta, com no mГЎximo 6 blocos pequenos e frases diretas. Evite exemplos longos, explicaГ§Гµes redundantes e detalhamento excessivo.\n\nRETORNE APENAS o array JSON, sem markdown, sem texto antes ou depois. O campo \"descricao\" deve usar Markdown enxuto, priorizando concisГЈo e legibilidade no ClickUp. Use este formato compacto:\n\n[\n  {\n    \"nome_subtask\": \"string\",\n    \"descricao\": \"### O quГЄ\\nResumo objetivo do que serГЎ feito.\\n\\n### Onde\\nMГіdulo, rota, tela ou camada.\\n\\n### Como\\nTecnologia, padrГЈo ou abordagem.\\n\\n### Dados\\nCampos e validaГ§Гµes principais.\\n\\n### Comportamento\\nSucesso, erro e edge cases principais.\\n\\n### Regras\\nRegras de negГіcio essenciais.\",\n    \"horas_estimadas\": number\n  }\n]"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[33296,1840],"id":"6443d8c4-682c-4e24-bc28-eea8181d518b","name":"AI - Gerar Subtasks do EntregГЎvel","credentials":{"openAiApi":{"id":"3vX7jfydPFOyEo9m","name":"[CRED]INTENTUS"}}},{"parameters":{"jsCode":"// Extrai o texto da resposta вЂ” suporta OpenAI node v2.x e Ollama\nfunction extractRaw(item) {\n  // OpenAI node v2.x: { output: [ { content: [ { type: \"output_text\", text: \"...\" } ] } ] }\n  if (Array.isArray(item?.output)) {\n    for (const msg of item.output) {\n      if (Array.isArray(msg?.content)) {\n        for (const block of msg.content) {\n          if (block?.type === 'output_text' && typeof block?.text === 'string') return block.text;\n          if (typeof block?.text === 'string') return block.text;\n        }\n      }\n      // fallback: output Г© array de strings\n      if (typeof msg === 'string') return msg;\n    }\n  }\n  // OpenAI node v1.x / Ollama\n  if (typeof item?.message?.content === 'string') return item.message.content;\n  if (typeof item?.response === 'string') return item.response;\n  if (typeof item?.text === 'string') return item.text;\n  if (typeof item?.content === 'string') return item.content;\n  return JSON.stringify(item);\n}\n\nconst item = $input.first().json;\nconst raw = extractRaw(item);\n\nif (!raw || raw.trim() === '') throw new Error('Resposta da IA (subtasks) vazia: ' + JSON.stringify(item));\n\nlet cleaned = raw.trim().replace(/```json/gi, '').replace(/```/g, '').trim();\nconst startIdx = cleaned.indexOf('[');\nconst endIdx = cleaned.lastIndexOf(']');\nif (startIdx === -1 || endIdx === -1) throw new Error('Nenhum array JSON de subtasks encontrado: ' + cleaned);\ncleaned = cleaned.substring(startIdx, endIdx + 1);\n\nlet subtasks;\ntry { subtasks = JSON.parse(cleaned); } catch(e) { throw new Error('JSON subtasks invГЎlido: ' + e.message); }\n\nconst taskPai = $('ClickUp - Criar Task (EntregГЎvel)').item.json;\nconst taskId = taskPai.id;\nconst listId = $('Loop EntregГЎveis').item.json.list_id;\n\nreturn subtasks.map(s => ({\n  json: {\n    parent_task_id: taskId,\n    list_id: listId,\n    nome_subtask: s.nome_subtask,\n    descricao: s.descricao || '',\n    horas_estimadas: s.horas_estimadas || 1\n  }\n}));"},"id":"f6e1733d-cf6b-418a-b288-f2459590ea33","name":"Parse Subtasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[33648,1840]},{"parameters":{"authentication":"oAuth2","team":"90132948827","space":"901312788797","folder":"901316400247","list":"={{ $json.list_id }}","name":"={{ $json.nome_subtask }}","additionalFields":{"content":"={{ $json.descricao }}","markdownContent":true,"parentId":"={{ $json.parent_task_id }}","timeEstimate":"={{ $json.horas_estimadas * 600 }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[33872,1920],"id":"31cf3406-f9fb-41b1-af0b-f91a3aa89460","name":"ClickUp - Criar Subtask","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[29360,1920],"id":"f1c5773a-ff0d-4a8d-896c-539ef916ac91","name":"Wait1","webhookId":"fa32d58a-a0ea-4164-b1f6-11f84e19dff4"}],"connections":{"Webhook":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"PRD_FORMAT":{"main":[[{"node":"Salvar Contexto do Projeto","type":"main","index":0}]]},"Salvar Contexto do Projeto":{"main":[[{"node":"Buscar DBEntregaveis (Coda)","type":"main","index":0}]]},"Buscar DBEntregaveis (Coda)":{"main":[[{"node":"Buscar DBTiposEntregaveis","type":"main","index":0}]]},"Buscar DBTiposEntregaveis":{"main":[[{"node":"Filtrar e Preparar EntregГЎveis para IA","type":"main","index":0}]]},"Filtrar e Preparar EntregГЎveis para IA":{"main":[[{"node":"AI - Gerar EntregГЎveis Ordenados","type":"main","index":0}]]},"AI - Gerar EntregГЎveis Ordenados":{"main":[[{"node":"Parse e Ordenar EntregГЎveis","type":"main","index":0}]]},"Parse e Ordenar EntregГЎveis":{"main":[[{"node":"Coda - Criar Row EntregГЎvel","type":"main","index":0}]]},"Coda - Criar Row EntregГЎvel":{"main":[[{"node":"Agrupar para criar List","type":"main","index":0}]]},"Agrupar para criar List":{"main":[[{"node":"ClickUp - Criar Lista","type":"main","index":0}]]},"ClickUp - Criar Lista":{"main":[[{"node":"Expandir EntregГЎveis com List ID","type":"main","index":0}]]},"Expandir EntregГЎveis com List ID":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Buscar DBEntregaveis Criados (Coda)","type":"main","index":0}]]},"Buscar DBEntregaveis Criados (Coda)":{"main":[[{"node":"Preparar Tasks para ClickUp","type":"main","index":0}]]},"Preparar Tasks para ClickUp":{"main":[[{"node":"Loop EntregГЎveis","type":"main","index":0}]]},"Loop EntregГЎveis":{"main":[[],[{"node":"ClickUp - Criar Task (EntregГЎvel)","type":"main","index":0}]]},"ClickUp - Criar Task (EntregГЎvel)":{"main":[[{"node":"AI - Gerar Subtasks do EntregГЎvel","type":"main","index":0}]]},"AI - Gerar Subtasks do EntregГЎvel":{"main":[[{"node":"Parse Subtasks","type":"main","index":0}]]},"Parse Subtasks":{"main":[[{"node":"ClickUp - Criar Subtask","type":"main","index":0}]]},"ClickUp - Criar Subtask":{"main":[[{"node":"Loop EntregГЎveis","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"PRD_FORMAT","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:ClickUp - Nova Task":{"webhookId":"7507354d-acc9-4764-b5bc-a414067c5df9","secret":"6IML4JRYMXZYAVXP0IOXXZC0JD7JPE1TJ657IA3TK26F5DAJGNCNXFIJ8LPHYIBR"},"node:Verificar novos entregГЎveis (1h)":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.racc.intentus.digital","user-agent":"Coda-Server-Fetcher","content-length":"399","accept":"*/*","accept-encoding":"gzip,deflate","content-type":"application/json","x-fetcher-request-token":"djEtdjEtNk5qbHA2SzlFVmM0R3Vka0pMVmVHZz09LVFCTWRuVnAwTThIYjF0U2EtK0crTk5oR0RDRm1XQ3R0N0xlVmVWbndHMEIyWVQ3VDcrRHpoMlJ5WVNUT0lBVUFTVCtaek4yMXpUOHFoQTF1eTRZSzVwTGFmRVNBPQ==","x-forwarded-for":"54.214.147.89","x-forwarded-host":"webhook.racc.intentus.digital","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"95edd0f70c1d","x-real-ip":"54.214.147.89"},"params":{},"query":{},"body":{"cliente":"Mia Sitter","projeto":"Mia Sitter - App e Painel Adm","equipe":"","data_inicio":"09/03/2026","data_encerramento":"","prdLink":"https://codahosted.io/docs/-98_5AZ0ga/blobs/bl-qbor93vrvm/12020835035c6f37d1e34f9e69adc373fbd188ecff3b8abce9b3fad06af63a96b51077b756638138a818cd75e626b0a7098082c7c23cec311454d07a458c4863913adadcd041c7b68464e902cfd698c26e3ca8724db687d58d778fb8ede7a0e5c5100534"},"webhookUrl":"https://webhook.racc.intentus.digital/webhook/6c4b08d9-18a7-4897-a739-29b30e7653e6","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"a9ce5d5b-38d9-4ac7-9926-add96354e292","activeVersionId":"a9ce5d5b-38d9-4ac7-9926-add96354e292","triggerCount":1,"shared":[{"updatedAt":"2026-02-27T14:07:48.871Z","createdAt":"2026-02-27T14:07:48.871Z","role":"workflow:owner","workflowId":"57irpxOG6o9URyMj","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T18:47:18.341Z","createdAt":"2026-03-17T18:47:16.053Z","versionId":"a9ce5d5b-38d9-4ac7-9926-add96354e292","workflowId":"57irpxOG6o9URyMj","nodes":[{"parameters":{"httpMethod":"POST","path":"6c4b08d9-18a7-4897-a739-29b30e7653e6","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[29136,1920],"id":"fc07dfad-f258-490f-86b5-d20369ba0cae","name":"Webhook","webhookId":"6c4b08d9-18a7-4897-a739-29b30e7653e6"},{"parameters":{"url":"={{ $json.body.prdLink }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[29584,1920],"id":"b2483ee1-097d-4949-949a-980606e4db76","name":"PRD_FORMAT"},{"parameters":{"assignments":{"assignments":[{"name":"projeto_nome","value":"={{ $('Webhook').item.json.body.projeto }}","type":"string","id":"030aabad-4125-4094-a792-c886d2e10cb2"},{"name":"cliente_nome","value":"={{ $('Webhook').item.json.body.cliente }}","type":"string","id":"3164b45a-3e6f-4e93-801e-1d71e7ef8f65"},{"name":"projeto_escopo","value":"={{ $json.data }}","type":"string","id":"91c8e37b-88d7-4a42-bd0e-4a25c6cc83ce"}]},"options":{}},"id":"d72670fd-801a-4647-b997-f624e0b612f3","name":"Salvar Contexto do Projeto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[29808,1920]},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","returnAll":true,"options":{}},"id":"fa51eaae-0dbc-4156-803e-1fe1096b8bf6","name":"Buscar DBEntregaveis (Coda)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[30032,1920],"alwaysOutputData":true,"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-m7NYXSlvhD","returnAll":true,"options":{}},"id":"77a9d013-ffcb-4750-9016-a58e7d25851a","name":"Buscar DBTiposEntregaveis","type":"n8n-nodes-base.coda","typeVersion":1,"position":[30256,1920],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"const ctx = $('Salvar Contexto do Projeto').first().json;\nconst projetoAlvo = (ctx.projeto_nome || '').trim().toLowerCase();\nconst clienteAlvo = (ctx.cliente_nome || '').trim().toLowerCase();\n\nconst todosEntregaveis = $('Buscar DBEntregaveis (Coda)').all();\nconst todosTipos = $('Buscar DBTiposEntregaveis').all();\n\nconst tiposMap = {};\nfor (const t of todosTipos) {\n  const nomeTipo = (\n    t.json['nome_tipo'] ?? t.json['Nome do Tipo'] ?? t.json['tipo_entregavel'] ?? t.json['Tipo de EntregГЎvel'] ?? ''\n  ).toString().trim();\n  if (nomeTipo) {\n    tiposMap[nomeTipo.toLowerCase()] = {\n      rowId: t.json.id ?? t.json['_id'] ?? null,\n      nome_tipo: nomeTipo,\n      horas_estimadas: Number(t.json['Horas PadrГЈo'] ?? t.json['horas_estimadas'] ?? t.json['Horas Estimadas'] ?? 0),\n      complexidade: (t.json['Complexidade'] ?? t.json['complexidade'] ?? '').toString(),\n      modelo_tarefas: (t.json['requisitos_funcionais'] ?? t.json['modelo_tarefas'] ?? t.json['Modelo de Tarefas'] ?? '').toString()\n    };\n  }\n}\n\nconst entregaveisExistentes = todosEntregaveis\n  .filter(row => {\n    const proj = (row.json['Projeto'] ?? row.json['projeto'] ?? '').toString().trim().toLowerCase();\n    const cli = (row.json['cliente_nome'] ?? row.json['Cliente'] ?? row.json['cliente'] ?? '').toString().trim().toLowerCase();\n    return proj === projetoAlvo && cli === clienteAlvo;\n  })\n  .map(row => (row.json['nome_entregavel'] ?? row.json['Nome do EntregГЎvel'] ?? '').toString().trim())\n  .filter(n => n !== '');\n\nconst tiposParaIA = Object.values(tiposMap).map(t => ({\n  nome_tipo: t.nome_tipo,\n  horas_estimadas: t.horas_estimadas,\n  complexidade: t.complexidade,\n  modelo_tarefas: t.modelo_tarefas\n}));\n\nreturn [{\n  json: {\n    projeto_nome: ctx.projeto_nome,\n    cliente_nome: ctx.cliente_nome,\n    projeto_escopo: ctx.projeto_escopo,\n    entregaveis_existentes_json: JSON.stringify(entregaveisExistentes),\n    tipos_entregaveis_json: JSON.stringify(tiposParaIA),\n    tipos_map_json: JSON.stringify(tiposMap)\n  }\n}];"},"id":"9e95f986-db76-44ec-9ec7-c0b120ff9f38","name":"Filtrar e Preparar EntregГЎveis para IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[30480,1920]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=VocГЄ Г© um gerente de projetos sГЄnior com mais de 15 anos de experiГЄncia em planejamento e execuГ§ГЈo de projetos de tecnologia e automaГ§ГЈo. Sua especialidade Г© decompor escopos complexos em entregГЎveis claros, objetivos e executГЎveis em ordem lГіgica de dependГЄncia.\n\nPROJETO: {{ $json.projeto_nome }}\nCLIENTE: {{ $json.cliente_nome }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nESCOPO / PRD DO PROJETO:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.projeto_escopo }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nENTREGГЃVEIS JГЃ CADASTRADOS (NГѓO DUPLIQUE):\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.entregaveis_existentes_json }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nTIPOS DE ENTREGГЃVEIS DISPONГЌVEIS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $json.tipos_entregaveis_json }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nPROCESSO DE ANГЃLISE:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nPASSO 1 вЂ” Leia o PRD e identifique funcionalidades, integraГ§Гµes, telas, regras e requisitos.\n\nPASSO 2 вЂ” Mapeie entregГЎveis 1:1 com as linhas do PRD (nГЈo fragmentar nem agrupar).\n\nPASSO 3 вЂ” DETECГ‡ГѓO OBRIGATГ“RIA DE CRUDs:\n  a) Qualquer operaГ§ГЈo sobre entidade в†’ criar \"CRUD de [Entidade]\"\n  b) Nome no formato exato: \"CRUD de X\"\n  c) Incluir Create, Read, Update, Delete\n  d) Informar telas, perfis e principais campos\n  e) CRUDs base antes dos dependentes\n\nPASSO 4 вЂ” OrdenaГ§ГЈo por dependГЄncia:\n  - Infra в†’ Auth в†’ CRUDs base в†’ CRUDs dependentes в†’ Funcionalidades в†’ IntegraГ§Гµes\n  - \"ordem\" sequencial\n  - \"depende_de\" com nomes dos entregГЎveis\n\nPASSO 5 вЂ” Para cada entregГЎvel:\n  a) Ignorar duplicados e fora do MVP  \n  b) Regras de negГіcio entram em critГ©rios de aceite  \n  c) \"requisitos_funcionais\": lista objetiva com \"вЂў \", contendo de forma RESUMIDA:\n     - O quГЄ\n     - Onde\n     - Perfil\n     - Dados principais\n     - Regras essenciais\n     - Tecnologias (se relevante)\n\nPASSO 6 вЂ” Se nГЈo houver tipo compatГ­vel: preencher sugestao_tipo_entregavel e horas_sugeridas_tipo.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCONTEXTO DE IA:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n\nConsidere uso de IA (Cursor, Claude, Copilot):\n\n- CRUD simples: -40вЂ“50%\n- CRUD mГ©dio: -30вЂ“40%\n- Infra: -20вЂ“30%\n- UI: -30вЂ“40%\n- IntegraГ§Гµes: -15вЂ“25%\n- RefatoraГ§ГЈo: -10вЂ“20%\n\nBaseie-se no tipo_entregavel, aplique reduГ§ГЈo e arredonde para cima. MГ­nimo: 1h.\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nREGRAS CRГЌTICAS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n- Nunca omitir CRUD\n- 1 linha PRD = 1 entregГЎvel\n- Ordem lГіgica obrigatГіria\n- Seja claro, porГ©m conciso\n- NГЈo usar tipos fora da lista\n- NГЈo adicionar campos extras\n- Retornar apenas JSON\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nOTIMIZAГ‡ГѓO DE TOKENS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n- Seja direto e evite redundГўncia\n- Use frases curtas\n- Evite exemplos longos\n- NГЈo repetir contexto jГЎ implГ­cito\n- Limite cada requisito a 1 linha objetiva\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nFORMATO DE SAГЌDA:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n[\n  {\n    \"ordem\": number,\n    \"nome_entregavel\": \"string\",\n    \"depende_de\": [\"string\"],\n    \"tipo_entregavel\": \"string\",\n    \"horas_estimadas\": number,\n    \"complexidade\": \"string\",\n    \"requisitos_funcionais\": \"string concisa com bullets\",\n    \"criterio_aceite\": \"string objetiva e verificГЎvel\",\n    \"sugestao_tipo_entregavel\": \"string\",\n    \"horas_sugeridas_tipo\": number\n  }\n]"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[30704,1920],"id":"37693d98-7ce2-407d-8647-5dcb859356d3","name":"AI - Gerar EntregГЎveis Ordenados","credentials":{"openAiApi":{"id":"3vX7jfydPFOyEo9m","name":"[CRED]INTENTUS"}}},{"parameters":{"jsCode":"// Extrai o texto da resposta вЂ” suporta OpenAI node v2.x e Ollama\nfunction extractRaw(item) {\n  // OpenAI node v2.x: { output: [ { content: [ { type: \"output_text\", text: \"...\" } ] } ] }\n  if (Array.isArray(item?.output)) {\n    for (const msg of item.output) {\n      if (Array.isArray(msg?.content)) {\n        for (const block of msg.content) {\n          if (block?.type === 'output_text' && typeof block?.text === 'string') return block.text;\n          if (typeof block?.text === 'string') return block.text;\n        }\n      }\n      // fallback: output Г© array de strings\n      if (typeof msg === 'string') return msg;\n    }\n  }\n  // OpenAI node v1.x / Ollama\n  if (typeof item?.message?.content === 'string') return item.message.content;\n  if (typeof item?.response === 'string') return item.response;\n  if (typeof item?.text === 'string') return item.text;\n  if (typeof item?.content === 'string') return item.content;\n  return JSON.stringify(item);\n}\n\nconst item = $input.first().json;\nconst raw = extractRaw(item);\n\nif (!raw || raw.trim() === '') throw new Error('Resposta da IA vazia: ' + JSON.stringify(item));\n\nlet cleaned = raw.trim().replace(/```json/gi, '').replace(/```/g, '').trim();\nconst startIdx = cleaned.indexOf('[');\nconst endIdx = cleaned.lastIndexOf(']');\nif (startIdx === -1 || endIdx === -1) throw new Error('Nenhum array JSON encontrado: ' + cleaned);\ncleaned = cleaned.substring(startIdx, endIdx + 1);\n\nlet entregaveis;\ntry { entregaveis = JSON.parse(cleaned); } catch(e) { throw new Error('JSON invГЎlido: ' + e.message + ' | ' + cleaned); }\n\nentregaveis.sort((a, b) => (a.ordem || 0) - (b.ordem || 0));\n\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nconst preparado = $('Filtrar e Preparar EntregГЎveis para IA').first().json;\nconst tiposMap = JSON.parse(preparado.tipos_map_json || '{}');\n\nreturn entregaveis.map(e => {\n  const tipoKey = (e.tipo_entregavel || '').toLowerCase();\n  const tipoInfo = tiposMap[tipoKey] ?? null;\n  const temSugestao = e.sugestao_tipo_entregavel && e.sugestao_tipo_entregavel.trim() !== '';\n  const requisitosFormatados = (e.requisitos_funcionais || '')\n    .split('\\n')\n    .map(r => r.replace(/^[вЂў\\-*]\\s*/, '').trim())\n    .filter(r => r !== '')\n    .map(r => `  * \"${r}\"`)\n    .join('\\n');\n  const sugestao = temSugestao\n    ? `Nome: \"${e.sugestao_tipo_entregavel}\"\\nHoras sugeridas: \"${e.horas_sugeridas_tipo || 0}h\"\\nComplexidade: \"${e.complexidade || 'MГ©dia'}\"\\nRequisitos Funcionais:\\n${requisitosFormatados}`\n    : '';\n  return {\n    json: {\n      ordem: e.ordem || 0,\n      Projeto: ctx.projeto_nome,\n      cliente_nome: ctx.cliente_nome,\n      nome_entregavel: e.nome_entregavel,\n      depende_de: Array.isArray(e.depende_de) ? e.depende_de.join(', ') : (e.depende_de || ''),\n      tipo_entregavel: tipoInfo ? tipoInfo.rowId : '',\n      horas_estimadas: e.horas_estimadas || tipoInfo?.horas_estimadas || 0,\n      complexidade: e.complexidade || tipoInfo?.complexidade || '',\n      requisitos_funcionais: e.requisitos_funcionais || '',\n      criterio_aceite: e.criterio_aceite || '',\n      sugestao_tipo_entregavel: sugestao\n    }\n  };\n});"},"id":"eda3d2e3-017e-4785-b7e4-acc930d27387","name":"Parse e Ordenar EntregГЎveis","type":"n8n-nodes-base.code","typeVersion":2,"position":[31056,1920]},{"parameters":{"docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","options":{}},"type":"n8n-nodes-base.coda","typeVersion":1,"position":[31280,1920],"id":"dd634a14-ffe8-4be6-ab58-34c50369d4c2","name":"Coda - Criar Row EntregГЎvel","credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nreturn [{ json: { projeto_nome: ctx.projeto_nome, cliente_nome: ctx.cliente_nome, entregaveis: items.map(i => i.json) } }];"},"id":"1ddbb756-4ab6-47d8-b6cd-580e56a0778b","name":"Agrupar para criar List","type":"n8n-nodes-base.code","typeVersion":2,"position":[31504,1920]},{"parameters":{"authentication":"oAuth2","resource":"list","operation":"create","team":"90132948827","space":"901312788797","folder":"901316400247","name":"={{ $json.projeto_nome }} - {{ $json.cliente_nome }}","additionalFields":{}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[31728,1920],"id":"7905e24f-ad61-48d8-9063-26e58919f00e","name":"ClickUp - Criar Lista","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"jsCode":"const listId = $input.first().json.id;\nconst entregaveis = $('Agrupar para criar List').first().json.entregaveis;\n// MantГ©m a ordem lГіgica ao expandir\nconst sorted = [...entregaveis].sort((a, b) => (a.ordem || 0) - (b.ordem || 0));\nreturn sorted.map(e => ({ json: { ...e, list_id: listId } }));"},"id":"8973c046-7cb2-4569-b137-1e08878cc8e2","name":"Expandir EntregГЎveis com List ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[31952,1920]},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[32176,1920],"id":"54129d72-47f4-4700-9bd9-1ab2ad9757a6","name":"Wait","webhookId":"3a430e67-f2f2-4b1d-8974-deebb1be4a35"},{"parameters":{"operation":"getAllRows","docId":"-98_5AZ0ga","tableId":"grid-0r4ylviVeQ","returnAll":true,"options":{}},"id":"f4de7e6c-e261-4fbb-9bd0-c42d6cce330a","name":"Buscar DBEntregaveis Criados (Coda)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[32400,1920],"alwaysOutputData":true,"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"jsCode":"// Busca os entregГЎveis criados no Coda e junta com dados originais (requisitos_funcionais, criterio_aceite)\nconst expandidos = $('Expandir EntregГЎveis com List ID').all();\nconst codaRows = $('Buscar DBEntregaveis Criados (Coda)').all();\nconst ctx = $('Salvar Contexto do Projeto').first().json;\nconst projetoAlvo = (ctx.projeto_nome || '').trim().toLowerCase();\nconst clienteAlvo = (ctx.cliente_nome || '').trim().toLowerCase();\n\n// Filtra apenas os do projeto atual\nconst entregaveisDoProjeto = codaRows.filter(row => {\n  const proj = (row.json['Projeto'] ?? row.json['projeto'] ?? '').toString().trim().toLowerCase();\n  const cli = (row.json['cliente_nome'] ?? row.json['Cliente'] ?? row.json['cliente'] ?? '').toString().trim().toLowerCase();\n  return proj === projetoAlvo && cli === clienteAlvo;\n});\n\n// Monta mapa nome_entregavel -> dados do Coda\nconst codaMap = {};\nfor (const row of entregaveisDoProjeto) {\n  const nome = (row.json['nome_entregavel'] ?? row.json['Nome do EntregГЎvel'] ?? '').toString().trim();\n  if (nome) codaMap[nome.toLowerCase()] = row.json;\n}\n\n// Junta com os dados expandidos (que tГЄm requisitos_funcionais e criterio_aceite originais)\nconst result = [];\nfor (const exp of expandidos) {\n  const e = exp.json;\n  const nomeKey = (e.nome_entregavel || '').toLowerCase();\n  const codaData = codaMap[nomeKey] ?? {};\n  result.push({\n    json: {\n      list_id: e.list_id,\n      ordem: e.ordem || 0,\n      nome_entregavel: e.nome_entregavel,\n      depende_de: e.depende_de || '',\n      horas_estimadas: e.horas_estimadas || 0,\n      requisitos_funcionais: e.requisitos_funcionais || codaData['requisitos_funcionais'] || '',\n      criterio_aceite: e.criterio_aceite || codaData['criterio_aceite'] || '',\n      projeto_nome: ctx.projeto_nome,\n      cliente_nome: ctx.cliente_nome\n    }\n  });\n}\n\n// Ordena por ordem lГіgica antes de criar tasks\nresult.sort((a, b) => (a.json.ordem || 0) - (b.json.ordem || 0));\nreturn result;"},"id":"85499d20-2b0b-4f43-8fce-d82ff3a8f873","name":"Preparar Tasks para ClickUp","type":"n8n-nodes-base.code","typeVersion":2,"position":[32624,1920]},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[32848,1920],"id":"f5a4a325-842e-47f5-9d90-6e85b786b7a3","name":"Loop EntregГЎveis"},{"parameters":{"authentication":"oAuth2","team":"90132948827","space":"901312788797","folder":"901316400247","list":"={{ $json.list_id }}","name":"={{ $json.nome_entregavel }}","additionalFields":{"content":"={{ $json.requisitos_funcionais }}\n{{ $json.criterio_aceite }}","markdownContent":true,"timeEstimate":"={{ $json.horas_estimadas * 600 }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[33072,1840],"id":"427973e2-4f49-4422-a524-0f007dc2cd50","name":"ClickUp - Criar Task (EntregГЎvel)","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=VocГЄ Г© um engenheiro de software sГЄnior especializado em quebrar entregГЎveis de projeto em subtasks tГ©cnicas, detalhadas e executГЎveis.\n\nPROJETO: {{ $('Loop EntregГЎveis').item.json.projeto_nome }}\nCLIENTE: {{ $('Loop EntregГЎveis').item.json.cliente_nome }}\nENTREGГЃVEL: {{ $('Loop EntregГЎveis').item.json.nome_entregavel }}\nDEPENDE DE: {{ $('Loop EntregГЎveis').item.json.depende_de || 'Nenhuma dependГЄncia' }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nREQUISITOS FUNCIONAIS:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $('Loop EntregГЎveis').item.json.requisitos_funcionais }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nCRITГ‰RIOS DE ACEITE:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\n{{ $('Loop EntregГЎveis').item.json.criterio_aceite }}\n\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nINSTRUГ‡Г•ES:\nв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓв”Ѓ\nQuebre este entregГЎvel em subtasks tГ©cnicas seguindo estas regras:\n\n1. NOME DA SUBTASK: formato \"Verbo + Objeto especГ­fico\" (ex: \"Criar endpoint POST /products com validaГ§ГЈo de SKU Гєnico\", \"Implementar listagem paginada de produtos com filtro por categoria\")\n\n2. DESCRIГ‡ГѓO DA SUBTASK: deve ser objetiva e suficiente para execuГ§ГЈo, usando o mГ­nimo de texto necessГЎrio. Inclua obrigatoriamente, de forma breve:\n   - O QUГЉ deve ser feito\n   - ONDE fica no sistema\n   - COMO serГЎ implementado\n   - QUAIS DADOS principais estГЈo envolvidos\n   - QUAL COMPORTAMENTO esperado\n   - QUAIS REGRAS DE NEGГ“CIO se aplicam\n\n3. REGRAS PARA CRUDs: se o entregГЎvel for um CRUD, OBRIGATORIAMENTE gere subtasks separadas para cada operaГ§ГЈo:\n   - \"Criar endpoint POST /[entidade] вЂ” cadastro com validaГ§ГЈo de campos obrigatГіrios e regras de unicidade\"\n   - \"Criar endpoint GET /[entidade] вЂ” listagem paginada com filtros e ordenaГ§ГЈo\"\n   - \"Criar endpoint GET /[entidade]/:id вЂ” busca de registro Гєnico com tratamento de not found\"\n   - \"Criar endpoint PUT /[entidade]/:id вЂ” atualizaГ§ГЈo parcial com validaГ§ГЈo de integridade\"\n   - \"Criar endpoint DELETE /[entidade]/:id вЂ” exclusГЈo lГіgica ou fГ­sica conforme regra de negГіcio\"\n   - \"Implementar tela/componente de listagem de [entidade] com tabela, paginaГ§ГЈo e aГ§Гµes\"\n   - \"Implementar formulГЎrio de cadastro/ediГ§ГЈo de [entidade] com validaГ§ГЈo client-side\"\n   - \"Implementar confirmaГ§ГЈo e feedback de exclusГЈo de [entidade]\"\n\n4. Ordene as subtasks em sequГЄncia lГіgica (backend antes de frontend, modelos antes de endpoints)\n\n5. Estime horas realistas por subtask considerando que o dev usarГЎ ferramentas de IA (Cursor, Claude Code, Copilot). Tarefas de boilerplate/CRUD sГЈo 40-50% mais rГЎpidas com IA. IntegraГ§Гµes externas e refatoraГ§ГЈo complexa sГЈo apenas 10-25% mais rГЎpidas. A soma das subtasks DEVE respeitar o total de horas da task pai {{ $('Loop EntregГЎveis').item.json.horas_estimadas }}h вЂ” distribua proporcionalmente sem ultrapassar.\n\n6. Inclua subtask de testes para operaГ§Гµes crГ­ticas (ex: \"Testar fluxo completo de CRUD com casos de erro e validaГ§ГЈo\")\n\n7. A descriГ§ГЈo deve ser curta, com no mГЎximo 6 blocos pequenos e frases diretas. Evite exemplos longos, explicaГ§Гµes redundantes e detalhamento excessivo.\n\nRETORNE APENAS o array JSON, sem markdown, sem texto antes ou depois. O campo \"descricao\" deve usar Markdown enxuto, priorizando concisГЈo e legibilidade no ClickUp. Use este formato compacto:\n\n[\n  {\n    \"nome_subtask\": \"string\",\n    \"descricao\": \"### O quГЄ\\nResumo objetivo do que serГЎ feito.\\n\\n### Onde\\nMГіdulo, rota, tela ou camada.\\n\\n### Como\\nTecnologia, padrГЈo ou abordagem.\\n\\n### Dados\\nCampos e validaГ§Гµes principais.\\n\\n### Comportamento\\nSucesso, erro e edge cases principais.\\n\\n### Regras\\nRegras de negГіcio essenciais.\",\n    \"horas_estimadas\": number\n  }\n]"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[33296,1840],"id":"6443d8c4-682c-4e24-bc28-eea8181d518b","name":"AI - Gerar Subtasks do EntregГЎvel","credentials":{"openAiApi":{"id":"3vX7jfydPFOyEo9m","name":"[CRED]INTENTUS"}}},{"parameters":{"jsCode":"// Extrai o texto da resposta вЂ” suporta OpenAI node v2.x e Ollama\nfunction extractRaw(item) {\n  // OpenAI node v2.x: { output: [ { content: [ { type: \"output_text\", text: \"...\" } ] } ] }\n  if (Array.isArray(item?.output)) {\n    for (const msg of item.output) {\n      if (Array.isArray(msg?.content)) {\n        for (const block of msg.content) {\n          if (block?.type === 'output_text' && typeof block?.text === 'string') return block.text;\n          if (typeof block?.text === 'string') return block.text;\n        }\n      }\n      // fallback: output Г© array de strings\n      if (typeof msg === 'string') return msg;\n    }\n  }\n  // OpenAI node v1.x / Ollama\n  if (typeof item?.message?.content === 'string') return item.message.content;\n  if (typeof item?.response === 'string') return item.response;\n  if (typeof item?.text === 'string') return item.text;\n  if (typeof item?.content === 'string') return item.content;\n  return JSON.stringify(item);\n}\n\nconst item = $input.first().json;\nconst raw = extractRaw(item);\n\nif (!raw || raw.trim() === '') throw new Error('Resposta da IA (subtasks) vazia: ' + JSON.stringify(item));\n\nlet cleaned = raw.trim().replace(/```json/gi, '').replace(/```/g, '').trim();\nconst startIdx = cleaned.indexOf('[');\nconst endIdx = cleaned.lastIndexOf(']');\nif (startIdx === -1 || endIdx === -1) throw new Error('Nenhum array JSON de subtasks encontrado: ' + cleaned);\ncleaned = cleaned.substring(startIdx, endIdx + 1);\n\nlet subtasks;\ntry { subtasks = JSON.parse(cleaned); } catch(e) { throw new Error('JSON subtasks invГЎlido: ' + e.message); }\n\nconst taskPai = $('ClickUp - Criar Task (EntregГЎvel)').item.json;\nconst taskId = taskPai.id;\nconst listId = $('Loop EntregГЎveis').item.json.list_id;\n\nreturn subtasks.map(s => ({\n  json: {\n    parent_task_id: taskId,\n    list_id: listId,\n    nome_subtask: s.nome_subtask,\n    descricao: s.descricao || '',\n    horas_estimadas: s.horas_estimadas || 1\n  }\n}));"},"id":"f6e1733d-cf6b-418a-b288-f2459590ea33","name":"Parse Subtasks","type":"n8n-nodes-base.code","typeVersion":2,"position":[33648,1840]},{"parameters":{"authentication":"oAuth2","team":"90132948827","space":"901312788797","folder":"901316400247","list":"={{ $json.list_id }}","name":"={{ $json.nome_subtask }}","additionalFields":{"content":"={{ $json.descricao }}","markdownContent":true,"parentId":"={{ $json.parent_task_id }}","timeEstimate":"={{ $json.horas_estimadas * 600 }}"}},"type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[33872,1920],"id":"31cf3406-f9fb-41b1-af0b-f91a3aa89460","name":"ClickUp - Criar Subtask","credentials":{"clickUpOAuth2Api":{"id":"vT6aTbs5Ksq4aoJi","name":"ClickUp account 2"}}},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[29360,1920],"id":"f1c5773a-ff0d-4a8d-896c-539ef916ac91","name":"Wait1","webhookId":"fa32d58a-a0ea-4164-b1f6-11f84e19dff4"}],"connections":{"Webhook":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"PRD_FORMAT":{"main":[[{"node":"Salvar Contexto do Projeto","type":"main","index":0}]]},"Salvar Contexto do Projeto":{"main":[[{"node":"Buscar DBEntregaveis (Coda)","type":"main","index":0}]]},"Buscar DBEntregaveis (Coda)":{"main":[[{"node":"Buscar DBTiposEntregaveis","type":"main","index":0}]]},"Buscar DBTiposEntregaveis":{"main":[[{"node":"Filtrar e Preparar EntregГЎveis para IA","type":"main","index":0}]]},"Filtrar e Preparar EntregГЎveis para IA":{"main":[[{"node":"AI - Gerar EntregГЎveis Ordenados","type":"main","index":0}]]},"AI - Gerar EntregГЎveis Ordenados":{"main":[[{"node":"Parse e Ordenar EntregГЎveis","type":"main","index":0}]]},"Parse e Ordenar EntregГЎveis":{"main":[[{"node":"Coda - Criar Row EntregГЎvel","type":"main","index":0}]]},"Coda - Criar Row EntregГЎvel":{"main":[[{"node":"Agrupar para criar List","type":"main","index":0}]]},"Agrupar para criar List":{"main":[[{"node":"ClickUp - Criar Lista","type":"main","index":0}]]},"ClickUp - Criar Lista":{"main":[[{"node":"Expandir EntregГЎveis com List ID","type":"main","index":0}]]},"Expandir EntregГЎveis com List ID":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Buscar DBEntregaveis Criados (Coda)","type":"main","index":0}]]},"Buscar DBEntregaveis Criados (Coda)":{"main":[[{"node":"Preparar Tasks para ClickUp","type":"main","index":0}]]},"Preparar Tasks para ClickUp":{"main":[[{"node":"Loop EntregГЎveis","type":"main","index":0}]]},"Loop EntregГЎveis":{"main":[[],[{"node":"ClickUp - Criar Task (EntregГЎvel)","type":"main","index":0}]]},"ClickUp - Criar Task (EntregГЎvel)":{"main":[[{"node":"AI - Gerar Subtasks do EntregГЎvel","type":"main","index":0}]]},"AI - Gerar Subtasks do EntregГЎvel":{"main":[[{"node":"Parse Subtasks","type":"main","index":0}]]},"Parse Subtasks":{"main":[[{"node":"ClickUp - Criar Subtask","type":"main","index":0}]]},"ClickUp - Criar Subtask":{"main":[[{"node":"Loop EntregГЎveis","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"PRD_FORMAT","type":"main","index":0}]]}},"authors":"Racc Projeto","name":"Version a9ce5d5b","description":"","autosaved":false},"tags":[]}