form-upload-xlsx-extract-jB9fjgMOObVehkDz.json
{"updatedAt":"2026-03-17T16:35:48.744Z","createdAt":"2026-03-11T19:15:07.118Z","id":"jB9fjgMOObVehkDz","name":"Form Upload XLSX Extract","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"Upload Planilha","formFields":{"values":[{"fieldLabel":"arquivo","fieldType":"file","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-32,32],"id":"cafd2306-cc95-4323-b396-52cbe752e47b","name":"On form submission","webhookId":"45d4567c-01b4-47df-92d8-14eb710a93ff"},{"parameters":{"jsCode":"const item = $input.first();\n\n// O Form Trigger v2.5 cria o binary com nome baseado no label do campo\nconst binaryKeys = Object.keys(item.binary || {});\n\nif (binaryKeys.length === 0) {\n  throw new Error('Nenhum arquivo binário encontrado no item. Verifique se o campo de arquivo foi preenchido no formulário.');\n}\n\n// Pega o primeiro campo binário disponível e renomeia para 'data'\nconst binaryKey = binaryKeys[0];\n\nreturn [{\n  json: item.json,\n  binary: {\n    data: item.binary[binaryKey]\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[176,32],"id":"3b9dac73-d186-4372-9214-12fb8e832196","name":"Fix Binary Field"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[368,32],"id":"ff95a4fd-49a4-447a-b992-861128291f41","name":"Extract from File"}],"connections":{"On form submission":{"main":[[{"node":"Fix Binary Field","type":"main","index":0}]]},"Fix Binary Field":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e972bbbc-bee7-494f-b180-cbdd26814392","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-11T19:15:07.118Z","createdAt":"2026-03-11T19:15:07.118Z","role":"workflow:owner","workflowId":"jB9fjgMOObVehkDz","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":null,"tags":[]}