wpa-imóveis-—-extrato-pdf-→-coda-Bh4DPoSYh7gKCZim.json
{"updatedAt":"2026-03-17T18:33:35.471Z","createdAt":"2026-03-17T10:59:28.566Z","id":"Bh4DPoSYh7gKCZim","name":"WPA Imóveis — Extrato PDF → Coda","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return items.map(item => {\n  const d = item.json;\n\n  const chaveUnica = d.chave_unica || `${d.contrato || \"\"}_parcela${d.parcela || \"\"}`;\n\n  return {\n    json: {\n      \"chave_unica\": chaveUnica,\n      \"Prop\": d.imovel_endereco || \"\",\n      \"Tipo\": d.imovel_tipo || \"\",\n      \"Descrição\": `Locatário: ${d.locatario_nome || \"\"} | Contrato: ${d.contrato || \"\"} | Parcela: ${d.parcela || \"\"}`,\n      \"Aluguel líquido\": Number(d.valor_liquido || 0),\n      \"Área\": \"\",\n      \"IPTU 2025\": Number(d.iptu_valor || 0),\n      \"Valor estimado\": Number(d.aluguel_bruto || 0)\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5936,160],"id":"c6c44bd1-8696-44f9-86ca-20a7eff2919d","name":"Code in JavaScript"},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"ba08d9c0-24cb-4086-8be5-0d7e3cbbb608","name":"Coda — Atualizar Linha (duplicata)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-5936,608],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"73f35543-312e-4f68-8344-8e4912edf16e","name":"Coda — Criar Linha","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-5936,384],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"id":"77a1f28c-f2a1-48a4-87ac-9743a5d384a7","name":"Schedule — 2x ao dia","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-6688,2272]},{"parameters":{"operation":"getAll","filters":{"q":"subject:\"WPA\" has:attachment newer_than:1d -label:wpa-processado"}},"id":"3e164de5-f479-4905-8a03-9ea5b3a5cce0","name":"Gmail — Buscar Emails WPA","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-6464,2272],"webhookId":"b8a9f36b-b76c-403a-bba1-0c71e81fdefc","credentials":{"gmailOAuth2":{"id":"Z6wqPh4VhkA13gEy","name":"[CRED]PEDRO"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond_has_emails","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"7ba87430-9ebd-48c6-8055-a3b619b2ec4f","name":"IF — Tem emails?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-6240,2272]},{"parameters":{"options":{}},"id":"9b707fcc-42f4-49f4-8004-347f4c529115","name":"Loop — Processar um por um","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-6016,2128]},{"parameters":{"operation":"get","messageId":"={{ $json.id }}"},"id":"2083c95f-7209-4570-9196-3a8ed08c3a94","name":"Gmail — Baixar Mensagem Completa","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-5792,1872],"webhookId":"ad39f23e-35e2-479c-bd5a-a01261c8fffd","credentials":{"gmailOAuth2":{"id":"Z6wqPh4VhkA13gEy","name":"[CRED]PEDRO"}}},{"parameters":{"jsCode":"// Extrai apenas anexos PDF do email\nconst items = [];\nconst item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\n\nfor (let i = 0; i < binaryKeys.length; i++) {\n  const key = binaryKeys[i];\n  const bin = item.binary[key];\n  const isPdf =\n    bin.mimeType === 'application/pdf' ||\n    bin.fileName?.toLowerCase().endsWith('.pdf') ||\n    key.toLowerCase().includes('pdf');\n\n  if (isPdf) {\n    items.push({\n      json: {\n        messageId: item.json.id,\n        emailSubject: item.json.subject || '',\n        emailDate: item.json.date || new Date().toISOString(),\n        emailFrom: item.json.from || '',\n        fileName: bin.fileName || `extrato_${Date.now()}.pdf`,\n        binaryKey: key\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nif (items.length === 0) {\n  return [{ json: { skip: true, messageId: item.json.id } }];\n}\n\nreturn items;"},"id":"e6d98cd4-20e7-4c94-9037-a1a8e94db062","name":"Code — Filtrar PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5568,1872]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond_skip","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}},"id":"c308a8aa-e41c-415d-969b-e54312042ddb","name":"IF — PDF Encontrado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5344,1872]},{"parameters":{"operation":"pdf","options":{}},"id":"d55bf859-62de-452a-ae1c-87cf368b97fa","name":"Extract — PDF para Texto","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5120,1872]},{"parameters":{"promptType":"define","text":"={{ 'Extraia todos os dados deste extrato de locação WPA Imóveis e retorne como JSON puro (sem ```json``` e sem qualquer texto fora do JSON):\\n\\n{\"contrato\": \"numero completo ex: 913-0-8/5\", \"parcela\": 0, \"vencimento_aluguel\": \"DD/MM/AAAA\", \"pagamento_aluguel\": \"DD/MM/AAAA\", \"data_pagamento_efetivo\": \"DD/MM/AAAA ou null\", \"reajuste\": \"DD/MM/AAAA\", \"termino_contrato\": \"DD/MM/AAAA\", \"locatario_nome\": \"nome\", \"locatario_cnpj\": \"somente numeros\", \"imovel_endereco\": \"endereco completo\", \"imovel_tipo\": \"tipo ex: Comercial Sala\", \"periodo_inicio\": \"DD/MM/AAAA\", \"periodo_fim\": \"DD/MM/AAAA\", \"aluguel_bruto\": 0.0, \"energia\": 0.0, \"iptu_valor\": 0.0, \"iptu_parcela_atual\": null, \"iptu_total_parcelas\": null, \"taxa_administracao\": 0.0, \"total_credito\": 0.0, \"total_debito\": 0.0, \"valor_liquido\": 0.0, \"locador_nome\": \"nome\", \"locador_cnpj\": \"somente numeros\", \"banco\": \"nome banco\", \"agencia\": \"agencia\", \"conta\": \"conta\", \"tipo_conta\": \"Corrente\"}\\n\\nExtrato:\\n' + $json.text }}","batching":{}},"id":"233de55f-dee5-4f49-8e54-1a8f2e16bc2c","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-4896,1872]},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{"temperature":0}},"id":"7d664ac2-e339-4db3-8e1f-1b8696389e55","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4832,2096],"credentials":{"openRouterApi":{"id":"cyIoA9LrYvfXgwp2","name":"[CRED] Automação Werner Plass"}}},{"parameters":{"jsCode":"// Sanitiza e normaliza o JSON retornado pelo LLM Chain\nconst item = $input.first();\n\n// Basic LLM Chain retorna em item.json.text\nconst raw = item.json?.text ||\n            item.json?.output ||\n            item.json?.response ||\n            '';\n\nif (!raw) {\n  throw new Error('LLM não retornou conteúdo. Response: ' + JSON.stringify(item.json));\n}\n\n// Remove markdown fences\nconst clean = raw\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch(e) {\n  throw new Error(`LLM retornou JSON inválido.\\nRaw: ${raw}\\nErro: ${e.message}`);\n}\n\n// Normaliza numéricos (vírgula BR → ponto)\nconst numFields = [\n  'aluguel_bruto','energia','iptu_valor','taxa_administracao',\n  'total_credito','total_debito','valor_liquido'\n];\nfor (const f of numFields) {\n  if (typeof parsed[f] === 'string') {\n    parsed[f] = parseFloat(parsed[f].replace(/\\./g,'').replace(',','.')) || 0;\n  }\n  if (parsed[f] === undefined || parsed[f] === null) parsed[f] = 0;\n}\n\n// Normaliza datas DD/MM/AAAA → AAAA-MM-DD\nconst dateFields = [\n  'vencimento_aluguel','pagamento_aluguel','data_pagamento_efetivo',\n  'reajuste','termino_contrato','periodo_inicio','periodo_fim'\n];\nfor (const f of dateFields) {\n  if (parsed[f] && parsed[f] !== 'null') {\n    const p = parsed[f].split('/');\n    if (p.length === 3) parsed[f] = `${p[2]}-${p[1]}-${p[0]}`;\n  } else {\n    parsed[f] = null;\n  }\n}\n\n// Chave de deduplicação\nparsed.chave_unica = `${parsed.contrato}_parcela${parsed.parcela}`;\n\n// Metadados do email\nparsed.email_messageId = $('Code — Filtrar PDFs').first().json.messageId || '';\nparsed.email_fileName  = $('Code — Filtrar PDFs').first().json.fileName  || '';\nparsed.email_date      = $('Code — Filtrar PDFs').first().json.emailDate || '';\n\nreturn [{ json: parsed }];"},"id":"74272cc1-e34d-4339-baeb-70723d76e044","name":"Code — Sanitizar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4544,1872]},{"parameters":{"operation":"getAllRows","docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","returnAll":true,"options":{}},"id":"02f8b8bf-3f4d-4d45-8671-ebbc70796a21","name":"Coda — Verificar Duplicata","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-4320,1872]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond_exists","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"e1ce1124-61eb-418e-8c11-d4ea2b0c5e6b","name":"IF — Já existe no Coda?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4096,1872]},{"parameters":{"operation":"addLabels","messageId":"={{ $('Code — Filtrar PDFs').first().json.messageId }}","labelIds":["Label_WPA_PROCESSADO"]},"id":"4dc34dc9-79d5-4b6d-ab92-e3dda459cf29","name":"Gmail — Marcar como Processado","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-3648,1984],"webhookId":"7eff9a97-3177-499b-b0a7-47b263f6bad6","credentials":{"gmailOAuth2":{"id":"Z6wqPh4VhkA13gEy","name":"[CRED]PEDRO"}}},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"7aedd906-7eb7-4705-9525-7cb6d67db794","name":"Coda — Criar Linha1","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-3872,1776]},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"bca94e82-ab40-4fc9-9d56-ba8f1a7e750e","name":"Coda — Atualizar Linha (duplicata)1","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-3872,1968]}],"connections":{"Coda — Atualizar Linha (duplicata)":{"main":[[]]},"Schedule — 2x ao dia":{"main":[[{"node":"Gmail — Buscar Emails WPA","type":"main","index":0}]]},"Gmail — Buscar Emails WPA":{"main":[[{"node":"IF — Tem emails?","type":"main","index":0}]]},"IF — Tem emails?":{"main":[[{"node":"Loop — Processar um por um","type":"main","index":0}],[]]},"Loop — Processar um por um":{"main":[[],[{"node":"Gmail — Baixar Mensagem Completa","type":"main","index":0}]]},"Gmail — Baixar Mensagem Completa":{"main":[[{"node":"Code — Filtrar PDFs","type":"main","index":0}]]},"Code — Filtrar PDFs":{"main":[[{"node":"IF — PDF Encontrado?","type":"main","index":0}]]},"IF — PDF Encontrado?":{"main":[[{"node":"Extract — PDF para Texto","type":"main","index":0}],[]]},"Extract — PDF para Texto":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code — Sanitizar JSON","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code — Sanitizar JSON":{"main":[[{"node":"Coda — Verificar Duplicata","type":"main","index":0}]]},"Coda — Verificar Duplicata":{"main":[[{"node":"IF — Já existe no Coda?","type":"main","index":0}]]},"IF — Já existe no Coda?":{"main":[[{"node":"Coda — Criar Linha1","type":"main","index":0}],[{"node":"Coda — Atualizar Linha (duplicata)1","type":"main","index":0}]]},"Gmail — Marcar como Processado":{"main":[[{"node":"Loop — Processar um por um","type":"main","index":0}]]},"Coda — Criar Linha1":{"main":[[{"node":"Gmail — Marcar como Processado","type":"main","index":0}]]},"Coda — Atualizar Linha (duplicata)1":{"main":[[{"node":"Gmail — Marcar como Processado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1773761317,"possibleDuplicates":["19cfc69ca354b4e7"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f4bf9bd7-4fce-4a81-a0de-0c354b14f352","activeVersionId":"7e0e996f-a16f-4b67-981d-23260d9f4baa","triggerCount":1,"shared":[{"updatedAt":"2026-03-17T10:59:28.566Z","createdAt":"2026-03-17T10:59:28.566Z","role":"workflow:owner","workflowId":"Bh4DPoSYh7gKCZim","projectId":"6mi6zrRcTUuZ1IwE"}],"activeVersion":{"updatedAt":"2026-03-17T15:46:00.402Z","createdAt":"2026-03-17T15:45:57.362Z","versionId":"7e0e996f-a16f-4b67-981d-23260d9f4baa","workflowId":"Bh4DPoSYh7gKCZim","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond_has_emails","leftValue":"={{ $input.all().length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"6dcdc1ad-fac0-452b-b817-ad99d6a7e021","name":"IF — Tem emails?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5744,1264]},{"parameters":{"jsCode":"// Extrai apenas anexos PDF do email\nconst items = [];\nconst item = $input.first();\nconst binaryKeys = Object.keys(item.binary || {});\n\nfor (let i = 0; i < binaryKeys.length; i++) {\n  const key = binaryKeys[i];\n  const bin = item.binary[key];\n  const isPdf =\n    bin.mimeType === 'application/pdf' ||\n    bin.fileName?.toLowerCase().endsWith('.pdf') ||\n    key.toLowerCase().includes('pdf');\n\n  if (isPdf) {\n    items.push({\n      json: {\n        messageId: item.json.id,\n        emailSubject: item.json.subject || '',\n        emailDate: item.json.date || new Date().toISOString(),\n        emailFrom: item.json.from || '',\n        fileName: bin.fileName || `extrato_${Date.now()}.pdf`,\n        binaryKey: key\n      },\n      binary: { data: bin }\n    });\n  }\n}\n\nif (items.length === 0) {\n  return [{ json: { skip: true, messageId: item.json.id } }];\n}\n\nreturn items;"},"id":"d4e65c00-d631-4830-ad4d-82c0303bc62e","name":"Code — Filtrar PDFs","type":"n8n-nodes-base.code","typeVersion":2,"position":[-5520,1264]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cond_skip","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}},"id":"3bafc3fa-039b-4540-a6d2-8d49d9203cae","name":"IF — PDF Encontrado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5296,1264]},{"parameters":{"operation":"pdf","options":{}},"id":"f01b72ce-d1f0-4f14-a624-986aecb11cbf","name":"Extract — PDF para Texto","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-5072,1264]},{"parameters":{"promptType":"define","text":"={{ 'Extraia todos os dados deste extrato de locação WPA Imóveis e retorne como JSON puro (sem ```json``` e sem qualquer texto fora do JSON):\\n\\n{\"contrato\": \"numero completo ex: 913-0-8/5\", \"parcela\": 0, \"vencimento_aluguel\": \"DD/MM/AAAA\", \"pagamento_aluguel\": \"DD/MM/AAAA\", \"data_pagamento_efetivo\": \"DD/MM/AAAA ou null\", \"reajuste\": \"DD/MM/AAAA\", \"termino_contrato\": \"DD/MM/AAAA\", \"locatario_nome\": \"nome\", \"locatario_cnpj\": \"somente numeros\", \"imovel_endereco\": \"endereco completo\", \"imovel_tipo\": \"tipo ex: Comercial Sala\", \"periodo_inicio\": \"DD/MM/AAAA\", \"periodo_fim\": \"DD/MM/AAAA\", \"aluguel_bruto\": 0.0, \"energia\": 0.0, \"iptu_valor\": 0.0, \"iptu_parcela_atual\": null, \"iptu_total_parcelas\": null, \"taxa_administracao\": 0.0, \"total_credito\": 0.0, \"total_debito\": 0.0, \"valor_liquido\": 0.0, \"locador_nome\": \"nome\", \"locador_cnpj\": \"somente numeros\", \"banco\": \"nome banco\", \"agencia\": \"agencia\", \"conta\": \"conta\", \"tipo_conta\": \"Corrente\"}\\n\\nExtrato:\\n' + $json.text }}","batching":{}},"id":"dfc3ecb5-ebea-4787-ab25-6dd33e02a434","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-4848,1264]},{"parameters":{"model":"openrouter/free","options":{"temperature":0}},"id":"72f27ad4-37d9-42d9-aeb6-532efba0dc11","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-4784,1488],"credentials":{"openRouterApi":{"id":"cyIoA9LrYvfXgwp2","name":"[CRED] Automação Werner Plass"}}},{"parameters":{"jsCode":"// Sanitiza e normaliza o JSON retornado pelo LLM Chain\nconst item = $input.first();\n\n// Basic LLM Chain retorna em item.json.text\nconst raw = item.json?.text ||\n            item.json?.output ||\n            item.json?.response ||\n            '';\n\nif (!raw) {\n  throw new Error('LLM não retornou conteúdo. Response: ' + JSON.stringify(item.json));\n}\n\n// Remove markdown fences\nconst clean = raw\n  .replace(/```json\\s*/gi, '')\n  .replace(/```\\s*/g, '')\n  .trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(clean);\n} catch(e) {\n  throw new Error(`LLM retornou JSON inválido.\\nRaw: ${raw}\\nErro: ${e.message}`);\n}\n\n// Normaliza numéricos (vírgula BR → ponto)\nconst numFields = [\n  'aluguel_bruto','energia','iptu_valor','taxa_administracao',\n  'total_credito','total_debito','valor_liquido'\n];\nfor (const f of numFields) {\n  if (typeof parsed[f] === 'string') {\n    parsed[f] = parseFloat(parsed[f].replace(/\\./g,'').replace(',','.')) || 0;\n  }\n  if (parsed[f] === undefined || parsed[f] === null) parsed[f] = 0;\n}\n\n// Normaliza datas DD/MM/AAAA → AAAA-MM-DD\nconst dateFields = [\n  'vencimento_aluguel','pagamento_aluguel','data_pagamento_efetivo',\n  'reajuste','termino_contrato','periodo_inicio','periodo_fim'\n];\nfor (const f of dateFields) {\n  if (parsed[f] && parsed[f] !== 'null') {\n    const p = parsed[f].split('/');\n    if (p.length === 3) parsed[f] = `${p[2]}-${p[1]}-${p[0]}`;\n  } else {\n    parsed[f] = null;\n  }\n}\n\n// Chave de deduplicação\nparsed.chave_unica = `${parsed.contrato}_parcela${parsed.parcela}`;\n\n// Metadados do email\nparsed.email_messageId = $('Code — Filtrar PDFs').first().json.messageId || '';\nparsed.email_fileName  = $('Code — Filtrar PDFs').first().json.fileName  || '';\nparsed.email_date      = $('Code — Filtrar PDFs').first().json.emailDate || '';\n\nreturn [{ json: parsed }];"},"id":"80d1210f-26f3-4e39-9704-91d557af3465","name":"Code — Sanitizar JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[-4496,1264]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"subject:\"WPA\" has:attachment -label:INTENTUS_WPA_PROCESSADO"},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.3,"position":[-6000,1264],"id":"bcdff313-0136-4310-ac0e-3b45f7a2eba8","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"iiyPxE3lFl1VpvVt","name":"[CRED]-Werner"}}},{"parameters":{"jsCode":"return items.map(item => {\n  const d = item.json;\n\n  const chaveUnica = d.chave_unica || `${d.contrato || \"\"}_parcela${d.parcela || \"\"}`;\n\n  return {\n    json: {\n      \"chave_unica\": chaveUnica,\n      \"Prop\": d.imovel_endereco || \"\",\n      \"Tipo\": d.imovel_tipo || \"\",\n      \"Descrição\": `Locatário: ${d.locatario_nome || \"\"} | Contrato: ${d.contrato || \"\"} | Parcela: ${d.parcela || \"\"}`,\n      \"Aluguel líquido\": Number(d.valor_liquido || 0),\n      \"Área\": \"\",\n      \"IPTU 2025\": Number(d.iptu_valor || 0),\n      \"Valor estimado\": Number(d.aluguel_bruto || 0)\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5968,480],"id":"c6c44bd1-8696-44f9-86ca-20a7eff2919d","name":"Code in JavaScript"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Code — Filtrar PDFs').first().json.messageId }}","labelIds":["Label_3639983387751056648"]},"id":"b2b18825-9ef6-4fc6-9418-11b6d0b66c4d","name":"Gmail — Marcar como Processado","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-4272,1264],"webhookId":"7eff9a97-3177-499b-b0a7-47b263f6bad6","credentials":{"gmailOAuth2":{"id":"iiyPxE3lFl1VpvVt","name":"[CRED]-Werner"}}},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"ba08d9c0-24cb-4086-8be5-0d7e3cbbb608","name":"Coda — Atualizar Linha (duplicata)","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-5968,928],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}},{"parameters":{"docId":"Gk2HOcbDMl","tableId":"grid-Q0MX6kR-z0","options":{}},"id":"73f35543-312e-4f68-8344-8e4912edf16e","name":"Coda — Criar Linha","type":"n8n-nodes-base.coda","typeVersion":1,"position":[-5968,704],"credentials":{"codaApi":{"id":"2PB9iihcr1gqommk","name":"Coda account"}}}],"connections":{"IF — Tem emails?":{"main":[[{"node":"Code — Filtrar PDFs","type":"main","index":0}],[]]},"Code — Filtrar PDFs":{"main":[[{"node":"IF — PDF Encontrado?","type":"main","index":0}]]},"IF — PDF Encontrado?":{"main":[[{"node":"Extract — PDF para Texto","type":"main","index":0}],[]]},"Extract — PDF para Texto":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Code — Sanitizar JSON","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Code — Sanitizar JSON":{"main":[[{"node":"Gmail — Marcar como Processado","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"IF — Tem emails?","type":"main","index":0}]]},"Coda — Atualizar Linha (duplicata)":{"main":[[]]}},"authors":"Racc Projeto","name":"Version 7e0e996f","description":"","autosaved":true},"tags":[]}